<% bookings = bookings.order('created_at desc')
   bookings = bookings.paginate(page: params[:page], per_page: 50) %>
<% if @service %>
  <div class="row justify-content-between">
    <div class="col">
      <p><%== pagination_details bookings, model: 'Booking' %></p>
    </div>
    <div class="col-auto">
      <a class="btn btn-primary" href="/services/<%= @service.id %>/bookings.csv"><i class="fa fa-download"></i> CSV</a>
      <a class="btn btn-primary" href="/services/<%= @service.id %>/bookings.pdf"><i class="fa fa-download"></i> PDF</a>
    </div>
  </div>
<% else %>
  <p><%== pagination_details bookings, model: 'Booking' %></p>
<% end %>
<script>
  $(function () {
    $('#bookings').dataTable({bInfo: false, paging: false, searching: false, order: [[<%= defined?(service_name) ? 4 : 3 %>, "desc"]]});
  })
</script>
<table class="table" id="bookings">
  <thead>
    <tr>
      <% if defined?(service_name) %>
        <th>Service</th>
      <% end %>
      <th>Client</th>
      <th>When</th>
      <th>Note</th>
      <th>Value</th>
      <th>Created at</th>
      <th></th>
    </tr>
  </thead>
  <% bookings.each { |booking| %>
  <tr>
    <% if defined?(service_name) %>
      <td>
        <a href="/services/<%= booking.service_id %>"><%= booking.service.name_with_provider %></a>
      </td>
    <% end %>
    <td>
      <%= partial :'accounts/account', locals: { account: booking.account, width: '50px', show_email: (defined?(show_emails) && show_emails) } %>
    </td>
    <td>
      <%= when_details(booking) %>
    </td>
    <td>
      <%= booking.client_note %>
    </td>
    <td data-sort="<%= booking.value || 0 %>">
      <% if booking.value %>
        <abbr data-toggle="tooltip" title="<%= booking.description %>">
          <%= m booking.value, booking.currency %>
        </abbr>
        (<%= m (booking.value - (booking.application_fee_amount || 0)), booking.currency %> paid to
        <a href="/u/<%= booking.service_provider.username %>"><%= booking.service_provider.name %></a>)
      <% end %>
      <% if booking.incomplete? %><i title="Payment processing" class="fa fa-spin fa-circle-o-notch"></i><% end %>
    </td>
    <td data-sort="<%= booking.created_at.iso8601 %>">
      <%= booking.created_at %>
    </td>
    <td>
      <a class="btn btn-danger" href="/services/<%= booking.service.id %>/bookings/<%= booking.id %>/destroy" data-confirm="Are you sure you want to remove and refund this booking?"><i class="fa fa-times"></i></a>
    </td>
  </tr>
  <% } %>
</table>
<%= will_paginate bookings, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
