<h4 class="text-center" id="dateSelected" data-date="<%= date.to_s(:db) %>">
  <%= date %>
</h4>
<div id="timeOptions">
  <% (@service.start_hour).upto(@service.end_hour).each { |h| %>
  <% start_time = Time.use_zone(@service.account.time_zone || 'London') { Time.zone.parse "#{date.to_s(:db)} #{format('%02d', h)}:00" }.in_time_zone(Time.zone) %>
  <% end_time = (start_time + @service.duration_in_minutes.minutes).in_time_zone(Time.zone) %>
  <% if !@service.send("available_#{Date::DAYNAMES[date.wday].downcase}") || !@service.available?(start_time, end_time) %>
    <span class="time text-center card p-3 mb-3" style="opacity: 0.5; font-weight: bold; font-size: 1rem">
      <%= start_time.strftime('%H:%M') %>
      <br>
      <small>Unavailable</small>
    </span>
  <% else %>
    <a class="time text-center card p-3 mb-3" style="font-weight: bold; font-size: 1rem" data-start-hour="<%= start_time.strftime('%H:%M') %>" data-end-hour="<%= end_time.strftime('%H:%M') %>" href="javascript:;" onclick="
            $('a.time').removeClass('bg-primary text-white');
            $(this).addClass('bg-primary text-white');
            $('#booking_start_time').val($('#dateSelected').attr('data-date') + ' ' + $(this).attr('data-start-hour'));
            $('#booking_end_time').val($('#dateSelected').attr('data-date') + ' ' + $(this).attr('data-end-hour'));
            $('#details form button[data-payment-method]').prop('disabled', false)
   ">
      <%= start_time.strftime('%H:%M') %>
    </a>
  <% end %>
  <% } %>
</div>
