<td>
  <a href="/services/<%= service.id %>"><%= service.name_with_provider %></a>
  <a href="/services/<%= service.id %>/edit"><i class="fa fa-pencil"></i></a>
  <% if service.draft? %>
    <span class="label label-default">Draft</span>
  <% end %>
  <% if service.secret? %>
    <span class="label label-default">Secret</span>
  <% end %>
</td>
<td>
  <a href="/u/<%= service.account.username %>">
    <% if service.account.picture %>
      <%= partial :'accounts/square', locals: { account: service.account, width: '50px' } %>
      <br>
    <% end %>
    <a href="/u/<%= service.account.username %>"><%= service.account.name %></a>
  </td>
  <td>
    <a href="/services/<%= service.id %>/bookings"><%= service.bookings(true).count %></a>
  </td>
  <td>
    <% if service.revenue > 0 %>
      <%= m service.revenue, service.currency %>
    <% end %>
  </td>
