<% if service_admin? %>
  <%= partial :'services/nav', locals: { service: @service } %>
<% end %>

<div class="row">
  <div class="col-12 col-sm-9">

    <h2>
      <%= @service.name_with_provider %>
    </h2>

    <table class="table table-hr">
      <tr>
        <td>Hosted by</td>
        <td>
          <% if @service.organisation.image %>
            <a href="/o/<%= @service.organisation.slug %>/services"><img src="<%= u @service.organisation.image.thumb('500x500#').url %>" style="width: 50px"></a>
          <% end %>
          <a href="/o/<%= @service.organisation.slug %>/services"><%= @service.organisation.name %></a>
        </td>
      </tr>
      <tr>
        <td>
          Duration
        </td>
        <td>
          <%= @service.duration_in_minutes %>min
        </td>
      </tr>
      <tr>
        <td>
          Price
        </td>
        <td>
          <%= m @service.price, @service.currency %>
        </td>
      </tr>
    </table>

    <% if params[:success] && params[:booking_id] && (@booking = Booking.find(params[:booking_id])) %>

      <big>
        <p>
          Thanks for booking <strong><%= @service.name_with_provider %></strong> from
          <strong><%= when_details(@booking) %></strong>.
          Please check your inbox for a confirmation email.
        </p>

        <% if @service.extra_info_for_booking_email %>
          <%== Sanitize.fragment(Rinku.auto_link(@service.extra_info_for_booking_email), Sanitize::Config::DANDELION) %>
        <% end %>

        <% if @service.organisation.extra_info_for_booking_email %>
          <%== Sanitize.fragment(Rinku.auto_link(@service.organisation.extra_info_for_booking_email), Sanitize::Config::DANDELION) %>
        <% end %>

        <p>
          <%= partial :'services/add_to_calendar', locals: { service: @service, booking: @booking } %>
        </p>
      </big>

    <% else %>

      <% if @service.description %>
        <div class="service-description">
          <big>
            <%== Sanitize.fragment(Rinku.auto_link(@service.description.include?('<p') || @service.description.include?('<br') ? @service.description : "<p>#{@service.description.gsub("\n", '<br />')}</p>"), Sanitize::Config::DANDELION) %>
          </big>
        </div>
      <% end %>

    <% end %>

  </div>
  <div class="col-12 col-sm-3 text-center">
    <img title="<%= @service.account.name %>" class="rounded-circle" style="max-width: 200px; width: 100%; background: white; border: 3px solid white" src="<%= u @service.account.picture_thumb_or_gravatar_url %>">
  </div>
</div>

<% unless params[:success] %>

  <script>
    $(function () {

      $('#dateSelect').flatpickr({
        disable: [
            function(date) {
                <% Date::DAYNAMES.each_with_index { |dayname,i| %>
                  <% if !@service.send("available_#{dayname.downcase}") %>
                  if (date.getDay() == <%= i %>)
                    return true
                  <% end %>
                <% } %>
                var today = new Date();
                today.setHours(0,0,0,0);
                if (date < today)
                  return true
            }
        ],
        locale: {
            firstDayOfWeek: 1 // start week on Monday
        },
        defaultDate: '<%= Date.today.to_s(:db) %>',
        inline: true,
        onChange: function (selectedDates, dateStr, instance) {
          $('#dayTimes #dateSelected').text(moment(dateStr).format('ddd Do MMM YYYY'))
          $('#dayTimes #timeOptions').css('opacity', 0.3)
          $('#dayTimes').load('/services/<%= @service.id %>/day/'+dateStr)
        }
      });

    })
  </script>
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="mb-3">
        <h4>&nbsp;</h4>
        <%= text_field_tag :date, id: 'dateSelect', style: 'display: none' %>
      </div>
    </div>
    <div class="col-12 col-sm-4" id="booking">
      <% form_for @booking, '', style: 'display: none' do |f| %>
        <%= f.text_block :start_time %>
        <%= f.text_block :end_time %>
      <% end %>
      <div class="ml-3">
        <div id="dayTimes">
          <%= partial :'services/day', locals: { date: Date.today } %>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <h4>&nbsp;</h4>
      <div class="card mb-3" id="details">
        <h3 class="card-header bg-primary text-white">Your details</h3>
        <div class="card-body">
          <script>
            $(function () {
              $('#account_name').attr('required', 'required')
              $('#account_country').removeClass('form-control').css('width', '100%').select2({allowClear: true});
            })
          </script>
          <style>
            #account_client_note { height: 5em }
          </style>
          <% form_for (@account = current_account || Account.new(country: 'United Kingdom of Great Britain and Northern Ireland')), '' do |f| %>

            <% if current_account %>
              <p class="lead">Signed in as <%= current_account.name %> (<%= current_account.email %>)</p>
              <%= f.hidden_field :name %>
              <%= f.hidden_field :email %>
            <% else %>
              <%= f.text_block :name %>
              <%= f.email_block :email %>
              <% if @service.organisation.collect_location %>
                <%= f.text_block :postcode %>
                <%= f.select_block :country %>
              <% end %>
            <% end %>

            <%= f.text_area_block :client_note %>

            <% if current_account && current_account.organisationships.find_by(organisation: @service.organisation) %>
              <%= f.hidden_field :opt_in_organisation, value: 1 %>
            <% else %>
              <script>
                $(function () {
                  $('#opt-in-organisation label').text('Get email updates from <%= @service.organisation.name %>')
                  $('#opt-in-organisation').show()
                })
              </script>
              <div id="opt-in-organisation" style="display: none">
                <%= f.check_box_block :opt_in_organisation %>
              </div>
            <% end %>
            <script>
              $(function () {
                $('#opt-in-facilitator label').text('Get email updates from <%= @service.account.name %>')
                $('#opt-in-facilitator').show()
              })
            </script>
            <div id="opt-in-facilitator" style="display: none">
              <%= f.check_box_block :opt_in_facilitator %>
            </div>

            <% if @service.organisationship %>
              <% if (current_account && @service.account == current_account) || @service.price == 0 %>
                <button disabled="true" class="btn btn-primary mb-1" type="submit" data-payment-method="book">
                  <span>Book</span>
                  <i class="fa fa-spin fa-circle-o-notch" style="display: none"></i>
                </button>
              <% end %>

              <% if @service.organisation.stripe_sk && @service.price > 0 %>
                <button disabled="true" class="btn btn-primary mb-1" type="submit" data-payment-method="stripe">
                  <span>Pay <%= m @service.price, @service.currency %></span>
                  <i class="fa fa-spin fa-circle-o-notch" style="display: none"></i>
                </button>
                <%= hidden_field_tag :payment_method, value: 'stripe', disabled: true %>
              <% end %>
            <% end %>

          <% end %>
        </div>
      </div>
      <div class="card" id="card-error" style="display: none">
        <h3 class="card-header bg-danger text-white">There was an error processing the transaction</h3>
        <div class="card-body">
          <p>
            You have not be charged. Please refresh the page to try again.
          </p>
        </div>
      </div>
    </div>
  </div>

  <script>
    serviceId = <%== @service.id.to_s.to_json %>
    stripePk = <%== @service.organisation.stripe_pk.to_json %>
    signedIn = <%= current_account ? true : false %>
  </script>
  <script src="/javascripts/book.js?<%= @cachebuster %>"></script>

<% end %>
