<div class="row">
  <div id="preview-panel" class="col-lg-3 <% if @account %>d-none d-lg-block <% end %>">

    <script>
      $(function() {
        $('#messages-search').autocomplete({
          html: true,
          source: '/search?type=accounts',
          minLength: 3,
          select: function(event, ui) {
              $('#messages-search').val(ui.item.value);
              $('#messages-search').closest('form').submit();
            }
        });
      })
    </script>
    <% form_tag '/search', method: :get, class: 'mb-3' do %>
      <%= hidden_field_tag :message, value: true %>
      <%= text_field_tag :q, placeholder: 'Search for someone', id: 'messages-search', class: 'form-control' %>
    <% end %>

    <div data-pagelet-scroll="false" data-pagelet-url="/messages/index">
      <%= partial :'messages/index' %>
    </div>
  </div>
  <div id="thread-panel" class="col-lg-9">
    <div style="position: sticky; top: 3.75rem">
      <% if @account %>
        <div class="d-block d-lg-none">
          <ul id="message-breadcrumbs" class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;" onclick="$('#thread-panel').hide();
                $('#preview-panel').removeClass('d-none')">Messages</a></li>
            <li class="breadcrumb-item active"><%= @account.name %></li>
          </ul>
        </div>
        <div data-pagelet-url="/messages/<%= @account.id %>" data-pagelet-refresh="60" data-pagelet-also="/messages/index">
          <%= partial :'messages/thread' %>
        </div>
        <div id="message-send" data-pagelet-url="/messages/<%= @account.id %>/send" data-pagelet-also="/messages/<%= @account.id %>">
          <%= partial :'messages/send' %>
        </div>
      <% elsif current_account.messages.count == 0 %>
        <p class="text-center"><em>Your messages will appear here.</em></p>
      <% end %>
    </div>
  </div>
</div>
