<%= partial :'rotas/progress', locals: {rota: @rota} %>

<div class="my-3">
  <%= partial :'rotas/shift_summary', locals: {membership: @membership, rota: @rota, show_title: true} %>
</div>

<table class="table table-striped" style="margin-top: 15px">
  <tr>
    <td></td>
    <% rota.roles.order('o asc').each { |role| %>
    <td>
      <strong>
        <% if @membership.admin? %>
          <a href="/roles/<%= role.id %>/edit">
            <%= role.name %>
          </a>
        <% else %>
          <%= role.name %>
        <% end %>
        <% if @gathering.enable_shift_worth %>
          <br />
          <span data-toggle="tooltip" title="<%=pluralize sprintf('%g', role.worth), 'point'%>" class="label label-yellow text-white d-inline-block mb-1"><i class="bi bi-hand-index"></i> <%=sprintf('%g', role.worth)%></span>
        <% end %>
      </strong>
    </td>
    <% } %>
    <% if @membership.admin? %>
      <td>
        <% form_tag "/roles/create?rota_id=#{rota.id}", class: 'form-inline', style: 'display: inline' do %>
          <%= text_field_tag :name, class: 'form-control', style: 'width: 10em', placeholder: 'New role' %>
        <% end %>
      </td>
    <% end %>
  </tr>
  <% rota.rslots.order('o asc').each { |rslot| %>
  <tr>
    <td>
      <strong>
        <% if @membership.admin? %>
          <a href="/rslots/<%= rslot.id %>/edit">
            <%= rslot.name %>
          </a>
        <% else %>
          <%= rslot.name %>
        <% end %>
        <% if @gathering.enable_shift_worth %>
          <br />
          <span data-toggle="tooltip" title="<%=pluralize sprintf('%g', rslot.worth), 'point'%>" class="label label-yellow text-white d-inline-block mb-1"><i class="bi bi-hand-index"></i> <%=sprintf('%g', rslot.worth)%></span>
        <% end %>
      </strong>
    </td>
    <% rota.roles.order('o asc').each { |role| %>
    <td>
      <%= partial :'rotas/rota_rslot_role', locals: { rota: rota, rslot: rslot, role: role } %>
    </td>
    <% } %>
    <% if @membership.admin? %>
      <td></td>
    <% end %>
  </tr>
  <% } %>
  <% if @membership.admin? %>
    <tr>
      <td>
        <% form_tag "/rslots/create?rota_id=#{rota.id}", class: 'form-inline', style: 'display: inline' do %>
          <%= text_field_tag :name, class: 'form-control', style: 'width: 10em', placeholder: 'New slot' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<% if params[:view] != 'names' %>
  <a onclick="$(this).closest('[data-pagelet-url]').attr('data-pagelet-url', '/g/<%= @gathering.slug %>/rotas/<%= rota.id %>?view=names')" href="#" class="pagelet-trigger">Show names instead of pictures</a>
<% end %>
