<% shifts = defined?(rota) ? membership.shifts.where(rota: rota) : membership.shifts %>
<% if defined?(show_title) && show_title && shifts.count > 0 %>
  <h3>Your shifts</h3>
<% end %>
<% shifts.each { |shift| %>
  <div>
    <% if defined?(show_title) && show_title %>
      <a data-confirm="<% if shift.account_id == current_account.id %>Resign from this shift?<% else %>Remove this person from this shift?<% end %>" class="pagelet-trigger label label-primary text-white d-inline-block mb-1" href="/shifts/<%= shift.id %>/destroy">
        <%= shift.description %>
      </a>
      <% if @gathering.enable_shift_worth %>
        <%= partial :'rotas/shift_worth', locals: {shift: shift} %>
      <% end %>
      <a data-confirm="<% if shift.account_id == current_account.id %>Resign from this shift?<% else %>Remove this person from this shift?<% end %>" class="pagelet-trigger label label-danger text-white d-inline-block mb-1" href="/shifts/<%= shift.id %>/destroy">
        <i class="fa fa-times"></i>
      </a>
    <% else %>
      <a href="/g/<%= @gathering.slug %>/rotas/<%= shift.rota_id %>" class="label label-primary text-white d-inline-block mb-1">
        <%= shift.description %>
      </a>
      <% if @gathering.enable_shift_worth %>
        <%= partial :'rotas/shift_worth', locals: {shift: shift} %>
      <% end %>
    <% end %>
  </div>
<% } %>
