<%= partial :'gatherings/nav', locals: { gathering: @gathering, membership: @membership } %>
<% if @membership.admin? %>
  <div style="margin: 10px 0">
    <a class="btn btn-primary" href="/g/<%= @gathering.slug %>/rotas/new"><i class="bi bi-plus-lg"></i> Create a rota</a>
  </div>
<% end %>

<div class="mb-3">
  <h2>
    Your shifts
    <% if @gathering.enable_shift_worth %>
      <span class="badge <% if @membership.shift_points >= (@membership.shift_points_required || 0) %>badge-primary<% else %>badge-danger<% end %>" data-toggle="tooltip" title="<%= sprintf('%g', @membership.shift_points) %>/<%= pluralize(@membership.shift_points_required ? sprintf('%g', @membership.shift_points_required) : '?', 'shift point') %>">
        <%= sprintf('%g', @membership.shift_points) %>/<%= @membership.shift_points_required ? sprintf('%g', @membership.shift_points_required) : '?' %>
      </span>
    <% end %>
  </h2>
  <% if @membership && @membership.shifts.exists? %>
    <%= partial :'rotas/shift_summary', locals: {membership: @membership} %>
  <% else %>
    Sign up below!
  <% end %>
</div>

<h2>Sign up to shifts</h2>
<% @gathering.rotas.each { |rota| %>
<div class="row">
  <div class="col-lg-6">
    <h2>
      <a href="/g/<%= @gathering.slug %>/rotas/<%= rota.id %>">
        <%= rota.name %>
      </a>
    </h2>
  </div>
  <div class="col-lg-6">
    <%= partial :'rotas/progress', locals: {rota: rota} %>
  </div>
</div>
<% } %>
