<table>
  <tr>
    <td style="padding-right: 10px">
      <%= partial :'accounts/square', locals: { account: account, width: '64px' } %>
    </td>
    <td>
      <h4 class="mt-0"><a target="_parent" href="/u/<%= account.username %>"><%= account.name %></a></h4>
      <% if viewable?(account, :location) && !account.location.match(/[0-9]/) %>
        <p><%= account.location %></p>
      <% end %>

      <%= partial :'accounts/facilitator_info', locals: { account: account, skip_average_rating: true } %>
    </td>
  </tr>
</table>
