<% form_for comment, comment.new_record ? '/comment' : "/comments/#{comment.id}/edit", class: 'comment-form add-placeholders mb-3' do |f| %>
  <%= f.hidden_field :commentable_id %>
  <%= f.hidden_field :commentable_type %>
  <%= f.hidden_field :post_id, value: comment.post_id %>
  <% if defined?(from_homepage) %>
    <%= hidden_field_tag :from_homepage, value: true %>
  <% end %>
  <% if defined?(chat) && chat %>
    <%= f.text_block :body, placeholder: 'Write a comment...', label_class: 'd-none' %>
  <% elsif defined?(reply) %>
    <%= f.text_area_block :body, placeholder: 'Write a comment...', label_class: 'd-none' %>
  <% else %>
    <% if comment.new_record? && comment.first_in_post? %>
      <div id="comment-subject-container" <% if defined?(from_homepage) %> style="display: none"<% end %>>
        <%= f.text_block :subject, label_class: 'd-none', required: true %>
      </div>
    <% end %>
    <%= f.text_area_block :body, placeholder: (defined?(placeholder) ? placeholder : 'Write a comment... (optional)'), label_class: 'd-none' %>
  <% end %>
  <div class="comment-options <% unless @show_buttons %> d-none <% end %> ">
    <p class="text-muted" style="margin-top: -1em">
      Add files, photos and polls after posting
    </p>
    <% if comment.allow_force?(current_account) %>
      <%= f.check_box_block :force %>
    <% end %>
    <%= f.submit_block button_text: 'Post', destroy_url: "/comments/#{comment.id}/destroy" %>
  </div>
<% end %>
