<div class="media mt-0 mb-5">
  <span class="mr-2">
    <%= partial :'accounts/square', locals: { account: current_account, width: '32px', klass: 'media-object' } %>
  </span>
  <div class="media-body">
    <%= partial :'comments/comment_form', locals: { comment: commentable.comments.build } %>
  </div>
</div>
<% (@posts = commentable.posts.includes(:comments).order('updated_at desc').paginate(page: params[:page], per_page: 10)).each { |post| %>
<% if post.comments.exists? %>
  <div data-pagelet-url="/posts/<%= post.id %>" id="comments">
    <%= partial :'comments/post', object: post %>
  </div>
<% end %>
<% } %>
<div style="text-align: center">
  <%= will_paginate @posts, page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
</div>
