<% if !comment.comment_reactions.find_by(account: current_account) %>
  <a data-toggle="tooltip" title="React" class="btn btn-sm btn-outline-primary" href="javascript:;" onclick="$(this).tooltip('hide').hide().next().css('display', 'inline')">
    <i class="bi bi-heart-fill"></i>
  </a>
  <% form_tag "/comments/#{comment.id}/react", class: 'form-inline', style: 'display: none;' do %>
    <div class="row">
      <div class="col-auto">
        <div style="position: relative; top: 5px">
          <% %w[ðŸ’š ðŸ‘ ðŸ™ ðŸ‘€ ðŸ™Œ ðŸŽ‰].each { |e| %>
          <a class="btn btn-sm btn-outline-light" href="javascript:;" onclick="$(this).closest('form').find('input').val($(this).html().includes('bi-heart-fill') ? 'ðŸ’š' : $(this).text()).closest('form').submit()">
            <% if e == "ðŸ’š" %>
              <i class="text-primary bi bi-heart-fill"></i>
            <% else %>
              <%= e %>
            <% end %>
          </a>
          <% } %>
        </div>
      </div>
      <div class="col-auto">
        <div class="input-group mb-1" style="width: 8rem;">
          <%= text_field_tag :body, class: 'form-control form-control-sm d-inline', placeholder: 'word/emoji' %>
          <div class="input-group-append">
            <button class="btn btn-primary" style="height: 1.875rem" type="submit"><i style="position: relative; left: -1px; top: -1px" class="bi bi-send-fill"></i></button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<% if comment.comment_reactions.exists? %>
  <% all_reactions = comment.comment_reactions.includes(:account); reactions_by_body = all_reactions.group_by(&:body) %>
  <% reactions_by_body.each { |body, comment_reactions| %>
  <% c = 'd-inline-block border rounded p-1 text-dark' %>
  <a data-toggle="tooltip" style="text-decoration: none; background: white" <% if comment_reactions.find { |r| r.account_id == current_account.id } %> class="pagelet-trigger border-primary <%= c %>" href="/comments/<%= comment.id %>/unreact" onclick="$(this).tooltip('hide')" <% else %> class="<%= c %> border-light" <% end %>>
    <% if body == "ðŸ’š" %>
      <i class="text-primary bi bi-heart-fill"></i>
<% else %>
  <%= body %>
<% end %>
<%= comment_reactions.count %>
</a>
<span style="display: none">
  <%== comment_reactions.map { |comment_reaction| Sanitize.fragment(comment_reaction.account.name) }.join('<br />') %>
</span>
<% } %>
<% end %>
