<% comment.voptions.sort_by { |voption| -voption.votes.count }.each { |voption| %>
<div class="mb-1">
  <% form_tag "/voptions/#{voption.id}/vote" do %>
    <label class="p-1 m-0 mb-1" style="background: #e9ecef; display: inline-block ">
      <%= check_box_tag :vote, value: true, checked: voption.votes.find_by(account: current_account), onclick: '$(this.form).submit()' %>
      <%= voption.text %>
    </label>
    <% if admin? or (current_account && comment.account_id == current_account.id) %>
      <a class="subtle pagelet-trigger" data-confirm="Are you sure?" href="/voptions/<%= voption.id %>/destroy"><i class="bi bi-x-lg"></i></a>
    <% end %>
  <% end %>
  <% if voption.votes.exists? %>
    <div class="image-wall">
      <% voption.votes.each { |vote| account = vote.account %>
      <%= partial :'accounts/square', locals: { account: account, width: '32px' } %>
      <% } %>
    </div>
  <% end %>
</div>
<% } %>
<% if current_account && comment.account_id == current_account.id %>
  <a data-toggle="tooltip" title="Add a poll" class="btn btn-outline-primary btn-sm" id="poll-for-<%= comment.id %>" href="javascript:;" onclick="$(this).closest('[data-pagelet-url]').addClass('d-block').removeClass('d-inline-block');
      $(this).hide().next().show().find('input').focus();"><i class="bi bi-bar-chart-line-fill"></i></a>
  <% form_tag '/voptions/create', style: 'display: none' do %>
    <%= hidden_field_tag :comment_id, value: comment.id %>
    <%= text_field_tag :text, class: 'form-control', placeholder: 'Add an option...' %>
  <% end %>
  <% if comment.voptions.exists? %>
    <script>
      $(function () {
        $('#poll-for-<%= comment.id %>').hide().next().show()
      })
    </script>
  <% end %>
<% end %>
