<%
recommended_people = @account.recommended_people_cache || []
%>

<%= partial :'recommendations/nav' %>

<% if recommended_people.count == 0 %>
  <em>No recommended people</em>
<% else %>
  <ul class="search-result-list">
    <% recommended_people.first(50).each_with_index { |x,i| k,v = x; account = Account.find(k) %>
    <li <% if i == 0 %> style="border-top: 0" <% end %>>
      <div class="search-result-media" style="height: auto">
        <%= partial :'accounts/square', locals: { account: account, style: 'display: block;' } %>
      </div>
      <div class="search-result-content">
        <h2>
          <a class="text-dark" href="/u/<%= account.username %>"><%= account.name %></a>
        </h2>
        <%= partial :'accounts/buttons', locals: { account: account } %>
        <ul class="fa-ul mt-3">
          <% Event.where(:id.in => v).order('start_time desc').each { |event| %>
            <li><i class="fa fa-li fa-calendar"></i> <a href="/events/<%= event.id %>"><%= event.name %></a>, <%=concise_when_details(event) %></li>
          <% } %>
        </ul>
      </div>
    </li>
    <% } %>
  </ul>
<% end %>
