<%
recommended_events = @account.recommended_events || []
show_image = (Padrino.env == :production)
full_width = true
%>

<%= partial :'recommendations/nav' %>
<% r = 0 %>

<% if recommended_events.count == 0 %>
  <em>No recommended events</em>
<% else %>
  <div class="mb-3">
    <div class="row" id="events">
      <% recommended_events.each { |event_id,people|  event = Event.find(event_id);
        next if event.locked? && !event_admin?(event)
        next if event.sold_out?
        next if event.created_at < 1.year.ago
        next if event.event_facilitations.find_by(account: current_account);
        r = r + 1;
        %>
      <div class="col-12 <%= block_class if defined?(block_class) %>" id="<%= event.id %>">
        <div class="mb-4">

          <div class="row block no-gutters align-items-stretch <% if event.locked? %>event-locked<% end %>">
            <% if show_image %>
              <% if !event.image && (defined?(full_width) && full_width) %>

              <% else %>
                <div class="col-lg-6 order-lg-2 mb-2 mb-lg-0 bg-white">
                  <% if @organisation && (cohostship = event.cohostships.find_by(organisation: @organisation)) && cohostship.image %>
                    <a target="_parent" href="/e/<%= event.slug %>?cohost=<%=@organisation.slug%>"><%= lazy_image_tag(cohostship.image, width: cohostship.image_width_unmagic, height: cohostship.image_height_unmagic) %></a>
                  <% elsif event.image %>
                    <a target="_parent" href="/e/<%= event.slug %>"><%= lazy_image_tag(event.image, width: event.image_width_unmagic, height: event.image_height_unmagic) %></a>
                  <% end %>
                </div>
              <% end %>
            <% end %>
            <div class="<% if show_image && !event.image && (defined?(full_width) && full_width) %>col-lg-12<% else %>col-lg-6<% end %> order-lg-1">
              <table style="width: 100%; height: 100%">
                <tr>
                  <td style="vertical-align: top">
                    <div class="row justify-content-between">
                      <div class="col ml-1 p-lg-3">
                        <%= partial :'events/block_main', locals: { event: event, skip_final_ul: true } %>

                        <li><i data-toggle="tooltip" title="People" class="bi bi-person-fill"></i>
                          <% people.each { |k,v| account = Account.find(k);
                          next if account.private?
                          %>
                          <a href="/u/<%=account.username%>"><%=account.name%></a>,
                          <span data-toggle="tooltip">
                            <%=pluralize v.count, 'event'%> in common
                          </span>
                          <span class="d-none">
                            <%
                              # Collect IDs by type
                              event_ids = v.select { |connection| connection['type'] == 'Event' }.map { |connection| connection['id'] }
                              gathering_ids = v.select { |connection| connection['type'] == 'Gathering' }.map { |connection| connection['id'] }
                              
                              # Bulk query events and gatherings
                              events = event_ids.any? ? Event.and(:id.in => event_ids).order('start_time desc') : []
                              gatherings = gathering_ids.any? ? Gathering.and(:id.in => gathering_ids) : []
                            %>
                            <% events.each { |event| %>
                            <%= event.name %><br />
                            <% } %>
                            <% gatherings.each { |gathering| %>
                            <%= gathering.name %><br />
                            <% } %>
                          </span>
                          <br />
                          <% } %>
                        </li>
                      </ul>

                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>

      </div>
    </div>
    <% break if r == 20 %>
    <% } %>
  </div>
</div>
<% end %>
