<%
recommended_events = @account.recommended_events || []
show_image = (Padrino.env == :production)
%>

<%= partial :'recommendations/nav' %>

<% if recommended_events.count == 0 %>
  <em>No recommended events</em>
<% else %>
  <div class="fake-container-fluid mb-3">
    <div class="row bg-grey-transparent-2 pt-4 px-5" id="events">
      <% recommended_events.first(10).each { |event_id,people|  event = Event.find(event_id);
        next if event.locked? && !event_admin?(event)
        next if event.sold_out?
        next if event.event_facilitations.find_by(account: current_account)
        next unless event.created_at > 1.year.ago
        %>
      <div class="col-12 <%= block_class if defined?(block_class) %>" id="<%= event.id %>">
        <div class="mb-4">

          <div class="row block no-gutters align-items-center <% if event.locked? %>bg-grey-transparent-2<% else %>bg-white<% end %>">
            <% if show_image %>
              <% if !event.image && (defined?(full_width) && full_width) %>

              <% else %>
                <div class="col-lg-6 order-lg-2 mb-2 mb-lg-0">
                  <% if @organisation && (cohostship = event.cohostships.find_by(organisation: @organisation)) && cohostship.image && (cohostship.image.width >= cohostship.image.height) %>
                    <a target="_parent" href="/e/<%= event.slug %>?cohost=<%=@organisation.slug%>"><img class="w-100" src="<%= u cohostship.image.thumb('992x992').url %>"></a>
                  <% elsif event.image && (event.image.width >= event.image.height) %>
                    <a target="_parent" href="/e/<%= event.slug %>"><img class="w-100" src="<%= u event.image.thumb('992x992').url %>"></a>
                  <% end %>
                </div>
              <% end %>
            <% end %>
            <div class="<% if show_image && !event.image && (defined?(full_width) && full_width) %>col-lg-12<% else %>col-lg-6<% end %> order-lg-1">
              <table style="width: 100%; height: 100%">
                <tr>
                  <td style="vertical-align: top">
                    <div class="row justify-content-between">
                      <div class="col ml-1 p-lg-3">
                        <%= partial :'events/block_main', locals: { event: event, skip_final_ul: true } %>

                        <li><i data-toggle="tooltip" title="People" class="bi bi-person-fill"></i>
                          <% people.each { |k,v| account = Account.find(k) %>
                          <a href="/u/<%=account.username%>"><%=account.name%></a>,
                          <span data-toggle="tooltip">
                            <%=pluralize v.count, 'past event'%> in common
                          </span>
                          <span class="d-none">
                            <%== Event.and(:id.in => v).map { |event| "#{event.name}" }.join('<br />')%>
                          </span>
                          <br />
                          <% } %>
                        </li>
                      </ul>

                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>

      </div>
    </div>
    <% } %>
  </div>
</div>
<% end %>
