<%
recommended_people = @account.recommended_people || []
%>

<%= partial :'recommendations/nav' %>

<% if recommended_people.count == 0 %>
  <em>No recommended people</em>
<% else %>
  <ul class="search-result-list">
    <% recommended_people.first(50).each_with_index { |x,i| k,v = x; next if @account.follows_as_follower.find_by(followee: k); account = Account.find(k); next if account.private? %>
    <li <% if i == 0 %> style="border-top: 0" <% end %>>
      <div class="search-result-media" style="height: auto">
        <%= partial :'accounts/square', locals: { account: account, style: 'display: block;' } %>
      </div>
      <div class="search-result-content">
        <h2>
          <a class="text-dark" href="/u/<%= account.username %>"><%= account.name %></a>
        </h2>
        <%= partial :'accounts/buttons', locals: { account: account } %>
        <ul class="icon-list mt-3">
          <%
            # Collect IDs by type
            event_ids = v.select { |connection| connection['type'] == 'Event' }.map { |connection| connection['id'] }
            gathering_ids = v.select { |connection| connection['type'] == 'Gathering' }.map { |connection| connection['id'] }
            
            # Bulk query events and gatherings
            events = event_ids.any? ? Event.and(:id.in => event_ids).order('start_time desc') : []
            gatherings = gathering_ids.any? ? Gathering.and(:id.in => gathering_ids) : []
          %>
          <% events.each { |event| %>
          <li><i class="bi bi-calendar-event"></i> <a href="/e/<%= event.slug %>"><%= event.name %></a>, <%=concise_when_details(event) %></li>
          <% } %>
          <% gatherings.each { |gathering| %>
          <li><i class="bi bi-moon-fill"></i> <a href="/g/<%= gathering.slug %>"><%= gathering.name %></a></li>
          <% } %>
        </ul>
      </div>
    </li>
    <% } %>
  </ul>
<% end %>
