<%
recommended_people = @account.recommended_people || []
%>

<%= partial :'recommendations/nav' %>

<% if recommended_people.count == 0 %>
  <em>No recommended people</em>
<% else %>
  <ul class="search-result-list">
    <% recommended_people.first(50).each_with_index { |x,i| k,v = x; next if @account.follows_as_follower.find_by(followee: k); account = Account.find(k); next if account.private? %>
    <li <% if i == 0 %> style="border-top: 0" <% end %>>
      <div class="search-result-media" style="height: auto">
        <%= partial :'accounts/square', locals: { account: account, style: 'display: block;' } %>
      </div>
      <div class="search-result-content">
        <h2>
          <a class="text-dark" href="/u/<%= account.username %>"><%= account.name %></a>
        </h2>
        <%= partial :'accounts/buttons', locals: { account: account } %>
        <ul class="icon-list mt-3">
          <% v.each { |connection| 
            case connection['type']
            when 'Event'
              event = Event.find(connection['id']) rescue nil
              next unless event
              %>
          <li><i class="bi bi-calendar-event"></i> <a href="/e/<%= event.slug %>"><%= event.name %></a>, <%=concise_when_details(event) %></li>
        <% when 'Gathering'
              gathering = Gathering.find(connection['id']) rescue nil
              next unless gathering
              %>
        <li><i class="bi bi-moon-fill"></i> <a href="/g/<%= gathering.slug %>"><%= gathering.name %></a></li>
      <% end
          } %>
    </ul>
  </div>
</li>
<% } %>
</ul>
<% end %>
