<h2><%= @timetable.new_record? ? 'Create a timetable' : 'Edit timetable' %></h2>
<div class="container">
  <% form_for @timetable ||= Timetable.new, @timetable.new_record? ? "/g/#{@gathering.slug}/timetables/new" : "/g/#{@gathering.slug}/timetables/#{@timetable.id}/edit" do |f| %>
    <%= f.text_block :name %>
    <%= f.wysiwyg_block :description %>
    <%= f.check_box_block :scheduling_by_all %>
    <%= f.check_box_block :hide_schedule %>
    <%= f.submit_block destroy_url: ("/g/#{@gathering.slug}/timetables/#{@timetable.id}/destroy" if admin? || @membership.admin?) %>
  <% end %>
</div>
