<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <% if defined?(organisation_name) %>
        <th>Organisation</th>
      <% end %>
      <% if defined?(event_name) %>
        <th>Event</th>
      <% end %>
      <% if defined?(activity_name) %>
        <th>Activity</th>
      <% end %>
      <th>Rating</th>
      <th style="width: 20em">Answers</th>
      <th style="width: 20em">Response</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <% v = @event ? event_email_viewer? : false
  event_feedbacks = event_feedbacks.order('created_at desc')
  event_feedbacks = event_feedbacks.paginate(page: params[:page], per_page: 10)
  event_feedbacks.each { |event_feedback| account = event_feedback.account %>
  <tr>
    <td>
      <% if !account || event_feedback.anonymise? %>
        Anonymous
      <% else %>
        <%= partial :'accounts/account', locals: { account: account, show_email: (v || (event_feedback.event ? event_email_viewer?(event_feedback.event) : false)) } %>
      <% end %>
    </td>
    <% if defined?(organisation_name) %>
      <td class="text-center">
        <% if event_feedback.event && event_feedback.event.organisation %>
          <% if event_feedback.event.organisation.image %>
            <img src="<%=event_feedback.event.organisation.image.thumb('500x500#').url%>" style="max-width: 50px;">
            <br />
          <% end %>
          <a href="/o/<%=event_feedback.event.organisation.slug%>"><%= event_feedback.event.organisation.name%></a>
        <% end %>
      </td>
    <% end %>
    <% if defined?(event_name) %>
      <td>
        <% if event_feedback.event %>
          <a href="/events/<%= event_feedback.event_id %>"><%= event_feedback.event.name %></a>
        <% end %>
      </td>
    <% end %>
    <% if defined?(activity_name) %>
      <td>
        <% if event_feedback.event && event_feedback.event.activity %>
          <a href="/activities/<%= event_feedback.event.activity_id %>"><%= event_feedback.event.activity.name %></a>
        <% end %>
      </td>
    <% end %>
    <td>
      <a href="/event_feedbacks/<%= event_feedback.id %>">
        <% if event_feedback.rating %>
          <% event_feedback.rating.times do %><i class="bi bi-star-fill"></i><% end %>
        <% else %>
          <%= event_feedback.id %>
        <% end %>
      </a>
    </td>
    <td>
      <% if event_feedback.event %>
        <% event_feedback.event.feedback_questions_a.each_with_index { |q,i| %>
        <% qa = event_feedback.answers.detect { |k, _v| k == q }
             a = qa[1] if qa %>
        <% if a %>
          <div class="mb-3">
            <strong>
              <%== Sanitize.fragment(Rinku.auto_link(q), Sanitize::Config::DANDELION) %>
            </strong>
            <br>
            <%== Sanitize.fragment(Rinku.auto_link(a), Sanitize::Config::DANDELION) %>
            <% if event_feedback.public? %>
              <div class="my-3">
                <div data-pagelet-url="/event_feedbacks/<%= event_feedback.id %>/public/<%= i %>"></div>
              </div>
            <% end %>
          </div>
        <% end %>
        <% } %>
      <% else %>
        <% event_feedback.answers.each { |q,a| %>
        <p>
          <strong>
            <%== Sanitize.fragment(Rinku.auto_link(q), Sanitize::Config::DANDELION) %>
          </strong>
          <br>
          <% if a %>
            <%== Sanitize.fragment(Rinku.auto_link(a), Sanitize::Config::DANDELION) %>
          <% end %>
        </p>
        <% if event_feedback.public_answers %>
          <% qa = event_feedback.public_answers.detect { |k, _v| k == q }
             a = qa[1] if qa %>
          <div class="my-3">
            <textarea class="form-control" disabled>
              <% if a %>
               <%== Sanitize.fragment(Rinku.auto_link(a), Sanitize::Config::DANDELION) %>
             <% end %>
            </textarea>
          </div>
        <% end %>
        <% } %>
      <% end %>
    </td>
    <td>
      <% if event_feedback.event %>
        <% if !event_feedback.response%>
          <a class="mb-2" href="javascript:;" style="display: inline-block" onclick="$(this).hide().next().show().find('textarea').focus()">Respond</a>
        <% end %>
        <div <% if !event_feedback.response%>style="display: none"<% end %>>
          <div data-pagelet-url="/event_feedbacks/<%= event_feedback.id %>/response"></div>
        </div>
      <% end %>
    </td>
    <td>
      <%= event_feedback.created_at %>
    </td>
    <% if organisation_admin?(event_feedback.event.try(:organisation)) %>
      <td data-sort="<%= event_feedback.created_at.iso8601 %>">
        <a class="btn btn-danger" href="/event_feedbacks/<%= event_feedback.id %>/destroy" data-confirm="Are you sure you want to delete this feedback?"><i class="bi bi-x-lg"></i></a>
      </td>
    <% else %>
      <td>
      </td>
    <% end %>
  </tr>
  <% } %>
</table>
<%= will_paginate event_feedbacks, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
