<% if event_feedback.public_answers %>
  <% qas = event_feedback.public_answers.map { |q,a| a unless a.blank? }.compact %>
  <% if !qas.empty? %>

    <div class="row no-gutters <% if defined?(mt_class) %><%= mt_class %><% end %> <% if defined?(mb_class) %><%= mb_class %><% else %>mb-3<% end %>">
      <div class="col-auto mr-2"><i class="bi bi-quote"></i></div>
      <div class="col readable">
        <% if !qas.empty? %>
          <%== Sanitize.fragment(qas.join('<br /><br />'), Sanitize::Config::DANDELION) %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<% if event_feedback.response %>
  <div class="<% if defined?(mb_class) %><%= mb_class %><% else %>mb-3<% end %> <% if event_feedback.public_answers && qas%>mt-3<% end %>">
    <em><%=event_feedback.event.organisation.name%> replied</em>
    <p class="mt-1 mb-0 readable read-more">&mdash; <%== Sanitize.fragment(Rinku.auto_link(event_feedback.response.gsub("\n", '<br />')), Sanitize::Config::DANDELION) %></p>
  </div>
<% end %>
