<style>
  .grid-sizer, .grid-item {  width: 100% }
  @media(min-width: 768px) {
    .grid-sizer, .grid-item {  width: 50% }
  }
  .grid-item img { padding: 0.1rem }
</style>
<script>
  $(window).on('load', function () {
    $('.grid').masonry({
      itemSelector: '.grid-item',
      columnWidth: '.grid-sizer',
      percentPosition: true
    })
  })
</script>
<div class="grid mt-5">
  <% account_ids = []; EventFeedback.and(:event_id.in => Event.pluck(:id), :account_id.in => Account.and(:image_uid.ne => nil).pluck(:id), :anonymise.ne => true, :public_answers.ne => nil, :rating => 5).order('created_at desc').limit(10).each { |event_feedback|
  account = event_feedback.account
  next unless account.public?
  next if account.name.include?('_')
  next if account_ids.include?(account.id) %>
  <div class="grid-sizer"></div>
  <div class="grid-item">

    <div class="row">
      <div class="col-auto"><i class="bi bi-quote"></i></div>
      <div class="col">
        <big>
          <%= partial :'accounts/square', locals: { klass: 'float-left mr-3 mb-3', account: account, width: '150px' } %>
          <a class="home-feedback" href="/events/<%= event_feedback.event.id %>">
            <%== Sanitize.fragment(event_feedback.public_answers.map { |q,a| a unless a.blank? }.compact.join('<br /><br />'), Sanitize::Config::DANDELION) %>
          </a>
        </big>

        <div class="my-2" style="font-size: 2em; white-space: nowrap;">
          <% event_feedback.rating.times do %><i class="bi bi-star-fill"></i><% end %>
        </div>

        <p class="mb-5">
          <a href="/u/<%= account.username %>"><%= account.name %></a> on <a href="/events/<%= event_feedback.event.id %>"><%= event_feedback.event.name %></a>
          <small><%= timeago event_feedback.created_at %></small>
        </p>

      </div>
    </div>
  </div>
  <% account_ids << account.id } %>
</div>
