<%= partial :'events/nav', locals: { event: @event_feedback.event } %>
<table class="table">
  <tr>
    <th style="width: 20%">
      Feedback ID
    </th>
    <td>
      <%= @event_feedback.id %>
    </td>
  </tr>
  <tr>
    <th style="width: 20%">
      Event
    </th>
    <td>
      <a href="/events/<%= @event_feedback.event_id %>/feedback"><%= @event_feedback.event.name %> (<%= when_details(@event_feedback.event) %>)</a>
    </td>
  </tr>
  <tr>
    <th>
      Attendee
    </th>
    <td>
      <% if !@event_feedback.account || @event_feedback.anonymous %>
        Anonymous
      <% else %>
        <a target="_blank" href="/u/<%= @event_feedback.account.username %>"><%= @event_feedback.account.name %> (<%= @event_feedback.account.email %>)</a>
      <% end %>
    </td>
  </tr>
  <% if @event_feedback.rating %>
    <tr>
      <th>
        Rating
      </th>
      <td>
        <% @event_feedback.rating.times do %><i class="bi bi-star-fill"></i><% end %>
      </td>
    </tr>
  <% end %>
  <% @event_feedback.answers.each_with_index { |qa,i| q = qa[0]; a = qa[1] %>
  <tr>
    <th>
      <%== Sanitize.fragment(Rinku.auto_link(q), Sanitize::Config::DANDELION) %>
    </th>
    <td>
      <% if a %>
        <%== Sanitize.fragment(Rinku.auto_link(a), Sanitize::Config::DANDELION) %>
        <% if @event_feedback.publicly_visible? %>
          <div class="mt-3">
            <div data-pagelet-url="/event_feedbacks/<%= @event_feedback.id %>/public/<%= i %>"></div>
          </div>
        <% end %>
      <% end %>
    </td>
  </tr>
  <% } if @event_feedback.answers %>
  <tr>
    <th>
      Your response
    </th>
    <td>
      <div data-pagelet-url="/event_feedbacks/<%= @event_feedback.id %>/response"></div>
    </td>
  </tr>
</table>
