<script>
  $(function () {
    // Prepare configuration data

    var points = [];
    <% if defined?(points) %>
      <% points.each_with_index { |point, n| %>
        points.push({
          model_name: '<%= point.class.to_s %>',
          id: '<%= point.id %>',
          lat: <%= point.lat %>,
          lng: <%= point.lng %>,
          n: <%= n %>
        });
      <% } %>
    <% end %>

    var polygonPaths = [];
    <% if defined?(polygonables) %>
      <% polygonables.each { |polygonable| %>
        <% polygonable.polygons.each { |polygon| %>
          polygonPaths.push([
            <% polygon.coordinates[0].each { |coordinate| %>
              {lat: <%= coordinate[1] %>, lng: <%= coordinate[0] %>},
            <% } %>
          ]);
        <% } %>
      <% } %>
    <% end %>

    // Map configuration
    var config = {
      points: points,
      polygonPaths: polygonPaths,
      enableInfoWindow: <%= defined?(enable_info_window) && enable_info_window ? 'true' : 'false' %>,
      fillScreen: <%= defined?(fill_screen) && fill_screen ? 'true' : 'false' %>,
      url: <%== (binding.local_variable_defined?(:url) ? url : nil).to_json %>
      <% if defined?(bounding_box) && bounding_box %>
        , boundingBox: <%= bounding_box.to_json %>
      <% end %>
    };

    // Initialize the map
    DandelionMap.initializeMap(config);
  });
</script>
<style>
  #map-canvas > div { background-color: transparent !important; }
</style>
<div id="map-container" style="position: relative">
  <div id="map-canvas" style="height: 50vh"></div>
  <div id="points-warning" style="position: absolute; top: 0; left: 20px; right: 20px; margin: auto; display: none" class="mt-3 alert alert-warning">There are too many points to display, please zoom in</div>
</div>
