<% organisations.each { |organisation| %>
<div class="my-1">
  <% if organisation.image %>
    <a href="/o/<%= organisation.slug %>/events"><img src="<%= u organisation.image.thumb('500x500#').url %>" style="width: 50px"></a>
  <% end %>
  <a href="/o/<%= organisation.slug %>/events"><%= organisation.name %></a>
</div>
<% } %>
<% if add_and_remove %>
  <div>
    <a id="add-organisation" href="javascript:;" onclick="$(this).hide().next().show();
        $('#remove-organisation').hide()"><i class="bi bi-plus-square-fill"></i></a>
    <div style="display: none">
      <% form_for new_object, new_url do |f| %>
        <%= f.lookup_block :organisation_id, lookup_url: '/organisations/autocomplete.json', placeholder: 'Search organisations' %>
        <%= f.submit_block button_text: "Add #{role}" %>
      <% end %>
    </div>
    <% if organisations.count > 0 %>
      <a id="remove-organisation" href="javascript:;" onclick="$(this).hide().next().show();
        $('#add-organisation').hide()"><i class="bi bi-dash-square-fill"></i></a>
      <div style="display: none">
        <% form_tag destroy_url do |f| %>
          <%= select_tag :organisation_id, options: organisations.map { |organisation| ["#{organisation.name} (#{organisation.slug})", organisation.id] }, class: 'form-control mb-1' %>
          <%= submit_tag "Remove #{role}", class: 'btn btn-danger' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
