<script>
  $(function () {

    if (typeof google !== 'undefined') {
      var autocomplete = new google.maps.places.Autocomplete($('#events-search-near')[0]);
    }

  })
</script>

<% @future_and_current_event_ids = @organisation.events_for_search.future_and_current.pluck(:id) %>

<% @carousel_buttons = @organisation.carousels.and(button: true).exists? %>
<% if @carousel_buttons %>
  <%= partial :'organisations/carousel_buttons' %>
<% end %>

<% if params[:display] == 'map' || @carousel_buttons %>
  <%= partial :'events/toggle_search_well' %>
<% end %>

<div class="search well <%='mt-3' if params[:minimal] || @carousel_buttons %>" style="<%= 'display: none;' if (params[:display] == 'map') || (@carousel_buttons && !params[:search]) %>">

  <% form_tag '', method: 'get', class: 'submitOnChange searchForm mb-3' do %>
    <%= hidden_field_tag :display, value: params[:display] %>
    <%= hidden_field_tag :order, value: params[:order] %>
    <%= hidden_field_tag :minimal, value: params[:minimal] %>
    <div class="form-row align-items-end">
      <div class="form-group col-12 col-sm-auto">
        <label>Events between</label>
        <%= text_field_tag :from, class: 'form-control datepicker', placeholder: @organisation.start_date_placeholder, value: (@from.to_fs(:db_local) if @from && !@past) %>
      </div>
      <div class="form-group col-12 col-sm-auto">
        <label>and</label>
        <%= text_field_tag :to, class: 'form-control datepicker', placeholder: @organisation.end_date_placeholder, value: (@to.to_fs(:db_local) if @to) %>
      </div>
      <div class="form-group col-12 col-sm-auto">
        <label>containing the word</label>
        <%= text_field_tag :q, class: 'form-control', value: params[:q] %>
      </div>
      <div class="form-group col-12 col-sm-auto">
        <label>near</label>
        <%= text_field_tag :near, class: 'form-control', value: params[:near], id: 'events-search-near', placeholder: '' %>
      </div>
      <% if @carousel_buttons %>
        <% if params[:carousel_ids] %>
          <% params[:carousel_ids].each do |carousel_id| %>
            <%= hidden_field_tag :'carousel_ids[]', value: carousel_id %>
          <% end %>
        <% end %>
        <% if @organisation.event_types %>
          <div class="form-group col-12 col-sm-auto">
            <label>Event type</label>
            <%= select_tag :event_type, options: [''] + @organisation.event_types.split(',').map { |type| [type, type.parameterize] }, selected: params[:event_type], class: 'form-control' %>
          </div>
        <% end %>
        <div class="form-group col-12 col-sm-auto">
          <%= submit_tag 'Search', class: 'btn btn-primary' %>
        </div>
      <% else %>
        <%= partial :'organisations/search_event_tags' %>
        <%
          # partial :'organisations/search_local_groups' 
        %>
        <%
         # partial :'organisations/search_activities'
        %>
        <%
          # partial :'organisations/search_carousels'
        %>
      <% end %>
    </div>
    <% if !@carousel_buttons %>
      <div class="form-row align-items-end mt-1">
        <%= checkbox 'Online', form_group_class: 'col-12 col-sm-auto either-or' %>
        <%= checkbox 'In person', form_group_class: 'col-12 col-sm-auto either-or' %>
        <% if @organisation.organisation_tiers.exists? %>
          <%= checkbox "Members' events", form_group_class: 'col-12 col-sm-auto' %>
        <% end %>
        <div class="form-group col-12 col-sm-auto">
          <%= submit_tag 'Search', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    <%= hidden_field_tag :search, value: 1 %>
  <% end %>

  <% unless params[:no_listings] || params[:no_view_options]  %>
    <%= partial :'events/view_options' %>
  <% end %>

</div>
