<h2 class="mt-5">Local groups</h2>
<div class="row no-gutters mb-3">
  <div class="col">
    <script>
      $(function () {
        $('#local_groups_form').submit(function () {
          var url = '/o/<%= @organisation.slug %>/local_groups?' + $.param({q: $('input[name=q]', this).val()})
          $(this).closest('[data-pagelet-url]').attr('data-pagelet-url', url)
        })
      })
    </script>
    <% form_tag '', id: 'local_groups_form', class: 'mx-2 no-submit form-inline' do %>
      <div class="input-group">
        <%= text_field_tag :q, class: 'form-control', value: params[:q] %>
        <div class="input-group-append">
          <button class="btn btn-primary"><i class="fa fa-search"></i></button>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-auto">
    <% if organisation_admin? %>
      <a class="btn btn-primary mr-2" href="/local_groups/new?organisation_id=<%= @organisation.id %>">Create a local group</a>
    <% end %>
  </div>
</div>
<% local_groups = @local_groups.paginate(page: params[:page], per_page: 10) %>
<%= partial :'local_groups/blocks', locals: { local_groups: local_groups } %>
<div class="mt-3">
  <%= will_paginate local_groups, inner_window: 0, outer_window: 0, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
</div>
