<% if current_account %>
  <% organisationship = current_account.organisationships.find_by(organisation: organisation)
     state_options = {
       'not_following' => 'Follow',
       'follow_without_subscribing' => 'Following',
       'follow_and_subscribe' => 'Following with email updates <i class="bi bi-envelope-fill"></i>'
     }
     current_state = if organisationship
                       organisationship.unsubscribed ? 'follow_without_subscribing' : 'follow_and_subscribe'
                     else
                       'not_following'
                     end
     text = state_options[current_state]
     action_options = {
       'not_following' => 'Unfollow',
       'follow_without_subscribing' => 'Follow',
       'follow_and_subscribe' => 'Follow with email updates <i class="bi bi-envelope-fill"></i>'
     }

     action_options.delete('not_following') if organisationship && (organisationship.admin? || organisationship.monthly_donor?) %>
  <% if current_state == 'not_following' %>
    <a class="pagelet-trigger btn mb-1 btn-outline-primary <%= btn_class if defined?(btn_class) %>" href="/o/<%= organisation.slug %>/organisationship?f=follow_and_subscribe">Follow</a>
  <% else %>
    <div class="dropdown d-inline-block">
      <button class="btn mb-1 <%= btn_class if defined?(btn_class) %> <%= current_state == 'not_following' ? 'btn-outline-primary' : 'btn-primary' %> dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%== text %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% action_options.invert.each { |text,value| %>
        <a class="pagelet-trigger dropdown-item" href="/o/<%= organisation.slug %>/organisationship?f=<%= value %>"><%== text %></a>
        <% } %>
      </div>
    </div>

    <% if organisationship.admin? %>
      <% if organisationship.receive_feedback? %>
        <a class="btn mb-1 btn-primary" href="/o/<%= @organisation.slug %>/receive_feedback/0">Receiving feedback</a>
      <% else %>
        <a class="btn mb-1 btn-outline-primary" href="/o/<%= @organisation.slug %>/receive_feedback/1">Not receiving feedback</a>
      <% end %>
    <% end %>

    <% if defined?(membership_toggle) && membership_toggle %>
      <% if !organisationship.hide_membership? %>
        <a class="btn mb-1 btn-primary" href="/o/<%= @organisation.slug %>/show_membership/0">Membership public</a>
      <% else %>
        <a class="btn mb-1 btn-outline-primary" href="/o/<%= @organisation.slug %>/show_membership/1">Membership hidden</a>
      <% end %>
    <% end %>

  <% end %>
<% end %>
