<% c = organisation.contributable_events.count %>
<% r = organisation.contribution_requested %>
<% p = organisation.contribution_paid %>
<% balance = r - p %>

<% if (c > 0) && (balance > 0) %>
  <div class="card p-3 mb-3">
    <div class="card-body p-2">
      <p class="lead">
        <%= organisation.name %> has sold tickets to a total of <%= pluralize(c, 'event') %>
        and contributed
        <%= m p, organisation.currency %>
        of a suggested
        <%= m r.cents / 100, organisation.currency %>, leaving a balance of <%= m balance, organisation.currency %>.
        <% if (r / 2 - p) > 0 %>
          <br>
          <mark class="px-0">Contribute <% if p > 0 %>a further <% end %><%= m (r / 2 - p).cents / 100, organisation.currency %>+ and as a thank you we'll show your events in the main events section and on the Dandelion homepage.</mark>
        <% end %>
      </p>

      <% form_tag '', class: 'form-inline', id: 'pay-form' do %>
        <div class="form-group mb-1 mr-1">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><%= Money.new(0, organisation.currency).symbol %></span>
            </div>
            <%= hidden_field_tag :currency, value: organisation.currency %>
            <%= number_field_tag :amount, value: balance.cents / 100, style: 'width: 5em;', required: 'required', class: 'form-control', id: 'amount' %>
          </div>
        </div>
        <button data-payment-method="stripe" type="submit" class="btn btn-primary mb-1 ml-0 mr-1" style="height: 2.125rem">
          Contribute via card
          <i class="fa fa-spin fa-circle-o-notch" style="display: none"></i>
        </button>
        <%= hidden_field_tag :payment_method, value: 'stripe', disabled: true %>
        <button data-payment-method="coinbase" type="submit" class="btn btn-primary mb-1" style="height: 2.125rem">
          Contribute with crypto
          <i class="fa fa-spin fa-circle-o-notch" style="display: none"></i>
        </button>
        <%= hidden_field_tag :payment_method, value: 'coinbase', disabled: true %>
      <% end %>
      <script>
        $(function () {

          $('#pay-form button[data-payment-method]').click(function () {
            $('input[type=hidden][name=payment_method]').attr('disabled', true)
            $('input[type=hidden][name=payment_method][value=' + $(this).attr('data-payment-method') + ']').removeAttr('disabled')
            $(this).attr('data-payment-method-clicked', true)
          })

          $('#pay-form').submit(function () {
            $('#pay-form button[data-payment-method-clicked] i').show()
            $.post('/organisations/<%= organisation.id %>/pay', $(this).serializeObject(), function (data) {
              if (data['session_id']) {
                var stripe = Stripe('<%= ENV['STRIPE_PK'] %>');
                stripe.redirectToCheckout({sessionId: data['session_id']})
              } else if (data['checkout_id']) {
                window.location = 'https://commerce.coinbase.com/checkout/' + data['checkout_id']
              }
            }).fail(function () {
              $('#pay-form').hide()
            }).always(function () {
              $('#pay-form').css('opacity', 1)
            })

            return false

          })
          console.log('paying')
        })
      </script>

    </div>
  </div>
<% end %>
