<% currency = MAJOR_CURRENCIES.include?(organisation.currency) ? organisation.currency : ENV['DEFAULT_CURRENCY'] %>

<% c = organisation.contributable_events.count %>
<% r = organisation.contribution_requested %>
<% p = organisation.contribution_paid %>
<% w = organisation.fraction_paid*100 if organisation.fraction_paid %>
<% balance = r - p %>

<% if !organisation.contribution_not_required? && (defined?(force) || ((c > 0) && (balance > 0))) %>
  <div class="card p-3 my-3">
    <div class="card-body p-2">

      <p class="lead">

        <% if organisation.contribution_required %>
          <mark>
            Since you're using
            <% if organisation.stripe_client_id %>
              our advanced revenue sharing feature,
            <% else %>
              a special payment feature,
            <% end %>
            we ask that you meet the suggested contribution before creating more events. 
          </mark>
        <% else %>
          <mark>
            Help us remain donation-based and ad-free.
            <%= %w[ðŸ¦„ ðŸŒˆ ðŸŒ¸ ðŸŒ» ðŸŒ¼ â˜˜ï¸ ðŸŒ±].sample %>
          </mark>
        <% end %>

        <p class="lead">
          The suggested contribution is <%= organisation.percent_requested || 1 %>% of ticket sales per event.
        </p>

        <p class="lead">
          <%= organisation.name %> has listed <%= pluralize(c, 'event') %>
          and contributed
          <%= m p, currency %>
          of a
          <% if request.path.split('/').last == 'contribute' %>suggested <%= m r, currency %><% else %><a href="/o/<%=organisation.slug%>/contribute">suggested <%= m r, currency %></a><% end %><% if balance <= 0%>.<% else %>, leaving a balance of <%= m balance, currency %>.<% end %>
        </p>

        <% if w && w <= 100 %>
          <div class="progress my-3" style="height: 30px">
            <div class="progress-bar" role="progressbar" style="width: <%= "#{w}%" %>;">
              <% if w > 0 %><%= w.to_f.round %>%<% end %>
            </div>
          </div>
        <% end %>

        <% form_tag '', class: 'form-inline mb-3', id: 'pay-form' do %>
          <div class="form-group mb-1 mr-1">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><%=money_symbol(currency) %></span>
              </div>
              <%= hidden_field_tag :currency, value: currency %>
              <%= text_field_tag :amount, style: 'width: 5em;', required: 'required', class: 'form-control', id: 'amount', value: (balance if balance > Money.new(1 * 100, 'GBP')) %>
            </div>
          </div>
          <button data-payment-method="stripe" type="submit" class="btn btn-primary mb-1 ml-0 mr-1" style="height: 2.125rem">
            Contribute via card
            <i class="bi bi-spin bi-slash-lg" style="display: none"></i>
          </button>
          <%= hidden_field_tag :payment_method, value: 'stripe', disabled: true %>
          <button data-payment-method="coinbase" type="submit" class="btn btn-outline-primary border-0 mb-1" style="height: 2.125rem">
            via crypto
            <i class="bi bi-spin bi-slash-lg" style="display: none"></i>
          </button>
          <%= hidden_field_tag :payment_method, value: 'coinbase', disabled: true %>
        <% end %>

        <p class="mb-0">
          <% if organisation.stripe_customer_id %>
            Auto top-up enabled<% if organisation.card_last4 %> using card ending in <%= organisation.card_last4 %><% end %>. <a href="/organisations/<%= organisation.id %>/clear_stripe_customer_id">Click to disable</a>
          <% else %>
            <a href="javascript:;" onclick="
               $.post('/organisations/<%= organisation.id %>/stripe_setup', $(this).serializeObject(), function (data) {
                  var stripe = Stripe('<%= ENV['STRIPE_PK'] %>');
                  stripe.redirectToCheckout({sessionId: data['session_id']})                        
                })
        ">Save time by enabling auto top-ups</a>
            <br />
            When the requested contribution exceeds <%= m Money.new(100 * 100, 'GBP'), currency %>
            or you fall below <%= (organisation.paid_up_fraction_or_default * 100).to_i %>% of the suggested amount,
            we'll top you up to 100%,
            and donations will always go to your organisation.
          <% end %>
        </p>

        <script>
          $(function () {

            $('#pay-form button[data-payment-method]').click(function () {
              $('input[type=hidden][name=payment_method]').attr('disabled', true)
              $('input[type=hidden][name=payment_method][value=' + $(this).attr('data-payment-method') + ']').removeAttr('disabled')
              $(this).attr('data-payment-method-clicked', true)
            })

            $('#pay-form').submit(function () {
              $('#pay-form button[data-payment-method-clicked] i').show()
              $.post('/organisations/<%= organisation.id %>/pay', $(this).serializeObject(), function (data) {
                if (data['session_id']) {
                  var stripe = Stripe('<%= ENV['STRIPE_PK'] %>');
                  stripe.redirectToCheckout({sessionId: data['session_id']})
                } else if (data['checkout_id']) {
                  window.location = 'https://commerce.coinbase.com/checkout/' + data['checkout_id']
                }
              }).fail(function () {
                $('#pay-form').hide()
              }).always(function () {
                $('#pay-form').css('opacity', 1)
              })

              return false

            })
          })
        </script>

      </div>
    </div>
  <% end %>
