<%= partial :'organisations/nav', locals: { organisation: @organisation } %>

<p class="lead">
  By default, Dandelion publishes events to ATProto under <a href="https://www.atproto-browser.dev/at/did:plc:l4fwwgqgc5gdvtebisdumf4x" target="_blank">@dandelion.events</a>.
  <br />
  Here you can connect your organisation's Bluesky/ATProto account to publish events to ATProto under your own identity.
</p>

<% if @organisation.atproto_connected? %>
  <big class="d-block mb-2">
    <i class="bi bi-bluesky"></i>
    Connected as
    <a href="<%= @organisation.atproto_profile_url %>" target="_blank">@<%= @organisation.atproto_handle %></a>
  </big>
  <a class="btn btn-outline-secondary btn-sm mb-3" href="/o/<%= @organisation.slug %>/atproto/disconnect">Disconnect</a>
<% end %>

<% unless @organisation.atproto_connected? %>
  <% form_tag "/o/#{@organisation.slug}/atproto/connect", method: 'post' do %>
    <div class="form-group">
      <label for="atproto_handle"><%= Organisation.human_attribute_name(:atproto_handle) %></label>
      <%= text_field_tag :atproto_handle, value: @organisation.atproto_handle, class: 'form-control', placeholder: 'yourhandle.bsky.social', required: true %>
    </div>
    <div class="form-group">
      <label for="atproto_app_password"><%= Organisation.human_attribute_name(:atproto_app_password) %></label>
      <%= password_field_tag :atproto_app_password, class: 'form-control', placeholder: 'xxxx-xxxx-xxxx-xxxx', required: true %>
      <small class="form-text text-muted">
        This is not your Bluesky login password.
        <a href="https://bsky.app/settings/app-passwords" target="_blank">Create an App Password</a> (the password name is unimportant)
      </small>
    </div>
    <%= submit_tag 'Connect', class: 'btn btn-primary' %>
  <% end %>
<% end %>
