<%= partial :'organisations/nav', locals: { organisation: @organisation } %>
<% form_tag '', method: 'get', class: 'submitOnChange searchForm form-inline mb-3' do %>
  <div class="form-group">
    <label>Search bookings</label>
    <%= text_field_tag :q, class: 'form-control', value: params[:q] %>
  </div>
  <%= hidden_field_tag :search, value: 1 %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>
<div data-pagelet-url="/o/<%= @organisation.slug %>/bookings?<%= request.query_string %>" data-pagelet-refresh="60">
  <%= partial :'services/bookings', locals: { bookings: @bookings, service_name: true, show_emails: true } %>
</div>
