<% if current_account.organisations.count == 0 %>
  <div class="alert alert-success">
    <p class="lead">
      Let's create your first organisation!
    </p>
    <p class="mb-0">
      Once you're done, you'll be able to list events under this organsation. <br />
      (All events on Dandelion are listed under an organisation.)
    </p>
  </div>
<% end %>

<% if Padrino.env == :production && params[:created] && current_account.organisations.count == 1 %>
  <script>
    $(function() {

      if($(window).width() > 992) {

        introJs().setOptions({
          steps: [{
            title: "Nice one!",
            intro: "You've created your first organisation 🎉"
          }, {
            element: $('#content button.dropdown-toggle')[0],
            intro: "Here's the admin dropdown for the organisation"
          }, {
            intro: "To accept payments, now add your Stripe and/or Coinbase Commerce details.",
          }]
        }).start();

      }

    })
  </script>
<% end %>


<%= partial :'organisations/nav', locals: { organisation: @organisation } %>

<p>
  <a target="_blank" href="/docs/organisations">
    <i class="fa fa-question-circle"></i>
    Need support? Check out the docs and join our Telegram group
  </a>
</p>

<style>
  #organisation_minimal_head { height: 5em }
</style>
<script>
  $(function () {

    var autocomplete = new google.maps.places.Autocomplete($('#organisation_location')[0]);

    $('#organisation_slug, #organisation_name').keyup(function () {
      $('#slug-replace-organisation-url').text('<%= ENV['BASE_URI'] %>/o/' + $('#organisation_slug').val());
    }).keyup();

    $('#organisation_location').keydown(function (e) {
      if (e.which == 13 && $('.pac-container:visible').length)
        return false;
    })

    autosize($('#organisation_minimal_head')[0])

    $('#organisation-build-nav a[data-toggle="tab"]').on('show.bs.tab', function (e) {
      var form = $('#organisation-build-nav').closest('form')[0]
        if (form.reportValidity()) {
          // continue
        } else {
          e.preventDefault()
          $(window).scrollTop($(form).find(":invalid").first().offset()['top'] - $('#header').height() - 36)
          $(form).find(":invalid").first().focus()
        }
    });

  })
</script>
<% if @organisation.errors.count > 0 %>
  <div class="alert alert-danger">
    <ul class="mb-0">
      <% @organisation.errors.full_messages.each { |message| %>
      <li><%= message %></li>
      <% } %>
    </ul>
  </div>
<% end %>
<% form_for @organisation, @organisation.new_record? ? '/o/new' : "/o/#{@organisation.slug}/edit" do  |f| %>
  <% if @organisation.persisted? %>
    <ul id="organisation-build-nav" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="nav-item"><a class="nav-link <%= 'active' if !params[:tab] || params[:tab].to_i == 1%>" href="#tab1" role="tab" data-toggle="tab">Basics</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link <%= 'active' if params[:tab].to_i == 2%>" href="#tab2" role="tab" data-toggle="tab">Payments</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link <%= 'active' if params[:tab].to_i == 3%>" href="#tab3" role="tab" data-toggle="tab">Emails</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link <%= 'active' if params[:tab].to_i == 4%>" href="#tab4" role="tab" data-toggle="tab">Mailgun</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link <%= 'active' if params[:tab].to_i == 5%>" href="#tab5" role="tab" data-toggle="tab">Other services</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link <%= 'active' if params[:tab].to_i == 6%>" href="#tab6" role="tab" data-toggle="tab">Everything else</a></li>
      <% if Padrino.env == :development || @organisation.verified? %>
        <li role="presentation" class="nav-item"><a class="nav-link <%= 'active' if params[:tab].to_i == 7%>" href="#tab7" role="tab" data-toggle="tab">Experimental</a></li>
      <% end %>
    </ul>
  <% end %>
  <div class="container">
    <div class="tab-content <%= 'mt-3' if @organisation.persisted? %>">
      <div role="tabpanel" class="tab-pane <%= 'active' if !params[:tab] || params[:tab].to_i == 1%>" id="tab1">
        <%= f.text_block :name %>
        <%= f.slug_block :slug %>
        <div class="mb-3">
          <p class="text-muted mb-0" style="margin-top: -0.75rem">
            Organisation URL: 
            <span id="slug-replace-organisation-url"></span>
          </p>
          <% if @organisation.persisted? %>
            <p class="text-muted mt-1" >
              Organisation ID: <%= @organisation.id %>
            </p>
          <% end %>
        </div>
        <%= f.wysiwyg_block :intro_text %>
        <%= f.url_block :website %>
        <% unless @organisation.new_record? %>
          <%= f.url_block :telegram_group %>
        <% end %>
        <%= f.text_block :location %>
        <%= f.image_block :image %>
      </div>
      <% if @organisation.persisted? %>
        <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab].to_i == 2%>" id="tab2">
          <% if !@organisation.stripe_sk && !@organisation.coinbase_api_key %>
            <div class="alert alert-warning">
              <p class="m-0"><i class="fa fa-warning"></i> To accept payments, you must add either Stripe or Coinbase Commerce details.</p>
            </div>
          <% end %>
          <%= f.select_block :currency %>
          <div class="card mb-3">
            <div class="card-header text-white bg-primary">
              <h4 class="my-0">Card payments via Stripe</h4>
            </div>
            <div class="card-body pb-0">
              <p>
                Don't know where to find your Stripe API keys? <a target="_blank" href="https://support.stripe.com/questions/locate-api-keys-in-the-dashboard">Check this help page on Stripe's site</a>
              </p>
              <%= f.text_block :stripe_pk %>
              <%= f.text_block :stripe_sk %>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header text-white bg-primary">
              <h4 class="my-0">Crypto payments via Coinbase Commerce</h4>
            </div>
            <div class="card-body pb-0">
              <p>First go to <code>Settings</code> > <code>Webhook subscriptions</code> > <code>Add an endpoint</code> and add
                <span style="text-decoration: underline dotted"><%=ENV['BASE_URI']%>/o/<%= @organisation.slug %>/coinbase_webhook</span>
              </p>
              <%= f.text_block :coinbase_api_key %>
              <%= f.text_block :coinbase_webhook_secret %>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header text-white bg-primary">
              <h4 class="my-0">Experimental</h4>
            </div>
            <div class="card-body pb-0">
              <%= f.text_block :evm_address %>
              <%= f.text_block :seeds_username %>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab].to_i == 3%>" id="tab3">
          <%= f.wysiwyg_block :ticket_email_greeting %>
          <%= f.wysiwyg_block :extra_info_for_ticket_email %>
          <%= f.wysiwyg_block :feedback_email_body %>
          <%= f.text_block :reply_to %>
          <%= f.check_box_block :send_ticket_emails_from_organisation %>
          <%= f.check_box_block :show_ticketholder_link_in_ticket_emails %>
          <%= f.check_box_block :show_sign_in_link_in_ticket_emails %>
        </div>
        <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab].to_i == 4%>" id="tab4">
          <% if !@organisation.mailgun_api_key %>
            <div class="alert alert-warning">
              <p class="m-0">
                <i class="fa fa-warning"></i>
                If you'd like to use Dandelion's mailer to email everyone following your organisation, or people following your organisation's
                activities and local groups, you'll need to link a Mailgun account.
                (You can email all attendees of an event without providing these details.)
              </p>
            </div>
          <% end %>
          <%= f.text_block :mailgun_api_key %>
          <%= f.text_block :mailgun_domain %>
          <%= f.select_block :mailgun_region %>
        </div>
        <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab].to_i == 5%>" id="tab5">
          <%= f.text_block :google_analytics_id %>
          <%= f.text_block :facebook_pixel_id %>
          <%= f.text_block :gocardless_access_token %>
          <%= f.text_block :patreon_api_key %>
        </div>
        <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab].to_i == 6%>" id="tab6">
          <%= f.wysiwyg_block :event_footer %>
          <%= f.text_area_block :carousels %>
          <%= f.text_block :add_a_donation_to %>
          <%= f.text_block :donation_text %>
          <%= f.number_block :event_image_required_width %>
          <%= f.number_block :event_image_required_height %>
          <%= f.url_block :become_a_member_url %>
          <%= f.check_box_block :collect_location %>

          <script>
            $(function() {

              $('#organisation_enable_discussion').click(function () {
                if ($(this).is(':checked')) {
                  $('#organisation_auto_comment_sending').removeAttr('disabled')
                }
                else {
                  $('#organisation_auto_comment_sending').prop('checked', false );
                  $('#organisation_auto_comment_sending').attr('disabled',true)
                }
            })
            if ($('#organisation_enable_discussion').is(':checked')) {
              $('#organisation_auto_comment_sending').removeAttr('disabled')
            }
            else {
              $('#organisation_auto_comment_sending').prop('checked', false );
              $('#organisation_auto_comment_sending').attr('disabled',true)
            }
            })
          </script>

          <%= f.check_box_block :enable_discussion %>
          <%= f.check_box_block :auto_comment_sending %>
          <%= f.check_box_block :restrict_cohosting %>
        </div>
        <% if Padrino.env == :development || @organisation.verified? %>
          <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab].to_i == 7%>" id="tab7">
            <%= f.text_block :stripe_client_id %>
            <%= f.wysiwyg_block :recording_email_greeting %>
            <%= f.text_area_block :minimal_head %>
            <%= f.text_area_block :events_banner %>
            <%= f.number_block :affiliate_credit_percentage %>
            <%= f.number_block :monthly_donor_affiliate_reward %>
            <%= f.wysiwyg_block :affiliate_intro %>
            <%= f.url_block :affiliate_share_image_url %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= f.submit_block button_text: (@organisation.persisted? ? 'Update organisation' : 'Save and continue'), destroy_url: "/o/#{@organisation.slug}/destroy" %>
  </div>
<% end %>
