<%= partial :'organisations/nav', locals: { organisation: @organisation } %>
<style>
  #organisation_minimal_head { height: 5em }
</style>
<script>
  $(function () {

    var autocomplete = new google.maps.places.Autocomplete($('#organisation_location')[0]);

    $('#organisation_slug, #organisation_name').keyup(function () {
      $('#slug-replace-organisation-url').text('<%= ENV['BASE_URI'] %>/o/' + $('#organisation_slug').val());
    }).keyup();

    $('#organisation_location').keydown(function (e) {
      if (e.which == 13 && $('.pac-container:visible').length)
        return false;
    })

    autosize($('#organisation_minimal_head')[0])

    $('#organisation-build-nav a[data-toggle="tab"]').on('show.bs.tab', function (e) {
      var form = $('#organisation-build-nav').closest('form')[0]
        if (form.reportValidity()) {
          // continue
        } else {
          e.preventDefault()
          $(window).scrollTop($(form).find(":invalid").first().offset()['top'] - $('#header').height() - 36)
          $(form).find(":invalid").first().focus()
        }
    });

  })
</script>
<% if @organisation.errors.count > 0 %>
  <div class="alert alert-danger">
    <ul class="mb-0">
      <% @organisation.errors.full_messages.each { |message| %>
      <li><%= message %></li>
      <% } %>
    </ul>
  </div>
<% end %>
<% form_for @organisation, @organisation.new_record? ? '/o/new' : "/o/#{@organisation.slug}/edit" do  |f| %>
  <% if @organisation.persisted? %>
    <ul id="organisation-build-nav" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="nav-item"><a class="nav-link <%= 'active' if !params[:tab] || params[:tab].to_i == 1%>" href="#tab1" role="tab" data-toggle="tab">Basics</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link <%= 'active' if params[:tab].to_i == 2%>" href="#tab2" role="tab" data-toggle="tab">Payments</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link <%= 'active' if params[:tab].to_i == 3%>" href="#tab3" role="tab" data-toggle="tab">API keys</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link <%= 'active' if params[:tab].to_i == 4%>" href="#tab4" role="tab" data-toggle="tab">Emails</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link <%= 'active' if params[:tab].to_i == 4%>" href="#tab5" role="tab" data-toggle="tab">Everything else</a></li>
      <% if Padrino.env == :development || @organisation.verified? %>
        <li role="presentation" class="nav-item"><a class="nav-link <%= 'active' if params[:tab].to_i == 5%>" href="#tab6" role="tab" data-toggle="tab">Experimental</a></li>
      <% end %>
    </ul>
  <% end %>
  <div class="container">
    <div class="tab-content <%= 'mt-3' if @organisation.persisted? %>">
      <div role="tabpanel" class="tab-pane <%= 'active' if !params[:tab] || params[:tab].to_i == 1%>" id="tab1">
        <%= f.text_block :name %>
        <%= f.slug_block :slug %>
        <p class="text-muted" style="margin-top: -0.75rem">Organisation URL:
          <span id="slug-replace-organisation-url"></span>
        </p>
        <%= f.wysiwyg_block :intro_text %>
        <%= f.url_block :website %>
        <%= f.url_block :telegram_group %>
        <%= f.text_block :location %>
        <%= f.image_block :image %>
      </div>
      <% if @organisation.persisted? %>
        <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab].to_i == 2%>" id="tab2">
          <%= f.select_block :currency %>
          <div class="card mb-3">
            <div class="card-header text-white bg-primary">
              <h4 class="my-0">Card payments via Stripe</h4>
            </div>
            <div class="card-body pb-0">
              <%= f.text_block :stripe_pk %>
              <%= f.text_block :stripe_sk %>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header text-white bg-primary">
              <h4 class="my-0">Crypto payments via Coinbase Commerce</h4>
            </div>
            <div class="card-body pb-0">
              <p>First go to <code>Settings</code> > <code>Webhook subscriptions</code> > <code>Add an endpoint</code> and add
                <span style="text-decoration: underline dotted"><%=ENV['BASE_URI']%>/o/<%= @organisation.slug %>/coinbase_webhook</span></p>
              <%= f.text_block :coinbase_api_key %>
              <%= f.text_block :coinbase_webhook_secret %>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab].to_i == 3%>" id="tab3">
          <%= f.text_block :mailgun_api_key %>
          <%= f.text_block :mailgun_domain %>
          <%= f.select_block :mailgun_region %>
          <%= f.text_block :google_analytics_id %>
          <%= f.text_block :facebook_pixel_id %>
          <%= f.text_block :gocardless_access_token %>
          <%= f.text_block :patreon_api_key %>
          <%= f.text_block :slack_api_key %>
        </div>
        <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab].to_i == 4%>" id="tab4">
          <%= f.wysiwyg_block :ticket_email_greeting %>
          <%= f.wysiwyg_block :extra_info_for_ticket_email %>
          <%= f.wysiwyg_block :extra_info_for_booking_email %>
          <%= f.wysiwyg_block :feedback_email_body %>
          <%= f.text_block :reply_to %>
          <%= f.check_box_block :send_ticket_emails_from_organisation %>
          <%= f.check_box_block :hide_sign_in_link_from_ticket_emails %>
        </div>
        <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab].to_i == 5%>" id="tab5">
          <%= f.wysiwyg_block :event_footer %>
          <%= f.text_area_block :carousels %>
          <%= f.text_block :add_a_donation_to %>
          <%= f.text_block :donation_text %>
          <%= f.url_block :become_a_member_url %>
          <%= f.check_box_block :collect_location %>
          <%= f.check_box_block :auto_comment_sending %>
        </div>
        <% if Padrino.env == :development || @organisation.verified? %>
          <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab].to_i == 6%>" id="tab6">
            <%= f.text_block :stripe_client_id %>
            <%= f.text_block :seeds_username %>
            <%= f.text_block :xdai_address %>
            <%= f.text_area_block :minimal_head %>
            <%= f.text_area_block :events_banner %>
            <%= f.number_block :affiliate_credit_percentage %>
            <%= f.number_block :monthly_donor_affiliate_reward %>
            <%= f.wysiwyg_block :affiliate_intro %>
            <%= f.url_block :affiliate_share_image_url %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= f.submit_block button_text: (@organisation.persisted? ? 'Update organisation' : 'Save and continue'), destroy_url: "/o/#{@organisation.slug}/destroy" %>
  </div>
<% end %>
