<%= partial :'organisations/nav', locals: { organisation: @organisation } %>
<%= partial :'organisations/pay', locals: { organisation: @organisation, force: true } %>

<% currency = MAJOR_CURRENCIES.include?(@organisation.currency) ? @organisation.currency : ENV['DEFAULT_CURRENCY'] %>

<% if (events = @organisation.contributable_events.order('start_time desc')).exists? %>

  <% events = events.paginate(page: params[:events_page], per_page: 10) %>

  <h2>Suggested donations</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Event</th>
        <th style="width: 33%">Suggested donation</th>
      </tr>
    </thead>
    <% events.each { |event| %>
    <tr>
      <td><a href="/e/<%=event.slug%>"><%=event.name%></a>, <%=concise_when_details(event)%></td>
      <td>
        <%=m event.contribution_gbp, currency%>
        <% if event.ticket_types.empty? %>
          <span class="label label-primary">Promotion fee</span>
        <% elsif event.cap && event.contribution_gbp == event.cap %>
          <span class="label label-primary">Capped</span>
        <% end %>
      </td>
    </tr>
    <% } %>
  </table>

  <%= will_paginate events, param_name: 'events_page', renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>

<% end %>

<% if (organisation_contributions = @organisation.organisation_contributions.and(payment_completed: true).order('created_at desc')).exists? %>

  <% organisation_contributions = organisation_contributions.paginate(page: params[:organisation_contributions_page], per_page: 10) %>

  <h2>Contributions</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th style="width: 33%">Amount</th>
      </tr>
    </thead>
    <% organisation_contributions.each { |organisation_contribution| %>
    <tr>
      <td><%=organisation_contribution.created_at%></td>
      <td><%=m organisation_contribution.amount, organisation_contribution.currency%></td>
    </tr>
    <% } %>
  </table>

  <%= will_paginate organisation_contributions, param_name: 'organisation_contributions_page', renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>

<% end %>
