<%= partial :'organisations/nav', locals: { organisation: @organisation } %>
<h1 class="mb-3">
  <a href="/u/<%= @organisationship.account.username %>"><%= @organisationship.account.name %></a>'s credit balance
</h1>
<p class="lead">
  <span class="label label-primary"><%= m @organisationship.credit_balance, @organisation.currency %></span>
  <a href="javascript:;" onclick="$(this).hide();
    $('#plus-credit').show().find('input').focus();
    $(this).parent().find('a i').hide()"><i class="fa fa-plus-square"></i></a>
  <a href="javascript:;" onclick="$(this).hide();
    $('#minus-credit').show().find('input').focus();
    $(this).parent().find('a i').hide()"><i class="fa fa-minus-square"></i></a>
</p>
<% form_tag "/organisationships/#{@organisationship.id}/credit/plus", class: 'form-inline mb-3', id: 'plus-credit', style: 'display: none' do %>
  <i style="margin-right: 5px" class="fa fa-plus-square"></i>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><%= money_symbol(@organisation.currency) %></span>
    </div>
    <%= number_field_tag :amount, class: 'form-control', style: 'width: 6em' %>
  </div>
<% end %>
<% form_tag "/organisationships/#{@organisationship.id}/credit/minus", class: 'form-inline mb-3', id: 'minus-credit', style: 'display: none' do %>
  <i style="margin-right: 5px" class="fa fa-minus-square"></i>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><%= money_symbol(@organisation.currency) %></span>
    </div>
    <%= number_field_tag :amount, class: 'form-control', style: 'width: 6em' %>
  </div>
<% end %>
<ul class="fa-ul">
  <% @organisationship.credit_granted(description_hash: true).each { |c| %>
  <li><i class="fa fa-li fa-plus-square"></i> <%= c[0] %> <%= c[1] %> </li>
  <% } %>
</ul>
<ul class="fa-ul">
  <% @organisationship.credit_used(description_hash: true).each { |c| %>
  <li><i class="fa fa-li fa-minus-square"></i> <%= c[0] %> <%= c[1] %> </li>
  <% } %>
</ul>
