<% unless params[:minimal] %>
  <%= partial :'organisations/nav', locals: { organisation: @organisation } %>
  <div class="row mb-3">
    <div class="col-12 col-lg-auto text-center">
      <% if @organisation.image %>
        <a href="/o/<%= @organisation.slug %>"><img src="<%= u @organisation.image.thumb('200x200').url %>"></a>
      <% end %>
    </div>
    <div class="col-12 col-sm text-center text-lg-left">
      <h1>
        <a href="/o/<%= @organisation.slug %>"><%= @organisation.name %></a>'s events
      </h1>
      <% if current_account %>
        <div class="d-inline-block mb-1" data-pagelet-url="/o/<%= @organisation.slug %>/organisationship">
          <%= partial :'organisations/organisationship', locals: { organisation: @organisation } %>
        </div>
        <% if organisation_assistant? %>
          <a class="btn btn-primary" href="/events/new?organisation_id=<%= @organisation.id %>">Create an event</a>
        <% end %>
      <% else %>
        <%= partial :'accounts/new_compact' %>
      <% end %>
    </div>
  </div>
<% end %>
<% if !params[:no_events_banner] && @organisation.verified? && @organisation.events_banner && (!current_account || ((organisationship = @organisation.organisationships.find_by(account: current_account)) && !organisationship.monthly_donor?)) %>
  <%== @organisation.events_banner %>
<% end %>
<% unless params[:no_search] %>
  <div id="events-search" class="<%= params[:minimal] ? 'pb-3 pt-1' : 'py-3' %>">
    <% form_tag '', method: 'get', class: 'submitOnChange searchForm form-inline' do %>
      <%= hidden_field_tag :display, value: params[:display] %>
      <%= hidden_field_tag :order, value: params[:order] %>
      <%= hidden_field_tag :minimal, value: params[:minimal] %>
      <div class="form-group">
        <label>Show events from</label>
        <%= text_field_tag :from, class: 'form-control datepicker', value: @from.to_fs(:db_local) %>
      </div>
      <div class="form-group">
        <label>containing the word</label>
        <%= text_field_tag :q, class: 'form-control', value: params[:q], style: 'max-width: 12em' %>
      </div>
      <% if @organisation.event_tags.count > 1 %>
        <div class="form-group">
          <label>tagged</label>
          <%= select_tag :event_tag_id, options: [''] + @organisation.event_tags.and(:id.in => EventTagship.and(:event_id.in => @organisation.events_for_search.future_and_current_featured.pluck(:id)).pluck(:event_tag_id)).order('name asc').map { |event_tag| [event_tag.name, event_tag.id] }, selected: params[:event_tag_id], class: 'form-control', style: 'max-width: 12em' %>
        </div>
      <% end %>
      <% if (local_groups = @organisation.local_groups.order('name asc').and(:id.in => [params[:local_group_id]].compact + @organisation.events_for_search.future_and_current_featured.pluck(:local_group_id))).count > 0 %>
        <div class="form-group">
          <label>Local group</label>
          <%= select_tag :local_group_id, options: [''] + local_groups.order('name asc').map { |local_group| [local_group.name, local_group.id] }, selected: params[:local_group_id], class: 'form-control', style: 'max-width: 12em' %>
        </div>
      <% end %>
      <% if (activities = @organisation.activities.order('name asc').and(:id.in => [params[:activity_id]].compact + @organisation.events_for_search.future_and_current_featured.pluck(:activity_id))).count > 0 %>
        <div class="form-group">
          <label>Activity</label>
          <%= select_tag :activity_id, options: [''] + activities.map { |activity| [activity.name, activity.id] }, selected: params[:activity_id], class: 'form-control', style: 'max-width: 12em' %>
        </div>
      <% end %>
      <% if @organisation.carousels %>
        <div class="form-group">
          <label>Carousel</label>
          <%= select_tag :carousel, options: ([''] + @organisation.carousels.split("\n").reject { |line| line.blank? }.map do |line|
            title, tags = line.split(':')
            title, _w = title.split('[')
            title
          end), selected: params[:carousel], class: 'form-control', style: 'max-width: 12em' %>
        </div>
      <% end %>
      <%= checkbox 'Online' %>
      <%= checkbox 'In person' %>
      <% if @organisation.monthly_donors.count > 0 %>
        <%= checkbox "Members' events" %>
      <% end %>
      <%= submit_tag 'Search', class: 'btn btn-primary' %>
      <%= hidden_field_tag :search, value: 1 %>
    <% end %>
  </div>
<% end %>

<% if !params[:search] && !params[:event_tag_id] && !params[:page] %>
  <div data-with-placeholder data-pagelet-url="/o/<%= @organisation.slug %>/carousels/featured?hide_featured_title=<%=params[:hide_featured_title]%>">
    <%= partial :'events/carousel_placeholder' %>
  </div>
  <% if @organisation.carousels %>
    <% @organisation.carousels.split("\n").reject(&:blank?).each_with_index { |line,i| next if params[:first_carousel_only] && i > 0 %>
    <div data-with-placeholder data-pagelet-url="/o/<%= @organisation.slug %>/carousels/<%= i %>">
      <%= partial :'events/carousel_placeholder' %>
    </div>
    <% } %>
  <% end %>
<% end %>

<% unless params[:no_listings] || params[:no_view_options]  %>
  <%= partial :'events/view_options' %>
<% end %>

<% if params[:minimal] %>
  <%== '<div id="events-container" class="container-fluid">' %>
<% end %>
<% if params[:display] == 'map' %>
  <div data-pagelet-url="/o/<%=@organisation.slug%>/events?<%= request.query_string %>">
    <%= partial :'maps/map', locals: { stem: "/o/#{@organisation.slug}/events", dynamic: true, trigger_bounds_changed: true } %>
  </div>
<% elsif params[:display] == 'table' %>
  <%= partial :'events/table' %>
<% elsif params[:display] == 'concise' %>
  <%= partial :'events/concise' %>
<% else %>
  <div data-pagelet-url="/o/<%=@organisation.slug%>/events?<%= request.query_string %>">
    <%= partial :'organisations/events' %>
  </div>
<% end %>
<% if params[:minimal] %>
  <%== '</div>' %>
<% end %>
