<% unless params[:minimal] %>
  <%= partial :'organisations/nav', locals: { organisation: @organisation } %>
  <div class="row mb-3">
    <div class="col-12 col-lg-auto text-center">
      <% if @organisation.image %>
        <a href="/o/<%= @organisation.slug %>"><img src="<%= u @organisation.image.thumb('200x200').url %>"></a>
      <% end %>
    </div>
    <div class="col-12 col-sm text-center text-lg-left">
      <h1>
        <a href="/o/<%= @organisation.slug %>"><%= @organisation.name %></a>'s events
      </h1>
      <% if current_account %>
        <div class="d-inline-block" data-pagelet-url="/o/<%= @organisation.slug %>/organisationship?membership_toggle=1">
          <%= partial :'organisations/organisationship', locals: { organisation: @organisation, membership_toggle: true } %>
        </div>
        <% if organisation_assistant? %>
          <a class="btn mb-1 btn-primary" href="/events/new?organisation_id=<%= @organisation.id %>">Create an event</a>
        <% end %>
      <% else %>
        <%= partial :'accounts/new_compact' %>
      <% end %>
    </div>
  </div>
<% end %>
<% if !params[:no_events_banner] && @organisation.unsanitized_ok? && @organisation.events_banner && (!current_account || ((organisationship = @organisation.organisationships.find_by(account: current_account)) && !organisationship.monthly_donor?)) %>
  <%== @organisation.events_banner %>
<% end %>
<% if params[:no_search] %>
  <% unless params[:no_listings] || params[:no_view_options]  %>
    <%= partial :'events/view_options' %>
  <% end %>
<% else %>
  <div class="<%= params[:minimal] ? 'mb-3 mt-1' : 'my-3' %>">
    <%= partial :'organisations/events_search_form' %>
  </div>
<% end %>

<% if !params[:search] && !params[:event_tag_id] && !params[:page] && !params[:carousel_ids] && !params[:near] %>
  <% if @organisation.featured_events.count > 0 %>
    <div data-with-placeholder data-pagelet-url="/o/<%= @organisation.slug %>/carousels/featured?hide_featured_title=<%=params[:hide_featured_title]%>">
      <%= partial :'events/carousel_placeholder' %>
    </div>
  <% end %>
  <% if (carousels = @organisation.carousels.and(:hidden.ne => true).order('o asc')).count > 0 %>
    <% carousels.each_with_index { |carousel,i| next if params[:first_carousel_only] && i > 0 %>
    <div id="carousel-<%= carousel.id %>" data-with-placeholder data-pagelet-url="/o/<%= @organisation.slug %>/carousels/<%= carousel.id %>">
      <%= partial :'events/carousel_placeholder' %>
    </div>
    <% } %>
  <% end %>
<% end %>

<% if params[:minimal] %>
  <%== '<div id="events-container" class="container-fluid">' %>
<% end %>
<% if params[:display] == 'map' %>
  <%= partial :'maps/map', locals: { url: "/o/#{@organisation.slug}/events", bounding_box: @bounding_box&.flatten, fill_screen: true } %>
<% elsif params[:display] == 'calendar' %>
  <%= partial :'events/calendar' %>
<% elsif params[:display] == 'table' %>
  <%= partial :'events/table' %>
<% elsif params[:display] == 'concise' %>
  <%= partial :'events/concise' %>
<% else %>
  <div data-pagelet-url="/o/<%=@organisation.slug%>/events?<%= request.query_string %>">
    <%= partial :'organisations/events' %>
  </div>
<% end %>
<% if params[:minimal] %>
  <%== '</div>' %>
<% end %>
