<%= partial :'organisations/nav', locals: { organisation: @organisation } %>


<div class="search well">

  <% form_tag '', method: 'get', class: 'submitOnChange searchForm mb-0 mb-lg-3' do %>
    <div class="form-row align-items-end">
      <div class="form-group col-12 col-sm-auto">
        <label>Name</label>
        <%= text_field_tag :name, class: 'form-control', value: params[:name] %>
      </div>
      <div class="form-group col-12 col-sm-auto">
        <label>Email</label>
        <%= text_field_tag :email, class: 'form-control', value: params[:email] %>
      </div>
    </div>
    <div class="form-row align-items-end mt-1">
      <%= checkbox 'Monthly donor', form_group_class: 'col-12 col-sm-auto' %>
      <%= checkbox 'Not a monthly donor', form_group_class: 'col-12 col-sm-auto' %>
      <%= checkbox 'Connected to Stripe', form_group_class: 'col-12 col-sm-auto' %>
      <%= checkbox 'Subscribed to mailer', form_group_class: 'col-12 col-sm-auto' %>
      <div class="form-group col-12 col-sm-auto">
        <%= submit_tag 'Search', class: 'btn btn-primary mb-0' %>
      </div>
    </div>
  <% end %>

</div>

<div class="mb-3">
  <a class="btn btn-primary" href="javascript:;" onclick="
          alert('CSV, two columns, with headers: name, email');
          $('#member-upload').show().find('input').click()
         ">Upload CSV</a>
  <a class="btn btn-primary" href="/o/<%= @organisation.slug %>/followers.csv?<%= request.query_string %>">Download CSV</a>
  <a class="btn btn-primary" href="javascript:;" onclick="$(this).hide();$('#add-follower-form').show().find('input[name=email]').focus()"><i class="bi bi-plus-lg"></i> Add a follower</a>
</div>

<div class="mb-3">
  <% form_tag "/o/#{@organisation.slug}/add_follower", class: 'form-inline', style: 'display: none', id: 'add-follower-form' do %>
    <%= email_field_tag :email, class: 'form-control mr-1', placeholder: 'Email' %>
    <%= submit_tag 'Add follower', class: 'mt-1 mt-sm-0 btn btn-primary' %>
  <% end %>

  <% form_tag '', style: 'display: none', id: 'member-upload', multipart: true do %>
    <%= file_field_tag :csv, onchange: '$(this.form).submit()' %>
  <% end %>
</div>

<% organisationships = @organisationships.paginate(page: params[:page], per_page: 25) %>
<p><%== pagination_details organisationships, model: 'Person' %></p>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th style="min-width: 8em">Monthly donation</th>
        <th>Activities</th>
        <th>Local groups</th>
        <th>Subscribed</th>
        <th>Credit balance</th>
        <th>Following since</th>
        <th>Notes</th>
        <th></th>
      </tr>
    </thead>
    <% organisationships.each { |organisationship| account = organisationship.account %>
    <tr>
      <td>
        <%= partial :'accounts/account', locals: { account: account, show_email: true } %>
      </td>
      <td>
        <div data-pagelet-url="/organisationships/<%= organisationship.id %>/monthly_donation">
          <%= partial :'organisations/monthly_donation', locals: { organisationship: organisationship } %>
        </div>
      </td>
      <td>
        <% Activityship.and(:account => account, :activity_id.in => @organisation.activities.pluck(:id)).each { |activityship| %>
        <a href="/activities/<%= activityship.activity_id %>" class="label label-primary text-white d-inline-block mb-1"><%= activityship.activity.name %></a>
        <% } %>
      </td>
      <td>
        <% LocalGroupship.and(:account => account, :local_group_id.in => @organisation.local_groups.pluck(:id)).each { |local_groupship| %>
        <a href="/local_groups/<%= local_groupship.local_group_id %>" class="label label-primary text-white d-inline-block mb-1"><%= local_groupship.local_group.name %></a>
        <% } %>
      </td>
      <td>
        <div data-pagelet-url="/o/<%= @organisation.slug %>/subscribed/<%= organisationship.id %>">
          <%= partial :'organisations/subscribed', locals: { organisationship: organisationship } %>
        </div>
      </td>
      <td>
        <a href="/organisationships/<%= organisationship.id %>/credit_balance"><%= m organisationship.credit_balance, @organisation.currency %></a>
      </td>
      <td>
        <%= organisationship.created_at %>
      </td>
      <td>
        <div data-pagelet-url="/organisationships/<%= organisationship.id %>/notes">
          <%= partial :'organisations/notes', locals: { organisationship: organisationship } %>
        </div>
      </td>
      <td>
        <a data-confirm="Are you sure you want to remove this person from this organisation?" class="btn btn-danger btn-sm" href="/organisationships/<%= organisationship.id %>/destroy"><i class="bi bi-x-lg"></i></a>
      </td>
    </tr>
    <% } %>
  </table>
</div>
<%= will_paginate organisationships, page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
