<%= partial :'organisations/nav', locals: { organisation: @organisation } %>
<div class="row">
  <div class="col-12 col-lg-auto text-center">
    <% if @organisation.image %>
      <img style="width: 200px" src="<%= u @organisation.image.thumb('400x400').url %>">
    <% end %>
  </div>
  <div class="col-12 col-sm">
    <div class="text-center text-lg-left">
      <h1>
        <%= @organisation.name %>
        <span style="font-size: 60%" ><%= partial :'organisations/check', locals: {organisation: @organisation} %></span>
      </h1>
      <% if current_account %>
        <div class="row no-gutters">
          <div class="col ml-lg-2">
            <%= partial :'organisations/buttons' %>
          </div>
          <div class="col-auto">
            <div class="d-none d-lg-block">
              <% if organisation_monthly_donor_plus? %>
                <a class="btn btn-outline-primary" href="/o/<%= @organisation.slug %>/members">Members' area</a>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <%= partial :'accounts/new_compact' %>
      <% end %>
    </div>
    <%= partial :'organisations/table' %>
    <% if @organisation.intro_text %>
      <div class="wysiwyg links-blank">
        <big>
          <% buttons = @organisation.organisation_tiers.order('threshold asc').map { |organisation_tier| %(<a class="btn btn-primary mb-1" href="#{organisation_tier.gocardless_url}">#{m organisation_tier.threshold, @organisation.currency}</a>) }.join(' ') %>
          <%== Sanitize.fragment(@organisation.intro_text.gsub('[buttons]', buttons), Sanitize::Config::DANDELION) %>
        </big>
      </div>
    <% end %>
  </div>
</div>
<% if @organisation.news.count > 0 %>
  <h2 class="mt-5 mb-3">News</h2>
  <div data-with-placeholder data-pagelet-url="/o/<%= @organisation.slug %>/news">
    <%= partial :'pmails/blocks_placeholder' %>
  </div>
<% end %>
<% if organisation_admin? or @organisation.events_for_search.future_and_current_featured.count > 0 %>
  <h2 class="mt-5">Events</h2>
  <div data-with-placeholder data-pagelet-url="/o/<%= @organisation.slug %>/events_block">
    <%= partial :'organisations/events_block_placeholder' %>
  </div>
<% end %>
<% if organisation_admin? or @organisation.activities.active.count > 0 %>
  <div data-pagelet-url="/o/<%= @organisation.slug %>/activities"></div>
<% end %>
<% if organisation_admin? or @organisation.local_groups.count > 0 %>
  <div data-pagelet-url="/o/<%= @organisation.slug %>/local_groups"></div>
<% end %>
