<%= partial :'organisations/nav', locals: { organisation: @organisation } %>
<div class="row">
  <% if @organisation.image %>
    <div class="col-12 col-lg-auto text-center">
      <%= blurred_image_tag(@organisation.image, full_size: '400x400', css_class: 'mb-3', fixed_width: 200) %>
    </div>
  <% end %>
  <div class="col-12 col-sm">
    <div class="text-center text-lg-left">
      <h1>
        <%= @organisation.name %>
        <span style="font-size: 60%" ><%= partial :'organisations/check', locals: {organisation: @organisation} %></span>
      </h1>
      <% if current_account %>
        <%= partial :'organisations/buttons' %>
      <% else %>
        <%= partial :'accounts/new_compact' %>
      <% end %>
    </div>
    <%= partial :'organisations/table' %>
    <% if @organisation.intro_text && !@organisation.intro_text.match(/<h[1-6]\b/) %>
      <div class="wysiwyg links-blank readable">
        <% buttons = @organisation.organisation_tiers.order('threshold asc').map { |organisation_tier| %(<a class="btn btn-primary mb-1" href="https://pay.gocardless.com/#{organisation_tier.gc_plan_id}">#{m organisation_tier.threshold, @organisation.currency}</a>) }.join(' ') %>
        <%== Sanitize.fragment(@organisation.intro_text.gsub('[buttons]', buttons), Sanitize::Config::DANDELION) %>
      </div>
    <% end %>
  </div>
</div>

<% if @organisation.intro_text && @organisation.intro_text.match(/<h[1-6]\b/) %>
  <div class="wysiwyg links-blank readable">
    <% buttons = @organisation.organisation_tiers.order('threshold asc').map { |organisation_tier| %(<a class="btn btn-primary mb-1" href="https://pay.gocardless.com/#{organisation_tier.gc_plan_id}">#{m organisation_tier.threshold, @organisation.currency}</a>) }.join(' ') %>
    <%== Sanitize.fragment(@organisation.intro_text.gsub('[buttons]', buttons), Sanitize::Config::DANDELION) %>
  </div>
<% end %>

<% if @organisation.news.exists? %>
  <h2 class="mt-5 mb-3">Latest newsletters</h2>
  <div data-with-placeholder data-pagelet-url="/o/<%= @organisation.slug %>/news">
    <%= partial :'pmails/blocks_placeholder' %>
  </div>
<% end %>

<% if organisation_admin? or @organisation.events_including_cohosted.live.public.future_and_current.exists? %>
  <h2 class="mt-5">Events</h2>
  <div data-with-placeholder data-pagelet-url="/o/<%= @organisation.slug %>/events_block">
    <%= partial :'organisations/events_block_placeholder' %>
  </div>
<% end %>

<% if organisation_admin? or @organisation.activities.active.exists? %>
  <h2 class="mt-5">Activities</h2>
  <div data-with-placeholder data-pagelet-url="/o/<%= @organisation.slug %>/activities">
    <%= partial :placeholder %>
  </div>
<% end %>

<% if organisation_admin? or @organisation.local_groups.exists? %>
  <h2 class="mt-5">Local groups</h2>
  <div data-with-placeholder data-pagelet-url="/o/<%= @organisation.slug %>/local_groups">
    <%= partial :placeholder %>
  </div>
<% end %>

<% if @organisation.unscoped_event_feedbacks.exists? %>
  <h2 id="feedback" class="mt-5">Feedback on <%= @organisation.name %> events</h2>
  <div data-with-placeholder class="mt-3" data-pagelet-url="/o/<%= @organisation.slug %>/show_feedback">
    <%= partial :placeholder %>
  </div>
<% end %>
