<div class="text-center mb-3">
  <h2>
    <strong><%= @account.name %></strong>
    <br>
    invites you to become a member of
    <br>
    <strong><%= @organisation.name %></strong>
  </h2>
  <img title="<%= @account.name %>" class="rounded-circle my-3" style="width: 200px; background: white; border: 3px solid white" src="<%= u @account.picture_thumb_or_gravatar_url %>">
</div>
<% if params[:registered] %>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <% buttons = @organisation.organisation_tiers.order('threshold asc').map { |organisation_tier| %(<a target="_blank" class="btn btn-primary btn-lg mb-1" href="#{organisation_tier.gocardless_url}">#{m organisation_tier.threshold, @organisation.currency}</a>) }.join(' ') %>
          <% if @organisation.verified? && @organisation.affiliate_intro %>
            <big>
              <%== @organisation.affiliate_intro.gsub('%buttons%', %(<div class="text-center">#{buttons}</div>)) %>
            </big>
          <% else %>
            <h4 class="card-title">Choose a monthly amount that suits you:</h4>
            <%= buttons %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title">
            <% if  @organisation.monthly_donor_affiliate_reward %>
              Sign up today and you will both receive
              <strong><%= m @organisation.monthly_donor_affiliate_reward, @organisation.currency %> credit</strong>
              to spend on <%= @organisation.name %>'s events:
            <% else %>
              Let us know your name and email address to get started:
            <% end %>
          </h4>
          <script>
            $(function () {

              $('#new-account-form').submit(function () {
                if (!grecaptcha || grecaptcha.getResponse().length == 0) {
                  alert('Please confirm you are not a robot');
                  return false
                }
              })

            })
          </script>
          <% form_tag '/accounts/new', id: 'new-account-form' do |f| %>
            <%= hidden_field_tag :organisation_id, value: @organisation.id %>
            <%= hidden_field_tag :referrer_id, value: @account.id %>
            <%= text_field_tag :'account[name]', class: 'form-control mr-1 mb-1', required: true, placeholder: 'Name' %>
            <%= email_field_tag :'account[email]', class: 'form-control mr-1 mb-1', required: true, placeholder: 'Email' %>
            <div class="g-recaptcha" style="margin-bottom: 2px" data-sitekey="<%= ENV['RECAPTCHA_SITE_KEY'] %>"></div>
            <%= submit_tag 'Subscribe', class: 'btn d-block d-sm-inline btn-primary mb-1' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
