<%= partial :'organisations/nav', locals: { organisation: @organisation } %>
<div class="row align-items-center justify-content-center mb-3">
  <div class="col-12 col-lg-auto text-center">
    <% if @organisation.image %>
      <a href="/o/<%= @organisation.slug %>"><img src="<%= u @organisation.image.thumb('200x200').url %>"></a>
    <% end %>
  </div>
  <div class="col-12 col-sm text-center text-lg-left">
    <h1>
      <a href="/o/<%= @organisation.slug %>"><%= @organisation.name %></a>'s services
    </h1>
    <% if current_account %>
      <% if organisation_admin? %>
        <a class="btn btn-primary" href="/services/new?organisation_id=<%= @organisation.id %>">Create a service</a>
      <% end %>
    <% end %>
  </div>
</div>

<% @services = @services.paginate(page: params[:page], per_page: 50) %>
<%= partial :'services/blocks', locals: { services: @services } %>
<div class="mt-3">
  <%= will_paginate @services, inner_window: 0, outer_window: 0, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
</div>
