<%= partial :'organisations/nav', locals: { organisation: @organisation } %>
<% form_tag '', method: 'get', class: 'searchForm form-inline' do %>
  <div class="form-group">
    <label>Search services</label>
    <%= text_field_tag :q, class: 'form-control mx-1', value: params[:q] %>
  </div>
  <%= hidden_field_tag :search, value: 1 %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>
<h2 class="my-3">
  <span class="badge badge-primary"><%= pluralize @services.count, 'service' %></span>
</h2>
<script>
  $(function () {
    if ($(window).width() > 768)
      $('#service_stats').stickyTableHeaders({zIndex: 9999})
  })
</script>
<%= partial :'services/service_stats', locals: { services: @services } %>
