<div class="mb-3">
  <div class="row">
    <div class="col">
      <% form_tag '', method: 'get', class: 'submitOnChange searchForm form-inline' do %>
        <div class="form-group">
          <label>Search people</label>
          <%= text_field_tag :q, class: 'form-control', value: params[:q] %>
        </div>
        <%= checkbox 'Subscribed to mailer' %>
        <%= submit_tag 'Search', class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="col-12 col-sm-auto">
      <a class="btn btn-primary" href="javascript:;" onclick="
          alert('CSV, two columns, with headers: name, email');
          $(this).hide();
          $('#member-upload').show().find('input').click()
         ">Upload CSV</a>
      <a class="btn btn-primary" href="<%= resource_path %>/followers.csv?<%= request.query_string %>">Download CSV</a>
    </div>
  </div>
  <% form_tag '', class: 'mt-3', style: 'display: none', id: 'member-upload', multipart: true do %>
    <%= file_field_tag :csv, onchange: '$(this.form).submit()' %>
  <% end %>
</div>

<a class="btn btn-primary mb-3" href="javascript:;" onclick="$(this).hide().next().show().find('input[name=email]').focus()"><i class="bi bi-plus-lg"></i> Add a follower</a>
<div style="display: none" class="mb-3">
  <% form_tag "#{resource_path}/add_follower", class: 'form-inline' do %>
    <%= email_field_tag :email, class: 'form-control mr-1', placeholder: 'Email' %>
    <%= submit_tag 'Add follower', class: 'mt-1 mt-sm-0 btn btn-primary' %>
  <% end %>
</div>

<p><%== pagination_details resourceships, model: 'Person' %></p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Subscribed</th>
      <th>Following since</th>
      <th></th>
    </tr>
  </thead>
  <% resourceships.each { |resourceship| account = resourceship.account %>
  <tr>
    <td>
      <%= partial :'accounts/account', locals: { account: account, show_email: organisation_admin?(resource.organisation) } %>
    </td>
    <td>
      <div data-pagelet-url="<%= resource_path %>/subscribed/<%= resourceship.id %>">
        <%= partial :"#{resource.class.name.pluralize.underscore}/subscribed", locals: { "#{resourceship_name}": resourceship } %>
      </div>
    </td>
    <td>
      <%= resourceship.created_at %>
    </td>
    <td>
      <a data-confirm="Are you sure you want to remove this person?" class="btn btn-danger btn-sm" href="/<%=resourceship_name.pluralize%>/<%= resourceship.id %>/destroy"><i class="bi bi-x-lg"></i></a>
    </td>
  </tr>
  <% } %>
</table>
<%= will_paginate resourceships, page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
