<% if current_account %>
  <% resourceship = current_account.send(:"#{resourceship_name.pluralize}").find_by(:"#{resource.class.name.underscore}" => resource)
     state_options = {
       'not_following' => 'Follow',
       'follow_without_subscribing' => 'Following',
       'follow_and_subscribe' => 'Following with email updates <i class="bi bi-envelope-fill"></i>'
     }
     current_state = if resourceship
                       resourceship.unsubscribed ? 'follow_without_subscribing' : 'follow_and_subscribe'
                     else
                       'not_following'
                     end
     text = state_options[current_state]
     action_options = {
       'not_following' => 'Unfollow',
       'follow_without_subscribing' => 'Follow',
       'follow_and_subscribe' => 'Follow with email updates <i class="bi bi-envelope-fill"></i>'
     }

     action_options.delete('not_following') if resourceship && resourceship.admin? %>
  <% if resourceship || !resource.respond_to?(:privacy) || resource.privacy == 'open' %>
    <% if current_state == 'not_following' %>
      <a class="pagelet-trigger btn btn-outline-primary <%= btn_class if defined?(btn_class) %>" href="<%=resource_path%>/<%=resourceship_name%>?f=follow_and_subscribe">Follow</a>
    <% else %>
      <div class="dropdown d-inline-block">
        <button class="btn mb-1 <%= btn_class if defined?(btn_class) %> <%= current_state == 'not_following' ? 'btn-outline-primary' : 'btn-primary' %> dropdown-toggle" type="button" data-toggle="dropdown">
          <%== text %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% action_options.invert.each { |text,value| %>
          <a class="pagelet-trigger dropdown-item" href="<%=resource_path%>/<%=resourceship_name%>?f=<%= value %>"><%== text %></a>
          <% } %>
        </div>
      </div>

      <% if resourceship.admin? %>
        <% if resourceship.receive_feedback? %>
          <a class="btn mb-1 btn-primary" href="<%=resource_path %>/receive_feedback/0">Receiving feedback</a>
        <% else %>
          <a class="btn mb-1 btn-outline-primary" href="<%=resource_path %>/receive_feedback/1">Not receiving feedback</a>
        <% end %>
      <% end %>

      <% if defined?(membership_toggle) && membership_toggle %>
        <% if !resourceship.hide_membership? %>
          <a class="btn mb-1 btn-primary" href="<%=resource_path %>/hide_membership">Membership public</a>
        <% else %>
          <a class="btn mb-1 btn-outline-primary" href="<%=resource_path %>/show_membership">Membership hidden</a>
        <% end %>
      <% end %>

    <% end %>
  <% elsif resource.respond_to?(:privacy) && resource.privacy == 'closed'; activity = resource %>
    <% if existing_application = activity.activity_applications.and(account: current_account).first %>
      <a class="btn mb-1 btn-outline-primary" href="/activities/<%= activity.id %>/activity_applications/latest">View latest application</a>
    <% end %>
    <a class="btn mb-1 btn-primary" href="/activities/<%= activity.id %>/apply"><%= existing_application ? 'Apply again' : 'Apply' %></a>
  <% elsif resource.respond_to?(:privacy) && resource.privacy == 'secret' %>
    <span class="btn mb-1 btn-outline-primary">Invitation-only</span>
  <% end %>
<% end %>
