<script>
  $(function() {
    $('.doc-link').on('click', function(e) {
      e.preventDefault();
      var href = $(this).attr('href');
      history.pushState(null, null, href);
      scrollToTarget(href);
    });

    function scrollToTarget(href) {
      var targetId = href.split('#')[1];
      var $target = $('#' + targetId);
      var headerHeight = $('#header').outerHeight();
      $('html, body').animate({
        scrollTop: $target.offset().top - headerHeight
      }, 500);
    }

    $(window).on('popstate', function() {
      if (window.location.hash) {
        scrollToTarget(window.location.hash);
      }
    });

    if (window.location.hash) {
      window.scrollTo(0, 0);
      scrollToTarget(window.location.hash);
    }
  });
</script>

<ul class="list-unstyled" style="font-size: 1.25em">
  <% DocPage.order('priority desc').each { |doc_page| active = false %>
  <li>
    <a <% if @doc_page && @doc_page == doc_page; active = true %> class="font-weight-bold" <% end %> href="/docs/<%=doc_page.slug%>"><%=doc_page.name %></a>
    <% if active %>
      <ul style="list-style-type: square; font-size: 75%">
        <% doc_page.body.scan(/<h2>(.*?)<\/h2>/).each do |h2| %>
          <li><a href="/docs/<%=doc_page.slug%>#<%=h2.first.parameterize%>" class="doc-link"><%= h2.first %></a></li>
        <% end %>
      </ul>
    <% end %>
  </li>
  <% } %>
</ul>
