<script>
  $(function() {
    $('#doc-body h2:not(:first)').addClass('mt-5')
    $('#doc-body pre code').each(function() { hljs.highlightElement(this) })
    var headerHeight = $('#header').height() + parseInt($('.content').css('paddingTop'))
    $('#sticky-index').css('top', headerHeight)
    $('#sticky-index').css('max-height', 'calc(100vh - ' + headerHeight + 'px)')
  })
</script>

<div class="row">
  <div class="col-lg-3">
    <div class="mr-3" style="position: sticky; overflow-y: auto;" id="sticky-index">
      <%= partial :'docs/index' %>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="row no-gutters justify-content-between" style="border-bottom: 2px solid #ddd">
      <div class="col">
        <h1>
          <%= @doc_page[:name] %>
        </h1>
      </div>
    </div>
    <% if @doc_page[:raw_content].present? %>
      <div class="my-3" style="font-size: 120%" id="doc-body">
        <% doc = Nokogiri::HTML.fragment(@doc_page[:html_body])
          doc.css('h2').each do |h2|
            h2['id'] = h2.text.parameterize
          end %>
        <%== doc.to_html %>
      </div>
    <% end %>

    <% if current_account  %>
      <div data-pagelet-url="/docs/question">
        <%= partial :'docs/question' %>
      </div>
    <% else %>
      <p class="lead">
        Still need support? <a href="mailto:<%=ENV['CONTACT_EMAIL']%>">Get in touch via email</a>
      </p>
    <% end %>

  </div>
</div>
