<div class="row">
  <div class="col-lg-2">
    <div class="mr-3">
      <%= partial :'docs/index' %>
    </div>
  </div>
  <div class="col-lg-10">
    <div class="row no-gutters justify-content-between" style="border-bottom: 2px solid #ddd">
      <div class="col">
        <h1>
          <%=@doc_page.name%>
          <i class="fas fa-book"></i>
        </h1>
      </div>
      <div class="col-auto">
        <% if admin? %>
          <a class="btn btn-primary" href="/docs/<%=@doc_page.slug%>/edit">Edit <i class="fa fa-pencil"></i></a>
        <% end %>
      </div>
    </div>
    <% if @doc_page.body %>
      <div class="my-3" style="font-size: 120%">
        <%== @doc_page.body %>
      </div>
    <% end %>
    <% if current_account %>
      <div class="mt-5" data-pagelet-url="/commentable?commentable_type=DocPage&commentable_id=<%= @doc_page.id %>">
        <%= partial :'comments/commentable', locals: { commentable: @doc_page } %>
      </div>
    <% end %>


    <p class="lead">
      Still need support? <a href="https://t.me/+R7KW5DZWA-w0NWU0">Join our Telegram group</a> or
      <a href="mailto:contact@dandelion.earth">email us</a>
    </p>

  </div>
</div>
