<% if params[:minimal] %>
  <%== '<div class="container-fluid my-3">' %>
<% end %>

<style>
  #view-options .btn {
    background-color: white;
  }
  #view-options .btn:hover {
    color: inherit;
  }
</style>
<script>
  $(function() {
    function handleViewOptionsTooltips() {
      var $tooltips = $('#view-options [title]');
      if ($(window).width() >= 992) {
        $tooltips.each(function() {
          $(this).tooltip('dispose').removeAttr('data-toggle');
        });
      } else {
        $tooltips.each(function() {
          if (!$(this).attr('data-toggle')) {
            $(this).attr('data-toggle', 'tooltip').tooltip({
              html: true,
              title: $(this).attr('title')
            });
          }
        });
      }
    }

    handleViewOptionsTooltips();
    $(window).on('resize', handleViewOptionsTooltips);
  });
</script>
<%
  view_options = [
    { key: 'list', label: 'List', icon: 'bi-list-task', active: !params[:display].in?(%w[map calendar]) },
    { key: 'map', label: 'Map', icon: 'bi-geo-alt-fill', active: params[:display] == 'map' }
  ]
%>
<div class="row" id="view-options">

  <div class="col-12 col-lg-auto">

    <ul class="pl-0 mb-3 d-flex align-items-center">
      <li class="list-inline-item">
        <label class="mb-0">View as</label>
      </li>
      <% view_options.each do |opt| %>
        <li class="list-inline-item">
          <a data-toggle="tooltip" title="<%= opt[:label] %> view" class="btn <%= 'btn-outline-primary' if opt[:active] %>" href="<%= view_url(opt[:key], path: (path if defined?(path))) %>">
            <i class="bi <%= opt[:icon] %>"></i> <span class="d-none d-lg-inline"><%= opt[:label] %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <% if params[:display] != 'map' %>
    <div class="col-12 col-lg-auto">
      <% form_tag (path if defined?(path)).to_s, method: 'get', class: 'form-inline submitOnChange' do %>
        <% view_base_params.reject { |k, _| %w[search order slug].include?(k) }.each do |k, v| %>
          <%= hidden_field_tag k, value: v %>
        <% end %>
        <%= hidden_field_tag :search, value: 1 %>
      <% end %>
    </div>
  <% end %>

</div>

<% if params[:minimal] %>
  <%== '</div>' %>
<% end %>
