<%= partial :'gatherings/nav', locals: { gathering: @gathering, membership: @membership } %>
<div class="my-3">
  <a class="btn btn-primary show mb-1" href="javascript:;" onclick="$(this).parent().find('a.show').hide(); $(this).next().show()"><i class="bi bi-plus"></i> Add an option</a>
  <div style="display: none" class="option-form">
    <%= partial :'options/build' %>
  </div>
  <% if @membership.admin? %>
    <a class="btn btn-primary show mb-1" href="javascript:;" onclick="$(this).parent().find('a.show').hide(); $(this).next().show()"><i class="bi bi-person-fill-add"></i> Add someone to an option</a>
    <div style="display: none" class="option-form mt-3">
      <%= partial :'options/optionship' %>
    </div>
  <% end %>
</div>
<div data-pagelet-url="/g/<%= @gathering.slug %>/options">
  <%= partial :'options/options' %>
</div>
