<%= partial :'local_groups/nav', locals: { local_group: @local_group } %>
<% form_for @local_group, @local_group.new_record ? '/local_groups/new' : "/local_groups/#{@local_group.id}/edit" do |f| %>
  <%= hidden_field_tag :'local_group[organisation_id]', value: @local_group.organisation_id %>
  <%= f.text_block :name %>
  <div class="slugify">
    <%= f.shorturl_block :slug, stem: "#{ENV['BASE_URI']}/o/#{@local_group.organisation.slug}/lg/" %>
  </div>
  <%= f.wysiwyg_block :intro_text %>
  <script>
    $(document).ready(function() {
      $('#local_group_geometry').attr('rows', '8');
    });
  </script>
  <%= f.text_area_block :geometry %>
  <%= f.check_box_block :hide_members %>
  <%= f.submit_block destroy_url: "/local_groups/#{@local_group.id}/destroy" %>
<% end %>
