<%= partial :'local_groups/nav', locals: { local_group: @local_group } %>
<div class="row">
  <div class="col-12 col-sm">
    <div class="text-center text-lg-left">
      <h1>
        <%= @local_group.name %> group of <a href="/o/<%= @local_group.organisation.slug %>"><%= @local_group.organisation.name %></a>
      </h1>
      <% if current_account %>
        <div class="mb-2">
          <div class="d-inline-block mb-1" data-pagelet-url="/local_groups/<%= @local_group.id %>/local_groupship">
            <%= partial :'activities_and_local_groups/resourceship', locals: { resource: @local_group, resourceship_name: 'local_groupship', resource_path: "/local_groups/#{@local_group.id}" } %>
          </div>
          <% if current_account && local_groupship = @local_group.local_groupships.find_by(account: current_account) %>
            <% if !local_groupship.hide_membership? %>
              <a class="btn btn-primary d-inline-block" href="/local_groups/<%= @local_group.id %>/hide_membership">Membership public</a>
            <% else %>
              <a class="btn btn-outline-primary d-inline-block" href="/local_groups/<%= @local_group.id %>/show_membership">Membership hidden</a>
            <% end %>
            <% if local_groupship.admin? %>
              <% if local_groupship.receive_feedback? %>
                <a class="btn btn-primary" href="/local_groups/<%= @local_group.id %>/receive_feedback/0">Receiving feedback</a>
              <% else %>
                <a class="btn btn-outline-primary" href="/local_groups/<%= @local_group.id %>/receive_feedback/1">Not receiving feedback</a>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <%= partial :'accounts/new_compact' %>
      <% end %>
    </div>
    <table class="table table-hr">
      <% if @local_group.telegram_group %>
        <tr>
          <td>Telegram group</td>
          <td>
            <a target="_blank" href="<%= @local_group.telegram_group %>"><%= @local_group.telegram_group %></a>
          </td>
        </tr>
      <% end %>
      <% if local_group_admin? || @local_group.admins.count > 0 %>
        <tr>
          <td>Admins</td>
          <td>
            <%= partial :'accounts/add', locals: {
                  role: 'admin',
                  accounts: @local_group.admins.order('name asc'),
                  add_and_remove: local_group_admin?,
                  new_object: LocalGroupship.new,
                  new_url: "/local_groups/#{@local_group.id}/local_groupships/admin",
                  destroy_url: "/local_groups/#{@local_group.id}/local_groupships/unadmin"
                } %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="wysiwyg mt-3">
  <%== Sanitize.fragment(@local_group.intro_text, Sanitize::Config::DANDELION) %>
</div>

<% unless @local_group.hide_members? %>
  <div data-pagelet-url="/map?local_group_id=<%= @local_group.id %>">
    <%= partial :'maps/map', locals: { dynamic: true, trigger_bounds_changed: true, polygonables: [@local_group] } %>
  </div>
  <style>
    #map-canvas { height: 50vh !important; margin-top: 1rem; margin-bottom: 1rem }
  </style>
<% end %>
<h2 class="mt-5">Events</h2>
<a class="btn btn-primary mb-3" href="/o/<%= @local_group.organisation.slug %>/events?search=1&local_group_id=<%= @local_group.id %>">All events</a>
<% if local_group_admin? %>
  <a class="btn btn-primary mb-3" href="/events/new?local_group_id=<%= @local_group.id %>">Create an event</a>
<% end %>

<% events = @local_group.events.live.public.future_and_current_featured.paginate(page: params[:events_page], per_page: 5) %>
<% if events.count > 0 %>
  <%= partial :'events/blocks', locals: { events: events } %>
  <div class="mt-3">
    <%= will_paginate events, param_name: 'events_page', inner_window: 0, outer_window: 0, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
  </div>
<% else %>
  <div class="mb-3">
    <em>No upcoming events</em>
  </div>
<% end %>

<% events = @local_group.events.live.public.past.paginate(page: params[:past_events_page], per_page: 5) %>
<% if events.count > 0 %>
  <h3 class="mt-3">Past events</h3>
  <%= partial :'events/blocks', locals: { events: events } %>
  <div class="mt-3">
    <%= will_paginate events, param_name: 'past_events_page', inner_window: 0, outer_window: 0, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
  </div>
<% end %>
