<% if @membership.admin? %>
  <pre class="mt-3">
  <%== Account.and(:id.in => @mapplications.pluck(:account_id)).map { |account| "#{Sanitize.fragment(account.name)} &lt;#{Sanitize.fragment(account.email)}&gt;" }.join(', ') %>
</pre>
<% end %>

<% if params[:view] == 'pictures' %>
  <div class="row mt-3">
    <% (Account.and(:id.in => @mapplications.pluck(:account_id)).and(:image_uid.ne => nil).shuffle + Account.and(:id.in => @mapplications.pluck(:account_id)).and(image_uid: nil).shuffle).each { |account| %>
    <%= partial :'accounts/image', locals: { account: account } %>
    <% } %>
  </div>
<% else @mapplications = @mapplications.paginate(page: params[:page], per_page: 10) %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Applied on</th>
        <th>Proposers and supporters</th>
        <th></th>
      </tr>
    </thead>
    <% @mapplications.order('created_at desc').each { |mapplication| %>
    <tr data-pagelet-url="/mapplication_row/<%= mapplication.id %>">
      <%= partial :'mapplications/mapplication_row', locals: { mapplication: mapplication } %>
    </tr>
    <% } %>
  </table>
  <div style="text-align: center">
    <%= will_paginate @mapplications, page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
  </div>
<% end %>
