<% account = membership.account %>
<td>
  <%= partial :'accounts/account', object: account, locals: { membership: membership, show_email: viewable?(account, :email) } %>
  <% if admin? && !account.picture %>
    <% form_tag "/accounts/#{account.id}/picture", multipart: true do %>
      <%= file_field_tag :picture, onchange: 'this.form.submit()' %>
    <% end %>
  <% end %>
  <div>
    <% membership.teamships.each { |teamship| unless teamship.team.name == 'General' %>
    <a href="/g/<%= @gathering.slug %>/teams/<%= teamship.team_id %>">
      <span class="label label-primary d-inline-block mb-1"><%= teamship.team.name %></span>
    </a>
  <% end } %>
</div>
</td>
<td>
  <%= partial :'accounts/buttons', locals: { account: account, btn_class: 'btn-sm' } %>
</td>
<td>
  <%= membership.proposed_by.map(&:name).to_sentence(last_word_connector: ' and ') if membership.proposed_by %>
</td>
<td>
  <% mapplication = membership.mapplication; if mapplication and mapplication.answers %>
  <a href="javascript:;" onclick="$('#modal .modal-content').load('/g/<%= @gathering.slug %>/mapplications/<%= mapplication.id %>', function () {
          $('#modal').modal('show')
        });">
    <%= membership.created_at %>
  </a>
<% else %>
  <%= membership.created_at %>
<% end %>
<% if mapplication %>
  <span title="Accepted at <%= mapplication.verdicts.proposers.count + mapplication.verdicts.supporters.count %> <%= @gathering.vouchers %>" class="label label-primary d-inline-block mb-1"><%= mapplication.verdicts.proposers.count + mapplication.verdicts.supporters.count %></span>
<% end %>
</td>
<% if @gathering.democratic_threshold %>
  <td><%= membership.desired_threshold %></td>
<% end %>
<% if @gathering.events.count > 0 %>
  <td>
    <% @gathering.events.each { |event| %>
    <% event.tickets.complete.and(account: account).each { |ticket| %>
    <a href="/events/<%=event.id%>/tickets" class="text-white label label-primary mb-1 d-inline-block" style="text-decoration: none"><i class="fa fa-ticket"></i> <%= (ticket.ticket_type.name + ', ') if ticket.ticket_type%><%= event.name %></a>
    <% } %>
    <% } %>
  </td>
<% end %>
<% if @gathering.enable_contributions %>
  <td>
    <% membership.optionships.each { |optionship| option = optionship.option %>
    <% if !@membership.admin? && optionship.option.hide_members? %>
      <a href="/g/<%= @gathering.slug %>/options" class="label label-default text-white d-inline-block mb-1">
        <i class="fa <%= optionship.option.icon %>"></i> <%= optionship.option.type %>
      </a>
    <% else %>
      <a title="<%= optionship.option.type %>" href="/g/<%= @gathering.slug %>/options" class="label label-primary text-white d-inline-block mb-1">
        <i class="fa <%= optionship.option.icon %>"></i> <%= optionship.option.name %> (<%= m optionship.option.cost_per_person, @gathering.currency %>)
      </a>
    <% end %>
    <% } %>
  </td>
  <% if @membership.admin? || !@gathering.hide_paid %>
    <td>
      <%= m membership.requested_contribution, @gathering.currency %>
    </td>
    <td>
      <% if @membership.admin? %>
        <% if membership.paid %>
          <a href="javascript:;" onclick="$(this).hide().next().show().find('input').focus()"><%= m membership.paid, @gathering.currency.to_s if membership.paid %></a>
        <% end %>
        <% form_tag "/memberships/#{membership.id}/paid", style: ('display:none' if membership.paid) do %>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><%= Money.new(0, @gathering.currency).symbol %></span>
            </div>
            <%= number_field_tag :paid, class: 'form-control', style: 'width: 6em', value: membership.paid, onblur: '$(this.form).submit()' %>
          </div>
        <% end %>
      <% else %>
        <%= m membership.paid, @gathering.currency.to_s if membership.paid %>
      <% end %>
    </td>
  <% end %>
<% end %>
<% if @gathering.enable_rotas? && @gathering.rotas.count > 0 %>
  <td>

    <%= partial :'rotas/shift_summary', locals: {membership: membership} %>

    <% if @gathering.enable_shift_worth %>
      <span data-toggle="tooltip" title="<%= sprintf('%g', membership.shift_points) %>/<%= pluralize(membership.shift_points_required ? sprintf('%g', membership.shift_points_required) : '?', 'shift point') %>">
        <% if @membership.admin? %>
          <%= sprintf('%g', membership.shift_points) %>/<a href="javascript:;" onclick="$(this).hide().next().css('display', 'inline').find('input').focus()"><%= membership.shift_points_required ? sprintf('%g', membership.shift_points_required) : '?' %></a>
          <% form_tag "/memberships/#{membership.id}/shift_points_required", class: 'form-inline', style: 'display:none' do %>
            <%= number_field_tag :shift_points_required, class: 'form-control', style: 'width: 6em', min: 0, value: membership.shift_points_required, onblur: '$(this.form).submit()' %>
          <% end %>
        <% else %>
          <%= sprintf('%g', membership.shift_points) %>/<%= membership.shift_points_required ? sprintf('%g', membership.shift_points_required) : '?' %>
        <% end %>
      </span>
    <% end %>

  </td>
<% end %>
<% if (admin? || @membership.admin?) || !@gathering.hide_invitations %>
  <td>
    <% if @membership.admin? %>
      <% if membership.smart_invitations_granted %>
        <%= membership.invitations_extended %>/<a href="javascript:;" onclick="$(this).hide().next().css('display', 'inline').find('input').focus()"><%= membership.smart_invitations_granted %></a>
      <% end %>
      <% form_tag "/memberships/#{membership.id}/invitations_granted", class: 'form-inline', style: 'display:none' do %>
        <%= number_field_tag :invitations_granted, class: 'form-control', style: 'width: 6em', min: 0, value: membership.smart_invitations_granted, onblur: '$(this.form).submit()' %>
      <% end %>
    <% else %>
      <%= membership.invitations_extended %>/<%= membership.smart_invitations_granted %>
    <% end %>
  </td>
<% end %>
<% if @membership.admin? %>
  <td style="font-size: 13px">
    <% y = [] %>
    <% if membership.admin %>
      <% y << capture do %>
        <a class="btn btn-outline-primary mb-1" href="/memberships/<%= membership.id %>/unadmin">Unadmin</a>
      <% end %>
    <% else %>
      <% y << capture do %>
        <a class="btn btn-outline-primary mb-1" href="/memberships/<%= membership.id %>/make_admin">Make admin</a>
      <% end %>
    <% end %>
    <% y << capture do %>
      <a class="btn btn-outline-primary mb-1" data-confirm="Are you sure you want to remove this person from the gathering?" href="/memberships/<%= membership.id %>/remove">Remove</a>
    <% end %>
    <%== y.map(&:strip).join(' ') %>
  </td>
<% end %>
