<% if @membership.requested_contribution and @membership.requested_contribution > 0 and (!@membership.paid or (@membership.paid < @membership.requested_contribution)) %>
  <div id="owed" class="card text-white bg-danger mb-3">
    <div class="card-body">
      You owe <%= m (@membership.requested_contribution - @membership.paid), @gathering.currency %>.
      (You've paid <%= m (@membership.paid or 0), @gathering.currency %> of a requested contribution of <%= m @membership.requested_contribution, @gathering.currency %>.)
      <div style="margin-top: 10px">
        <%= partial :'gatherings/pay', locals: { amount: (@membership.requested_contribution - @membership.paid) } %>
      </div>
    </div>
  </div>

  <% if @gathering.chain %>
    <div class="card" id="pay-with-evm" style="display: none">
      <h3 class="card-header chill">
        Pay with <%= @gathering.chain.name %>
      </h3>
      <div class="card-body">
        <p class="lead please"></p>
        <p class="web3wallet"></p>
        <% if @gathering.chain.name == 'Celo' %>
          <div class="qr mb-3">
            <p class="mb-1">or use this QR code with Valora:</p>
            <div id="qrcode"></div>
            <script type="text/javascript">
              new QRCode(document.getElementById("qrcode"), "celo://wallet/pay?address=<%=@gathering.evm_address%>");
            </script>
          </div>
        <% end %>
        <p>Making a manual transaction? You will find pasting these details easier if you 'Expand view' first.</p>
        <p>Looking for your transaction... <i class="bi bi-spin bi-slash-lg"></i></p>
      </div>
    </div>
  <% end %>

<% end %>

<script>
  $(function() {
    $('.contribution-label').text('<%=%(#{m (@membership.paid or 0), @gathering.currency}/#{m @membership.requested_contribution, @gathering.currency})%>').removeClass('label-danger')
    <% if @membership.requested_contribution and @membership.requested_contribution > 0 and (!@membership.paid or (@membership.paid < @membership.requested_contribution)) %>
      $('.contribution-label').addClass('label-danger')
    <% end %>
  })
</script>
