<% if @membership.requested_contribution and @membership.requested_contribution > 0 and (!@membership.paid or (@membership.paid < @membership.requested_contribution)) %>
  <div id="owed" class="card text-white bg-danger mb-3">
    <div class="card-body">
      You owe <%= m (@membership.requested_contribution - @membership.paid), @gathering.currency %>.
      (You've paid <%= m (@membership.paid or 0), @gathering.currency %> of a requested contribution of <%= m @membership.requested_contribution, @gathering.currency %>.)
      <div style="margin-top: 10px">
        <%= partial :'gatherings/pay', locals: { amount: (@membership.requested_contribution - @membership.paid) } %>
      </div>
    </div>
  </div>

  <div class="card" id="pay-with-seeds" style="display: none">
    <h3 class="card-header bg-primary text-white">Pay with SEEDS</h3>
    <div class="card-body">
      <p class="lead please"></p>
      <p class="lead memo text-monospace font-weight-bold text-center"></p>
      <p>Looking for your transaction... <i class="fa fa-spin fa-circle-o-notch"></i></p>
    </div>
  </div>

  <div class="card" id="pay-with-xdai" style="display: none">
    <h3 class="card-header bg-primary text-white">Pay with xDai</h3>
    <div class="card-body">
      <p class="lead please"></p>
      <p class="metamask"></p>
      <p>Making a manual transaction with Metamask? You will find pasting these details easier if you 'Expand view' first.</p>
      <p>Looking for your transaction... <i class="fa fa-spin fa-circle-o-notch"></i></p>
    </div>
  </div>
<% end %>

<script>
$(function() {
  $('.contribution-label').text('<%=%(#{m (@membership.paid or 0), @gathering.currency}/#{m @membership.requested_contribution, @gathering.currency})%>').removeClass('label-danger')
  <% if @membership.requested_contribution and @membership.requested_contribution > 0 and (!@membership.paid or (@membership.paid < @membership.requested_contribution)) %>
    $('.contribution-label').addClass('label-danger')
  <% end %>
})
</script>
