<% form_tag '', class: 'form-inline no-trigger', id: 'pay-form' do %>
  <div class="form-group mb-1 mr-1">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><%= money_symbol(@gathering.currency) %></span>
      </div>
      <% if @gathering.enable_partial_payments %>
        <%= number_field_tag :amount, value: (amount if defined?(amount)), style: 'width: 5em;', required: 'required', class: 'form-control', id: 'amount' %>
      <% else %>
        <%= number_field_tag :amount, value: (amount if defined?(amount)), style: 'width: 5em;', disabled: true, class: 'form-control' %>
        <%= hidden_field_tag :amount, value: (amount if defined?(amount)), id: 'amount' %>
      <% end %>
    </div>
  </div>
  <% GatheringPaymentMethod.all.each do |pm| %>
    <% next unless pm.available?(@gathering) %>
    <button data-payment-method="<%= pm.name %>" type="submit" class="btn btn-default mb-1 ml-0 mr-1" style="height: 2.125rem">
      <span><%= pm.button_label(@gathering) %></span>
      <i class="bi bi-spin bi-slash-lg" style="display: none"></i>
    </button>
    <%= hidden_field_tag :payment_method, value: pm.name, disabled: true %>
  <% end %>


<% end %>

<%
  pay_config = {
    gatheringSlug: @gathering.slug,
    currency: @gathering.currency,
    currencySymbol: money_symbol(@gathering.currency),
    stripePk: @gathering.stripe_pk,
    evmAddress: @gathering.evm_address,
    contractAddress: (@gathering.currency == 'USD' ? Token.object('BREAD').contract_address : @gathering.token.try(:contract_address)),
    networkId: @gathering.chain.try(:network_id),
    networkName: @gathering.chain.try(:name)
  }
%>
<script type="application/json" id="gathering-pay-config">
  <%== pay_config.to_json %>
</script>
<% if @gathering.evm_address && @gathering.chain %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.3.4/web3.min.js"></script>
  <script src="/javascripts/evm_payment.js?<%= @cachebuster %>"></script>
<% end %>
<script src="/javascripts/gathering_payment_handlers.js?<%= @cachebuster %>"></script>
<script src="/javascripts/gathering_pay.js?<%= @cachebuster %>"></script>
