<% if @gathering.demand_payment && @membership.paid == 0 %>
  <div class="alert alert-danger mb-0">
    <a href="/g/<%= @gathering.slug %>/options">Make a payment</a> to access gathering content.
  </div>
<% end %>

<table class="table table-borderless">
  <% if @gathering.enable_contributions? && @gathering.options.count > 0 %>
    <tr>
      <th>
        Your options
      </th>
      <td>
        <% if @membership && @membership.optionships.count > 0 %>
          <% @membership.optionships.each { |optionship| %>
          <a title="<%= optionship.option.type %>" href="/g/<%= @gathering.slug %>/options" class="label label-primary text-white d-inline-block mb-1">
            <i class="bi <%= optionship.option.icon %>"></i> <%= optionship.option.name %> (<%= m optionship.option.cost_per_person, @gathering.currency %>)
          </a>
          <% } %>
        <% else %>
          <a href="/g/<%= @gathering.slug %>/options">
            <%= @gathering.choose_and_pay_label || 'Choose & Pay' %>
          </a>
        <% end %>
      </td>
    </tr>
  <% end %>
  <% if @gathering.enable_teams? && @gathering.teams.count > 0 %>
    <tr>
      <th>
        Your teams
      </th>
      <td>
        <% if @membership && @membership.teamships.count > 0 %>
          <% @membership.teamships.each { |teamship| %>
          <a href="/g/<%= @gathering.slug %>/teams/<%= teamship.team_id %>" class="label label-primary text-white d-inline-block mb-1">
            <%= teamship.team.name %>
          </a>
          <% } %>
        <% else %>
          <a href="/g/<%= @gathering.slug %>/teams">Join teams</a>
        <% end %>
      </td>
    </tr>
  <% end %>
  <% if @gathering.enable_rotas? && @gathering.rotas.count > 0 %>
    <tr>
      <th>
        Your shifts
      </th>
      <td>
        <% if @membership && @membership.shifts.count > 0 %>
          <%= partial :'rotas/shift_summary', locals: {membership: @membership} %>
        <% else %>
          <a href="/g/<%= @gathering.slug %>/rotas">Sign up to shifts</a>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= partial :'gatherings/owed' %>
