<%= partial :'gatherings/nav', locals: { gathering: @gathering, membership: @membership } %>
<div class="row">
  <div class="col-lg-4 order-lg-2 mb-3">
    <div data-pagelet-url="/g/<%= @gathering.slug %>/todos">
      <%= partial :'gatherings/todos' %>
    </div>
    <% if @gathering.intro_for_members %>
      <div class="card mb-3">
        <h5 class="card-header text-white bg-primary">Welcome to <%= @gathering.name %>!</h5>
        <div class="card-body pb-0">
          <div class="wysiwyg">
            <%== Sanitize.fragment(Rinku.auto_link(@gathering.intro_for_members), Sanitize::Config::DANDELION) %>
          </div>
        </div>
      </div>
    <% end %>
    <% if @gathering.coordinates %>
      <style>
        #map-canvas { height: 200px !important; margin-top: 1rem; margin-bottom: 0.25rem }
      </style>
      <%= partial :'maps/map', locals: { points: [@gathering] } %>
      <p class="text-muted" style="font-size: 90%"><%= @gathering.location %></p>
    <% end %>
    <h2>Online now</h2>
    <div class="image-wall">
      <% @gathering.members.and(:last_active.gt => 5.minutes.ago).each { |account| %>
      <%= partial :'accounts/square', locals: { account: account, content: ("#{time_ago_in_words account.last_active} ago" if account.last_active), width: '75px' } %>
      <% } %>
    </div>
  </div>
  <div class="col-lg-8 order-lg-1">
    <div class="mb-3">
      <div data-pagelet-url="/g/<%= @gathering.slug %>/subscribe" style="display: inline">
        <%= partial :'gatherings/subscribe', locals: { membership: @membership } %>
      </div>
      <% if @membership && @membership.hide_from_sidebar %>
        <a class="btn btn-outline-primary mb-1" href="/g/<%= @gathering.slug %>/show_in_sidebar">Hidden from sidebar</a>
      <% else %>
        <a class="btn btn-primary mb-1" href="/g/<%= @gathering.slug %>/hide_from_sidebar">Showing in sidebar</a>
      <% end %>
      <a class="btn btn-primary mb-1" href="/g/<%= @gathering.slug %>/copy">Copy</a>
      <a class="btn btn-primary mb-1" data-confirm="Are you sure you want to leave the gathering?" href="/g/<%= @gathering.slug %>/leave">Leave gathering</a>
    </div>
    <% if @membership.admin? or @gathering.photos.exists? %>
      <div class="my-3">
        <%= partial :'photos/photos', locals: { photoable: @gathering, add_photo_if: @membership.admin?, dimensions: '100x100#' } %>
      </div>
    <% end %>
    <div data-pagelet-url="/g/<%= @gathering.slug %>" data-pagelet-refresh="60">
      <%= partial :newsfeed, locals: { notifications: @gathering.notifications_as_circle.order('created_at desc').page(params[:page]), include_circle_name: false } %>
    </div>
  </div>
</div>
