<% if !current_account %>
  <h1>Gatherings</h1>
<% end %>
<a class="btn btn-primary mt-1 mt-lg-0 mb-3" href="/g/new"><i class="bi bi-plus-lg"></i> Create a gathering</a>

<%= partial :'gatherings/explain', locals: {read_more: true} %>

<% form_tag '/gatherings', method: 'get', class: 'submitOnChange searchForm form-inline mb-3' do %>
  <%= hidden_field_tag :display, value: params[:display] %>
  <%= hidden_field_tag :order, value: params[:order] %>
  <div class="form-group">
    <label>Search</label>
    <%= text_field_tag :q, class: 'form-control', value: params[:q] %>
  </div>
  <% if current_account %>
    <%= checkbox 'My gatherings' %>
  <% end %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
  <%= hidden_field_tag :search, value: 1 %>
<% end %>

<%
  view_options = [
    { key: 'blocks', label: 'Blocks', icon: 'bi-grid-fill', active: !params[:display].in?(['map']) },
    { key: 'map', label: 'Map', icon: 'bi-geo-alt-fill', active: params[:display] == 'map' }
  ]
%>
<div class="row justify-content-between mb-3 mb-lg-0">

  <div class="col-12 col-sm">

    <ul class="pl-0 mb-3 d-flex align-items-center">
      <li class="list-inline-item">
        <label class="mb-0">View as</label>
      </li>
      <% view_options.each do |opt| %>
        <li class="list-inline-item">
          <a class="btn <%= 'btn-outline-primary' if opt[:active] %>" href="<%= view_url(opt[:key], path: (path if defined?(path))) %>">
            <i class="bi <%= opt[:icon] %>"></i> <%= opt[:label] %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <% if params[:display] != 'map' %>
    <div class="col-12 col-lg-auto">
      <% form_tag (path if defined?(path)).to_s, method: 'get', class: 'form-inline submitOnChange' do %>
        <% view_base_params.reject { |k, _| %w[search order slug].include?(k) }.each do |k, v| %>
          <%= hidden_field_tag k, value: v %>
        <% end %>
        <%= hidden_field_tag :search, value: 1 %>
        <label class="mr-sm-2">Sort by</label>
        <%= select_tag :order, options: { 'Most recently created' => 'created_at', 'Most members' => 'membership_count' }, selected: params[:order], class: 'form-control' %>
      <% end %>
    </div>
  <% end %>

</div>

<% if params[:display] == 'map' %>
  <%= partial :'maps/map', locals: { url: "/gatherings", fill_screen: true } %>
<% else %>
  <%= partial :'gatherings/blocks', locals: { gatherings: @gatherings } %>
  <%= will_paginate @gatherings, param_name: 'gatherings_page', page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
<% end %>
