<% if @membership %>
  <script>
    $(function () {
      $('form[action$=join] .btn-primary').prop('disabled', true)
    });
  </script>
  <div class="card mt-3">
    <div class="card-body">
      <strong>Preview of joining form (you are already a member of <%= @gathering.name %>)</strong>
    </div>
  </div>
<% end %>
<div class="row" style="margin-top: 15px">
  <div class="col-lg-4 order-lg-1">
    <%= partial :'gatherings/cocreators' %>
  </div>
  <div class="col-lg-8 order-lg-0">
    <% if @gathering.intro_for_non_members %>
      <div class="wysiwyg">
        <%== Sanitize.fragment(Rinku.auto_link(@gathering.intro_for_non_members), Sanitize::Config::DANDELION) %>
      </div>
    <% end %>
    <% if @gathering.member_limit and @gathering.memberships.count >= @gathering.member_limit %>
      <p><em><%= @gathering.name %> is now full with all <%= @gathering.member_limit %> places taken</em></p>
    <% else %>
      <% form_for @account, "/g/#{@gathering.slug}/join", style: 'margin-top: 20px' do |f| %>
        <script>
          $(function () {
            $('.form-group > div.col-lg-6').removeClass('col-lg-6').addClass('col-lg-8')
          })
        </script>
        <% if !current_account or @membership %>
          <%= f.text_block :name %>
          <%= f.email_block :email %>
          <%= f.image_block :picture %>
        <% end %>
        <% @gathering.joining_questions_a.each_with_index { |q,i| %>
        <div class="form-group">
          <label>
            <%== Sanitize.fragment(Rinku.auto_link(q), Sanitize::Config::DANDELION) %>
          </label>
          <div>
            <%= text_area_tag "answers[#{i}]", class: 'autosize form-control', value: (params[:answers][i.to_s] if params[:answers]) %>
          </div>
        </div>
        <% } %>
        <%= f.submit_block button_text: 'Join' %>
      <% end %>
    <% end %>
  </div>
</div>
