<script>
  $(function() {
    $('#event-sessions').hover(
      function() {
        if (!$(this).find('#add-event-session').next('div').is(':visible')) {
          $(this).find('.add-to-calendar').show();
        }
      },
      function() {
        if (!$(this).find('#add-event-session').next('div').is(':visible')) {
          $(this).find('.add-to-calendar').hide();
        }
      }
    );
  });
</script>

<ul class="icon-list mb-0" id="event-sessions">
  <% event_sessions.each_with_index { |event_session,i| %>
  <li <% if i > 2%> style="display:none" <% end %>>
    <i data-toggle="tooltip" title="Session <%=i+1%>" class="bi bi-clock"></i>
    <%= when_details(event_session, with_zone: false) %>
    <span class="add-to-calendar" style="display: none">
      <small>
        <%= partial :'events/add_to_calendar', locals: { event_session: event_session } %>
      </small>
    </span>
  </li>
  <% if i == 2 && event_sessions.count > 3 %>
    <li>
      <i data-toggle="tooltip" class="bi bi-clock"></i>  <a href="javascript:;" onclick="$(this).hide().parent().nextAll().show()"><%= event_sessions.count - 3 %> more</a>
    </li>
  <% end %>
  <% } %>


  <% if add_and_remove %>
    <li>
      <i class="bi bi-clock"></i>
      <a data-toggle="tooltip" title="Add a session" id="add-event-session" href="javascript:;" onclick="$(this).hide().next().show();
        $('#remove-event-session').hide(); $('#event-sessions .add-to-calendar').hide()"><i class="bi bi-plus-square-fill"></i></a>
      <div style="display: none;">
        <% form_for new_object, new_url, class: 'bg-white shadow-sm p-3 mt-1 mb-3 rounded' do |f| %>
          <%= f.datetime_block :start_time, data: { 'flatpickr-min-date': @event.start_time.to_fs(:db_local), 'flatpickr-max-date': @event.end_time.to_fs(:db_local), 'flatpickr-linked-end': '#event_session_end_time' } %>
          <%= f.datetime_block :end_time, data: { 'flatpickr-min-date': @event.start_time.to_fs(:db_local), 'flatpickr-max-date': @event.end_time.to_fs(:db_local) } %>
          <%= f.submit_block button_text: 'Add session' %>
        <% end %>
      </div>
      <% if event_sessions.exists? %>
        <a data-toggle="tooltip" title="Remove a session" id="remove-event-session" href="javascript:;" onclick="$(this).hide().next().show();
        $('#add-event-session').hide(); $('#event-sessions .add-to-calendar').hide()"><i class="bi bi-dash-square-fill"></i></a>
        <div style="display: none">
          <% form_tag destroy_url, class: 'bg-white shadow-sm p-3 mt-1 mb-3 rounded' do |f| %>
            <%= select_tag :event_session_id, options: event_sessions.map { |event_session| [when_details(event_session, with_zone: false), event_session.id] }, class: 'form-control mb-1' %>
            <%= submit_tag 'Remove session', class: 'btn btn-danger' %>
          <% end %>
        </div>
      <% end %>
    </li>
  <% end %>

</ul>
