<% 
public_count = @event.public_attendees.count
private_count = @event.private_attendees.count
%>
<% if (current_account && ticket = @event.tickets.complete.find_by(account: current_account)) || (@event.organisation && (public_count + private_count) > 0) %>
  <div class="image-wall">
    <% @event.public_attendees.each { |account| %>
    <%= partial :'accounts/square', locals: { account: account, width: '50px' } %>
    <% };  %>
    <% if private_count > 0 %>
      <% if public_count == 0 %>
        <% if private_count < 10 %>
          &lt; 10 people
        <% else %>
          <%=private_count %>+ people
        <% end %>
      <% elsif public_count > 0 %>
        <% if private_count < 10 %>
          + others
        <% else %>
          + <%=private_count %> people
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% if ticket %>
    <% if @event.tickets.complete.and(account: current_account).all? { |ticket| ticket.show_attendance? } %>
      <a class="pagelet-trigger mb-1" href="/events/<%= @event.id %>/hide_attendance">Hide attendance</a>
    <% else %>
      <a class="pagelet-trigger mb-1" href="/events/<%= @event.id %>/show_attendance">Show attendance</a>
    <% end %>
  <% end %>
<% end %>
