<h4 class="block-title">
  <a class="text-dark" target="_parent" href="<%= "/events/#{event.id}#{if @organisation && @organisation != event.organisation; "?cohost=#{@organisation.slug}"; end }"%>">
    <%= event.name %>
  </a>
  <% if current_account %>
    <div data-with-placeholder class="d-inline event-star" data-pagelet-url="/events/<%=event.id%>/star?block_edit=1"><i class="fa fa-star-o" style="opacity: 0.3"></i></div>
  <% end %>
  <% if event_admin?(event) %>
    <a class="text-dark block-edit" style="display: none" target="_parent" href="<%= "/events/#{event.id}/edit" %>">
      <i class="fa fa-pencil"></i>
    </a>
  <% end %>
</h4>
<% if event.draft? %>
  <span class="label label-default mb-1 d-inline-block">Draft</span>
<% end %>
<div class="mb-2">
  <%= partial :'events/tag_labels', locals: { event: event } %>
</div>
<ul style="margin-left: 1.66em; font-size: 1rem" class="fa-ul text-dark">
  <% if (ef = event.event_facilitations.select { |event_facilitation| event_facilitation.account.lastname }).count > 0 || (!@organisation && event.organisation) %>
    <li>
      <i data-toggle="tooltip" title="Host/facilitators" class="fa fa-li fa-flag"></i>
      <%= partial :'events/facilitators', locals: {event: event, event_facilitators: ef} %>
    </li>
  <% end %>
  <li>
    <i data-toggle="tooltip" title="Dates/times" class="fa fa-li fa-calendar"></i>
    <%= when_details(event) %>
  </li>
  <li>
    <i data-toggle="tooltip" title="Location" class="fa fa-li fa-map-marker"></i>
    <%= partial :'events/location', locals: {event: event} %>
  </li>
  <% if defined?(skip_final_ul) && skip_final_ul %>

  <% else %>
  </ul>
<% end %>
