<% full_width = true %>

<div class="row block no-gutters align-items-stretch <% if event.locked? %>event-locked<% end %>">
  <% if !event.image && (defined?(full_width) && full_width) %>

  <% else %>
    <div class="col-lg-6 order-lg-2 mb-2 mb-lg-0 bg-white">
      <% if @organisation && (cohostship = event.cohostships.find_by(organisation: @organisation)) && (cohostship.image || cohostship.video) %>
        <% if cohostship.image %>
          <a target="_parent" href="/e/<%= event.slug %>?cohost=<%=@organisation.slug%>"><img class="w-100" src="<%= u cohostship.image.thumb('992x992').url %>"></a>
        <% elsif cohostship.video %>
          <div class="embed-responsive embed-responsive-16by9">
            <video src="<%=cohostship.video.url%>" type="video/mp4" controls muted playsinline onmouseover="this.play();" onmouseout="this.pause();"></video>
          </div>
        <% end %>
      <% elsif event.video %>
        <div class="embed-responsive embed-responsive-16by9">
          <video src="<%=event.video.url%>" type="video/mp4" controls muted playsinline onmouseover="this.play();" onmouseout="this.pause();"></video>
        </div>
      <% elsif event.image %>
        <a target="_parent" href="/e/<%= event.slug %>"><img class="w-100" src="<%= u event.image.thumb('992x992').url %>"></a>
      <% end %>
    </div>
  <% end %>
  <div class="<% if !event.image && (defined?(full_width) && full_width) %>col-lg-12<% else %>col-lg-6<% end %> order-lg-1">
    <table style="width: 100%; height: 100%">
      <tr>
        <td style="vertical-align: top">
          <div class="row justify-content-between">
            <div class="col ml-1 p-lg-3">
              <%= partial :'events/block_main', locals: { event: event } %>
              <% if @organisation && event.carousel_text %>
                <div class="p-1" style="font-size: 0.9rem" class="mb-0"><%= event.carousel_text %></div>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
