<h4 class="block-title">
  <a class="text-dark" target="_parent" href="<%= "/events/#{event.id}" %>" onclick="event.stopPropagation();">
    <%= event.name %>
  </a>
  <% if event_admin?(event) %>
    <a class="text-dark block-edit" style="display: none" target="_parent" href="<%= "/events/#{event.id}/edit" %>" onclick="event.stopPropagation();">
      <i class="fa fa-pencil"></i>
    </a>
  <% end %>
</h4>
<% if event.draft? %>
  <span class="label label-default mb-1 d-inline-block">Draft</span>
<% end %>
<div class="mb-2">
  <%= partial :'events/tag_labels', locals: { event: event } %>
</div>
<ul style="margin-left: 1.66em; font-size: 1rem" class="fa-ul text-dark">
  <% unless @organisation %>
    <li>
      <i class="fa fa-li fa-flag"></i>
      <% organisations = []; organisations << %(<a class="text-dark" href="/o/#{Sanitize.fragment(event.organisation.slug)}">#{Sanitize.fragment(event.organisation.name)}</a>) %>
      <% event.cohosts.each { |organisation| organisations << %(<a class="text-dark" href="/o/#{Sanitize.fragment(organisation.slug)}">#{Sanitize.fragment(organisation.name)}</a></li>) } %>
      <%== organisations.join(', ') %>
    <% end %>
    <li><i data-toggle="tooltip" title="Dates/times" class="fa fa-li fa-calendar"></i><%= when_details(event) %></li>
    <li><i data-toggle="tooltip" title="Location" class="fa fa-li fa-map-marker"></i>
      <% if event.location == 'Online' %>
        Online
      <% elsif event.location =~ URI::regexp %>
        <span class="compact-urls"><a href="<%= event.location %>"><%= event.location %></a></span>
      <% else %>
        <a target="_blank" href="https://www.google.co.uk/maps?q=<%= event.location %>"><%= event.location %></a>
      <% end %>
    </li>
    <% if event.event_facilitations.count > 0 %>
    <li>
      <i data-toggle="tooltip" title="Facilitators" class="fa fa-li fa-users"></i>
      <%= partial :'accounts/add', locals: {
            role: 'event facilitator',
            accounts: event.event_facilitators.order('name asc'),
            add_and_remove: false,
            new_object: EventFacilitation.new,
            new_url: "/events/#{event.id}/event_facilitations/new",
            destroy_url: "/events/#{event.id}/event_facilitations/destroy"
          } %>

    </li>
    <% end %>
  </ul>
