<h4 class="block-title">
  <a class="text-dark" target="_parent" href="<%= "/e/#{event.slug}#{if @organisation && @organisation != event.organisation; "?cohost=#{@organisation.slug}"; end }"%>">
    <%= event.name %>
  </a>
  <% if current_account %>
    <div data-with-placeholder class="d-inline event-star" data-pagelet-url="/events/<%=event.id%>/star?block_edit=1"><i class="bi bi-star" style="opacity: 0.3"></i></div>
  <% end %>
  <% if event_admin?(event) %>
    <a class="text-dark block-edit" style="display: none" target="_parent" href="<%= "/events/#{event.id}/edit" %>">
      <i class="bi bi-pencil-fill"></i>
    </a>
  <% end %>
</h4>
<% if event.locked? %>
  <span class="label label-default mb-1 d-inline-block">Locked</span>
<% end %>
<div class="mb-2">
  <%= partial :'events/tag_labels', locals: { event: event } %>
</div>
<ul style="font-size: 1rem" class="icon-list text-dark">
  <% if (ef = event.event_facilitations.select { |event_facilitation| event.organisation && event_facilitation.account.lastname && event_facilitation.account.name != event.organisation.name }).count > 0 || (!@organisation && event.organisation) %>
    <li>
      <i data-toggle="tooltip" title="Host/facilitators" class="bi bi-flag-fill"></i>
      <%= partial :'events/facilitators', locals: {event: event, event_facilitators: ef} %>
    </li>
  <% end %>
  <li>
    <i data-toggle="tooltip" title="Dates/times" class="bi bi-calendar-event"></i>
    <%= when_details(event) %>
  </li>
  <li>
    <i data-toggle="tooltip" title="Location" class="bi bi-geo-alt-fill"></i>
    <%= partial :'events/location', locals: {event: event} %>
  </li>
  <% if defined?(skip_final_ul) && skip_final_ul %>

  <% else %>
  </ul>
<% end %>
