<div class="row block no-gutters align-items-stretch <% if event.locked? %>event-locked<% end %>" style="<% if admin? && event.hidden_from_homepage? %>opacity: 0.3<% end %>">
  <% if event.image %>
    <div class="col-lg-6 order-lg-2 mb-2 mb-lg-0 bg-white">
      <% if @organisation && (cohostship = event.cohostships.find_by(organisation: @organisation)) && cohostship.image %>
        <a target="_parent" href="/e/<%= event.slug %>?cohost=<%=@organisation.slug%>"><%= blurred_image_tag(cohostship.image, width: cohostship.image_width_unmagic, height: cohostship.image_height_unmagic) %></a>
      <% elsif event.image %>
        <a target="_parent" href="/e/<%= event.slug %>"><%= blurred_image_tag(event.image, width: event.image_width_unmagic, height: event.image_height_unmagic) %></a>
      <% end %>
    </div>
  <% end %>
  <div class="<% if !event.image %>col-lg-12<% else %>col-lg-6<% end %> order-lg-1">
    <table style="width: 100%; height: 100%">
      <tr>
        <td style="vertical-align: top">
          <div class="row justify-content-between">
            <div class="col ml-1 p-lg-3">
              <%= partial :'events/block_main', locals: { event: event } %>
              <% if @organisation && event.carousel_text %>
                <div class="p-1" style="font-size: 0.9rem; color: #777" class="mb-0"><%= event.carousel_text %></div>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
