<table class="event-details my-3">
  <tr>
    <td class="pr-2" <% if @event.start_time.to_date != @event.end_time.to_date %>style="vertical-align: top;"<% end %>>

      <span class="event-detail calendar-date <% if @event.start_time.to_date != @event.end_time.to_date %>mt-1<% end %>" data-toggle="tooltip" title="<% if @event.future? %>in <%=distance_of_time_in_words @event.start_time - Time.now %><% else %><%=distance_of_time_in_words @event.start_time - Time.now %> ago<% end %>">
        <span class="month"><span class="month-text"><%= @event.start_time.strftime('%b') %></span></span>
        <span class="day"><%= @event.start_time.day %></span>
      </span>

    </td>
    <td class="pr-2">

      <% if n > 1 %>
        <%= select_tag :event_id, options: events.map { |event| [@event.event_sessions.exists? ? concise_when_details(event, with_zone: true) : when_details(event), event.id] }, selected: @event.id, class: 'form-control mb-1', style: 'font-size: 1rem; padding: 0.375rem;', onchange: "window.location = '/events/'+$(this).val()" %>
      <% else %>

        <%= when_parts = when_details(@event, with_zone: true).split(', '); when_parts[0] %>
        <div class="text-muted" style="font-size: 90%;">
          <%= when_parts[1..-1].join(', ') %>
        </div>

      <% end %>

      <%if @event.event_sessions.exists? %>
        <div style="font-size: 0.85rem" class="my-2">
          <span class="label label-primary"><%= pluralize @event.event_sessions.count, 'session' %></span>
        </div>
      <% end %>

      <% if @event.start_time.to_date != @event.end_time.to_date %>
        <div class="my-1" style="font-size: 0.85rem">
          <%= partial :'events/add_event_session', locals: {
          event_sessions: @event.event_sessions.order('start_time asc'),
          add_and_remove: event_admin?,
          new_object: EventSession.new,
          new_url: "/events/#{@event.id}/event_sessions/new",
          destroy_url: "/events/#{@event.id}/event_sessions/destroy"
        } %>
        </div>
      <% end %>

    </td>
  </tr>
  <tr>
    <td colspan="2" class="event-detail-separator">&nbsp;</td>
  </tr>
  <tr>
    <td>

      <a data-toggle="tooltip" title="<% if @event.location == 'Online' %>Online<% else %>Location<% end %>" <% if @event.location != 'Online' %>target="_blank" href="https://www.google.com/maps?q=<%= @event.location %>"<% end %> class="event-detail location">

        <% if @event.location == 'Online' %>
          <img src="<%=ENV['BASE_URI']%>/images/icons/_camera-video.png">
        <% else %>
          <img src="<%=ENV['BASE_URI']%>/images/icons/_geo-alt.png">
        <% end %>

      </a>

    </td>
    <td>

      <% if @event.location == 'Online' %>
        Online
      <% elsif @event.location =~ URI::regexp %>
        <span class="compact-urls"><a class="text-dark" target="_blank" href="<%= @event.location %>"><%= @event.location %></a></span>
      <% else %>
        <a class="text-dark" target="_blank" href="https://www.google.com/maps?q=<%= @event.location %>"><%= @event.location %></a>
      <% end %>

    </td>
  </tr>

  <tr>
    <td colspan="2" class="event-detail-separator">&nbsp;</td>
  </tr>
  <tr>
    <td>

      <a href="javascript:;" class="event-detail link copy-link-icon" data-toggle="tooltip" title="Event URL (click to copy)">
        <img src="<%=ENV['BASE_URI']%>/images/icons/_link.png">
      </a>

    </td>
    <td>

      <a href="javascript:;" class="copy-link text-dark" data-toggle="tooltip" title="Click to copy" data-url="<%=ENV['BASE_URI']%>/e/<%=@event.slug%>">
        <span class="d-none d-md-inline"><%=ENV['BASE_URI'].match(%r{(https?://)})[1] rescue ''%></span><%=ENV['BASE_URI'].gsub(%r{https?://}, '')%>/e/<%=@event.slug%>
      </a>
      <script>
        $(function() {
          $('.copy-link, .copy-link-icon').on('click', function(e) {
            e.preventDefault();
            var textToCopy = $('.copy-link').data('url');
            var $clicked = $(this);

            navigator.clipboard.writeText(textToCopy).then(function() {
              $clicked.attr('data-original-title', 'Copied!').tooltip('show');
              setTimeout(function() {
                $clicked.attr('data-original-title', 'Click to copy').tooltip('hide');
              }, 2000);
            });
          });
        });
      </script>

    </td>
  </tr>

</table>