<% if Padrino.env != :test && @event.posts.count == 1 && @event.posts.first.subject == "Chat for #{@event.name}" %>

  <% content = capture do %>
    <div data-pagelet-url="/chat?commentable_type=Event&commentable_id=<%= @event.id %>">
      <%= partial :'comments/chat', locals: { commentable: @event } %>
    </div>
  <% end %>

  <%= partial :chat_card, locals: { title: "Private discussion for attendees and facilitators", show_chat: @event.posts.first.comments.count > 1, content: content } %>

<% else %>
  <h2 class="mt-5">Private discussion for attendees and facilitators</h2>
  <% if (ticket = @event.tickets.complete.find_by(account: current_account)) %>
    <div data-pagelet-url="/events/<%= @event.id %>/subscribe_discussion">
      <%= partial :'events/subscribe_discussion' %>
    </div>
  <% end %>
  <div class="mt-3" data-pagelet-url="/commentable?commentable_type=Event&commentable_id=<%= @event.id %>">
    <%= partial :'comments/commentable', locals: { commentable: @event } %>
  </div>
<% end %>
