<td>
  <a href="<%= "/e/#{event.slug}#{if organisation && organisation != event.organisation; "?cohost=#{organisation.slug}"; end }" %>"><%= event.name %></a>
  <% if event.draft? %>
    <span class="label label-default">Draft</span>
  <% end %>
  <% if event.secret? %>
    <span class="label label-default">Secret</span>
  <% end %>
  <% if event.monthly_donors_only? %>
    <span class="label label-default">Monthly donors only</span>
  <% end %>
  <% if organisation && organisation != event.organisation %>
    <span class="label label-yellow">Co-host</span>
  <% end %>
</td>
<td nowrap>
  <a data-toggle="tooltip" title="Edit event" class="btn btn-sm btn-primary" href="/events/<%= event.id %>/edit"><i class="fa fa-pencil"></i></a>
  <% event_image = nil; if organisation && (cohostship = event.cohostships.find_by(organisation: organisation)) && cohostship.image
  event_image = cohostship.image
  elsif event.image
  event_image = event.image
  end %>
  <% if event_image %>
    <a data-toggle="tooltip" title="Copy linked image" class="btn btn-sm btn-primary" href="javascript:;" onclick="

  var div = $(this).next().show();
  var node = $(div).find('a')[0];

  // Create a range and select the node's content
  var range = document.createRange();
  range.selectNode(node);

  // Add the selected content to the clipboard
  var selection = window.getSelection();
  selection.removeAllRanges();
  selection.addRange(range);
  document.execCommand('copy');

  // Deselect the content
  selection.removeAllRanges();

  $(div).hide();
  // Alert the user that the node has been copied
  alert('Linked image copied');

    "><i class="fa fa-image"></i></a>
    <div style="display: none">
      <a target="_parent" href="<%= ENV['BASE_URI'] %>/e/<%=event.slug%><% if params[:cohost] %>?cohost=<%=params[:cohost]%><% end %>"><img src="<%= u event_image.thumb('1920x1920').url %>"></a>
    </div>
  <% end %>
</td>
<td data-sort="<%=event.start_time.to_fs(:db_local)%>"><%= when_details(event) %></td>
<td style="text-align: center">
  <% if event.coordinator %>
    <a href="/u/<%= event.coordinator.username %>">
      <%= partial :'accounts/square', locals: { account: event.coordinator, width: '50px' } %>
      <br>
      <a href="/u/<%= event.coordinator.username %>"><%= event.coordinator.name %></a>
    <% end %>
  </td>

  <% if event.organisation.stripe_client_id %>
    <td>
      <% if event.organiser %>
        <a href="/u/<%= event.organiser.username %>">
          <%= partial :'accounts/square', locals: { account: event.organiser, width: '50px' } %>
          <br>
          <a href="/u/<%= event.organiser.username %>"><%= event.organiser.name %></a>
        <% elsif event.revenue_sharer %>
          <a href="/u/<%= event.revenue_sharer.username %>">
            <%= partial :'accounts/square', locals: { account: event.revenue_sharer, width: '50px' } %>
            <br />
            <a href="/u/<%= event.revenue_sharer.username %>"><%= event.revenue_sharer.name %></a>
            <br>
            <%= event.revenue_share_to_revenue_sharer %>:<%= event.revenue_share_to_organisation %>
          <% end %>
        </td>
      <% else %>
        <td></td>
      <% end %>

      <td style="text-align: center">
        <% if event.event_facilitations.count > 0 %>
          <% event.event_facilitations.each { |event_facilitation| %>
          <%= partial :'accounts/square', locals: { account: event_facilitation.account, width: '50px' } %>
          <br />
          <a href="/u/<%= event_facilitation.account.username %>"><%= event_facilitation.account.name %></a>
          <br />
          <% } %>
        <% end %>
      </td>
      <td>
        <%= partial :'events/tag_labels', locals: { event: event } %>
      </td>
      <td style="text-align: center">
        <% if event.activity %>
          <% if event.activity.image %>
            <a href="/activities/<%= event.activity.id %>">
              <img src="<%= u event.activity.image.thumb('500x500#').url %>" style="width: 50px">
            </a>
            <br>
          <% end %>
          <a href="/activities/<%= event.activity.id %>"><%= event.activity.name %></a>
        <% end %>
      </td>
      <td>
        <% if event.local_group %>
          <a href="/local_groups/<%= event.local_group.id %>"><%= event.local_group.name %></a>
        <% end %>
      </td>
      <td>
        <% if event.facebook_event_url %>
          <a target="_blank" href="<%= event.facebook_event_url %>"><i class="fa fa-facebook-square"></i></a>
        <% end %>
      </td>
      <td data-with-placeholder data-pagelet-url="/events/<%=event.id%>/page_views_count" data-sort="<%=event.page_views_count%>"></td>
      <td data-sort="<%=event.tickets.count%>">
        <%= partial :'events/progress', locals: { event: event } %>
      </td>
      <td>
        <%= partial :'events/checked_in', locals: { event: event } %>
      </td>


      <!-- Ticket revenue -->
      <% if event.organisation.hide_ticket_revenue %>
        <td></td>
      <% else %>
        <td data-sort="<%=begin; event.discounted_ticket_revenue.exchange_to(event.organisation.currency); rescue Money::Bank::UnknownRate, Money::Currency::UnknownCurrency; 0; end%>">
          <% if event.discounted_ticket_revenue > 0 %>
            <%= m event.discounted_ticket_revenue, event.currency %>
          <% end %>
        </td>
      <% end %>

      <% if event.organisation.stripe_client_id %>
        <!-- Organisation ticket revenue share -->
        <td data-sort="<%=begin; event.organisation_discounted_ticket_revenue.exchange_to(event.organisation.currency); rescue Money::Bank::UnknownRate, Money::Currency::UnknownCurrency; 0; end%>">
          <% if event.organisation_discounted_ticket_revenue > 0 %>
            <%= "#{event.revenue_share_to_organisation}%" %><br />
            <%= m event.organisation_discounted_ticket_revenue, event.currency %>
          <% end %>
        </td>
      <% else %>
        <td></td>
      <% end %>

      <!-- Donations -->
      <td data-sort="<%=begin; event.donation_revenue.exchange_to(event.organisation.currency); rescue Money::Bank::UnknownRate, Money::Currency::UnknownCurrency; 0; end%>">
        <% if event.donation_revenue > 0 && !event.purchase_url %>
          <%= m event.donation_revenue, event.currency %>
        <% end %>
      </td>

      <% if event.organisation.stripe_client_id %>
        <!-- Donations reported by Stripe -->
        <td class="<%= if event.donation_revenue == event.stripe_donations; 'bg-success'; elsif event.end_time.to_date < Date.today; 'bg-warning'; end %>">
          <%= m event.stripe_donations, event.currency %>
        </td>
        <!-- Revenue reported by Dandelion = Organisation ticket revenue share + donations -->
        <td>
          <% dandelion = "#{m(event.dandelion_revenue, event.currency)} from #{pluralize(event.orders.and(:transferred.ne => true, :payment_intent.ne => nil).count, 'Stripe order')}" %>
          <%= dandelion.split(' from ').first %> from <a href="/events/<%=event.id%>/orders"><%= dandelion.split(' from ').last %></a>
        </td>
        <!-- Revenue reported by Stripe -->
        <% 
        stripe_charges = event.stripe_charges.select { |stripe_charge| !stripe_charge.order.transferred && stripe_charge.balance > 0 }
        stripe = "#{m(stripe_charges.sum(&:balance), event.currency)} from #{pluralize(stripe_charges.count, 'Stripe charge')}" %>
        <%
        stripe_charges_transferred = event.stripe_charges.select { |stripe_charge| stripe_charge.order.transferred && stripe_charge.balance > 0 }
        stripe_transferred = "#{m(stripe_charges_transferred.sum(&:balance), event.currency)} from #{pluralize(stripe_charges_transferred.count, 'transferred charge')}" %>
        <td class="<%= if dandelion.split(' ')[0..-3].join == stripe.split(' ')[0..-3].join; 'bg-success'; elsif event.end_time.to_date < Date.today; 'bg-warning'; end %>">
          <%= stripe.split(' from ').first %> from <a class="text-white font-weight-bold" href="/events/<%=event.id%>/stripe_charges"><%= stripe.split(' from ').last %></a>
          +
          <%= stripe_transferred.split(' from ').first %> from <a class="text-white font-weight-bold" href="/events/<%=event.id%>/stripe_charges"><%= stripe_transferred.split(' from ').last %></a>
        </td>
        <!-- Stripe fees -->
        <td>
          <%= m event.stripe_fees, event.currency %>
        </td>
        <!-- Profit -->
        <td>
          <%= m event.profit, event.currency %>
        </td>

        <!-- Profit less donations, before allocations -->
        <td>
          <%= m event.profit_less_donations, event.currency %>
        </td>
        <!-- Allocated to facilitator = Profit * profit_share_facilitator -->
        <td>
          <% if !event.revenue_sharer %>
            <%= m event.profit_to_facilitator, event.currency %>
          <% end %>
        </td>
        <!-- Allocated to coordinator = Profit * profit_share_coordinator -->
        <td>
          <% if event.revenue_sharer %>
            <%= "#{event.profit_share_to_coordinator}/#{event.revenue_share_to_organisation}" %><br />
          <% else %>
            <%= "#{event.profit_share_to_coordinator}%" %><br />
          <% end %>
          <%= m event.profit_to_coordinator, event.currency %>
        </td>
        <!-- Allocated to social media = Profit * profit_share_social_media -->
        <td>
          <% if event.revenue_sharer %>
            <%= "#{event.profit_share_to_social_media}/#{event.revenue_share_to_organisation}" %><br />
          <% else %>
            <%= "#{event.profit_share_to_social_media}%" %><br />
          <% end %>
          <%= m event.profit_to_social_media, event.currency %>
        </td>
        <!-- Allocated to category steward = Profit * profit_share_category_steward -->
        <td>
          <% if event.revenue_sharer %>
            <%= "#{event.profit_share_to_category_steward}/#{event.revenue_share_to_organisation}" %><br />
          <% else %>
            <%= "#{event.profit_share_to_category_steward}%" %><br />
          <% end %>
          <%= m event.profit_to_category_steward, event.currency %>
        </td>
        <!-- Profit less donations, after allocations -->
        <td>
          <%= m event.profit_less_donations_less_allocations, event.currency %>
        </td>
        <!-- Profit including donations, after allocations -->
        <td>
          <%= m event.profit_less_allocations, event.currency %>
        </td>


      <% else %>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      <% end %>


      <td>
        <% if event.credit_payable_to_revenue_sharer > 0 %>
          <%= m event.credit_payable_to_revenue_sharer, event.currency %>
        <% end %>
      </td>
      <td>
        <% if event.past? and event.attendees.count > 0 and event.event_feedbacks.count > 0 %>
          <a href="/events/<%= event.id %>/feedback"><%= pluralize(event.event_feedbacks.count, 'response') %></a>
          (<%= "#{(100 * (event.event_feedbacks.count.to_f / event.attendees.count)).round}%" %>)
          <% if average_rating = event.event_feedbacks.average_rating %>
            <br>
            <span style="font-size: 20px" title="Average rating <%= average_rating %>">
              <%= average_rating %>
            </span>
          <% end %>
        <% end %>
      </td>
