<td>
  <a href="/events/<%= event.id %>"><%= event.name %></a>
  <% if event.draft? %>
    <span class="label label-default">Draft</span>
  <% end %>
  <% if event.secret? %>
    <span class="label label-default">Secret</span>
  <% end %>
  <% if event.monthly_donors_only? %>
    <span class="label label-default">Monthly donors only</span>
  <% end %>
</td>
<td nowrap>
  <a data-toggle="tooltip" title="Edit event" class="btn btn-sm btn-primary" href="/events/<%= event.id %>/edit"><i class="fa fa-pencil"></i></a>
  <% if event.image %>
    <a data-toggle="tooltip" title="Copy Markdown image code" class="btn btn-sm btn-primary" href="javascript:;" onclick="
  var el = document.createElement('textarea');
  var str = '[![](<%= escape_javascript(u(event.image.url)) %>)](<%= ENV['BASE_URI'] %>/events/<%= event.id %>)'
  el.value = str;
  document.body.appendChild(el);
  el.select();
  document.execCommand('copy');
  document.body.removeChild(el);
  alert('Copied ' + str)
  "><i class="fa fa-image"></i></a>
  <% end %>
</td>
<td><%= when_details(event) %></td>
<td style="text-align: center">
  <% if event.coordinator %>
    <a href="/u/<%= event.coordinator.username %>">
      <% if event.coordinator.picture %>
        <%= partial :'accounts/square', locals: { account: event.coordinator, width: '50px' } %>
        <br>
      <% end %>
      <a href="/u/<%= event.coordinator.username %>"><%= event.coordinator.name %></a>
    <% end %>
  </td>
  <td>
    <%= partial :'events/tag_labels', locals: { event: event } %>
  </td>
  <td style="text-align: center">
    <% if event.activity %>
      <% if event.activity.image %>
        <a href="/activities/<%= event.activity.id %>">
          <img src="<%= u event.activity.image.thumb('500x500#').url %>" style="width: 50px">
        </a>
        <br>
      <% end %>
      <a href="/activities/<%= event.activity.id %>"><%= event.activity.name %></a>
    <% end %>
  </td>
  <td>
    <% if event.local_group %>
      <a href="/local_groups/<%= event.local_group.id %>"><%= event.local_group.name %></a>
    <% end %>
  </td>
  <td>
    <% if event.facebook_event_id %>
      <a target="_blank" href="http://facebook.com/events/<%= event.facebook_event_id %>"><i class="fa fa-facebook-square"></i></a>
    <% end %>
  </td>
  <td>
    <%= partial :'events/progress', locals: { event: event } %>
  </td>
  <td>
    <% if event.discounted_ticket_revenue > 0 %>
      <%= m event.discounted_ticket_revenue, event.currency %>
    <% end %>
  </td>
  <td>
    <% if event.revenue_sharer && event.organisation_revenue_share %>
      <a href="/u/<%= event.revenue_sharer.username %>">
        <% if event.revenue_sharer.picture %>
          <a href="/u/<%= event.revenue_sharer.username %>">
            <img src="<%= u event.revenue_sharer.picture.thumb('500x500#').url %>" style="width: 50px">
          </a>
          <br>
        <% end %>
        <a href="/u/<%= event.revenue_sharer.username %>"><%= event.revenue_sharer.name %></a>
        <br>
        <%= ((1 - event.organisation_revenue_share) * 100).round %>:<%= (event.organisation_revenue_share * 100).round %>
      <% end %>
    </td>
    <td>
      <% if event.credit_payable_to_revenue_sharer > 0 %>
        <%= m event.credit_payable_to_revenue_sharer, event.currency %>
      <% end %>
    </td>
    <td>
      <% if event.donations.count > 0 && !event.tickettailor_id %>
        <%= m event.donation_revenue, event.currency %>
      <% end %>
    </td>
    <td>
      <% if event.past? and event.attendees.count > 0 and event.event_feedbacks.count > 0 %>
        <a href="/events/<%= event.id %>/feedback"><%= pluralize(event.event_feedbacks.count, 'response') %></a>
        (<%= "#{(100 * (event.event_feedbacks.count.to_f / event.attendees.count)).round}%" %>)
        <% if average_rating = event.event_feedbacks.average_rating %>
          <br>
          <span style="font-size: 20px" title="Average rating <%= average_rating %>">
            <%= average_rating %>
          </span>
        <% end %>
      <% end %>
    </td>
