<% if @event.feedback_activity && @event.feedback_activity.unscoped_event_feedbacks.count > 0 %>
  <div class="card shadow-sm mt-3">
    <h3 class="card-header chill">Feedback on <%= @event.feedback_activity.name %> events</h3>
    <div class="card-body pt-2" data-pagelet-url="/activities/<%= @event.feedback_activity_id %>/show_feedback"></div>
  </div>
<% elsif @event.activity && @event.activity.unscoped_event_feedbacks.count > 0 %>
  <div class="card shadow-sm mt-3">
    <h3 class="card-header chill">Feedback on <%= @event.activity.name %> events</h3>
    <div class="card-body pt-2" data-pagelet-url="/activities/<%= @event.activity_id %>/show_feedback"></div>
  </div>
<% elsif @event.event_facilitations.count == 1 && (account = @event.event_facilitators.first).unscoped_event_feedbacks_as_facilitator.count > 0 %>
  <div class="card shadow-sm mt-3">
    <h3 class="card-header chill">Feedback on <%= account.name %>'s events</h3>
    <div class="card-body pt-2" data-pagelet-url="/accounts/<%= account.id %>/show_feedback"></div>
  </div>
<% elsif @event.organisation.unscoped_event_feedbacks.count > 0 %>
  <div class="card shadow-sm mt-3">
    <h3 class="card-header chill">Feedback on <%= @event.organisation.name %> events</h3>
    <div class="card-body pt-2" data-pagelet-url="/o/<%= @event.organisation.slug %>/show_feedback"></div>
  </div>
<% end %>
