 <% if current_account.upcoming_events.count > 0 %>
  <table class="table table-borderless">
    <% current_account.upcoming_events.each { |event| %>
    <tr>
      <td class="pr-2" style="width: 1px">

        <a href="/e/<%= event.slug %>" style="font-size: 1.1em" class="event-detail calendar-date mt-1" data-toggle="tooltip" title="in <%=distance_of_time_in_words event.start_time - Time.now %>">
          <span class="month">
            <span class="month-text">
              <%= event.start_time.strftime('%b') %>
            </span>
          </span>
          <span class="day"><%= event.start_time.day %></span>
        </a>

      </td>
      <td>
        <h4>
          <a href="/e/<%= event.slug %>"><%= event.name %></a>
          <div data-with-placeholder class="d-inline" data-pagelet-url="/events/<%=event.id%>/star?block_edit=1"><i class="bi bi-star" style="opacity: 0"></i></div>
        </h4>
        <% if event_admin?(event) %>
          <div class="mb-3">
            <%= partial :'events/progress', locals: { event: event, full_width: true, link: true } %>
          </div>
        <% end %>
        <%= partial :'events/orders', locals: { event: event,orders: event.orders.complete.and(account: current_account) } %>
      </td>
    </tr>
    <% } %>
  </table>
  <p class="mb-0"><a href="/events/my">See all your events &rarr;</a></p>
<% else %>
  <p class="mb-0">
    Nothing upcoming. <a class="browse-events" href="/events">Browse events</a>
    <% if current_account.previous_events.count > 0 %>
      or <a href="/events/my">see your past events &rarr;</a>
    <% end %>
  </p>
<% end %>
