<% orders = orders.order('created_at desc')
   orders = orders.paginate(page: params[:page], per_page: 50) %>
<% if @event %>
  <% if event_email_viewer? %>
    <pre>
    <%== Account.and(:id.in => @orders.pluck(:account_id)).map { |account| "#{Sanitize.fragment(account.name)} &lt;#{Sanitize.fragment(account.email)}&gt;" }.join(', ') %>
  </pre>
  <% end %>
  <% unless params[:search] %>
    <%= partial :'events/ticket_types_progress' %>
  <% end %>
  <div class="row justify-content-between">
    <div class="col">
      <p><%== pagination_details orders, model: 'Order' %></p>
    </div>
    <div class="col-auto">
      <a class="btn btn-primary" href="/events/<%= @event.id %>/orders.csv?<%= request.query_string %>"><i class="fa fa-download"></i> CSV</a>
      <a class="btn btn-primary" href="/events/<%= @event.id %>/orders.pdf?<%= request.query_string %>"><i class="fa fa-download"></i> PDF</a>
    </div>
  </div>
<% elsif @organisation %>
  <div class="row justify-content-between">
    <div class="col">
      <p><%== pagination_details orders, model: 'Order' %></p>
    </div>
    <div class="col-auto">
      <a class="btn btn-primary" href="/o/<%= @organisation.slug %>/orders.csv?<%= request.query_string %>"><i class="fa fa-download"></i> CSV</a>
    </div>
  </div>
<% else %>
  <p><%== pagination_details orders, model: 'Order' %></p>
<% end %>
<script>
  $(function () {
    var colIndex = $("#orders th").toArray().indexOf($("th[data-col-name='created-at']")[0])
    $('#orders').dataTable({bInfo: false, paging: false, searching: false, order: [[colIndex, "desc"]]});
  })
</script>
<table class="table" id="orders">
  <thead>
    <tr>
      <th>Name</th>
      <% if defined?(event_name) %>
        <th>Event</th>
      <% end %>
      <% if defined?(organisation_name) %>
        <th>Organisation</th>
      <% end %>
      <th>Value</th>
      <th>Via</th>
      <% if @event %>
        <th>Updates from organisation?</th>
        <th>Updates from facilitator?</th>
        <th>Answers</th>
      <% end %>
      <th data-col-name="created-at">Created at</th>
      <th>Feedback</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% orders.each { |order| %>
  <tr>
    <td>
      <% if order.account %>
        <%= partial :'accounts/account', locals: { account: order.account, show_email: ((defined?(show_emails) && show_emails) || order_email_viewer?(order)) } %>
      <% else %>
        <em class="text-muted">(deleted account)</em>
      <% end %>
    </td>
    <% if defined?(event_name) %>
      <td>
        <a href="/e/<%= order.event.slug %>"><%= order.event.name %></a>
        <div>
          <span data-toggle="tooltip" title="<%= d = (order.event.start_time.to_date - Date.today).to_i; pluralize(d, 'day') %> to go" class="text-primary"><% d.times do %><i class="fa fa-square mr-1"></i><% end %></span>
        </div>
        <div data-pagelet-url="/events/<%=order.event.id%>/progress?full_width=true" class="my-1"></div>
        <% if order.event.discounted_ticket_revenue > 0 %>
          <%= m order.event.discounted_ticket_revenue, order.event.currency %>
        <% end %>
      </td>
    <% end %>
    <% if defined?(organisation_name) %>
      <td class="text-center">
        <% if order.event.organisation %>
          <% if order.event.organisation.image %>
            <img src="<%=order.event.organisation.image.thumb('500x500#').url%>" style="max-width: 50px;">
            <br />
          <% end %>
          <a href="/o/<%=order.event.organisation.slug%>"><%= order.event.organisation.name%></a>
        <% end %>
      </td>
    <% end %>
    <td data-sort="<%= order.value %>">
      <abbr data-toggle="tooltip" title="<%= order.original_description %>">
        <%= m (order.value || 0), order.currency %>
      </abbr>
      <% if order.application_fee_amount %>
        (<%= m ((order.value || 0) - (order.application_fee_amount || 0)), order.currency %> paid<% if order.revenue_sharer %>
          to <a href="/u/<%= order.revenue_sharer.username %>"><%= order.revenue_sharer.name %></a><% else %> to revenue sharer<% end %>)
      <% end %>
      <% if order.transferred? %>
        <span class="label label-default">Transferred</span>
      <% end %>
      <% if order.credit_applied %>
        <span class="label label-default"><%= m order.credit_applied, order.currency %> credit applied</span>
      <% end %>
      <% if order.fixed_discount_applied %>
        <span data-toggle="tooltip" title="<%=order.discount_code.code %>" class="label label-default"><%= m order.fixed_discount_applied, order.currency %> discount applied</span>
      <% end %>
      <% if order.percentage_discount %>
        <span data-toggle="tooltip" class="label label-default mr-1" title="<%= "#{order.percentage_discount}%" %> discount code applied<% if order.discount_code %>: <%=order.discount_code.code%><% end %>">
          <%= "#{order.percentage_discount}%" %>
        </span>
      <% end %>
      <% if order.percentage_discount_monthly_donor %>
        <span data-toggle="tooltip" class="label label-default mr-1" title="<%= "#{order.percentage_discount_monthly_donor}%" %> monthly donor discount applied">
          <%= "#{order.percentage_discount_monthly_donor}%" %>
        </span>
      <% end %>
      <% if order.coinbase_checkout_id %>
        <span class="label label-default bg-coinbase mr-1">Coinbase</span>
      <% elsif order.evm_secret %>
        <span class="label label-default bg-secondary mr-1">EVM: <%= order.evm_secret %></span>
      <% elsif order.oc_secret %>
        <span class="label label-default bg-secondary mr-1">OC: <%= order.oc_secret.split('dandelion:').last %></span>
      <% end %>
      <% if order.incomplete? %>
        <% if order.deleted? %>
          <i data-toggle="tooltip" title="Timed out" class="fa fa-warning"></i>
        <% else %>
          <i data-toggle="tooltip" title="This person is in the process of completing the order. If they don't complete it soon, the order will be removed." class="fa fa-spin fa-circle-o-notch"></i>
        <% end %>
      <% elsif order.deleted? %>
        <i data-toggle="tooltip" title="Deleted" class="fa fa-trash"></i>
      <% end %>
    </td>
    <td>
      <% if order.hear_about %>
        <%= order.hear_about %><br />
      <% end %>
      <% if order.affiliate; if order.affiliate.is_a?(Account) %>
        <a href="/u/<%= order.affiliate.username %>"><%= order.affiliate.name %></a><br />
      <% elsif order.affiliate.is_a?(Organisation) %>
        <a href="/o/<%= order.affiliate.slug %>"><%= order.affiliate.name %></a><br />
      <% end; end %>
      <% if order.http_referrer && !"#{URI(order.http_referrer).host}#{URI(order.http_referrer).path}".in?(["#{URI(ENV['BASE_URI']).host}/events/#{order.event_id}", "#{URI(ENV['BASE_URI']).host}/e/#{order.event.slug}"])  %>
        <a href="<%=order.http_referrer%>">
          <% if URI(order.http_referrer).host == URI(ENV['BASE_URI']).host %>
            <% if (match = URI(order.http_referrer).path.match(%r{\A/events/([a-z0-9]+)\Z})) && event = Event.find(match[1]) %>
              <%=event.name %>
            <% else %>
              <%= URI(order.http_referrer).path %>
            <% end %>
          <% else %>
            <%= URI(order.http_referrer).host %><%= URI(order.http_referrer).path.truncate(30) %>
          <% end %>
        </a>
        <br />
      <% end %>
    </td>
    <% if @event %>
      <td>
        <% if order.opt_in_organisation %><i class="fa fa-check"></i><% end %>
      </td>
      <td>
        <% if order.opt_in_facilitator %><i class="fa fa-check"></i><% end %>
      </td>
      <td>
        <% order.answers.each { |q,a| if q && a %>
        <p style="width: 400px">
          <strong>
            <% if m = q.match(/\[(.*)\]/) %>
              <%== Sanitize.fragment(Rinku.auto_link(m[1]), Sanitize::Config::DANDELION) %>
            <% else %>
              <%== Sanitize.fragment(Rinku.auto_link(q), Sanitize::Config::DANDELION) %>
            <% end %>
          </strong>
        </p>
        <p style="width: 400px">
          <% if q =~ /\[.*\]/ %>
            <i class="fa fa-check"></i>
          <% else %>
            <%== Sanitize.fragment(Rinku.auto_link(a.gsub("\n", '<br />')), Sanitize::Config::DANDELION) %>
          <% end %>
        </p>
      <% end } if order.answers %>
    </td>
  <% end %>
  <td data-sort="<%= order.created_at.iso8601 %>">
    <%= order.created_at %>
  </td>
  <td>
    <% if order.account %>
      <% if (event_feedback = order.event.event_feedbacks.find_by(account: order.account)) && !event_feedback.anonymise %>
        <a href="/event_feedbacks/<%= event_feedback.id %>">
          <% if event_feedback.rating %>
            <% event_feedback.rating.times do %><i class="fa fa-star"></i><% end %>
          <% else %>
            <%= event_feedback.id %>
          <% end %>
        </a>
      <% elsif order.event.finished? %>
        <% if order.account.unsubscribed || order.account.unsubscribed_feedback %>
          <span class="text-muted">Unsubscribed from feedback emails</span>
        <% else %>
          <a href="<%= ENV['BASE_URI'] %>/events/<%= order.event_id %>/resend_feedback_email/<%= order.account_id %>">Resend feedback email</a>
        <% end %>
      <% end %>
    <% end %>
  </td>
  <td nowrap>
    <%= dropdown_nav [
        (['Restore and complete', "/events/#{order.event_id}/orders/#{order.id}/restore_and_complete"] if order.deleted?),
        ['Link to order confirmation', "/orders/#{order.id}"],
        ['Resend order confirmation', "/orders/#{order.id}/send_tickets"],
        ['Transfer to another event', "/orders/#{order.id}/transfer"],
        (['Remove and refund order', "/events/#{order.event.id}/orders/#{order.id}/destroy"] if order.event.refund_deleted_orders && order.session_id),
        (['Delete order', "/events/#{order.event.id}/orders/#{order.id}/destroy"] if !(order.event.refund_deleted_orders && order.session_id)),
      ].compact, button_text: %(Actions <i class="fa fa-caret-down"></i>), container_class: 'btn-group mb-1' %>
  </td>
</tr>
<% } %>
</table>

<%= will_paginate orders, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
