<% tc = event.tickets.count %>

<% if event.purchase_url %>
  <a target="_blank" href="<%= event.purchase_url %>">
    <span class="label label-primary"><%=URI(event.purchase_url).host.gsub('www.','')%></span>
  </a>
<% elsif (event.live? || tc > 0) %>
  <a href="/events/<%= event.id %>/tickets">
    <% if defined?(full_width) && !event.capacity %>
      <%= pluralize(tc, 'ticket') %>
    <% elsif !defined?(full_width) %>
      <%= tc %><% if event.capacity %>/<%= event.capacity %><% end %>
    <% end %>
  </a>
  <% if event.capacity; w = ((tc/event.capacity.to_f)*100).round %>
    <a class="d-block" style="text-decoration: none" href="/events/<%= event.id %>/tickets">
      <div class="progress" data-toggle="tooltip" title="<%= tc %>/<%= event.capacity %> tickets sold">
        <div class="progress-bar" role="progressbar" style="width: <%= "#{w}%" %>;">
          <% if defined?(full_width) %>
            <%= tc %>/<%= event.capacity %>
          <% end %>
        </div>
      </div>
    </a>
  <% end %>
  <% if event.orders.incomplete.exists? %>
    <i data-toggle="tooltip" title="Someone is in the process of completing an order. If they don't complete it soon, the order will be removed." class="bi bi-spin bi-arrow-repeat"></i>
  <% end %>
  <% if event.sold_out_cache %>
    <div class="mt-1">
      <span class="label label-primary">
        <% if event.sold_out_due_to_sales_end_cache %>
          Sales ended
        <% else %>
          Sold out
        <% end %>
      </span>
    </div>
  <% end %>
<% end %>
