<%
discount_code = nil
if params[:discount_code]
  discount_code = @event.all_discount_codes.find_by(code: params[:discount_code].upcase)
  discount_code = nil if discount_code && !discount_code.applies_to?(@event)
end
%>

<div class="card mb-3 <% if @event.no_discounts %>no-discounts<% end %>" id="select-tickets">
  <h3 class="card-header bg-primary text-white"><%= @event.select_tickets_title || 'Select tickets' %></h3>
  <div class="card-body">
    <% if @event.past? %>
      <% if @event.recording? %>
        <div class="alert alert-success">
          <p class="mb-0">Access a recording of this event that happened on <%=@event.start_time.to_date%> 🍿</p>
        </div>
      <% else %>
        <div class="alert alert-danger">
          <p class="mb-0">This event started <%= time_ago_in_words @event.start_time %> ago</p>
        </div>
      <% end %>
    <% end %>
    <% if @event.select_tickets_intro %>
      <table class="table table-borderless mb-0">
        <tr>
          <td>
            <%== Sanitize.fragment(Rinku.auto_link(@event.select_tickets_intro), Sanitize::Config::DANDELION) %>
          </td>
        </tr>
      </table>
    <% end %>
    <div id="ticket-types">
      <% form_tag '' do %>
        <%= hidden_field_tag :cohost, value: params[:cohost] %>
        <%= hidden_field_tag :affiliate_type, value: params[:affiliate_type] %>
        <%= hidden_field_tag :affiliate_id, value: params[:affiliate_id] %>
        <table class="table">
          <% no_ticket_groups = @event.ticket_types.all? { |ticket_type| !ticket_type.ticket_group } %>
          <% previous_ticket_group = 'Other tickets'; @event.ticket_types.order('order asc, price desc').each_with_index { |ticket_type,i| %>
          <% next if ticket_type.hidden && params[:ticket_type_id] != ticket_type.id.to_s; %>
          <% next if discount_code && discount_code.filter && !ticket_type.name.downcase.include?(discount_code.filter.downcase) %>
          <% unless no_ticket_groups %>
            <% tg = ticket_type.ticket_group.try(:name) || 'Other tickets'; if tg != previous_ticket_group %>
            <tr>
              <td colspan="3" style="text-transform: uppercase; font-size: 80%" class="bg-primary text-white text-center font-weight-bold"><%= tg %></td>
            </tr>
            <% previous_ticket_group = ticket_type.ticket_group.try(:name) %>
          <% end %>
        <% end %>
        <tr>
          <td style="<% if i == 0 %>border-top: 0;<% end %> <% if ticket_type.photos.count > 0 %>border-bottom: 0;<% end %>" >
            <%= ticket_type.name %>
            <% if ticket_type.hidden %>
              <i data-toggle="tooltip" title="Available to you as you used a secret link" class="fa fa-lock"></i>
            <% end %>
            <% if ticket_type.minimum_monthly_donation %>
              <i data-toggle="tooltip" title="Available to those donating <%=m ticket_type.minimum_monthly_donation, @event.currency%>+/month" class="fa fa-star-o"></i>
            <% end %>
          </td>
          <td style="<% if i == 0 %>border-top: 0;<% end %> <% if ticket_type.photos.count > 0 %>border-bottom: 0;<% end %>;">
            <% if ticket_type.range %>
              <span><%= m ticket_type.range_min, @event.currency %> - <%= m ticket_type.range_max, @event.currency %></span>
              <%= range_field_tag :"prices[#{ticket_type.id}]",
              class: 'form-control-range',
              min: ticket_type.range_min,
              max: ticket_type.range_max,
              oninput: "$(this).prev().html('#{money_symbol(@event.currency)}' + this.value); $(this).parent().next().find('.select-a-price-first').hide(); $(this).parent().next().find('[name^=quantities]').attr('data-price',this.value).prop('disabled',false).change();" %>
            <% elsif ticket_type.price %>
              <%= m ticket_type.price, @event.currency %>
            <% else %>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><%= money_symbol(@event.currency) %></span>
                </div>
                <%= text_field_tag :"prices[#{ticket_type.id}]", class: 'form-control',
              oninput: "$(this).parent().parent().next().find('.select-a-price-first').hide(); $(this).parent().parent().next().find('[name^=quantities]').attr('data-price',this.value).prop('disabled',false).change();" %>
              </div>
            <% end %>
          </td>
          <td style="width: 50%; <% if i == 0 %>border-top: 0;<% end %> <% if ticket_type.photos.count > 0 %>border-bottom: 0;<% end %>">
            <% if ticket_type.number_of_tickets_available_in_single_purchase > 0 %>
              <% if ticket_type.minimum_monthly_donation && (
                  !current_account ||
                  !(organisationship = @event.organisation.organisationships.find_by(account: current_account)) ||
                  !(organisationship.monthly_donation_amount) ||
                  !(Money.new(organisationship.monthly_donation_amount * 100, organisationship.monthly_donation_currency) >= Money.new(ticket_type.minimum_monthly_donation * 100, @event.currency))
                ) %>
              <% if !current_account %>
                <a href="/accounts/sign_in">Sign in</a>
              <% end %>
            <% else %>
              <div class="row justify-content-between align-items-center">
                <div class="col">
                  <%= select_tag :"quantities[#{ticket_type.id}]", 'data-ticket-type-id': ticket_type.id, 'data-price': ticket_type.price, style: 'width: auto; display: inline-block', class: 'form-control', options: (0..ticket_type.number_of_tickets_available_in_single_purchase).to_a, value: (params[:quantities][ticket_type.id.to_s] if ticket_type.price && params[:quantities]), disabled: !ticket_type.price %>
                  <% if ticket_type.range %>
                    <br />
                    <em class="select-a-price-first">Select a price first</em>
                  <% elsif !ticket_type.price %>
                    <br />
                    <em class="select-a-price-first">Set a price first</em>
                  <% end %>
                </div>
                <% if !@event.organisation.hide_few_left && !@event.hide_few_left && ticket_type.wiser_remaining <= 3 %>
                  <div class="col-auto">
                    <span class="badge badge-secondary"><%= ticket_type.wiser_remaining %> left</span>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <span class="badge badge-primary">Sold out</span>
          <% end %>
        </td>
      </tr>
      <% if ticket_type.photos.count > 0 %>
        <tr>
          <td colspan="3" style="border: 0">
            <%= partial :'photos/photos', locals: { photoable: ticket_type, dimensions: '100x100#' } %>
          </td>
        </tr>
      <% end %>
      <% if ticket_type.description %>
        <tr>
          <td style="border: 0; padding-top: 0" class="text-muted" colspan="3">
            <%= ticket_type.description %>
          </td>
        </tr>
      <% end %>
      <% } %>
      <% if @event.all_discount_codes.count > 0 %>
        <tr>
          <td></td>
          <td></td>
          <td>
            <strong>Apply a code</strong>
            <% if discount_code %>
              <div class="input-group" style="margin: 5px 0">
                <%= text_field_tag :discount_code_display, id: 'discount_code_display', class: 'form-control', style: 'width: 5em', disabled: true, value: params[:discount_code].upcase %>
                <%= hidden_field_tag :discount_code_id, id: 'discount_code_id', value: discount_code.id %>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" onclick="
                              var qs = $.deparam(window.location.search.substring(1))
                              delete qs['discount_code']
                              var quantities = {}
                              $('#ticket-types form select[data-ticket-type-id]').each(function() {
                                quantities[$(this).attr('data-ticket-type-id')] = $(this).val()
                              })
                              var answers = []
                              $('[name^=answers]').each(function() {
                                answers.push($(this).is(':checkbox') ? $(this).is(':checked') : $(this).val())
                              })
                              qs['quantities'] = quantities
                              qs['answers'] = answers
                              window.location = window.location.pathname + '?' + $.param(qs) + '#select-tickets'
                              ">Remove</button>
                </div>
              </div>
              <% if discount_code.percentage_discount %>
                <strong>Discount applied</strong>
                <div class="input-group" style="margin: 5px 0">
                  <% if discount_code.percentage_discount %>
                    <%= number_field_tag :percentage_discount, id: 'percentage_discount', class: 'form-control', style: 'width: 5em', disabled: true, value: discount_code.percentage_discount %>
                    <div class="input-group-append">
                      <span class="py-0 input-group-text">%</span>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              <% if params[:discount_code] %>
                <div class="alert alert-danger my-1">
                  <p class="mb-0">The code you entered is not valid</p>
                </div>
              <% end %>
              <div class="input-group" style="margin: 5px 0">
                <%= text_field_tag :discount_code, id: 'discount_code', class: 'form-control', style: 'width: 5em' %>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" style="padding: 0 0.75rem" type="button" onclick="
                              var qs = $.deparam(window.location.search.substring(1))
                              qs['discount_code'] = $('#discount_code').val()
                              var quantities = {}
                              $('#ticket-types form select[data-ticket-type-id]').each(function() {
                                quantities[$(this).attr('data-ticket-type-id')] = $(this).val()
                              })
                              var answers = []
                              $('[name^=answers]').each(function() {
                                answers.push($(this).is(':checkbox') ? $(this).is(':checked') : $(this).val())
                              })                              
                              qs['quantities'] = quantities
                              qs['answers'] = answers
                              window.location = window.location.pathname + '?' + $.param(qs) + '#select-tickets'
                              ">Apply</button>
                </div>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
      <% if !params[:discount_code] && current_account && (organisationship_for_discount = @event.organisationship_for_discount(current_account)) %>
        <% if @event.no_discounts %>
          <tr>
            <td colspan="3" class="text-muted">
              Membership discounts do not apply to this event.
            </td>
          </tr>
        <% else %>
          <tr>
            <td></td>
            <td></td>
            <td>
              <strong><%= organisationship_for_discount.organisation_tier.name %> discount</strong>
              <div class="input-group" style="margin: 5px 0">
                <%= number_field_tag :discount, id: 'discount', class: 'form-control', style: 'width: 5em', disabled: true, value: organisationship_for_discount.monthly_donor_discount %>
                <div class="input-group-append">
                  <span class="py-0 input-group-text">%</span>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
      <% if @event.suggested_donation %>
        <tr>
          <td></td>
          <td></td>
          <td>
            <strong>
              <%== Sanitize.fragment(@event.add_a_donation_to || @event.organisation.add_a_donation_to || "Add a donation to #{@event.organisation.name}", Sanitize::Config::DANDELION) %>
              <%= "(minimum #{m @event.minimum_donation, @event.currency})" if @event.minimum_donation && @event.minimum_donation > 0 %>
            </strong>
            <div class="input-group" style="margin: 5px 0">
              <div class="input-group-prepend">
                <span class="input-group-text"><%= money_symbol(@event.currency) %></span>
              </div>
              <% if @event.minimum_donation %>
                <script>
                  $(function() {
                    $('#donation_amount').change(function() {
                      if ($(this).val() < <%=@event.minimum_donation%>)
                        $(this).val('<%=@event.minimum_donation%>')
                    })
                  })
                </script>
              <% end %>
              <%= number_field_tag :donation_amount, id: 'donation_amount', class: 'form-control', style: 'width: 5em', value: @event.suggested_donation, min: (@event.minimum_donation || 0) %>
            </div>
            <% if (Padrino.env == :development || @organisation.verified?) && (@event.donation_text || @event.organisation.donation_text) %>
              <%== @event.donation_text || @event.organisation.donation_text %>
            <% else %>
              <%== Sanitize.fragment(@event.donation_text || @event.organisation.donation_text, Sanitize::Config::DANDELION) %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td>
          <strong>Total</strong>
          <div class="input-group" style="margin: 5px 0">
            <div class="input-group-prepend">
              <span class="input-group-text"><%= money_symbol(@event.currency) %></span>
            </div>
            <%= number_field_tag :totalDisplay, id: 'totalDisplay', class: 'form-control', style: 'width: 5em', disabled: true %>
            <%= hidden_field_tag :total, id: 'total' %>
          </div>
        </td>
      </tr>
      <% if current_account && (organisationship = @event.organisation.organisationships.find_by(account: current_account)) && organisationship.credit_balance > 0 && FIAT_CURRENCIES.include?(@event.currency) %>
        <% show_balance = true %>
        <tr>
          <td></td>
          <td></td>
          <td>
            <strong>Credit</strong>
            <div class="input-group" style="margin: 5px 0">
              <div class="input-group-prepend">
                <span class="input-group-text"><%= money_symbol(@event.currency) %></span>
              </div>
              <%= number_field_tag :credit, id: 'credit', class: 'form-control', style: 'width: 5em', disabled: true, value: format('%.2f', (organisationship.credit_balance.exchange_to(@event.currency).cents.to_f / 100)) %>
            </div>
          </td>
        </tr>
      <% end %>
      <% if discount_code && discount_code.fixed_discount %>
        <% show_balance = true %>
        <tr>
          <td></td>
          <td></td>
          <td>
            <strong>Fixed discount</strong>
            <div class="input-group" style="margin: 5px 0">
              <div class="input-group-prepend">
                <span class="input-group-text"><%= money_symbol(@event.currency) %></span>
              </div>
              <%= number_field_tag :fixed_discount, id: 'fixed-discount', class: 'form-control', style: 'width: 5em', disabled: true, value: format('%.2f', (discount_code.fixed_discount.exchange_to(@event.currency).cents.to_f / 100)) %>
            </div>
          </td>
        </tr>
      <% end %>
      <% if show_balance %>
        <tr>
          <td></td>
          <td></td>
          <td>
            <strong>Balance</strong>
            <div class="input-group" style="margin: 5px 0">
              <div class="input-group-prepend">
                <span class="input-group-text"><%= money_symbol(@event.currency) %></span>
              </div>
              <%= number_field_tag :balance, id: 'balance', class: 'form-control', style: 'width: 5em', disabled: true %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
<% if @event.select_tickets_outro %>
  <table class="table table-borderless mb-0">
    <tr>
      <td>
        <%== Sanitize.fragment(Rinku.auto_link(@event.select_tickets_outro), Sanitize::Config::DANDELION) %>
      </td>
    </tr>
  </table>
<% end %>
</div>
<h3 class="card-header bg-primary text-white">Your details</h3>
<div class="card-body" id="details">
  <script>
    $(function () {
      $('#account_name').attr('required', 'required')
    })
  </script>
  <% form_for (@account = current_account || Account.new(country: 'United Kingdom of Great Britain and Northern Ireland')), '' do |f| %>
    <% if current_account %>
      <p class="lead">Signed in as <%= current_account.name %> (<%= current_account.email %>)</p>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
    <% else %>
      <%= f.text_block :name %>
      <%= f.email_block :email %>
      <% if @event.organisation.collect_location %>
        <%= f.text_block :postcode %>
        <%= f.select_block :country %>
      <% end %>
    <% end %>
    <% if @event.ask_hear_about %>
      <%= f.text_block :hear_about %>
    <% end %>
    <% if @event.organisation.organisation_tiers.and(:gc_plan_id.ne => nil).count > 0 %>
      <a class="mb-3" style="display: inline-block" href="javascript:;" onclick="$(this).hide().next().show()">Add Direct Debit info to become a member of <%=@event.organisation.name%> now (UK only)</a>
      <div id="gc-details" style="display: none">
        <%= f.select_block :gc_plan_id, options: [''] + @event.organisation.organisation_tiers.map { |organisation_tier| ["#{organisation_tier.name} (#{m organisation_tier.threshold, @event.organisation.currency}/month)", organisation_tier.gc_plan_id] } %>
        <%= f.text_block :gc_given_name %>
        <%= f.text_block :gc_family_name %>
        <%= f.text_block :gc_address_line1 %>
        <%= f.text_block :gc_city %>
        <%= f.text_block :gc_postal_code %>
        <%= f.text_block :gc_branch_code %>
        <%= f.text_block :gc_account_number %>
      </div>
    <% end %>
    <%= f.hidden_field :http_referrer, value: request.referrer %>
    <% @event.questions_a.each_with_index { |q,i| %>
    <div class="form-group links-blank">
      <% if m = q.match(/\[(.*)\]/)  %>
        <div class="checkbox-inline">
          <%= check_box_tag "answers[#{i}]", id: "answers-#{i}", checked: ((params[:answers][i] == 'true') if params[:answers]), 'data-required': q.ends_with?('*') %>
          <label class="font-weight-bold" for="answers-<%=i%>">
            <%== Sanitize.fragment(Rinku.auto_link(m[1]), Sanitize::Config::DANDELION) %><% if q.ends_with?('*') %>*<% end %>
          </label>
        </div>
      <% else %>
        <label><%== Sanitize.fragment(Rinku.auto_link(q), Sanitize::Config::DANDELION) %>*</label>
        <div>
          <%= text_area_tag "answers[#{i}]", required: true, class: 'autosize form-control', value: (params[:answers][i] if params[:answers]) %>
        </div>
      <% end %>
    </div>
    <% } %>
    <% if current_account && @event.organisation_and_cohosts.all? { |organisation| current_account.organisationships.find_by(organisation: organisation) } %>
      <%= f.hidden_field :opt_in_organisation, value: 1 %>
    <% else %>
      <script>
        $(function () {
          $('#opt-in-organisation label').html('Get email updates from <%== @event.organisation_and_cohosts.map { |organisation| Sanitize.fragment(organisation.name) }.to_sentence(last_word_connector: ' and ') %>')
          $('#opt-in-organisation').show()
        })
      </script>
      <div id="opt-in-organisation" style="display: none">
        <%= f.check_box_block :opt_in_organisation %>
      </div>
    <% end %>
    <% if @event.opt_in_facilitator && @event.event_facilitators.count > 0 %>
      <script>
        $(function () {
          $('#opt-in-facilitator label').text('Get email updates from <%= @event.event_facilitators.map(&:firstname).to_sentence(last_word_connector: ' and ') %>')
          $('#opt-in-facilitator').show()
        })
      </script>
      <div id="opt-in-facilitator" style="display: none">
        <%= f.check_box_block :opt_in_facilitator %>
      </div>
    <% end %>
    <% if @event.organisation.terms_and_conditions %>
      <p class="mb-1 font-weight-bold">Terms and conditions</p>
      <textarea class="form-control mb-2" style="height: 8em" readonly><%=@event.organisation.terms_and_conditions%></textarea>
      <% if @event.organisation.terms_and_conditions_check_box %>
        <div class="checkbox-inline mb-1">
          <%= check_box_tag :accepted_terms, id: 'accepted-terms' %>
          <label for="accepted-terms">
            I agree to the terms and conditions
          </label>
        </div>
      <% end %>
      <p><small>
          By proceeding you also agree to Dandelion's <a target="_blank" href="/terms">terms and conditions</a>
          and understand this event is organised by <%= (@event.organiser || @event.revenue_sharer || @event.organisation).name %>.
        </small>
      </p>
    <% elsif @event.organisation.terms_and_conditions_url %>
      <p><small>
          By proceeding you agree to the terms and conditions of <a target="_blank" href="/terms">Dandelion</a> and <a href="<%=@event.organisation.terms_and_conditions_url%>" target="_blank"><%=@organisation.name%></a><% if @event.organiser || @event.revenue_sharer %>
            and understand this event is organised by <%= (@event.organiser || @event.revenue_sharer || @event.organisation).name %><% end %>.
        </small>
      </p>
      <% if @event.organisation.terms_and_conditions_check_box %>
        <div class="checkbox-inline mb-1">
          <%= check_box_tag :accepted_terms, id: 'accepted-terms' %>
          <label for="accepted-terms">
            I agree to the terms and conditions
          </label>
        </div>
      <% end %>
    <% else %>
      <p><small>
          By proceeding you agree to Dandelion's <a target="_blank" href="/terms">terms and conditions</a>
          and understand this event is organised by <%= (@event.organiser || @event.revenue_sharer || @event.organisation).name %>.
        </small>
      </p>
    <% end %>
    <button class="btn btn-primary btn-block mb-1" type="submit" data-payment-method="rsvp">
      <span>RSVP</span>
      <i class="fa fa-spin fa-circle-o-notch" style="display: none"></i>
    </button>
    <%= hidden_field_tag :payment_method, value: 'rsvp', disabled: true %>
    <% if @event.organisation.stripe_sk && FIAT_CURRENCIES.include?(@event.currency) %>
      <button class="btn btn-primary btn-block mb-1" type="submit" data-payment-method="stripe">
        <span>Pay</span>
        <i class="fa fa-spin fa-circle-o-notch" style="display: none"></i>
      </button>
      <%= hidden_field_tag :payment_method, value: 'stripe', disabled: true %>
    <% end %>
    <% if @event.organisation.coinbase_api_key && (FIAT_CURRENCIES.include?(@event.currency) || COINBASE_CURRENCIES.include?(@event.currency)) %>
      <button class="btn btn-primary btn-block mb-1 btn-dotted" type="submit" data-payment-method="coinbase">
        <span>Pay with Crypto</span>
        <i class="fa fa-spin fa-circle-o-notch" style="display: none"></i>
      </button>
      <%= hidden_field_tag :payment_method, value: 'coinbase', disabled: true %>
    <% end %>
    <% if @event.oc_slug %>
      <button class="btn btn-primary btn-block mb-1 btn-dotted" type="submit" data-payment-method="opencollective">
        <span>Pay with Open Collective</span>
        <i class="fa fa-spin fa-circle-o-notch" style="display: none"></i>
      </button>
      <%= hidden_field_tag :payment_method, value: 'opencollective', disabled: true %>
    <% end %>
    <% if @event.organisation.evm_address && (EVM_CURRENCIES.include?(@event.currency) || (@event.currency == 'USD')) %>
      <button class="btn btn-primary btn-block mb-1 btn-dotted" type="submit" data-payment-method="evm">
        <span><% if @event.currency.in?(['BREAD', 'USD'])%>Pay with BREAD on Gnosis Chain<% else %>Pay with <%= @event.chain.name %><% end %></span>
        <i class="fa fa-spin fa-circle-o-notch" style="display: none"></i>
      </button>
      <%= hidden_field_tag :payment_method, value: 'evm', disabled: true %>
    <% end %>
    <%= hidden_field_tag :utm_source, value: params[:utm_source] %>
    <%= hidden_field_tag :utm_medium, value: params[:utm_medium] %>
    <%= hidden_field_tag :utm_campaign, value: params[:utm_campaign] %>
  <% end %>
</div>
</div>

<div class="card" id="card-error" style="display: none">
  <h3 class="card-header bg-danger text-white">There was an error processing the transaction</h3>
  <div class="card-body">
    <p>
      You have not be charged. Please refresh the page to try again.
    </p>
  </div>
</div>

<div class="card" id="pay-with-opencollective" style="display: none">
  <h3 class="card-header bg-primary text-white">Pay with Open Collective</h3>
  <div class="card-body">
    <p class="lead please"></p>
    <p class="lead memo text-monospace font-weight-bold text-center"></p>
    <p>Looking for your transaction... <i class="fa fa-spin fa-circle-o-notch"></i></p>
  </div>
</div>

<% if @event.chain %>
  <div class="card" id="pay-with-evm" style="display: none">
    <h3 class="card-header bg-primary text-white">
      Pay with <%= @event.chain.name %>
    </h3>
    <div class="card-body">
      <p class="lead please"></p>
      <p class="web3wallet"></p>
      <% if @event.organisation.evm_address && @event.chain.name == 'Celo' %>
        <div class="qr mb-3">
          <p class="mb-1">or use this QR code with Valora:</p>
          <div id="qrcode"></div>
          <script type="text/javascript">
            new QRCode(document.getElementById("qrcode"), "celo://wallet/pay?address=<%=@event.organisation.evm_address%>");
          </script>
        </div>
      <% end %>
      <p>Making a manual transaction? You will find pasting these details easier if you 'Expand view' first.</p>
      <p>Looking for your transaction... <i class="fa fa-spin fa-circle-o-notch"></i></p>
    </div>
  </div>
<% end %>

<script>
  <% if @event.past? && !@event.recording? %>
    timeAgo = '<%= time_ago_in_words @event.start_time %>'
  <% end %>
    eventId = <%== @event.id.to_s.to_json %>
    eventUrl = <%== "#{ENV['BASE_URI']}/events/#{@event.id}".to_json %>
    placesRemaining = <%== @event.places_remaining.to_json %>
    currency = <%== @event.currency.to_json %>
    currencySymbol = <%== money_symbol(@event.currency).to_json %>
    stripePk = <%== @event.organisation.stripe_pk.to_json %>
    coinbase = <%= @event.organisation.coinbase_api_key ? true : false %>
    organisationOcSlug = <%== @event.organisation.oc_slug.to_json %>
    ocSlug = <%== @event.oc_slug.to_json %>
    evmAddress = <%== @event.organisation.evm_address.to_json %>
    contractAddress = <%== @event.currency == 'USD' ? Token.object('BREAD').contract_address.to_json : @event.token.try(:contract_address).to_json %>
    networkId = <%= @event.chain.try(:network_id) %>
    networkName = '<%= @event.chain.try(:name) %>'
    signedIn = <%= current_account ? true : false %>
</script>
<script src="/javascripts/purchase.js?<%= @cachebuster %>"></script>
