<script>
  $(function () {

    if (typeof google !== 'undefined') {
      var autocomplete = new google.maps.places.Autocomplete($('#events-search-near')[0]);
    }

  })
</script>

<% if params[:display].in?(['map', 'calendar']) %>
  <%= partial :'events/toggle_search_well' %>
<% end %>

<div class="search well" style="<%= 'display: none;' if params[:display].in?(['map', 'calendar']) %>">

  <% form_tag '/events', method: 'get', class: 'submitOnChange searchForm mb-3' do %>
    <%= hidden_field_tag :display, value: params[:display] %>
    <%= hidden_field_tag :order, value: params[:order] %>
    <div class="form-row align-items-end">
      <div class="form-group col-12 col-sm-auto">
        <label>Events between</label>
        <%= text_field_tag :from, class: 'form-control datepicker', value: (@from.to_fs(:db_local) if @from) %>
      </div>
      <div class="form-group col-12 col-sm-auto">
        <label>and</label>
        <%= text_field_tag :to, class: 'form-control datepicker', value: (@to.to_fs(:db_local) if @to) %>
      </div>
      <div class="form-group col-12 col-sm-auto">
        <label>containing the word</label>
        <%= text_field_tag :q, class: 'form-control', value: params[:q] %>
      </div>
      <div class="form-group col-12 col-sm-auto">
        <label>near</label>
        <%= text_field_tag :near, class: 'form-control', value: params[:near], id: 'events-search-near', placeholder: '' %>
      </div>
      <%= partial :'events/search_event_tags' %>
    </div>
    <div class="form-row align-items-end mt-1">
      <%= checkbox 'Online', form_group_class: 'col-12 col-sm-auto either-or' %>
      <%= checkbox 'In person', form_group_class: 'col-12 col-sm-auto either-or' %>
      <div class="form-group col-12 col-sm-auto">
        <%= submit_tag 'Search', class: 'btn btn-primary' %>
      </div>
    </div>
    <%= hidden_field_tag :search, value: 1 %>
  <% end %>

  <%= partial :'events/view_options', locals: { calendar_view: true, path: (path if defined?(path)) } %>

</div>