<% form_tag '/events', method: 'get', class: 'submitOnChange searchForm form-inline  mb-3' do %>
  <%= hidden_field_tag :display, value: params[:display] %>
  <div class="form-group">
    <label>Show events from</label>
    <%= text_field_tag :from, class: 'form-control datepicker', value: @from.to_s(:db) %>
  </div>
  <div class="form-group">
    <label>containing the word</label>
    <%= text_field_tag :q, class: 'form-control', value: params[:q] %>
  </div>
  <% if (event_tags = EventTag.and(:id.in => EventTagship.and(:event_id.in => Event.live.public.legit.future.pluck(:id)).pluck(:event_tag_id)).order('name asc')).count > 0 %>
    <div class="form-group">
      <label>tagged</label>
      <%= select_tag :event_tag_id, options: [''] + event_tags.map { |event_tag| [event_tag.name, event_tag.id] }, selected: params[:event_tag_id], class: 'form-control', style: 'max-width: 11em' %>
    </div>
  <% end %>
  <div class="form-group">
    <label>Sort by</label>
    <%= select_tag :order, options: { 'Event date' => 'date', 'Most recently created' => 'created_at' }, selected: params[:order], class: 'form-control mx-1' %>
  </div>
  <%= checkbox 'Online' %>
  <%= checkbox 'In person' %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
  <%= hidden_field_tag :search, value: 1 %>
<% end %>
