<div class="col-lg-5">
  <div id="purchase">
    <% if current_account && (orders =  @event.orders.complete.and(account: current_account).includes(tickets: :ticket_type)).exists? %>
      <div class="card shadow-sm mb-3">
        <h3 class="card-header bg-primary text-white">
          <% if @event.past? %>
            Thanks for attending!
          <% else %>
            Your orders
          <% end %>
        </h3>
        <div class="card-body">
          <% if @event.past? %>
            <% if event_feedback = @event.event_feedbacks.find_by(account: current_account) %>
              <% if event_feedback.rating %>
                <p>Your rating: <% event_feedback.rating.times do %><i class="bi bi-star-fill"></i><% end %></p>
              <% end %>
            <% else %>
              <p><a href="/events/<%=@event.id%>/give_feedback">Give feedback</a></p>
            <% end %>
          <% end %>
          <%= partial :'events/orders', locals: { event: @event, orders: orders } %>
        </div>
        <% pmails = @event.pmails_as_mailable.and(:sent_at.ne => nil).order('sent_at desc') %>
        <% if pmails.exists? %>
          <h3 class="card-header bg-primary text-white">Messages from facilitators</h3>
          <div class="card-body">
            <ul class="list-unstyled">
              <% pmails.each { |pmail| %>
              <li>
                <a target="_blank" href="<%= "/pmails/#{pmail.id}" %>"><%= pmail.subject %></a>
                <%= timeago(pmail.sent_at) %>
              </li>
              <% } %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @event.purchase_url %>
      <div class="card shadow-sm d-none d-lg-block">
        <h3 class="card-header bg-primary text-white"><%= @event.select_tickets_title || 'Select tickets' %></h3>
        <div class="card-body">
          <p><%= @event.select_tickets_intro %></p>
          <a target="_blank" href="<%= @event.purchase_url %>" class="btn btn-outline-primary btn-block mb-3"><%= @event.rsvp_button_text || "Book via #{URI(@event.purchase_url).host.gsub('www.','')}" %></a>
        </div>
      </div>
    <% elsif @event.sold_out? && !params[:ticket_type_id] %>
      <% if params[:added_to_waitlist] %>
        <div class="card shadow-sm">
          <h3 class="card-header bg-primary text-white">Thanks!</h3>
          <div class="card-body">
            <p class="lead mb-0">
              We'll be in touch if we are able to issue more tickets.
            </p>
          </div>
        </div>
      <% else %>
        <%= partial :'events/waitlist' %>
        <%= partial :'events/upcoming' %>
      <% end %>
    <% elsif @event.ticket_types.exists? %>
      <% if @event.monthly_donors_only && !(current_account && @event.organisation.organisationships.find_by(:account => current_account, :monthly_donation_method.ne => nil)) %>
        <div class="card shadow-sm">
          <h3 class="card-header bg-primary text-white"><%= @event.select_tickets_title || 'Select tickets' %></h3>
          <div class="card-body">
            <p class="lead mb-0">
              <% if current_account %>
                You must be a monthly donor to
              <% else %>
                You must be signed in and a monthly donor to
              <% end %>
              <a href="/o/<%= @event.organisation.slug %>"><%= @event.organisation.name %></a> to book tickets to this event.
              <% if !current_account %><a href="/accounts/sign_in">Sign in</a> &middot;<% end %>
              <% if @event.organisation.become_a_member_url %>
                <a href="<%= @event.organisation.become_a_member_url %>">Become a Member</a>
              <% end %>
            </p>
          </div>
        </div>
      <% elsif @event.activity && @event.activity.privacy != 'open' && !(current_account && @event.activity.activityships.find_by(account: current_account)) %>
        <div class="card shadow-sm">
          <h3 class="card-header bg-primary text-white"><%= @event.select_tickets_title || 'Select tickets' %></h3>
          <div class="card-body">
            <p class="lead mb-0">
              <% if current_account %>
                You must be a member of the
              <% else %>
                You must be signed in and a member of the
              <% end %>
              <a href="/activities/<%= @event.activity_id %>"><%= @event.activity.name %></a> activity to book tickets to this event.
              <% if !current_account %><a href="/accounts/sign_in">Sign in</a> &middot; <% end %>
              <a href="/activities/<%= @event.activity_id %>/apply">Apply</a>
            </p>
          </div>
        </div>
      <% else %>
        <%= partial :'purchase/purchase' %>
        <% if @event.past? %>
          <%= partial :'events/upcoming' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div id="get-tickets-sidebar" style="position: sticky; top: 3.75rem" class="d-none d-md-none">
    <a <% if @event.purchase_url %>target="_blank" href="<%= @event.purchase_url %>"<% else %>href="javascript:;" onclick="$(window).scrollTop($('#purchase').offset()['top'] - $('#header').height() - 17)"<% end %> class="btn btn-primary btn-block">
      <% if @event.purchase_url %>
        <%= @event.rsvp_button_text || "Book via #{URI(@event.purchase_url).host.gsub('www.','')}" %>
      <% else %>
        Get tickets
      <% end %>
    </a>
  </div>
  <script>
    $(function () {
      $(window).scroll(function () {
        if (window.scrollY > ($('#purchase').offset()['top'] + $('#purchase').height() - $('#header').height())) {
          $('#get-tickets-sidebar').addClass('d-md-block').removeClass('d-md-none')
        } else {
          $('#get-tickets-sidebar').addClass('d-md-none').removeClass('d-md-block')
        }
      })
      $(window).scroll()
    })
  </script>
</div>
