<% event.event_tags.each { |event_tag| %>
<% if event.organisation %>
  <a <% if event.ai_tagged? %> data-toggle="tooltip" title="AI generated"<% end %> href="/events?event_tag_id=<%= event_tag.id %>" class="text-white label <%= event.ai_tagged? ? 'label-primary' : 'label-primary' %> d-inline-block mb-1"><i class="bi bi-stars"></i> <%== Sanitize.fragment(event_tag.name) %></a>
<% else %>
  <span <% if event.ai_tagged? %> data-toggle="tooltip" title="AI generated"<% end %> class="text-white label <%= event.ai_tagged? ? 'label-primary' : 'label-primary' %> d-inline-block mb-1"><i class="bi bi-stars"></i> <%== Sanitize.fragment(event_tag.name) %></span>
<% end %>
<% } %>