<% event_tags = event.event_tags %>
<% tags_to_display = defined?(limit) ? event_tags.sample(limit) : event_tags.shuffle %>

<span class="tag-container">
  <% tags_to_display.each_with_index do |event_tag, index| %>
    <span class="tag-item <%= 'd-none' if defined?(show_more) && index >= show_more_limit %>">
      <% if @organisation %>
        <a <% if event.ai_tagged? %> data-toggle="tooltip" title="AI generated"<% end %> href="/o/<%= @organisation.slug %>/events?event_tag_id=<%= event_tag.id %><%= '&minimal=1' if params[:minimal] %>" class="text-white label <%= event.ai_tagged? ? 'label-primary' : 'label-primary' %> d-inline-block mb-1"><% if event.ai_tagged? %><i class="bi bi-stars"></i> <% end %><%== Sanitize.fragment(event_tag.name) %></a>
      <% else %>
        <span <% if event.ai_tagged? %> data-toggle="tooltip" title="AI generated"<% end %> class="text-white label <%= event.ai_tagged? ? 'label-primary' : 'label-primary' %> d-inline-block mb-1"><% if event.ai_tagged? %><i class="bi bi-stars"></i> <% end %><%== Sanitize.fragment(event_tag.name) %></span>
      <% end %>
    </span>
  <% end %>

  <% if defined?(show_more) && event_tags.count > show_more_limit %>
    <a href="javascript:;" onclick="$(this).closest('.tag-container').find('.tag-item').removeClass('d-none'); $(this).remove();">
      <i class="bi bi-three-dots"></i>
    </a>
  <% end %>
</span>

<% if defined?(plus_more) && event_tags.count > limit %>
  <span style="white-space: nowrap">
    + <%= event_tags.count - limit %>
  </span>
<% end %>