<% if event_email_viewer? %>
  <pre>
    <%== Account.and(:id.in => @tickets.pluck(:account_id)).map { |account| "#{Sanitize.fragment(account.name)} &lt;#{Sanitize.fragment(account.email)}&gt;" }.join(', ') %>
  </pre>
<% end %>
<% unless params[:search] %>
  <%= partial :'events/ticket_types_progress' %>
<% end %>
<% @tickets = @tickets.order('created_at desc')
   @tickets = @tickets.paginate(page: params[:page], per_page: 50) %>
<% if @event %>
  <div class="row justify-content-between">
    <div class="col">
      <p><%== pagination_details @tickets, model: 'Ticket' %></p>
    </div>
    <div class="col-auto">
      <a class="btn btn-primary" href="/events/<%= @event.id %>/tickets.csv?<%= request.query_string %>"><i class="fa fa-download"></i> CSV</a>
      <a class="btn btn-primary" href="/events/<%= @event.id %>/tickets.pdf?<%= request.query_string %>"><i class="fa fa-download"></i> PDF</a>
    </div>
  </div>
<% else %>
  <p><%== pagination_details @tickets, model: 'Ticket' %></p>
<% end %>
<script>
  $(function () {
    $('#tickets').dataTable({bInfo: false, paging: false, searching: false, order: [[4, "desc"]]});
  })
</script>
<table class="table" id="tickets">
  <thead>
    <tr>
      <th>Name</th>
      <th>Ticket type</th>
      <th>Ticket ID</th>
      <th>Price</th>
      <th>Created at</th>
      <th>Checked in</th>
      <th>Feedback</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% @tickets.each { |ticket| %>
  <tr>
    <td>
      <% if ticket.account %>
        <%= partial :'accounts/account', locals: { account: ticket.account, show_email: ticket_email_viewer?(ticket) } %>
        <% if ticket.name || (ticket.email && ticket_email_viewer?(ticket)) %>
          <div class="mt-1">
            ordered for
            <% if ticket.name %>
              <br />
              <strong><%= ticket.name %></strong>
            <% end %>
            <% if ticket.email && ticket_email_viewer?(ticket) %>
              <br />
              <small><%=ticket.email %></small>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <em class="text-muted">(deleted account)</em>
      <% end %>
    </td>
    <td data-pagelet-url="/tickets/<%= ticket.id %>/ticket_type">
      <%= partial :'events/ticket_type', locals: { ticket: ticket } %>
    </td>
    <td nowrap>
      <abbr title="<%= ticket.id %>" data-toggle="tooltip">
        <%= ticket.id.to_s[0..3] %>&hellip;<%= ticket.id.to_s[-4..-1] %>
      </abbr>
    </td>
    <td data-sort="<%= ticket.discounted_price %>" data-pagelet-url="/tickets/<%= ticket.id %>/price">
      <%= partial :'events/ticket_price', locals: { ticket: ticket } %>
    </td>
    <td data-sort="<%= ticket.created_at.iso8601 %>">
      <%= ticket.created_at %>
    </td>
    <td>
      <div data-pagelet-url="/events/<%= @event.id %>/check_in_toggle/<%= ticket.id %>">
        <%= partial :'events/check_in_toggle', locals: { ticket: ticket } %>
      </div>
    </td>
    <td>
      <% if (event_feedback = @event.event_feedbacks.find_by(account: ticket.account)) && !event_feedback.anonymise %>
        <a href="/event_feedbacks/<%= event_feedback.id %>">
          <% if event_feedback.rating %>
            <% event_feedback.rating.times do %><i class="fa fa-star"></i><% end %>
          <% else %>
            <%= event_feedback.id %>
          <% end %>
        </a>
      <% elsif ticket.event.finished? && ticket.account %>
        <% if ticket.account.unsubscribed_feedback %>
          <span class="text-muted">Unsubscribed from feedback emails</span>
        <% else %>
          <a href="<%= ENV['BASE_URI'] %>/events/<%= ticket.event_id %>/resend_feedback_email/<%= ticket.account_id %>">Resend feedback email</a>
        <% end %>
      <% end %>
    </td>
    <td>
      <%= dropdown_nav [
        (['Link to order confirmation', "/orders/#{ticket.order_id}"] if ticket.order),
        (['Remove and refund ticket', "/events/#{@event.id}/tickets/#{ticket.id}/destroy"] if @event.refund_deleted_orders && ticket.session_id),
        (['Delete ticket', "/events/#{@event.id}/tickets/#{ticket.id}/destroy"] if !(@event.refund_deleted_orders && ticket.session_id)),
        (['Remove and refund order', "/events/#{@event.id}/orders/#{ticket.order_id}/destroy"] if ticket.order && @event.refund_deleted_orders && ticket.order.session_id),
        (['Delete order', "/events/#{@event.id}/orders/#{ticket.order_id}/destroy"] if ticket.order && !(@event.refund_deleted_orders && ticket.order.session_id)),        
      ].compact, button_text: %(Actions <i class="fa fa-caret-down"></i>), container_class: 'btn-group mb-1' %>
    </td>
  </tr>
  <% } %>
</table>
<%= will_paginate @tickets, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
