<% if ticket.discounted_price %>
  <a href="javascript:;" onclick="$(this).hide().next().show().find('input').focus()"><%= m ticket.discounted_price, ticket.currency) %></a>
  <% form_tag "/tickets/#{ticket.id}/price", style: 'display:none' do %>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><%= Money.new(0, ticket.event.currency).symbol %></span>
      </div>
      <%= number_field_tag :price, class: 'form-control', style: 'width: 6em', value: ticket.price, onblur: '$(this.form).submit()' %>
    </div>
  <% end %>
<% end %>
<% if ticket.order %>
  <% if ticket.order.percentage_discount %>
    <span data-toggle="tooltip" class="label label-default mr-1" title="<%= "#{ticket.order.percentage_discount}%" %> discount code applied<% if ticket.order.discount_code %>: <%=ticket.order.discount_code.code%><% end %>">
      <%= "#{ticket.order.percentage_discount}%" %>
    </span>
  <% end %>
  <% if ticket.order.percentage_discount_monthly_donor %>
    <span data-toggle="tooltip" class="label label-default mr-1" title="<%= "#{ticket.order.percentage_discount_monthly_donor}%" %> monthly donor discount applied">
      <%= "#{ticket.order.percentage_discount_monthly_donor}%" %>
    </span>
  <% end %>
  <% if ticket.order.coinbase_checkout_id %>
    <span class="label label-default bg-coinbase mr-1">Coinbase</span>
  <% elsif ticket.order.seeds_secret %>
    <span class="label label-default bg-seeds mr-1">SEEDS: <%= ticket.order.seeds_secret %></span>
  <% elsif ticket.order.evm_secret %>
    <span class="label label-default bg-secondary mr-1">EVM: <%= ticket.order.evm_secret %></span>
  <% end %>
  <% if ticket.order.incomplete? %><i title="Payment processing" class="fa fa-spin fa-circle-o-notch"></i><% end %>
<% end %>
