<% if params[:minimal] %>
  <%== '<div class="container-fluid">' %>
<% end %>

<div class="row justify-content-between">

  <div class="col-12 col-sm">

    <ul class="pl-0 mb-3 d-flex align-items-center">
      <!-- align vertically -->
      <li class="list-inline-item">
        <label class="mb-0">View as</label>
      </li>
      <li class="list-inline-item">
        <a class="btn <%='btn btn-outline-primary' if !params[:display].in?(['map','table']) %>" href="<%= path if defined?(path) %>?<%= q = Rack::Utils.parse_nested_query(request.query_string); q.delete('search'); q.delete('display'); q.merge({search: 1, display: 'list' }).to_query %>">
          <i class="fa fa-list"></i> List
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn <%='btn-outline-primary' if params[:display] == 'map' %>" href="<%= path if defined?(path) %>?<%= q = Rack::Utils.parse_nested_query(request.query_string); q.delete('search'); q.delete('display'); q.merge({search: 1, display: 'map' }).to_query %>">
          <i class="bi bi-geo-alt-fill"></i> Map
        </a>
      </li>
      <!-- <li class="list-inline-item">
        <a class="btn <%='btn-outline-primary' if params[:display] == 'table' %>" href="<%= path if defined?(path) %>?<%= q = Rack::Utils.parse_nested_query(request.query_string); q.delete('search'); q.delete('display'); q.merge({search: 1, display: 'table' }).to_query %>">
          <i class="fa fa-table"></i> Table
        </a>
      </li> -->
    </ul>
  </div>

  <% if params[:display] != 'map' %>
    <div class="col-12 col-lg-auto">
      <% form_tag (defined?(path) ? path : ''), method: 'get', class: 'form-inline submitOnChange' do %>
        <% params.each { |k,v| next if %w[format search order slug].include?(k) %>
        <%= hidden_field_tag k, value: v %>
        <% } %>
        <%= hidden_field_tag :search, value: 1 %>
        <label class="mr-sm-2">Sort by</label>
        <%= select_tag :order, options: { 'Event date' => 'date', 'Most recently created' => 'created_at' }, selected: params[:order], class: 'form-control' %>
        <a class="mt-2 mt-sm-0 ml-sm-3 badge badge-primary" style="font-weight: 500" id="ical" target="_blank" data-toggle="tooltip" href="<%= defined?(path) ? path : request.path %>.ics?<%= request.query_string %>">
          iCal <i class="bi bi-box-arrow-up-right"></i>
        </a>
      <% end %>
    </div>
  <% end %>

</div>

<% if params[:minimal] %>
  <%== '</div>' %>
<% end %>
