<% if params[:minimal] %>
  <%== '<div class="container-fluid my-3">' %>
<% end %>

<style>
  #view-options .btn {
    background-color: white;
  }
  #view-options .btn:hover {
    color: inherit;
  }
</style>
<script>
  $(function() {
    function handleViewOptionsTooltips() {
      var $tooltips = $('#view-options [title]');
      if ($(window).width() >= 992) {
        $tooltips.each(function() {
          $(this).tooltip('dispose').removeAttr('data-toggle');
        });
      } else {
        $tooltips.each(function() {
          if (!$(this).attr('data-toggle')) {
            $(this).attr('data-toggle', 'tooltip').tooltip({
              html: true,
              title: $(this).attr('title')
            });
          }
        });
      }
    }

    handleViewOptionsTooltips();
    $(window).on('resize', handleViewOptionsTooltips);
  });
</script>
<%
  view_options = [
    { key: 'list', label: 'List', icon: 'bi-list-task', active: !params[:display].in?(%w[map calendar grid]) },
    ({ key: 'grid', label: 'Grid', icon: 'bi-grid-3x3-gap-fill', active: params[:display] == 'grid' } if defined?(grid_view)),
    { key: 'map', label: 'Map', icon: 'bi-geo-alt-fill', active: params[:display] == 'map' },
    ({ key: 'calendar', label: 'Calendar', icon: 'bi-calendar-event', active: params[:display] == 'calendar' } if defined?(calendar_view))
  ].compact
%>
<div class="row" id="view-options">

  <div class="col-12 col-lg-auto">

    <ul class="pl-0 mb-3 d-flex align-items-center">
      <li class="list-inline-item">
        <label class="mb-0">View as</label>
      </li>
      <% view_options.each do |opt| %>
        <li class="list-inline-item">
          <a data-toggle="tooltip" title="<%= opt[:label] %> view" class="btn <%= 'btn-outline-primary' if opt[:active] %>" href="<%= view_url(opt[:key], path: (path if defined?(path))) %>">
            <i class="bi <%= opt[:icon] %>"></i> <span class="d-none d-lg-inline"><%= opt[:label] %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <% if params[:display] != 'map' %>
    <div class="col-12 col-lg-auto">
      <% form_tag (path if defined?(path)).to_s, method: 'get', class: 'form-inline submitOnChange' do %>
        <% view_base_params.reject { |k, _| %w[search order slug].include?(k) }.each do |k, v| %>
          <% if v.is_a?(Array) %>
            <% v.each { |item| %>
            <%= hidden_field_tag "#{k}[]", value: item %>
            <% } %>
          <% else %>
            <%= hidden_field_tag k, value: v %>
          <% end %>
        <% end %>
        <%= hidden_field_tag :search, value: 1 %>
        <label class="mr-sm-2">Sort by</label>
        <%= select_tag :order, options: { 'Event date' => 'date', 'Most recently created' => 'created_at', 'Random' => 'random', 'Trending' => 'trending'}, selected: (params[:order] || @events_search_order), class: 'form-control' %>
        <a data-toggle="tooltip" title="iCal feed" style="font-size: 1rem" class="text-primary mt-2 mt-sm-0 ml-sm-3" id="ical" target="_blank" href="<%= defined?(path) && path ? path : request.path.chomp('/') %>.ics?<%= view_base_params.to_query %>">
          <i class="bi bi-rss-fill"></i>
        </a>
      <% end %>
    </div>
  <% end %>

</div>

<% if params[:minimal] %>
  <%== '</div>' %>
<% end %>
