<%= partial :'events/nav', locals: { event: @event } %>


<% if params[:tour] || (!ENV['SKIP_TOURS'] && params[:new_org]) %>
  <script>
    $(function() {

      if($(window).width() > 992) {

        introJs().setOptions({
          steps: [{
            title: "Great job!",
            intro: "Now it's time to create an event under your new organisation."
          }]
        }).start();

      }
    })
  </script>
<% end %>

<% if params[:new_org] %>
  <div class="alert alert-success">
    <p class="lead">
      Now it's time to create an event under your new organisation!
    </p>
    <p class="mb-0">
      Step through the tabs then click 'Create event'.
    </p>
  </div>
<% end %>

<% if @event.locked? %>
  <div class="alert alert-secondary">
    This event is currently locked and visible to event admins only.
  </div>
<% end %>

<% if @event.new_record? %>
  <% begin %>
    <%= partial :'organisations/pay', locals: { organisation: @event.organisation } %>
    <% rescue Money::Bank::UnknownRate, Money::Currency::UnknownCurrency %>
  <% end %>
<% end %>

<p class="mt-3">
  <a target="_blank" href="/docs/events">
    <i class="bi bi-question-circle-fill"></i>
    Need support? Check out the docs
  </a>
</p>

<script>
  $(function () {

    <% if @draft %>
      const draft = <%==@draft.json %>
      const form = $('#build-event')[0]
      $.each(draft, function (key, value) {
        if (value) {
          $(form).find('[name="event[' + key + ']"]').val(value)
          // set flatpickrs
          if (['start_time', 'end_time'].includes(key)) {
            $(form).find('[name="event[' + key + ']"]').flatpickr({
              altInput: true,
              altFormat: 'J F Y, H:i',
              enableTime: true,
              time_24hr: true
            })
          }
          // set ckeditors
          if (['description', 'extra_info_for_ticket_email', 'ticket_email_greeting', 'extra_info_for_recording_email'].includes(key)) {
            const field = $(form).find('[name="event[' + key + ']"]')
            const editorInstance = field.next().find('[contenteditable]')[0].ckeditorInstance;
            editorInstance.setData(value)
          }
        }
      })
    <% end %>

    <% if @event.new_record? %>
      setInterval(function () {
        if ($('#event_name').val().length > 0) {
          $.post('/events/draft', $('#build-event').serializeObject())
        }
      }, 10*1000)
    <% end %>

    $('#event-build-nav a[data-toggle="tab"]').on('show.bs.tab', function (e) {
      var form = $('#event-build-nav').closest('form')[0]
        if (form.reportValidity()) {
          // continue
        } else {
          e.preventDefault()
          $(window).scrollTop($(form).find(":invalid").first().offset()['top'] - $('#header').height() - 36)
          $(form).find(":invalid").first().focus()
        }
    });

    <% if @event.new_record? %>
        $('.tab-pane').each(function () {
          var tabPane = this
          $('<a href="javascript:;" class="next btn btn-primary">Next</a>').appendTo(tabPane)
          $(this).find('a.next').click(function () {
            $('#event-build-nav a[href="#' + $(tabPane).next().attr('id') + '"]').tab('show')
          })
        })
        $('.tab-pane:last').find('a.next').remove()
    <% end %>

    $('#event_start_time').siblings('small').text("<%==js_escape_html "in #{Time.zone.now.strftime('%Z')} (UTC #{Time.zone.now.formatted_offset})" %> (your profile's time zone)")
    $('#event_end_time').siblings('small').text("<%==js_escape_html "in #{Time.zone.now.strftime('%Z')} (UTC #{Time.zone.now.formatted_offset})" %> (your profile's time zone)")

    var autocomplete = new google.maps.places.Autocomplete($('#event_location')[0]);
    $('#event_location').keydown(function (e) {
      if (e.which == 13 && $('.pac-container:visible').length)
        return false;
    })

    $('#event_start_time').change(function() {
      $('#event_end_time')[0]._flatpickr.set('minDate', $('#event_start_time')[0]._flatpickr.selectedDates[0])
    })

    $('#event_image').change(function() {
      fileUpload = this
      var reader = new FileReader();

      //Read the contents of Image File.
      reader.readAsDataURL(fileUpload.files[0]);
      reader.onload = function (e) {

        //Initiate the JavaScript Image object.
        var image = new Image();

        //Set the Base64 string return from FileReader as source.
        image.src = e.target.result;

        //Validate the File Height and Width.
        image.onload = function () {
          var height = this.height;
          var width = this.width;

          if (width < 992) {
            alert('Please use an image that is at least 992px wide');
            $(fileUpload).val('')
          }

          if (height > width) {
            alert('Please use an image that is more wide than high');
            $(fileUpload).val('')
          }

          <% if @event.organisation.event_image_required_width %>
            if (width != <%=@event.organisation.event_image_required_width%>) {
              alert('Please use an image that is <%=@event.organisation.event_image_required_width%>px wide');
              $(fileUpload).val('')
            }
          <% end %>

          <% if @event.organisation.event_image_required_height %>
            if (height != <%=@event.organisation.event_image_required_height%>) {
              alert('Please use an image that is <%=@event.organisation.event_image_required_height%>px high');
              $(fileUpload).val('')
            }
          <% end %>
        };
      };
    })

    <% if @event.organisation %>
      <% if @event.organisation.event_image_required_width && @event.organisation.event_image_required_height %>
        $('#event_image').closest('.form-group').find('small').text("Required image dimensions: <%==js_escape_html "#{@event.organisation.event_image_required_width}px x #{@event.organisation.event_image_required_height}px" %>")
      <% elsif @event.organisation.event_image_required_width %>
        $('#event_image').closest('.form-group').find('small').text("Image must be <%==js_escape_html "#{@event.organisation.event_image_required_width}px wide" %>")
      <% elsif @event.organisation.event_image_required_height %>
        $('#event_image').closest('.form-group').find('small').text("Image must be <%==js_escape_html "#{@event.organisation.event_image_required_height}px high" %>")
      <% end %>
    <% end %>

  })
</script>

<%
drafts = current_account.drafts.and(model: 'Event')
if @draft
  drafts = drafts.and(:id.ne => @draft.id) 
end
%>
<% if drafts.count > 0 %>
  <div class="card mb-3" id="drafts">
    <h4 class="card-header bg-light">
      Drafts
    </h4>
    <div class="card-body bg-light">
      <ul class="icon-list mb-0">
        <% drafts.each do |draft| %>
          <li>
            <%
        uri = URI(draft.url)
        params = Rack::Utils.parse_query(uri.query || '')
        params['draft_id'] = draft.id
        uri.query = Rack::Utils.build_query(params)
      %>
            <i class="bi bi-pencil-square"></i>
            <a href="<%=uri%>">
              <%=draft.name%>
            </a>
            <span class="text-muted">
              saved <%= time_ago_in_words draft.created_at %> ago
            </span>
            <a href="javascript:;" onclick="var a = this; $.get('/drafts/<%=draft.id%>/destroy', function() { $('[data-toggle=tooltip]').tooltip('hide'); $(a).parent().remove(); if ($('#drafts').find('li').length == 0) { $('#drafts').remove() } })"><i class="bi bi-x-lg" data-toggle="tooltip" title="Delete draft"></i></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if @event.errors.count > 0 %>
  <div class="alert alert-danger">
    <ul class="mb-0">
      <% @event.errors.full_messages.each { |message| %>
      <li><%= message %></li>
      <% } %>
    </ul>
  </div>
<% end %>


<% form_for @event, @event.new_record ? '/events/new' : "/events/#{@event.id}/edit", id: 'build-event' do |f| %>
  <ul id="event-build-nav" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="nav-item"><a class="nav-link active" href="#tab1" role="tab" data-toggle="tab">Basics</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link" href="#tab2" role="tab" data-toggle="tab">Description and confirmation email</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link" href="#tab3" role="tab" data-toggle="tab">Tickets</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link" href="#tab4" role="tab" data-toggle="tab">Questions</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link" href="#tab5" role="tab" data-toggle="tab">Donations</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link" href="#tab6" role="tab" data-toggle="tab">Labels</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link" href="#tab7" role="tab" data-toggle="tab">Everything else</a></li>
    <% if @event.organisation.stripe_client_id %>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#tab8" role="tab" data-toggle="tab">Revenue</a></li>
    <% end %>
  </ul>
  <div class="container">
    <div class="tab-content mt-3">
      <div role="tabpanel" class="tab-pane active" id="tab1">
        <%= f.hidden_field :organisation_id, value: @event.organisation_id %>
        <%= f.text_block :name %>
        <%= f.datetime_block :start_time %>
        <%= f.datetime_block :end_time %>
        <%= f.text_block :location %>
        <%= f.email_block :email %>
        <%= f.image_block :image %>
        <%= f.url_block :facebook_event_url %>
        <%= partial :'events/tags', locals: { f: f } %>
        <%= f.lookup_block :coordinator_id, lookup_url: '/accounts.json', placeholder: 'Search accounts', selected_link: (%(<a class="d-inline-block mt-1" target="_blank" href="/u/#{@event.coordinator.username}">View account</a>) if @event.coordinator) %>
        <% if Padrino.env == :development || @event.organisation.verified? %>
          <%= f.lookup_block :organiser_id, lookup_url: '/accounts.json', placeholder: 'Search accounts', selected_link: (%(<a class="d-inline-block mt-1" target="_blank" href="/u/#{@event.organiser.username}">View account</a>) if @event.organiser_id) %>
        <% end %>

        <script>
          $(function () {

            $('#event_local_group_id').closest('.form-group').css('margin-bottom', '0.25rem')
            $('#do-zoom-party a').click(function () {
              $('#event_zoom_party').click()
            })
            $('#event_zoom_party').change(function () {
              if ($(this).is(':checked')) {
                $('#local-group-select').hide()
                $('#do-zoom-party').hide()
                $('#zoom-party-checkbox').show()
              } else {
                $('#local-group-select').show()
                $('#do-zoom-party').show()
                $('#zoom-party-checkbox').hide()
              }
            })
            $('#event_zoom_party').change()

            <% if !organisation_admin?(@event.organisation) %>
              $('#do-zoom-party').hide()
              $('input[name="event[zoom_party]"').prop('disabled', true)
              $('input[name="event[monthly_donors_only]"').prop('disabled', true)
              $('input[name="event[no_discounts]"').prop('disabled', true)
              $('input[name="event[include_in_parent]"').prop('disabled', true)
              $('input[name="event[affiliate_credit_percentage]"').prop('disabled', true)
              $('input[name="event[featured]"').prop('disabled', true)
              $('input[name="event[show_emails]"').prop('disabled', true)
              $('input[name="event[opt_in_facilitator]"').prop('disabled', true)
              $('input[name="event[refund_deleted_orders]"').prop('disabled', true)
            <% end %>

          })
        </script>

        <% if @event.organisation.activities.count > 0 || @event.organisation.local_groups.count > 0 %>
          <div class="form-group">
            <label for="event_organisation" class="">
              Organisation
            </label>
            <div>
              <input type="text" value="<%=@event.organisation.name%>" class="form-control " disabled="disabled">
            </div>
          </div>
        <% end %>

        <% if @event.organisation.activities.count > 0 %>
          <%= f.lookup_block :activity_id, lookup_url: "/o/#{@event.organisation_id}/activities.json", placeholder: 'Search activities', selected_link: (%(<a class="d-inline-block mt-1" target="_blank" href="/activities/#{@event.activity_id}">View activity</a>) if @event.activity_id) %>
        <% end %>

        <% if @event.organisation.local_groups.count > 0 %>
          <div id="local-group-select" <% unless @event.organisation.verified? %> class="mb-3" <% end %>>
            <%= f.lookup_block :local_group_id, lookup_url: "/o/#{@event.organisation_id}/local_groups.json", placeholder: 'Search local groups', selected_link: (%(<a class="d-inline-block mt-1" target="_blank" href="/local_groups/#{@event.local_group_id}">View local group</a>) if @event.local_group_id) %>
          </div>
          <% if Padrino.env == :development || @event.organisation.verified? %>
            <p id="do-zoom-party">or <a href="javascript:;">turn this event into a Zoom party (experimental)</a></p>
            <div id="zoom-party-checkbox">
              <%= f.check_box_block :zoom_party %>
            </div>
          <% end %>
        <% end %>
        <%= f.check_box_block :locked %>
        <%= f.check_box_block :secret %>
        <%= f.check_box_block :featured %>
        <%= f.check_box_block :send_order_notifications %>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab2">
        <%= f.wysiwyg_block :description %>
        <%= f.wysiwyg_block :extra_info_for_ticket_email %>
        <% if @event.persisted? %>
          <p style="margin-top: -1rem"><a target="_blank" href="/events/<%=@event.id%>/ticket_email">Preview ticket confirmation email &rarr;</a></p>
        <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab3">
        <%= f.select_block :currency %>
        <p id="event-currency-changed" style="margin-top: -0.75rem; display: none">
          <em>Save the event to update the currency symbol.</em>
          <p>
            <script>
              $(function() {
                $('#event_currency').change(function() { $('#event-currency-changed').show() })
              })
            </script>
            <%= partial :'events/ticket_types', locals: { f: f } %>
            <%= partial :'events/ticket_groups', locals: { f: f } %>
            <%= f.number_block :capacity %>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab4">
            <script>
              $(function () {
                $('#event_questions').attr('rows', '3')
                $('#event_feedback_questions').attr('rows', '3')
                autosize($('#event_questions')[0])
                autosize($('#event_feedback_questions')[0])
              })
            </script>
            <%= f.check_box_block :ask_hear_about %>
            <%= f.text_area_block :questions, placeholder: "e.g. Any dietary requirements?\n[Check this box to agree to the terms and conditions]" %>
            <%= f.text_area_block :feedback_questions %>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab5">
            <script>
              $(function() {
                $('#event_suggested_donation').keyup(function () {
                  if ($(this).val().length > 0)
                    $('#donation-options').show()
                  else
                    $('#donation-options').hide()
                })
                if ($('#event_suggested_donation').val().length > 0)
                  $('#donation-options').show()
                else
                  $('#donation-options').hide()
              })
            </script>
            <%= f.number_block :suggested_donation %>
            <div id="donation-options">
              <%= f.number_block :minimum_donation %>
              <%= f.text_block :add_a_donation_to %>
              <%= f.text_block :donation_text %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab6">
            <% if Padrino.env == :development || @event.organisation.change_select_tickets_title || @event.organisation.verified? %>
              <%= f.text_block :select_tickets_title %>
            <% end %>
            <%= f.text_block :select_tickets_intro %>
            <%= f.text_block :select_tickets_outro %>
            <%= f.text_block :carousel_text %>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab7">
            <%= f.shorturl_block :slug, stem: "#{ENV['BASE_URI']}/e/" %>
            <%= f.url_block :redirect_url %>
            <% if Padrino.env == :development || @event.purchase_url || @event.organisation.allow_purchase_url? || @event.organisation.verified? %>
              <%= f.url_block :purchase_url %>
            <% end %>
            <%= f.number_block :facebook_pixel_id %>
            <%= f.text_block :oc_slug %>
            <% if current_account.memberships.and(admin: true).count > 0 %>
              <%= f.select_block :gathering_id, options: [''] + current_account.memberships.and(admin: true).map { |m| [m.gathering.name, m.gathering_id] }.sort_by { |a,b| a } %>
            <% end %>
            <%= f.check_box_block :hide_attendees %>
            <%= f.check_box_block :hide_discussion %>
            <%= f.check_box_block :hide_from_carousels %>
            <%= f.check_box_block :prevent_reminders %>
            <%= f.check_box_block :monthly_donors_only %>
            <%= f.check_box_block :no_discounts %>
            <%= f.check_box_block :show_emails %>
            <%= f.check_box_block :opt_in_facilitator %>
            <%= f.check_box_block :include_in_parent %>
            <%= f.check_box_block :refund_deleted_orders %>
            <% if !@event.organisation.stripe_client_id %>
              <%= f.text_area_block :notes %>
            <% end %>

            <% if Padrino.env == :development || @event.organisation.verified? %>
              <div class="border border-primary rounded p-3 mb-3" style="border-style: dashed !important">
                <%= f.text_block :ticket_email_title %>
                <%= f.wysiwyg_block :ticket_email_greeting %>
                <%= f.check_box_block :no_tickets_pdf %>
                <%= f.check_box_block :hide_organisation_footer %>
                <%= f.check_box_block :hide_few_left %>
                <%= f.wysiwyg_block :extra_info_for_recording_email %>
                <%= f.file_block :video %>
                <%= f.number_block :affiliate_credit_percentage %>
              </div>
            <% end %>

            <% if !@event.organisation.stripe_client_id && @event.new_record? %>
              <script>
                $(function() {
                  $('#build-event').submit(function() {
                    $(this).find('button[type=submit]').prop('disabled', true)
                  })
                })
              </script>
              <%= f.submit_block %>
            <% end %>
          </div>
          <% if @event.organisation.stripe_client_id %>
            <div role="tabpanel" class="tab-pane" id="tab8">
              <%= f.lookup_block :revenue_sharer_id, lookup_url: '/accounts.json', placeholder: 'Search accounts', selected_link: (%(<a class="d-inline-block mt-1" target="_blank" href="/u/#{@event.revenue_sharer.username}">View account</a>) if @event.revenue_sharer_id) %>
              <script>
                $(function () {
                  $('#event_revenue_sharer_id').change(function () {
                    if ($(this).val().length > 0) {
                      $('#revenue-share').show()
                    } else {
                      $('#revenue-share').hide()
                    }
                  })
                  $('#event_revenue_sharer_id').change()

                  $('#event_revenue_share_to_revenue_sharer, #event_profit_share_to_facilitator, #event_profit_share_to_coordinator, #event_profit_share_to_category_steward, #event_profit_share_to_social_media')
                  .wrap('<div class="input-group w-25"></div>')
                  .after('<div class="input-group-append"><span class="input-group-text">%</span></div>')
                })
              </script>
              <% if event_revenue_admin? %>
                <div id="revenue-share">
                  <%= f.text_block :revenue_share_to_revenue_sharer %>
                </div>
                <%= f.number_block :profit_share_to_facilitator %>
                <%= f.number_block :profit_share_to_coordinator %>
                <%= f.number_block :profit_share_to_category_steward %>
                <%= f.number_block :profit_share_to_social_media %>
                <%= f.number_block :stripe_revenue_adjustment %>
              <% end %>
              <%= f.text_area_block :notes %>


              <% if @event.new_record? %>
                <script>
                  $(function() {
                    $('#build-event').submit(function() {
                      $(this).find('button[type=submit]').prop('disabled', true)
                    })
                  })
                </script>
                <%= f.submit_block %>
              <% end %>
            </div>
          <% end %>
        </div>
        <% if @event.persisted? %>
          <%= f.submit_block %>
        <% end %>
      </div>
    <% end %>
