<%= partial :'events/nav', locals: { event: @event } %>

<% if @cohostship && @cohostship.errors.exists? %>
  <div class="alert alert-danger">
    <ul class="mb-0">
      <% @cohostship.errors.full_messages.each { |message| %>
      <li><%= message %></li>
      <% } %>
    </ul>
  </div>
<% end %>

<style>
  td.no-labels label { display: none }
  td.no-buttons button { display: none }
  label[for="cohostship_featured"] { display: none }
</style>
<script>
  $(function() {
    $('#cohosts input').change(function() {
      this.form.submit()
    })
    $('label[for="cohostship_featured"]').text('').show()
  })
</script>
<table id="cohosts" class="table">
  <thead>
    <th>Co-host</th>
    <th>Image</th>
    <th>Featured</th>
  </thead>
  <% @event.cohostships.each { |cohostship| organisation = cohostship.organisation %>
  <tr>
    <td>
      <% if organisation.image %>
        <a href="/o/<%= organisation.slug %>/events"><img src="<%= u organisation.image.thumb('500x500#').url %>" style="width: 50px"></a>
      <% end %>
      <a href="/o/<%= organisation.slug %>/events"><%= organisation.name %></a>
    </td>
    <td class="no-labels no-buttons">
      <% form_for cohostship, "/events/#{@event.id}/cohostships/#{cohostship.id}" do |f| %>
        <%= f.image_block :image %>
        <%= f.submit_block %>
      <% end %>
    </td>
    <td class="no-buttons">
      <% form_for cohostship, "/events/#{@event.id}/cohostships/#{cohostship.id}" do |f| %>
        <%= f.check_box_block :featured %>
        <%= f.submit_block %>
      <% end %>
    </td>
  </tr>
  <% } %>
</table>
