<%= partial :'events/nav', locals: { event: @event } %>

<% if organisation_admin?(@event.organisation) %>

  <% if @event.orders.exists? %>
    <div class="alert alert-warning">
      <p class="mb-0">
        Make sure you <a class="text-warning text-underline" href="/pmails/new?event_id=<%= @event.id %>">contact ticketholders to let them know the event is cancelled</a> before you delete the event!
      </p>
    </div>
  <% end %>

  <div class="text-center">
    <p><a class="d-block d-lg-inline btn btn-danger" href="/events/<%= @event.id %>/destroy">Delete event and attempt to refund all orders</a></p>
    <p>or</p>
    <p><a class="d-block d-lg-inline btn btn-outline-danger" href="/events/<%= @event.id %>/destroy?no_refunds=1">Delete event without refunding orders</a></p>
  </div>
<% else %>
  <div class="alert alert-warning">
    Please ask an admin of <a class="text-warning text-underline" href="/o/<%=@event.organisation.slug%>"><%=@event.organisation.name%></a> to delete the event.
  </div>
<% end %>
