<% if @organisation %>
  <%= partial :'organisations/nav', locals: { organisation: @organisation } %>
  <% event_tags = @organisation.event_tags %>
  <% coordinators = Account.and(:id.in => @organisation.events_including_cohosted.pluck(:coordinator_id)) %>
  <% organisation = @organisation %>
<% elsif @activity %>
  <%= partial :'activities/nav', locals: { activity: @activity } %>
  <% event_tags = @activity.event_tags %>
  <% coordinators = Account.and(:id.in => @activity.events.pluck(:coordinator_id)) %>
  <% organisation = @activity.organisation %>
<% elsif @local_group %>
  <%= partial :'local_groups/nav', locals: { local_group: @local_group } %>
  <% event_tags = @local_group.event_tags %>
  <% coordinators = Account.and(:id.in => @local_group.events.pluck(:coordinator_id)) %>
  <% organisation = @local_group.organisation %>
<% end %>

<div class="search well">

  <% form_tag '', method: 'get', class: 'searchForm mb-0 mb-lg-3' do %>
    <div class="form-row align-items-end">
      <div class="form-group col-12 col-sm-auto">
        <label>Events between</label>
        <%= text_field_tag :from, class: 'form-control datepicker mx-1', value: (@from.to_fs(:db_local) if @from) %>
      </div>
      <div class="form-group col-12 col-sm-auto">
        <label>and</label>
        <%= text_field_tag :to, class: 'form-control datepicker mx-1', value: (@to.to_fs(:db_local) if @to) %>
      </div>
      <div class="form-group col-12 col-sm-auto">
        <label>start/end date</label>
        <%= select_tag :start_or_end, options: {'start date' => 'start', 'end date' => 'end'}, value: @start_or_end, class: 'form-control mx-1' %>
      </div>
      <div class="form-group col-12 col-sm-auto">
        <label>containing the word</label>
        <%= text_field_tag :q, class: 'form-control mx-1', value: params[:q] %>
      </div>
      <% if event_tags.count > 0 %>
        <div class="form-group col-12 col-sm-auto">
          <label>tagged</label>
          <%= select_tag :event_tag_id, options: [''] + event_tags.order('name asc').map { |event_tag| [event_tag.name, event_tag.id] }, selected: params[:event_tag_id], class: 'form-control' %>
        </div>
      <% end %>
      <div class="form-group col-12 col-sm-auto">
        <label>Coordinator</label>
        <%= select_tag :coordinator_id, options: [''] + coordinators.order('name asc').map { |account| [account.name, account.id] }, selected: params[:coordinator_id], class: 'form-control mx-1' %>
      </div>
    </div>

    <% if @organisation %>
      <div class="form-row align-items-end">
        <% if @organisation.local_groups.count > 0 %>
          <div class="form-group col-12 col-sm-auto">
            <label>Local group</label>
            <%= select_tag :local_group_id, options: [''] + @organisation.local_groups.order('name asc').map { |local_group| [local_group.name, local_group.id] }, selected: params[:local_group_id], class: 'form-control mx-1' %>
          </div>
        <% end %>
        <% if @organisation.activities.count > 0 %>
          <div class="form-group col-12 col-sm-auto">
            <label>Activity</label>
            <%= select_tag :activity_id, options: [''] + @organisation.activities.order('name asc').map { |activity| [activity.name, activity.id] }, selected: params[:activity_id], class: 'form-control mx-1' %>
          </div>
        <% end %>
        <% if @organisation.carousels.count > 0 %>
          <div class="form-group col-12 col-sm-auto">
            <label>Carousel</label>
            <%= select_tag :carousel_id, options: ['', ['Featured', 'featured']] + @organisation.carousels.and(:hidden.ne => true).order('o asc').map { |carousel| [carousel.name, carousel.id] }, selected: params[:carousel_id], class: 'form-control mx-1' %>
          </div>
        <% end %>
        <% if @organisation.cohosts.count > 0 %>
          <div class="form-group col-12 col-sm-auto">
            <label>Co-host</label>
            <%= select_tag :cohost_id, options: [''] + @organisation.cohosts.order('name asc').map { |organisation| [organisation.name, organisation.id] }, selected: params[:cohost_id], class: 'form-control mx-1' %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="form-row align-items-end mt-1">
      <%= checkbox 'Online', form_group_class: 'col-12 col-sm-auto' %>
      <%= checkbox 'In person', form_group_class: 'col-12 col-sm-auto' %>
      <%= checkbox 'No coordinator', form_group_class: 'col-12 col-sm-auto' %>
      <%= checkbox 'No facilitators', form_group_class: 'col-12 col-sm-auto' %>
      <% if @organisation %>
        <%= checkbox 'Exclude co-hosted', form_group_class: 'col-12 col-sm-auto' %>
        <% if @organisation.stripe_client_id %>
          <%= checkbox 'Discrepancy', form_group_class: 'col-12 col-sm-auto' %>
        <% end %>
        <%= checkbox 'Deleted', form_group_class: 'col-12 col-sm-auto' %>
      <% end %>
      <div class="form-group col-12 col-sm-auto">
        <%= submit_tag 'Search', class: 'btn btn-primary mb-0' %>
      </div>
    </div>
    <%= hidden_field_tag :search, value: 1 %>
  <% end %>

</div>

<div class="row justify-content-between">
  <div class="col">
    <span class="badge badge-primary"><%= pluralize @events.count, 'event' %></span>
  </div>
  <div class="col-auto">
    <% if @organisation && @organisation.stripe_client_id %>
      <a class="btn btn-primary" href="/o/<%= organisation.slug %>/events/stats.csv?<%= request.query_string %>"><i class="bi bi-download"></i> CSV</a>
    <% end %>
  </div>
</div>
<script>
  $(function () {
    if ($(window).width() > 992)
      $('#event_stats').stickyTableHeaders({zIndex: 9999})
  })
</script>
<%= partial :'events/event_stats', locals: { events: @events, organisation: organisation } %>
