<% if event_admin? %>
  <%= partial :'events/nav', locals: { event: @event } %>
  <div data-pagelet-url="/events/<%= @event.id %>/notes" class="mb-3">
    <%= partial :'events/notes' %>
  </div>
<% else %>
  <style>
    #event-image { margin-top: -0.9375rem }
    @media(min-width: 768px) { #event-image { margin-top: -1.5625rem } }
  </style>
<% end %>

<% if Padrino.env == :production && params[:created] && current_account && current_account.events.count == 1 %>
  <script>
    $(function() {

      if($(window).width() > 992) {

        introJs().setOptions({
          steps: [{
            title: "Nice one!",
            intro: "You've created your first event 🎉"
          }, {
            element: $('#content button.dropdown-toggle').last()[0],
            intro: "Here's the admin dropdown for the event"
          }]
        }).start();

      }
    })
  </script>
<% end %>

<div class="row justify-content-center">
  <div class="col-lg-10">
    <% if @event_image %>
      <a href="/events/<%=@event.id%><% if params[:cohost] %>?cohost=<%=params[:cohost]%><% end %>"><img id="event-image" class="w-100 mb-3" src="<%= u @event_image.url %>"></a>
    <% end %>
    <% if @order %>
      <%= partial :'events/success' %>
    <% end %>
  </div>
</div>
<% unless @order %>
  <% sidebar = false %>
  <% sidebar = true if @event.sold_out? || @event.purchase_url %>
  <% buy_tickets_style = 'class="fixed-bottom bg-white p-3 w-100 d-block d-md-none" style="z-index: 1019; box-shadow: 0px -2px 4px 0px rgba(0,0,0,0.3);"' %>
  <% if @event.purchase_url %>
    <div id="buy-tickets" <%== buy_tickets_style %>>
      <a target="_blank" href="<%=@event.purchase_url%>" class="btn btn-primary btn-block">Select tickets on <%=URI(@event.purchase_url).host.gsub('www.','')%></a>
    </div>
    <style>
      @media(max-width: 991px) { #content { padding-bottom: 4rem } }
    </style>
  <% elsif (params[:ticket_type_id] || !@event.sold_out?) && @event.ticket_types.count > 0 %>
    <% sidebar = true %>
    <div id="buy-tickets" <%== buy_tickets_style %>>
      <a href="javascript:;" onclick="$(this).parent().hide();
            $(window).scrollTop($('#purchase').offset()['top'] - $('#header').height() - 17)
           " class="btn btn-primary btn-block">Get tickets</a>
    </div>
    <script>
      $(function () {
        $(window).scroll(function () {
          if ((window.scrollY + window.innerHeight) > $('#purchase').offset()['top']) {
            $('#buy-tickets').addClass('d-none').removeClass('d-block')
            $('#discord-link').show()
          } else {
            $('#buy-tickets').addClass('d-block').removeClass('d-none')
            $('#discord-link').hide()
          }
        })
        $(window).scroll()
      })
    </script>
  <% end %>
  <div class="row">
    <div class="<%= sidebar ? 'col-lg-7' : 'col-lg-12' %>">
      <% n = 1; if @event.organisation %>
      <% events = ([@event] + @event.organisation.events_for_search.future.and(name: @event.name)).uniq; n = events.count %>
    <% end %>
    <h1 class="mb-1">
      <%= @event.name %>
      <% if n > 1 %>
        <span class="badge badge-primary"><%= pluralize(n, 'dates') %></span>
      <% end %>
      <small>
        <div class="d-inline float-right" data-pagelet-url="/events/<%=@event.id%>/star">
          <%= partial :'events/star', locals: {event: @event} %>
        </div>
      </small>
    </h1>
    <ul style="margin-left: 1.66em; font-size: 1rem" class="fa-ul text-dark mb-1">
      <li>
        <i <% if n > 1 %> style="top: 0.55em"<% end %> data-toggle="tooltip" title="Dates/times" class="fa fa-li fa-calendar"></i>
        <% if n > 1 %>
          <%= select_tag :event_id, options: events.map { |event| [when_details(event), event.id] }, selected: @event.id, class: 'form-control mb-1', style: 'font-size: 1rem; padding: 0.375rem;', onchange: "window.location = '/events/'+$(this).val()" %>
        <% else %>
          <%= when_details(@event) %>
        <% end %>
      </li>
      <li><i data-toggle="tooltip" title="Location" class="fa fa-li fa-map-marker"></i>
        <% if @event.location == 'Online' %>
          Online
        <% elsif @event.location =~ URI::regexp %>
          <span class="compact-urls"><a href="<%= @event.location %>"><%= @event.location %></a></span>
        <% else %>
          <a target="_blank" href="https://www.google.co.uk/maps?q=<%= @event.location %>"><%= @event.location %></a>
        <% end %>
      </li>
      <% if @event.slug %>
        <li>
          <i data-toggle="tooltip" title="Short URL" class="fa fa-li fa-link"></i>
          <a data-toggle="tooltip" title="Short URL" href="<%=ENV['BASE_URI']%>/e/<%=@event.slug%>"><%=ENV['BASE_URI']%>/e/<%=@event.slug%></a>
        </li>
      <% end %>
    </ul>
    <div>
      <%= partial :'events/tag_labels', locals: { event: @event } %>
    </div>
    <%= partial :'events/info_table' %>
    <% if @event.description || @event.organisation.event_footer %>
      <div class="wysiwyg">
        <big>
          <% if @event.description %>
            <%== Sanitize.fragment(Rinku.auto_link(
                (@event.description.include?('<p') || @event.description.include?('<br') ? @event.description : "<p>#{@event.description.gsub("\n", '<br />')}</p>")
                .gsub(%r{<a (href=".+?")>\[\[(.+?)\]\]</a>}, '<a \1 class="btn btn-primary">\2</a>')
              ), Sanitize::Config::DANDELION) %>
          <% end %>
          <% if @event.organisation.event_footer && !@event.zoom_party? %>
            <%== Sanitize.fragment(Rinku.auto_link(@event.organisation.event_footer), Sanitize::Config::DANDELION) %>
          <% end %>
        </big>
      </div>
    <% end %>
    <% unless @event.hide_attendees? %>
      <div data-pagelet-url="/events/<%= @event.id %>/attendees">
        <%= partial :'events/attendees' %>
      </div>
    <% end %>
    <% if @event.zoom_party? %>
      <% if current_account %>
        <div data-pagelet-url="/zoom_parties?event_id=<%= @event.id %>"></div>
      <% else %>
        <p class="text-center lead mt-3">
          <a href="/accounts/new?event_id=<%= @event.id %>">Sign up</a> or <a href="/accounts/sign_in">sign in</a> to see the videocall links for this event
        </p>
      <% end %>
    <% end %>
  </div>
  <% if sidebar %>
    <%= partial :'events/sidebar' %>
  <% end %>
</div>
<%= partial :'events/feedback' %>
<%= partial :'events/discussion' %>
<% end %>
