<div class="row justify-content-between mb-3">
  <div class="col">
    <h1>Events</h1>
    <% if !current_account || current_account.organisations.count == 0 %>
      <p class="lead">
        Want to list an event? First you'll need to <a href="/o/new">create an organisation</a>
      </p>
    <% else %>
      <a class="btn btn-primary" href="javascript:;" onclick="$(this).hide().next().show()"><i class="fa fa-plus-circle"></i> Create an event</a>
      <% form_tag '/events/new', style: 'display: none', method: :get, class: 'form-inline' do %>
        <span class="mr-1">Create an event under</span>
        <%= select_tag :organisation_id, onchange: "window.location = '/events/new?organisation_id=' + $(this).val()", class: 'form-control', options: ['']+current_account.organisations.order('name asc').map { |organisation| [organisation.name, organisation.id] } %>
      <% end %>
    <% end %>
  </div>
</div>
<% form_tag '/events', method: 'get', class: 'submitOnChange searchForm form-inline  mb-3' do %>
  <div class="form-group">
    <label>Show events from</label>
    <%= text_field_tag :from, class: 'form-control datepicker', value: @from.to_s(:db) %>
  </div>
  <div class="form-group">
    <label>containing the word</label>
    <%= text_field_tag :q, class: 'form-control', value: params[:q] %>
  </div>
  <% if (event_tags = EventTag.and(:id.in => EventTagship.and(:event_id.in => Event.live.public.legit.future.pluck(:id)).pluck(:event_tag_id)).order('name asc')).count > 1 %>
    <div class="form-group">
      <label>tagged</label>
      <%= select_tag :event_tag_id, options: [''] + event_tags.map { |event_tag| [event_tag.name, event_tag.id] }, selected: params[:event_tag_id], class: 'form-control' %>
    </div>
  <% end %>
  <div class="form-group">
    <label>Sort by</label>
    <%= select_tag :order, options: { 'Event date' => 'date', 'Most recently created' => 'created_at' }, selected: params[:order], class: 'form-control mx-1' %>
  </div>
  <div class="form-group">
    <label>Display</label>
    <%= select_tag :display, options: { 'List' => 'list', 'Map' => 'map' }, selected: params[:display], class: 'form-control mx-1' %>
  </div>
  <%= checkbox 'Online' %>
  <%= checkbox 'In person' %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
  <%= hidden_field_tag :search, value: 1 %>
<% end %>
<div class="mb-3">
  <a class="badge badge-primary" style="font-weight: normal" id="ical" target="_blank" data-toggle="tooltip" href="<%= ENV['BASE_URI'] %><%= request.path %>.ics?<%= request.query_string %>">
    iCal <i class="fa fa-external-link"></i>
  </a>
</div>

<% if current_account && !params[:search] && !params[:event_tag_id] %>

<% if current_account.recommended_events_cache %>
  <%= partial :'events/carousel', locals: { skip_margin: true, crop: '640x360#nw', title: 'Recommended for you', events: current_account.recommended_events_cache.map { |event_id,people|
    event = Event.find(event_id)
    if event.image_uid && (!event.draft? || event_admin?(event))
      event
    end
  }.compact.first(8) } %>
<% end %>

<% if (organisations = Organisation.and(:id.in =>
current_account.organisationships.and(:hide_membership.ne => true).pluck(:organisation_id) +
current_account.organisationships.and(:admin => true).pluck(:organisation_id)
).and(:id.in =>
Event.live.public.future.pluck(:organisation_id)
)
).count > 0 %>
<h2 class="text-center">Organisations with live events</h2>
<%= partial :'events/carousel_organisations', locals: { organisations: organisations } %>
<% end %>

<% end %>

<% if params[:display] == 'map' %>
  <div data-pagelet-url="/events?<%= request.query_string %>">
    <%= partial :'maps/map', locals: { stem: "/events", dynamic: true, trigger_bounds_changed: true } %>
  </div>
<% else %>
  <div data-pagelet-url="/events?<%= request.query_string %>">
    <%= partial :'events/events' %>
  </div>
<% end %>
