<div class="row justify-content-between mb-3">
  <div class="col">
    <% if !current_account %>
      <h1>Events</h1>
    <% end %>
    <% if !current_account %>
      <p>
        <a class="btn btn-primary" href="/accounts/new?list_an_event=1">List an event</a>
      </p>
    <% else %>
      <% if current_account.organisations.count == 0 %>
        <p class="lead">
          Want to list an event? First you'll need to <a href="/o/new">create an organisation</a>
        </p>
      <% else %>
        <p>
          <a class="btn btn-primary" href="javascript:;" onclick="$(this).parent().hide().next().show()"><i class="bi bi-plus-square-fill"></i> Create an event</a>
        </p>
        <% form_tag '/events/new', style: 'display: none', method: :get, class: 'my-3 form-inline' do %>
          <span class="mr-1">Create an event under</span>
          <%= select_tag :organisation_id, onchange: "window.location = '/events/new?organisation_id=' + $(this).val()", class: 'form-control', options: ['']+current_account.organisations.order('name asc').map { |organisation| [organisation.name, organisation.id] } %>
        <% end %>
      <% end %>
      <p><a href="/events/my">View your upcoming and past events</a></p>
    <% end %>
  </div>
</div>

<%= partial :'events/search_form' %>

<% if current_account && !params[:search] && !params[:event_tag_id] %>
  <%= cp(:'events/carousel_organisations', key: "/events/carousel_organisations/#{current_account.id}") %>
<% end %>

<%= partial :'events/view_options' %>

<% if params[:display] == 'map' %>
  <div data-pagelet-url="/events?<%= request.query_string %>">
    <%= partial :'maps/map', locals: { stem: "/events", dynamic: true, trigger_bounds_changed: true } %>
  </div>
<% elsif params[:display] == 'table' %>
  <%= partial :'events/table' %>
<% elsif params[:display] == 'concise' %>
  <%= partial :'events/concise' %>
<% else %>
  <div data-pagelet-url="/events?<%= request.query_string %>">
    <%= partial :'events/events' %>
  </div>
<% end %>
