<% if @event.theme_color %>
  <link href="/theme.css?theme_color=<%=CGI.escape(@event.theme_color || '#00B963')%>" rel="stylesheet">
<% end %>

<style>
  .btn-outline-primary {
    background: white;
  }
  .btn.btn-outline-primary.dropdown-toggle {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important
  }
</style>

<% if event_admin? %>
  <%= partial :'events/nav', locals: { event: @event } %>
  <%= partial :'events/locked' %>
  <div data-pagelet-url="/events/<%= @event.id %>/notes" class="mb-3">
    <%= partial :'events/notes' %>
  </div>
<% else %>
  <style>
    #event-image { margin-top: -0.9375rem }
    @media(min-width: 768px) { #event-image { margin-top: -1.5625rem } }
  </style>
<% end %>

<% if params[:tour] || (!ENV['SKIP_TOURS'] && params[:created] && current_account && current_account.events.count == 1) %>
  <script>
    $(function() {

      if($(window).width() > 992) {

        introJs().setOptions({
          steps: [{
            title: "Nice one!",
            intro: "You've created your first event 🎉"
          }, {
            element: $('#content button.dropdown-toggle').last()[0],
            intro: "Here's the admin dropdown for the event"
          }]
        }).start();

      }
    })
  </script>
<% end %>

<div class="row justify-content-center">
  <div class="col-lg-10">
    <% if @event_video %>
      <div class="embed-responsive embed-responsive-16by9 mb-3">
        <video src="<%=@event_video.url%>" type="video/mp4" controls muted playsinline onmouseover="this.play();" onmouseout="this.pause();"></video>
      </div>
    <% elsif @event_image %>
      <a href="/e/<%=@event.slug%><% if params[:cohost] %>?cohost=<%=params[:cohost]%><% end %>"><img id="event-image" class="w-100 mb-3" style="aspect-ratio: <%= @event.image_width %> / <%= @event.image_height %>" src="<%= u @event_image.thumb('1920x1920').url %>"></a>
    <% end %>
    <% if @order %>
      <%= partial :'events/success' %>
    <% end %>
  </div>
</div>

<% unless @order %>
  <% sidebar = false %>
  <% sidebar = true if @event.sold_out? || @event.purchase_url %>
  <% buy_tickets_style = 'class="fixed-bottom bg-white p-3 w-100 d-block d-md-none" style="z-index: 1019; box-shadow: 0px -2px 4px 0px rgba(0,0,0,0.3);"' %>
  <% if @event.purchase_url %>
    <div id="buy-tickets" <%== buy_tickets_style %>>
      <a target="_blank" href="<%=@event.purchase_url%>" class="btn btn-primary btn-block"><%= @event.rsvp_button_text || "Book via #{URI(@event.purchase_url).host.gsub('www.','')}" %></a>
    </div>
    <style>
      @media(max-width: 991px) { #content { padding-bottom: 4rem } }
    </style>
  <% elsif (params[:ticket_type_id] || !@event.sold_out?) && @event.ticket_types.exists? %>
    <% sidebar = true %>
    <div id="buy-tickets" <%== buy_tickets_style %>>
      <a href="javascript:;" onclick="$(this).parent().hide();
            $(window).scrollTop($('#purchase').offset()['top'] - $('#header').height() - 17)
           " class="btn btn-primary btn-block">Get tickets</a>
    </div>
    <script>
      $(function () {
        $(window).scroll(function () {
          if ((window.scrollY + window.innerHeight) > $('#purchase').offset()['top']) {
            $('#buy-tickets').addClass('d-none').removeClass('d-block')
          } else {
            $('#buy-tickets').addClass('d-block').removeClass('d-none')
          }
        })
        $(window).scroll()
      })
    </script>
  <% end %>
  <div class="row">
    <div class="<%= sidebar ? 'col-lg-7' : 'col-lg-12' %>">

      <% n = 1; events = [];
      if @event.organisation
        future_events = if @event.match_phrase
          @event.organisation.events_including_cohosted.live.public.future.and(:id.in => Event.search(@event.match_phrase), :start_time.ne => @event.start_time)
        else
          @event.organisation.events_including_cohosted.live.public.future.and(:name => @event.name, :location => @event.location, :start_time.ne => @event.start_time)
        end
        events = ([@event] + future_events).uniq
        n = events.count
     end %>

      <div class="row no-gutters">
        <div class="col">
          <h1 class="ml-2 mb-1">
            <%= @event.name %>
            <% if n > 1 %>
              <span class="badge badge-primary"><%= pluralize(n, 'dates') %></span>
            <% end %>
          </h1>
        </div>
        <div class="col-auto">
          <div class="d-inline ml-3 mr-2" style="font-size: 1.5em;" data-pagelet-url="/events/<%=@event.id%>/star">
            <%= partial :'events/star', locals: {event: @event} %>
          </div>
        </div>
      </div>

      <%= partial :'events/details', locals: { n: n, events: events } %>

      <div style="font-size: 1.1em" class="mb-3">
        <%= partial :'events/tag_labels', locals: { event: @event, show_more: true, show_more_limit: 5 } %>
      </div>

      <%= partial :'events/info_table' %>

      <% if @event.description || @event.organisation.event_footer %>
        <% if @event.half_width_images %>
          <style>
            @media (min-width: 768px) {
              div.wysiwyg img { width: 50% }
            }
          </style>
        <% end %>
        <div class="wysiwyg readable">
          <% if @event.description %>
            <% d = Rinku.auto_link(
                (@event.description.include?('<p') || @event.description.include?('<br') ? @event.description : "<p>#{@event.description.gsub("\n", '<br />')}</p>")
                .gsub(%r{<a (href=".+?")>\[\[(.+?)\]\]</a>}, '<a \1 class="btn btn-primary">\2</a>')) %>
            <% if @event.raw_description %>
              <%== d %>
            <% else # previously only if @event.organisation.allow_iframes? (otherwise Sanitize.fragment(d, Sanitize::Config::DANDELION)) %>
              <%== Sanitize.fragment(d, Sanitize::Config::IFRAMES) %>
            <% end %>
          <% end %>
          <% if !@event.hide_organisation_footer && @event.organisation.event_footer && !@event.zoom_party? %>
            <%== Sanitize.fragment(Rinku.auto_link(@event.organisation.event_footer), Sanitize::Config::DANDELION) %>
          <% end %>
        </div>
      <% end %>

      <% if @event.zoom_party? %>
        <% if current_account %>
          <div data-pagelet-url="/zoom_parties?event_id=<%= @event.id %>"></div>
        <% else %>
          <p class="text-center lead mt-3">
            <a href="/accounts/new?event_id=<%= @event.id %>">Sign up</a> or <a href="/accounts/sign_in">sign in</a> to see the videocall links for this event
          </p>
        <% end %>
      <% end %>

    </div>
    <% if sidebar %>
      <%= partial :'events/sidebar' %>
    <% end %>
  </div>

  <%= partial :'events/feedback' %>

  <% if !@event.hide_discussion %>
    <% if event_participant? %>
      <%= partial :'events/discussion' %>
    <% end %>
  <% end %>

<% end %>
