<% upcoming_events = current_account.upcoming_events.paginate(page: params[:upcoming_events_page], per_page: 10) %>
<% past_events = current_account.previous_events.paginate(page: params[:past_events_page], per_page: 10) %>

<% if params[:past_events_page] || params[:upcoming_events_page] %>
  <p><a href="/events/my">&larr; All your events</a></p>
<% end %>

<% unless params[:past_events_page] %>
  <% if past_events.exists? %>
    <h2 class="mb-3">Upcoming events</h2>
  <% end %>
  <% if upcoming_events.exists? %>
    <%= partial :'events/blocks', locals: { events: upcoming_events } %>
    <div class="mt-3">
      <%= will_paginate upcoming_events, param_name: 'upcoming_events_page', page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
    </div>
  <% else %>
    <div class="mb-3">
      <em>No upcoming events</em>
    </div>
  <% end %>
<% end %>

<% unless params[:upcoming_events_page] %>
  <% if past_events.exists?; events = past_events %>
    <h2 class="mb-3">Past events</h2>

    <% if events.exists? %>
      <div class="mb-3">
        <div class="row" id="events">
          <% events.each { |event| next if event.locked? && !event_admin?(event) %>
          <div class="col-12 <%= block_class if defined?(block_class) %>" id="<%= event.id %>">
            <div class="mb-4">

              <% image_source = event.display_image_source_for(@organisation) %>
              <div class="row block no-gutters align-items-stretch <% if event.locked? %>event-locked<% end %>">
                <% if image_source %>
                  <div class="col-lg-6 order-lg-2 mb-2 mb-lg-0 bg-white">
                    <a target="_parent" href="/e/<%= event.slug %><%= "?cohost=#{@organisation.slug}" if image_source.is_a?(Cohostship) %>"><%= blurred_image_tag(image_source.image, width: image_source.image_width_unmagic, height: image_source.image_height_unmagic) %></a>
                  </div>
                <% end %>
                <div class="<% if !image_source %>col-lg-12<% else %>col-lg-6<% end %> order-lg-1">
                  <table style="width: 100%; height: 100%">
                    <tr>
                      <td style="vertical-align: top">
                        <div class="row justify-content-between">
                          <div class="col ml-1 p-lg-3">
                            <%= partial :'events/block_main', locals: { event: event, skip_final_ul: true } %>

                            <% if event.organisation %>
                              <% if event.attendees.include?(current_account) %>

                                <li>

                                  <% if (event_feedback = event.event_feedbacks.find_by(account: current_account)) %>
                                    <div class="mt-1">
                                      <% if event_feedback.rating %>
                                        <% event_feedback.rating.times do %><i class="bi bi-star-fill"></i><% end %>
                                      <% end %>

                                      <% event_feedback.answers.each_with_index { |qa,i| q = qa[0]; a = qa[1] %>
                                      <% if a %>
                                        <p class="mt-1">
                                          <strong>
                                            <%== Sanitize.fragment(Rinku.auto_link(q), Sanitize::Config::DANDELION) %>
                                          </strong>
                                          <br>
                                          <%== Sanitize.fragment(Rinku.auto_link(a), Sanitize::Config::DANDELION) %>
                                        </p>
                                      <% end %>
                                      <% } if event_feedback.answers %>
                                    </div>
                                  <% else %>
                                    <i data-toggle="tooltip" title="Give feedback" class="bi bi-star"></i>
                                    <a href="/events/<%=event.id%>/give_feedback">Give feedback</a>
                                  <% end %>
                                </li>

                              <% end %>

                            <% end %>

                          </ul>


                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>


          </div>
        </div>
        <% } %>
      </div>
    </div>
  <% end %>


  <div class="mt-3">
    <%= will_paginate past_events, param_name: 'past_events_page', page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
  </div>
<% end %>

<% end %>
