<%= partial :'events/nav', locals: { event: @event } %>

<div class="row">
  <div class="col">
    <% form_tag '', method: 'get', class: 'submitOnChange searchForm form-inline mb-3' do %>
      <div class="form-group">
        <label>Search orders</label>
        <%= text_field_tag :q, class: 'form-control', value: params[:q] %>
      </div>
      <%= checkbox 'Deleted' %>
      <%= hidden_field_tag :search, value: 1 %>
      <%= submit_tag 'Search', class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-auto">
    <a class="btn btn-primary show mb-1" href="/events/<%=@event.id%>/tickets?create_ticket=1"><i class="fa fa-plus-circle"></i> Create a ticket</a>
  </div>
</div>

<% if event_email_viewer? %>
  <pre>
    <%== Account.and(:id.in => @orders.pluck(:account_id)).map { |account| "#{Sanitize.fragment(account.name)} &lt;#{Sanitize.fragment(account.email)}&gt;" }.join(', ') %>
  </pre>
<% end %>
<% unless params[:search] %>
  <%= partial :'events/ticket_types_progress' %>
<% end %>
<%= partial :'events/orders', locals: { orders: @orders, show_emails: event_email_viewer? } %>
