<%= partial :'events/nav', locals: { event: @event } %>

<div class="row">
  <div class="col">
    <% form_tag '', method: 'get', class: 'submitOnChange searchForm form-inline mb-3', onsubmit: %{
      $('#orders-table').attr('data-pagelet-url', $('#orders-table').attr('data-pagelet-url').split('?')[0] + '?' + $(this).serialize());
      $('#orders-table').load($('#orders-table').attr('data-pagelet-url'))
      return false
    } do %>
      <div class="form-group">
        <label>Search orders</label>
        <%= text_field_tag :q, class: 'form-control', value: params[:q] %>
      </div>
      <%= checkbox 'Complete' %>
      <%= checkbox 'Incomplete' %>
      <%= checkbox 'Discounted' %>
      <%= checkbox 'Deleted' %>
      <%= hidden_field_tag :search, value: 1 %>
      <%= submit_tag 'Search', class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-12 ml-2 mb-3 col-lg-auto ml-lg-0 mb-lg-0">
    <a class="btn btn-primary show mb-1" href="/events/<%=@event.id%>/tickets?create_ticket=1"><i class="bi bi-plus"></i> Create a ticket</a>
  </div>
</div>

<div id="orders-table" data-pagelet-url="/events/<%= @event.id %>/orders">
  <%= partial :'events/orders_table', locals: { orders: @orders, show_emails: event_email_viewer? } %>
</div>
