<script>
  $(function () {
    $('#event_start_time').siblings('small').text("<%==js_escape_html "#{Time.zone.name.include?('London') ? 'UK time' : "in #{Time.zone.name}"} (UTC #{Time.zone.now.formatted_offset})" %>")
    $('#event_end_time').siblings('small').text("<%==js_escape_html "#{Time.zone.name.include?('London') ? 'UK time' : "in #{Time.zone.name}"} (UTC #{Time.zone.now.formatted_offset})" %>")

    $('#event_start_time').change(function() {
      $('#event_end_time')[0]._flatpickr.set('minDate', $('#event_start_time')[0]._flatpickr.selectedDates[0])
    })

    var autocomplete = new google.maps.places.Autocomplete($('#event_location')[0]);
    $('#event_location').keydown(function (e) {
      if (e.which == 13 && $('.pac-container:visible').length)
        return false;
    })

    $('#event_image').change(function() {
      fileUpload = this
      var reader = new FileReader();

      //Read the contents of Image File.
      reader.readAsDataURL(fileUpload.files[0]);
      reader.onload = function (e) {

        //Initiate the JavaScript Image object.
        var image = new Image();

        //Set the Base64 string return from FileReader as source.
        image.src = e.target.result;

        //Validate the File Height and Width.
        image.onload = function () {
          var height = this.height;
          var width = this.width;

          if (width < 800) {
            alert('Please use an image that is at least 800px wide');
            $(fileUpload).val('')
          }

          if (height > width) {
            alert('Please use an image that is more wide than high');
            $(fileUpload).val('')
          }

          <% if @event.organisation && @event.organisation.event_image_required_width %>
            if (width != <%=@event.organisation.event_image_required_width%>) {
              alert('Please use an image that is <%=@event.organisation.event_image_required_width%>px wide');
              $(fileUpload).val('')
            }
          <% end %>

          <% if @event.organisation && @event.organisation.event_image_required_height %>
            if (height != <%=@event.organisation.event_image_required_height%>) {
              alert('Please use an image that is <%=@event.organisation.event_image_required_height%>px high');
              $(fileUpload).val('')
            }
          <% end %>
        };
      };
    })

    <% if @event.organisation %>
      <% if @event.organisation.event_image_required_width && @event.organisation.event_image_required_height %>
        $('#event_image').closest('.form-group').find('small').text("Required image dimensions: <%==js_escape_html "#{@event.organisation.event_image_required_width}px x #{@event.organisation.event_image_required_height}px" %>")
      <% elsif @event.organisation.event_image_required_width %>
        $('#event_image').closest('.form-group').find('small').text("Image must be <%==js_escape_html "#{@event.organisation.event_image_required_width}px wide" %>")
      <% elsif @event.organisation.event_image_required_height %>
        $('#event_image').closest('.form-group').find('small').text("Image must be <%==js_escape_html "#{@event.organisation.event_image_required_height}px high" %>")
      <% end %>
    <% end %>

  })
</script>

<% if @event.errors.count > 0 %>
  <div class="alert alert-danger">
    <ul class="mb-0">
      <% @event.errors.full_messages.each { |message| %>
      <li><%= message %></li>
      <% } %>
    </ul>
  </div>
<% end %>
<% form_for @event, @event.new_record ? "/o/#{@organisation.slug}/events/quick" : "/events/#{@event.id}/quick" do |f| %>
  <%= f.hidden_field :organisation_id %>
  <%= f.text_block :name %>
  <%= f.datetime_block :start_time %>
  <%= f.datetime_block :end_time %>
  <%= f.text_block :location %>
  <%= f.email_block :email %>
  <%= f.image_block :image %>
  <%= partial :'events/tags', locals: { f: f } %>
  <%= f.url_block :purchase_url %>
  <%= f.wysiwyg_block :description %>
  <%= f.submit_block %>
<% end %>
