<%= partial :'events/nav', locals: { event: @event } %>
<div class="row">
  <div class="col">
    <% form_tag '', method: 'get', class: 'submitOnChange searchForm form-inline mb-3', onsubmit: %{
      $('#tickets-table').attr('data-pagelet-url', $('#tickets-table').attr('data-pagelet-url').split('?')[0] + '?' + $(this).serialize());
      $('#tickets-table').load($('#tickets-table').attr('data-pagelet-url'))
      return false
    } do %>
      <div class="form-group">
        <label>Search tickets</label>
        <%= text_field_tag :q, class: 'form-control typeWatch', value: params[:q] %>
      </div>
      <%= checkbox 'Complete' %>
      <%= checkbox 'Incomplete' %>
      <%= checkbox 'Discounted' %>
      <%= checkbox 'Deleted' %>
      <%= hidden_field_tag :search, value: 1 %>
      <%= submit_tag 'Search', class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-12 ml-2 mb-3 col-lg-auto ml-lg-0 mb-lg-0">
    <a id="create-ticket-button" class="btn btn-primary show mb-1" href="javascript:;" onclick="$(this).hide(); $('#create-ticket').show().find('input').first().focus()"><i class="bi bi-plus-square-fill"></i> Create a ticket</a>
  </div>
</div>
<% if params[:create_ticket] %>
  <script>
    $(function() { $('#create-ticket-button').click() })
  </script>
<% end %>
<% form_for @event.tickets.new, "/events/#{@event.id}/create_ticket", id: 'create-ticket', style: 'display: none', class: 'mb-5' do |f| %>
  <%= f.text_block :name %>
  <%= f.text_block :email %>
  <%= f.select_block :ticket_type_id, options: @event.ticket_types.map { |ticket_type| [ticket_type.name, ticket_type.id] } %>
  <%= f.number_block :price %>
  <%= f.submit_block %>
<% end %>
<div id="tickets-table" data-pagelet-url="/events/<%= @event.id %>/tickets">
  <%= partial :'events/tickets_table', locals: { tickets: @tickets } %>
</div>
