<div class="row justify-content-center">
  <div class="col-6 col-lg-3">

    <a href="/books/<%=@book.slug%>">
      <img src="<%= @book.image.url %>" class="w-100 mb-3">
    </a>

  </div>
  <div class="col-lg-9">
    <h2>Chapter summaries</h2>
    <big>
      <% book_chapters = @book.book_chapters.order('number asc') %>
      <ol start="<%=book_chapters.first.number%>">
        <% book_chapters.each { |book_chapter| %>
        <li><a href="/books/<%=@book.slug%>/<%=book_chapter.number%>"><%=book_chapter.name%></a></li>
        <% } %>
      </ol>
    </big>
  </div>
