<div class="row justify-content-center">
  <div class="col-6 col-lg-3">

    <a href="/books/<%=@book.slug%>">
      <img src="<%= @book.image.url %>" class="w-100 mb-3">
    </a>

  </div>
  <div class="col-lg-9">

    <h2>Chapter summaries</h2>

    <% if (parts = @book.parts) %>
      <% parts.each { |part| %>
      <h3>Part <%=part%></h3>
      <big>
        <ol>
          <% @book.book_chapters.and(:number => /^#{part}\./).order('number asc').each { |book_chapter| %>
          <li><a href="/books/<%=@book.slug%>/<%=book_chapter.number%>"><%=book_chapter.name%></a></li>
          <% } %>
        </ol>
      </big>
      <% } %>
    <% else %>
      <big>
        <ol>
          <% @book.book_chapters.order('number asc').each { |book_chapter| %>
          <li><a href="/books/<%=@book.slug%>/<%=book_chapter.number%>"><%=book_chapter.name%></a></li>
          <% } %>
        </ol>
      </big>
    <% end %>
  </div>
