<% if role == 'organiser' && event.revenue_sharer %>
  <td></td>
<% else %>
  <td data-sort="<%=event_method_in_organisation_currency(event, :"profit_to_#{role}", organisation)%>">
    <% if event.revenue_sharer %>
      <%= "#{event.send("profit_share_to_#{role}")}/#{event.revenue_share_to_organisation}" %><br />
    <% else %>
      <%= "#{event.send("profit_share_to_#{role}")}%" %><br />
    <% end %>
    <%= m event.send("profit_to_#{role}"), event.currency %>
    <br />
    <br />
    <div class="p-1">
      <%= m event.send("paid_to_#{role}"), event.currency %> paid
    </div>
    <a <% if event.send("remaining_to_#{role}") > 0 %> href="/events/<%=event.id%>/rpayments?create=1&role=<%=role%>&amount=<%=event.send("remaining_to_#{role}").abs%>&currency=<%=event.currency%>" <% else %> href="/events/<%=event.id%>/rpayments" <% end %> class="d-block p-1<% overpaid = nil; if event.send("remaining_to_#{role}") > 0 %> bg-warning <% elsif event.send("remaining_to_#{role}") < 0; overpaid = true %> bg-danger <% end %>">
      <%= m event.send("remaining_to_#{role}").abs, event.currency %> <%= overpaid ? 'overpaid' : 'remaining' %>
    </a>
  </td>
<% end %>