<% if organisation.stripe_client_id %>
  <td data-sort="<%=event_method_in_organisation_currency(event, :donation_revenue, organisation)%>">
    <span data-toggle="tooltip" title="Reported by Dandelion" class="label label-primary d-block mb-1"><%= m event.donation_revenue, event.currency %></span>
    <span data-toggle="tooltip" title="Reported by Stripe (48h delay)" class="label label-stripe d-block mb-1"><%= m event.stripe_donations, event.currency %></span>
  </td>
<% else %>
  <td data-sort="<%=event_method_in_organisation_currency(event, :donation_revenue_less_application_fees_paid_to_dandelion, organisation)%>">
    <% if event.donation_revenue_less_application_fees_paid_to_dandelion > 0 && !event.purchase_url %>
      <%= m event.donation_revenue_less_application_fees_paid_to_dandelion, event.currency %>
    <% end %>
  </td>
<% end %>