<% if organisation.stripe_client_id %>
  <td data-sort="<%=event_method_in_organisation_currency(event, :discounted_ticket_revenue, organisation)%>">
    <span data-toggle="tooltip" title="Reported by Dandelion" class="label label-primary d-block mb-1"><%= m event.discounted_ticket_revenue, event.currency %></span>
    <span data-toggle="tooltip" title="Reported by Stripe (48h delay)" class="label label-stripe d-block mb-1"><%= m event.stripe_ticket_revenue, event.currency %></span>
  </td>
<% else %>
  <% if organisation.hide_ticket_revenue %>
    <td></td>
  <% else %>
    <td data-sort="<%=event_method_in_organisation_currency(event, :discounted_ticket_revenue, organisation)%>">
      <% if event.discounted_ticket_revenue > 0 %>
        <%= m event.discounted_ticket_revenue, event.currency %>
        <% if event.credit_applied > 0 %>
          - <%= m event.credit_applied, event.currency %> credit applied
        <% end %>
        <% if event.fixed_discounts_applied > 0 %>
          - <%= m event.fixed_discounts_applied, event.currency %> discounts
        <% end %>
      <% end %>
    </td>
  <% end %>
<% end %>