<script>
  $(function () {

    <% if params[:tour] || (!ENV['SKIP_TOURS'] && params[:new_org]) %>
      if($(window).width() > 992) {
        introJs().setOptions({
          steps: [{
            title: "Great job!",
            intro: "Now it's time to create an event under your new organisation."
          }]
        }).start();
      }
    <% end %>

    <% if @draft %>
      const draft = <%==@draft.json %>
      const form = $('#build-event')[0]
      $.each(draft, function (key, value) {
        if (value) {
          $(form).find('[name="event[' + key + ']"]').val(value)
          // set flatpickrs
          if (['start_time', 'end_time'].includes(key)) {
            $(form).find('[name="event[' + key + ']"]').flatpickr({
              altInput: true,
              altFormat: 'J F Y, H:i',
              enableTime: true,
              time_24hr: true
            })
          }
          // set ckeditors
          if (['description', 'extra_info_for_ticket_email', 'ticket_email_greeting', 'extra_info_for_recording_email'].includes(key)) {
            const field = $(form).find('[name="event[' + key + ']"]')
            const editorInstance = field.next().find('[contenteditable]')[0].ckeditorInstance;
            editorInstance.setData(value)
          }
        }
      })
    <% end %>

    <% if @event.new_record? %>
      var draftInterval = setInterval(function () {
        if ($('#event_name').val().length > 0) {
          $.post('/events/draft', $('#build-event').serializeObject())
        }
      }, 10*1000)
      $('#build-event').submit(function() {
        clearInterval(draftInterval);
      });

      $('.tab-pane').each(function () {
        var tabPane = this
        $('<a href="javascript:;" class="next btn btn-primary">Next</a>').appendTo(tabPane)
        $(this).find('a.next').click(function () {
          $('#event-build-nav a[href="#' + $(tabPane).next().attr('id') + '"]').tab('show')
        })
      })
      $('.tab-pane:last').find('a.next').remove()
    <% end %>

    $('#event_questions').attr('rows', '8')
    $('#event_feedback_questions').attr('rows', '8')
    autosize($('#event_questions')[0])
    autosize($('#event_feedback_questions')[0])

    $('#event-build-nav a[data-toggle="tab"]').on('show.bs.tab', function (e) {

      setTimeout(function() {
        autosize.update($('#event_questions')[0])
        autosize.update($('#event_feedback_questions')[0])
      }, 0)

      var form = $('#event-build-nav').closest('form')[0]
      if (form.reportValidity()) {
        // continue
      } else {
        e.preventDefault()
        $(window).scrollTop($(form).find(":invalid").first().offset()['top'] - $('#header').height() - 36)
        $(form).find(":invalid").first().focus()
      }
    });

    $('#event_start_time').siblings('small').text("<%==js_escape_html "in #{Time.zone.now.strftime('%Z')} (UTC #{Time.zone.now.formatted_offset})" %> (your profile's time zone)")
    $('#event_end_time').siblings('small').text("<%==js_escape_html "in #{Time.zone.now.strftime('%Z')} (UTC #{Time.zone.now.formatted_offset})" %> (your profile's time zone)")

    if (typeof google !== 'undefined') {
      var autocomplete = new google.maps.places.Autocomplete($('#event_location')[0]);
      $('#event_location').keydown(function (e) {
        if (e.which == 13 && $('.pac-container:visible').length)
          return false;
      })
    }

    $('#event_start_time').change(function() {
      $('#event_end_time')[0]._flatpickr.set('minDate', $('#event_start_time')[0]._flatpickr.selectedDates[0])
    })

    $('#event_image').change(function() {
      fileUpload = this
      var reader = new FileReader();

      //Read the contents of Image File.
      reader.readAsDataURL(fileUpload.files[0]);
      reader.onload = function (e) {

        //Initiate the JavaScript Image object.
        var image = new Image();

        //Set the Base64 string return from FileReader as source.
        image.src = e.target.result;

        //Validate the File Height and Width.
        image.onload = function () {
          var height = this.height;
          var width = this.width;

          if (width < 992) {
            alert('Please use an image that is at least 992px wide');
            $(fileUpload).val('')
          }

          if (height > width) {
            alert('Please use an image that is more wide than high');
            $(fileUpload).val('')
          }

          <% if @event.organisation.event_image_required_width %>
            if (width != <%=@event.organisation.event_image_required_width%>) {
              alert('Please use an image that is <%=@event.organisation.event_image_required_width%>px wide');
              $(fileUpload).val('')
            }
          <% end %>

          <% if @event.organisation.event_image_required_height %>
            if (height != <%=@event.organisation.event_image_required_height%>) {
              alert('Please use an image that is <%=@event.organisation.event_image_required_height%>px high');
              $(fileUpload).val('')
            }
          <% end %>
        };
      };
    })

    <% if @event.organisation %>
      <% if @event.organisation.event_image_required_width && @event.organisation.event_image_required_height %>
        $('#event_image').closest('.form-group').find('small').text("Required image dimensions: <%==js_escape_html "#{@event.organisation.event_image_required_width}px x #{@event.organisation.event_image_required_height}px" %>")
      <% elsif @event.organisation.event_image_required_width %>
        $('#event_image').closest('.form-group').find('small').text("Image must be <%==js_escape_html "#{@event.organisation.event_image_required_width}px wide" %>")
      <% elsif @event.organisation.event_image_required_height %>
        $('#event_image').closest('.form-group').find('small').text("Image must be <%==js_escape_html "#{@event.organisation.event_image_required_height}px high" %>")
      <% end %>
    <% end %>

    $('#event_local_group_id').closest('.form-group').css('margin-bottom', '0.25rem')
    $('#do-zoom-party a').click(function () {
      $('#event_zoom_party').click()
    })
    $('#event_zoom_party').change(function () {
      if ($(this).is(':checked')) {
        $('#local-group-select').hide()
        $('#do-zoom-party').hide()
        $('#zoom-party-checkbox').show()
      } else {
        $('#local-group-select').show()
        $('#do-zoom-party').show()
        $('#zoom-party-checkbox').hide()
      }
    })
    $('#event_zoom_party').change()

    $('#event_currency').change(function() { $('#event-currency-changed').show() })

    $('#event_suggested_donation').keyup(function () {
      if ($(this).val().length > 0)
        $('#donation-options').show()
      else
        $('#donation-options').hide()
    })
    $('#event_suggested_donation').keyup();

    <% if !organisation_admin?(@event.organisation) %>
      $('#do-zoom-party').hide()
      // cf. event_validation.rb
      $('input[name="event[zoom_party]"').prop('disabled', true)
      $('input[name="event[monthly_donors_only]"').prop('disabled', true)
      $('input[name="event[no_discounts]"').prop('disabled', true)
      $('input[name="event[include_in_parent]"').prop('disabled', true)
      $('input[name="event[affiliate_credit_percentage]"').prop('disabled', true)
      $('input[name="event[featured]"').prop('disabled', true)
      $('input[name="event[show_emails]"').prop('disabled', true)
      $('input[name="event[opt_in_facilitator]"').prop('disabled', true)
      $('input[name="event[refund_deleted_orders]"').prop('disabled', true)
    <% end %>

    <% if @event.organisation.stripe_client_id %>
      $('#event_revenue_sharer_id').change(function () {
        if ($(this).val().length > 0) {
          $('#revenue-share').show()
          $('#event_profit_share_to_facilitator').val(0).closest('.form-group').hide()
          $('#event_profit_share_to_coordinator, #event_profit_share_to_category_steward, #event_profit_share_to_social_media, #event_profit_share_to_organisation').parent().find('.input-group-text').text('/' + (100 - $('#event_revenue_share_to_revenue_sharer').val()))
        } else {
          $('#revenue-share').hide()
          $('#event_profit_share_to_facilitator').closest('.form-group').show()
          $('#event_profit_share_to_coordinator, #event_profit_share_to_category_steward, #event_profit_share_to_social_media, #event_profit_share_to_organisation').parent().find('.input-group-text').text('%')
        }
      })
      $('#event_revenue_sharer_id').change()

      $('#event_revenue_share_to_revenue_sharer').change(function() {
        if ($('#event_revenue_sharer_id').val().length > 0)
          $('#event_profit_share_to_coordinator, #event_profit_share_to_category_steward, #event_profit_share_to_social_media, #event_profit_share_to_organisation').parent().find('.input-group-text').text('/' + (100 - $('#event_revenue_share_to_revenue_sharer').val()))
      }).change()

      $('#event_revenue_share_to_revenue_sharer, #event_profit_share_to_facilitator, #event_profit_share_to_coordinator, #event_profit_share_to_category_steward, #event_profit_share_to_social_media, #event_profit_share_to_organisation')
      .wrap('<div class="input-group" style="width: 10em"></div>')
      .after('<div class="input-group-append"><span class="input-group-text">%</span></div>')
      .change(function () {
        var sum = $.map($('#event_revenue_share_to_revenue_sharer, #event_profit_share_to_facilitator, #event_profit_share_to_coordinator, #event_profit_share_to_category_steward, #event_profit_share_to_social_media'), function (el) {
          return parseInt($(el).val()) || 0
        }).reduce(function (a, b) {
          return a + b
        })
        var remaining = 100 - sum
        $('#event_profit_share_to_organisation').val(remaining)
      }).change()
    <% end %>

    $('#build-event').submit(function() {
      $(this).find('button[type=submit]').prop('disabled', true)
    })

  })
</script>