<%= form_or_tag_field(form, :hidden_field, :order) %>

<div class="row mb-2">
  <div class="col-12 col-lg">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Name</span>
      </div>
      <%= form_or_tag_field(form, :text_field, :name, class: 'form-control', required: true) %>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12 col-lg">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Description</span>
      </div>
      <%= form_or_tag_field(form, :text_field, :description, class: 'form-control') %>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12 col-lg mb-2">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text money-symbol"><%= money_symbol(currency) %></span>
      </div>
      <% price_tooltip = 'Enter a price, a price range (two numbers separated by a dash) or leave blank to let the attendee pay as they feel' %>
      <%= form_or_tag_field(form, :text_field, :price_or_range, class: 'form-control', 'data-toggle': 'tooltip', title: price_tooltip) %>
      <%= form_or_tag_field(form, :hidden_field, :price_or_range_submitted, value: true) %>
    </div>
  </div>

  <div class="col-12 col-lg">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Capacity</span>
      </div>
      <% capacity_tooltip = 'Total number of tickets of this type you want to issue' %>
      <%= form_or_tag_field(form, :number_field, :quantity, class: 'form-control', 'data-toggle': 'tooltip', title: capacity_tooltip, required: true) %>
    </div>
  </div>
</div>

<% if show_donation_field %>
  <div class="row mb-2">
    <div class="col-12 col-lg">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <span class="mr-1">Min. monthly donation</span>
            <span class="money-symbol"><%= money_symbol(currency) %></span>
          </span>
        </div>
        <%= form_or_tag_field(form, :number_field, :minimum_monthly_donation, class: 'form-control', step: 'any') %>
      </div>
    </div>
  </div>
<% end %>

<div class="row mb-2">
  <% if persisted_ticket_groups.length > 0 %>
    <div class="col-12 col-lg mb-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Group</span>
        </div>
        <%= form_or_tag_field(form, :select, :ticket_group_id, options: [''] + persisted_ticket_groups.map { |ticket_group| [ticket_group.name, ticket_group.id] }, class: 'form-control') %>
      </div>
    </div>
  <% end %>

  <div class="col-12 col-lg mb-2">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Sales end</span>
      </div>
      <% sales_end_value = form.object.sales_end&.strftime('%Y-%m-%d %H:%M') if form %>
      <%= form_or_tag_field(form, :text_field, :sales_end, class: 'form-control datetimepicker', value: sales_end_value) %>
    </div>
  </div>

  <div class="col col-lg mb-2">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Limit per order</span>
      </div>
      <% max_quantity_tooltip = 'Maximum number of tickets of this type someone can purchase in a single order' %>
      <%= form_or_tag_field(form, :number_field, :max_quantity_per_transaction, class: 'form-control', 'data-toggle': 'tooltip', title: max_quantity_tooltip, min: 0) %>
    </div>
  </div>

  <div class="col-auto col-lg-auto mb-2">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Secret?</span>
      </div>
      <% secret_tooltip = 'Allow only people with the link to this ticket type to purchase' %>
      <%= form_or_tag_field(form, :check_box, :hidden, value: '1', checked: false, onclick: "$(this).tooltip('hide')", 'data-toggle': 'tooltip', title: secret_tooltip, class: 'form-control', style: 'flex: 0 0 2.1rem; min-width: 2.1rem') %>
      <% if form && form.object.hidden? %>
        <div class="input-group-append">
          <a target="_blank" data-toggle="tooltip" title="Link to secret ticket type" class="input-group-text text-dark" href="/events/<%= @event.id %>?ticket_type_id=<%= form.object.id %>"><i class="bi bi-box-arrow-up-right"></i></a>
        </div>
      <% end %>
    </div>
  </div>
</div>
