<%= partial :'events/nav', locals: { event: @event } %>

<style>
  #build-event .input-group-text { font-size: 1em; }
</style>

<% if params[:new_org] && !params[:draft_id] %>
  <div class="alert alert-success mt-3">
    <p class="lead">
      Now let's create an event under your new organisation.
    </p>
    <p class="mb-0">
      Step through the tabs then click 'Create event'.
    </p>
  </div>
<% end %>

<% if @event.deleted? %>
  <div class="alert alert-warning">
    <p class="mb-0">
      <i class="bi bi-trash"></i>
      This event has been deleted and cannot be saved.
    </p>
  </div>
<% end %>

<%= partial :'events/locked' %>

<p class="mt-3">
  <a target="_blank" href="/docs/events">
    <i class="bi bi-question-circle-fill"></i>
    Need support? Check out the docs
  </a>
</p>

<%
  events_build_config = {
    showIntro: !!(params[:tour] || (!ENV['SKIP_TOURS'] && params[:new_org] && !params[:draft_id])),
    draft: (@draft ? JSON.parse(@draft.json) : nil),
    newRecord: @event.new_record?,
    timeZoneSuffix: "in #{Time.zone.now.strftime('%Z')} (UTC #{Time.zone.now.formatted_offset}) (your profile's time zone)",
    imageRequiredWidth: @event.organisation.try(:event_image_required_width),
    imageRequiredHeight: @event.organisation.try(:event_image_required_height),
    isOrgAdmin: !!organisation_admin?(@event.organisation),
    revenueSharingEnabled: !!@event.organisation.try(:stripe_client_id),
    eventId: @event.id
  }
%>
<script type="application/json" id="events-build-config">
  <%== events_build_config.to_json %>
</script>
<script src="/javascripts/events_build.js?<%= @cachebuster %>"></script>

<%= partial :'events_build/drafts' %>

<% if @event.errors.exists? %>
  <div class="alert alert-danger">
    <ul class="mb-0">
      <% @event.errors.full_messages.each { |message| %>
      <li><%= message %></li>
      <% } %>
    </ul>
  </div>
<% end %>

<% form_for @event, @event.new_record ? '/events/new' : "/e/#{@edit_slug || @event.slug}/edit", id: 'build-event' do |f| %>
  <div class="nav-wrapper">
    <ul id="event-build-nav" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="nav-item"><a class="nav-link active" href="#tab-basics" role="tab" data-toggle="tab">Basics</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#tab-description" role="tab" data-toggle="tab">Description and confirmation</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#tab-tickets" role="tab" data-toggle="tab">Tickets</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#tab-questions" role="tab" data-toggle="tab">Questions</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#tab-donations" role="tab" data-toggle="tab">Donations</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#tab-appearance" role="tab" data-toggle="tab">Appearance</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#tab-emails" role="tab" data-toggle="tab">Emails</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#tab-everything-else" role="tab" data-toggle="tab">Everything else</a></li>
      <% if @event.persisted? && @event.past? %>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#tab-recording" role="tab" data-toggle="tab">Recording</a></li>
      <% end %>
      <% if @event.organisation.stripe_client_id %>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#tab-revenue" role="tab" data-toggle="tab">Revenue</a></li>
      <% end %>
    </ul>
  </div>
  <div class="container">
    <div class="tab-content mt-3">
      <div role="tabpanel" class="tab-pane active" id="tab-basics">
        <%= f.hidden_field :organisation_id, value: @event.organisation_id %>
        <%= f.text_block :name %>
        <%= f.datetime_block :start_time %>
        <%= f.datetime_block :end_time %>
        <%= f.text_block :location %>
        <%= f.email_block :email %>
        <%= f.image_block :image %>
        <%= f.url_block :facebook_event_url %>
        <%= partial :'events_build/tags', locals: { f: f } %>
        <%= f.lookup_block :coordinator_id, lookup_url: '/accounts.json', placeholder: 'Search accounts', selected_link: (%(<a class="d-inline-block mt-1" target="_blank" href="/u/#{@event.coordinator.username}">View account</a>) if @event.coordinator) %>
        <% if Padrino.env == :development || @event.organisation.experimental? %>
          <%= f.lookup_block :organiser_id, lookup_url: '/accounts.json', placeholder: 'Search accounts', selected_link: (%(<a class="d-inline-block mt-1" target="_blank" href="/u/#{@event.organiser.username}">View account</a>) if @event.organiser_id) %>
        <% end %>

        <% if @event.organisation.activities.exists? || @event.organisation.local_groups.exists? %>
          <div class="form-group">
            <label for="event_organisation" class="">
              Organisation
            </label>
            <div>
              <input type="text" value="<%=@event.organisation.name%>" class="form-control " disabled="disabled">
            </div>
          </div>
        <% end %>

        <% if @event.organisation.activities.exists? %>
          <%= f.lookup_block :activity_id, lookup_url: "/o/#{@event.organisation_id}/activities.json", placeholder: 'Search activities', selected_link: (%(<a class="d-inline-block mt-1" target="_blank" href="/o/#{@event.activity.organisation.slug}/a/#{@event.activity.slug}">View activity</a>) if @event.activity) %>
        <% end %>

        <% if @event.organisation.local_groups.exists? %>
          <div id="local-group-select" <% unless @event.organisation.experimental? %> class="mb-3" <% end %>>
            <%= f.lookup_block :local_group_id, lookup_url: "/o/#{@event.organisation_id}/local_groups.json", placeholder: 'Search local groups', selected_link: (%(<a class="d-inline-block mt-1" target="_blank" href="/o/#{@event.local_group.organisation.slug}/lg/#{@event.local_group.slug}">View local group</a>) if @event.local_group) %>
          </div>
          <% if Padrino.env == :development || @event.organisation.experimental? %>
            <p id="do-zoom-party">or <a href="javascript:;">turn this event into a Zoom party (experimental)</a></p>
            <div id="zoom-party-checkbox">
              <%= f.check_box_block :zoom_party %>
            </div>
          <% end %>
        <% end %>
        <%= f.check_box_block :locked %>
        <%= f.check_box_block :secret %>
        <%= f.check_box_block :featured %>
        <%= f.check_box_block :send_order_notifications %>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab-description">
        <%= f.wysiwyg_block :description %>
        <%= f.wysiwyg_block :extra_info_for_ticket_email %>
        <% if @event.persisted? %>
          <p style="margin-top: -1rem"><a target="_blank" href="/events/<%=@event.id%>/ticket_email">Preview order confirmation email &rarr;</a></p>
        <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab-tickets">
        <%= f.select_block :currency %>
        <%= partial :'events_build/ticket_types', locals: { f: f } %>
        <%= partial :'events_build/ticket_groups', locals: { f: f } %>
        <%= f.number_block :capacity %>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab-questions">
        <%= f.check_box_block :ask_hear_about %>

        <%= partial :questions_with_preview, locals: { f: f, field_name: :questions, placeholder: "e.g. Any dietary requirements?\n[Check this box to agree to the terms and conditions]", help_text: 'Questions to ask participants upon booking.', questions_help_locals: { answers_url: "/events/#{@event.id}/orders" } } %>
        <div class="row">
          <div class="col-lg-6">
            <%= f.text_area_block :feedback_questions %>
            <div class="q-help">
              <p class="text-muted">Questions to ask participants in the post-event feedback form.</p>
              <ul class="text-muted">
                <li>One question per line</li>
                <li>Text fields only, like: question?</li>
                <li>Leave blank to disable feedback</li>
                <li>View answers on the <a target="_blank" href="/events/<%=@event.id%>/feedback">Feedback</a> page</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <fieldset class="ml-lg-5 border p-3 rounded mb-3">
              <legend class="w-auto px-2" style="font-size: 1rem">
                Preview
                <span id="feedback-questions-spinner" style="display: none;" class="ml-1">
                  <i class="bi bi-spin bi-slash-lg"></i>
                </span>
              </legend>
              <div id="feedback-questions-preview"></div>
            </fieldset>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab-donations">

        <% if @event.donations_to_dandelion? %>
          <div class="alert alert-warning">
            <p class="mb-0">
              The settings below won't take effect until you've met the <a class="text-warning text-underline" href="/o/<%=@event.organisation.slug%>/contribute">suggested contribution</a>.
            </p>
          </div>
        <% end %>
        <%= f.currency_block :suggested_donation, money_symbol: money_symbol(@event.currency) %>
        <div id="donation-options">
          <%= f.currency_block :minimum_donation, money_symbol: money_symbol(@event.currency) %>
          <%= f.text_block :add_a_donation_to %>
          <%= f.text_block :donation_text %>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab-appearance">
        <% if Padrino.env == :development || @event.organisation.change_select_tickets_title || @event.organisation.experimental? %>
          <%= f.text_block :select_tickets_title %>
        <% end %>
        <%= f.text_block :select_tickets_intro %>
        <%= f.text_block :select_tickets_outro %>
        <%= f.text_block :carousel_text %>
        <%= f.text_block :rsvp_button_text %>
        <%= f.check_box_block :hide_attendees %>
        <%= f.check_box_block :hide_discussion %>
        <%= f.check_box_block :hide_from_carousels %>
        <%= f.check_box_block :hide_few_left %>
        <%= f.check_box_block :hide_organisation_footer %>
        <%= f.check_box_block :hide_unavailable_tickets %>
        <%= f.check_box_block :blank_price_for_free_tickets %>
        <%= f.color_block :theme_color %>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab-emails">
        <%= f.text_block :ticket_email_title %>
        <%= f.wysiwyg_block :ticket_email_greeting %>
        <% if @event.persisted? %>
          <p style="margin-top: -1rem"><a target="_blank" href="/events/<%=@event.id%>/ticket_email">Preview order confirmation email &rarr;</a></p>
        <% end %>
        <%= f.text_block :recording_email_title %>
        <%= f.wysiwyg_block :recording_email_greeting %>
        <% if @event.persisted? %>
          <p style="margin-top: -1rem"><a target="_blank" href="/events/<%=@event.id%>/ticket_email">Preview order confirmation email &rarr;</a></p>
        <% end %>
        <%= f.text_block :reminder_email_title %>
        <%= f.wysiwyg_block :reminder_email_body %>
        <% if @event.persisted? %>
          <p style="margin-top: -1rem"><a target="_blank" href="/events/<%=@event.id%>/reminder_email">Preview reminder email &rarr;</a></p>
        <% end %>
        <%= f.text_block :feedback_email_title %>
        <%= f.wysiwyg_block :feedback_email_body %>
        <% if @event.persisted? %>
          <p style="margin-top: -1rem"><a target="_blank" href="/events/<%=@event.id%>/feedback_request_email">Preview feedback request email &rarr;</a></p>
        <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab-everything-else">
        <%= f.shorturl_block :slug, stem: "#{ENV['BASE_URI']}/e/" %>
        <%= f.url_block :redirect_url %>
        <%= f.url_block :purchase_url %>
        <%= f.text_block :match_phrase %>
        <%= f.number_block :facebook_pixel_id %>
        <%= f.text_block :oc_slug %>
        <%= f.text_block :tax_rate_id %>
        <% if current_account.memberships.and(admin: true).exists? %>
          <%= f.select_block :gathering_id, options: [''] + current_account.memberships.and(admin: true).map { |m| [m.gathering.name, m.gathering_id] }.sort_by { |a,b| a } %>
        <% end %>
        <%= f.check_box_block :no_tickets_pdf %>
        <%= f.check_box_block :prevent_reminders %>
        <%= f.check_box_block :monthly_donors_only %>
        <%= f.check_box_block :no_sales_after_end_time %>
        <%= f.check_box_block :no_discounts %>
        <%= f.check_box_block :enable_resales %>
        <%= f.check_box_block :show_emails %>
        <%= f.check_box_block :opt_in_organisation %>
        <%= f.check_box_block :opt_in_facilitator %>
        <%= f.check_box_block :refund_deleted_orders %>
        <% if !@event.organisation.stripe_client_id %>
          <%= f.text_area_block :notes %>
        <% end %>

        <% if Padrino.env == :development || @event.organisation.experimental? %>
          <div class="well">
            <div class="form-group">
              <label for="event_affiliate_credit_percentage">Affiliate credit percentage</label>
              <div class="input-group">
                <%= f.number_field :affiliate_credit_percentage, class: 'form-control' %>
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
            <%= f.check_box_block :minimal_only %>
          </div>
        <% end %>

        <% if !@event.organisation.stripe_client_id && @event.new_record? %>
          <%= f.submit_block %>
        <% end %>
      </div>
      <% if @event.persisted? && @event.past? %>
        <div role="tabpanel" class="tab-pane" id="tab-recording">
          <%= f.wysiwyg_block :extra_info_for_recording_email %>
          <% if @event.persisted? %>
            <p style="margin-top: -1rem"><a target="_blank" href="/events/<%=@event.id%>/ticket_email">Preview order confirmation email &rarr;</a></p>
          <% end %>
        </div>
      <% end %>
      <% if @event.organisation.stripe_client_id %>
        <div role="tabpanel" class="tab-pane" id="tab-revenue">
          <%= f.lookup_block :revenue_sharer_id, lookup_url: '/accounts.json', placeholder: 'Search accounts', selected_link: (%(<a class="d-inline-block mt-1" target="_blank" href="/u/#{@event.revenue_sharer.username}">View account</a>) if @event.revenue_sharer_id) %>

          <% if event_revenue_admin? %>
            <div id="revenue-share">
              <%= f.text_block :revenue_share_to_revenue_sharer %>
            </div>
            <%= f.number_block :profit_share_to_organiser %>
            <%= f.number_block :profit_share_to_coordinator %>
            <%= f.number_block :profit_share_to_category_steward %>
            <%= f.number_block :profit_share_to_social_media %>

            <%= f.number_block :profit_share_to_organisation, disabled: true %>

            <%= f.number_block :stripe_revenue_adjustment %>
          <% end %>
          <%= f.text_area_block :notes %>


          <% if @event.new_record? %>
            <%= f.submit_block %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if @event.persisted? && !@event.deleted? %>
      <div class="ml-3">
        <%= f.submit_block %>
      </div>
    <% end %>
  </div>
<% end %>
