<%= partial :'events/nav', locals: { event: @event } %>

<div class="mb-3">
  <% unless params[:create] %>
    <a class="btn btn-primary" href="javascript:;" onclick="$(this).hide().next().show()"><i class="bi bi-plus-lg"></i> Add payment</a>
  <% end %>
  <div <% unless params[:create] %> style="display: none " <% end %>>
    <%= partial :'rpayments/build' %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Role</th>
      <th>Amount</th>
      <th>Notes</th>
      <th>Logged</th>
      <th></th>
    </thead>
    <% @rpayments.each { |rpayment| %>
    <tr>
      <td><%=rpayment.role.gsub('_',' ')%></td>
      <td><%=m rpayment.amount, rpayment.currency %></td>
      <td>
        <% if rpayment.notes %>
          <%== Sanitize.fragment(rpayment.notes.gsub("\n",'<br />'), Sanitize::Config::DANDELION) %>
        <% end %>
      </td>
      <td><%=rpayment.created_at%><% if rpayment.account%> by <a href="/u/<%=rpayment.account.username%>"><%=rpayment.account.name%></a><% end %></td>
      <td>
        <a href="/events/<%=@event.id%>/rpayments/<%=rpayment.id%>/edit" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></a>
        <a href="/events/<%=@event.id%>/rpayments/<%=rpayment.id%>/destroy" class="btn btn-danger"><i class="bi bi-x-lg"></i></a>
      </td>
    </tr>
    <% } %>
  </table>