<%= partial :'organisations/nav', locals: { organisation: @organisation } %>

<p class="lead">
  Tiers allow you to give discounts to people making regular donations to your organisation. 
</p>

<div style="margin: 10px 0">
  <a class="btn btn-primary" href="javascript:;" onclick="$(this).hide().next().show()"><i class="bi bi-plus-lg"></i> Create a tier</a>
  <div style="display: none" class="tier-form">
    <%= partial :'organisation_tiers/build' %>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Tier name</th>
      <th>Threshold</th>
      <th>Discount</th>
      <th>GoCardless ID</th>
    </tr>
  </thead>
  <% @organisation.organisation_tiers(true).order('threshold asc').each { |organisation_tier| %>
  <tr>
    <td>
      <a href="/o/<%= @organisation.slug %>/organisation_tiers/<%= organisation_tier.id %>/edit">
        <%= organisation_tier.name %>
      </a>
      <br>
      <%= organisation_tier.description %>
    </td>
    <td>
      <%= m organisation_tier.threshold, @organisation.currency %>
    </td>
    <td>
      <%= organisation_tier.discount %>%
    </td>
    <td>
      <%= organisation_tier.gc_plan_id %>
    </td>
  </tr>
  <% } %>
</table>
