<% if @event.organisation.organisation_tiers.and(:gc_plan_id.ne => nil).exists? %>
  <% organisationship = current_account ? @event.organisation.organisationships.find_by(account: current_account) : nil %>
  <% unless organisationship&.monthly_donor? %>
    <a class="mb-3" style="display: inline-block" href="javascript:;" onclick="$(this).hide().next().show(); $('#account_gc_plan_id option:not(:empty):first').prop('selected', true);">Add Direct Debit info to become a member of <%=@event.organisation.name%> (UK only)</a>
    <div id="gc-details" style="display: none">
      <%= f.select_block :gc_plan_id, options: [''] + @event.organisation.organisation_tiers.map { |organisation_tier| ["#{organisation_tier.name} (#{m organisation_tier.threshold, @event.organisation.currency}/month, #{organisation_tier.discount}% off future events)", organisation_tier.gc_plan_id] } %>
      <%= f.text_block :gc_given_name %>
      <%= f.text_block :gc_family_name %>
      <%= f.text_block :gc_address_line1 %>
      <%= f.text_block :gc_city %>
      <%= f.text_block :gc_postal_code %>
      <%= f.text_block :gc_branch_code %>
      <%= f.text_block :gc_account_number %>
    </div>
  <% end %>
<% end %>