<style>
  #totalDisplay, #credit, #fixed-discount, #balance {
    width: 5em;
  }
  #totalDisplay {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
</style>

<%
discount_code = nil
if params[:discount_code]
  discount_code = @event.all_discount_codes.find_by(code: params[:discount_code].upcase)
  if discount_code
    discount_code = nil if !discount_code.applies_to?(@event)
    discount_code = nil if discount_code.maximum_uses && discount_code.orders.count >= discount_code.maximum_uses
  end
end

@single_free_ticket_type = @event.ticket_types.count == 1 &&
  (free_ticket_type = @event.ticket_types.first) &&
  free_ticket_type.price &&
  free_ticket_type.price.zero? &&
  free_ticket_type.number_of_tickets_available_in_single_purchase > 0 &&
  !free_ticket_type.sales_ended? && !@event.sales_closed_due_to_event_end?
%>

<div class="card shadow-sm <% if @event.no_discounts %>no-discounts<% end %>" id="select-tickets">

  <% unless @single_free_ticket_type %>
    <h3 class="card-header bg-primary text-white"><%= @event.select_tickets_title || 'Select tickets' %></h3>
    <div class="card-body">
      <% if @event.past? %>
        <% if @event.recording? %>
          <div class="alert alert-success">
            <p class="mb-0">Access a recording of this event that started on <%=@event.start_time.to_date%> 🍿</p>
          </div>
        <% else %>
          <div class="alert alert-danger">
            <p class="mb-0">This event started <%= time_ago_in_words @event.start_time %> ago</p>
          </div>
        <% end %>
      <% end %>
      <% if @event.select_tickets_intro %>
        <table class="table table-borderless mb-0">
          <tr>
            <td>
              <%== Sanitize.fragment(Rinku.auto_link(md(@event.select_tickets_intro)), Sanitize::Config::DANDELION) %>
            </td>
          </tr>
        </table>
      <% end %>
    <% end %>

    <div id="ticket-types" <% if @single_free_ticket_type %>style="display: none"<% end %>>
      <% form_tag '' do %>
        <%= hidden_field_tag :cohost, value: params[:cohost] %>
        <%= hidden_field_tag :affiliate_type, value: params[:affiliate_type] %>
        <%= hidden_field_tag :affiliate_id, value: params[:affiliate_id] %>

        <% if @single_free_ticket_type %>
          <%= hidden_field_tag :"quantities[#{free_ticket_type.id}]", value: 1, 'data-ticket-type-id': free_ticket_type.id, 'data-price': 0 %>
        <% else %>
          <table class="table">

            <% @no_ticket_groups = @event.ticket_types.all? { |ticket_type| !ticket_type.ticket_group } %>
            <% @previous_ticket_group = 'Other tickets' %>

            <% @event.ticket_types.order('order asc, price desc').each_with_index { |ticket_type,i| %>
            <% next if ticket_type.hidden && params[:ticket_type_id] != ticket_type.id.to_s; %>
            <% next if discount_code && discount_code.filter && !discount_code.filter.downcase.split(',').map(&:strip).any? { |filter| ticket_type.name.downcase.include?(filter) } %>
            <% next if @event.hide_unavailable_tickets? && (ticket_type.number_of_tickets_available_in_single_purchase == 0 || ticket_type.sales_ended? || @event.sales_closed_due_to_event_end?) %>
            <%= partial :'purchase/ticket_type', locals: { ticket_type: ticket_type, no_border_top: (i == 0) } %>
            <% } %>

            <%= partial :'purchase/discounts', locals: { discount_code: discount_code } %>

            <%= partial :'purchase/suggested_donation' %>

            <%== currency_input_row(label: 'Total', field_name: 'totalDisplay', field_id: 'totalDisplay', value: '0.00') %>
            <%= hidden_field_tag :total, id: 'total' %>

            <% if current_account && (organisationship = @event.organisation.organisationships.find_by(account: current_account)) && organisationship.credit_balance > 0 && FIAT_CURRENCIES.include?(@event.currency) %>
              <% show_balance = true %>
              <%== currency_input_row(label: 'Credit', field_name: 'credit', field_id: 'credit', value: format('%.2f', (organisationship.credit_balance.exchange_to(@event.currency).cents.to_f / 100))) %>
            <% end %>

            <% if discount_code && discount_code.fixed_discount %>
              <% show_balance = true %>
              <%== currency_input_row(label: 'Discount', field_name: 'fixed_discount', field_id: 'fixed-discount', value: format('%.2f', (discount_code.fixed_discount.exchange_to(@event.currency).cents.to_f / 100))) %>
            <% end %>

            <% if show_balance %>
              <%== currency_input_row(label: 'Balance', field_name: 'balance', field_id: 'balance') %>
            <% end %>

          </table>
        <% end %>
      <% end %>
    </div>

    <% unless @single_free_ticket_type %>
      <% if @event.select_tickets_outro %>
        <table class="table table-borderless mb-0">
          <tr>
            <td>
              <%== Sanitize.fragment(Rinku.auto_link(md(@event.select_tickets_outro)), Sanitize::Config::DANDELION) %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  <% end %>

  <h3 class="card-header bg-primary text-white <% if @single_free_ticket_type %>rounded-top<% end %>">
    <% if @single_free_ticket_type %>
      Register for free
    <% else %>
      Your details
    <% end %>
  </h3>
  <div class="card-body" id="details">
    <script>
      $(function () {
        $('#account_name').attr('required', 'required')
      })
    </script>
    <% form_for (@account = current_account || Account.new(country: 'United Kingdom of Great Britain and Northern Ireland')), '' do |f| %>
      <% if current_account %>
        <p class="lead">Signed in as <%= current_account.name %> (<%= current_account.email %>)</p>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <% if !current_account.phone || !current_account.phone.starts_with?('+') %>
          <%= f.text_block :phone %>
        <% end %>
      <% else %>
        <%= f.text_block :name %>
        <%= f.email_block :email %>
        <%= f.text_block :phone %>
        <% if @event.organisation.collect_location %>
          <%= f.text_block :postcode %>
          <%= f.select_block :country %>
        <% end %>
      <% end %>
      <% if @event.ask_hear_about %>
        <%= f.text_block :hear_about %>
      <% end %>
      <%= f.hidden_field :http_referrer, value: request.referrer %>
      <%= f.hidden_field :via, value: params[:via] %>

      <%= partial :'questions/questions', locals: { questions: @event.questions } %>

      <% if @event.opt_in_organisation %>
        <% if current_account && @event.organisation_and_cohosts.all? { |organisation| current_account.organisationships.find_by(organisation: organisation) } %>
          <%= f.hidden_field :opt_in_organisation, value: 1 %>
        <% else %>
          <div id="opt-in-organisation">
            <div class="checkbox">
              <%= f.check_box :opt_in_organisation, class: 'form-check-input' %>
              <label for="account_opt_in_organisation" class="">Get email updates from <%== @event.organisation_and_cohosts.map { |organisation| Sanitize.fragment(organisation.name) }.to_sentence(last_word_connector: ' and ') %></label>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if @event.opt_in_facilitator && @event.event_facilitators.exists? %>
        <div id="opt-in-facilitator">
          <div class="checkbox">
            <%= f.check_box :opt_in_facilitator, class: 'form-check-input' %>
            <label for="account_opt_in_facilitator" class="">Get email updates from <%= @event.event_facilitators.map(&:firstname).to_sentence(last_word_connector: ' and ') %></label>
          </div>
        </div>
      <% end %>

      <%= partial :'purchase/terms_and_conditions' %>

      <%= partial :'purchase/gocardless_details', locals: { f: f } %>

      <%== payment_button(method: 'rsvp', label: @event.rsvp_button_text || 'RSVP', dotted: false, visible: true, condition: true) %>

      <%== payment_button(method: 'stripe', label: 'Pay', dotted: false, condition: (@event.organisation.stripe_connect_json || @event.organisation.stripe_sk) && FIAT_CURRENCIES.include?(@event.currency)) %>
      <%== payment_button(method: 'coinbase', label: 'Pay with crypto', condition: @event.organisation.coinbase_api_key && (FIAT_CURRENCIES.include?(@event.currency) || COINBASE_CURRENCIES.include?(@event.currency))) %>
      <%== payment_button(method: 'gocardless', label: 'Pay with GoCardless', condition: @event.organisation.gocardless_instant_bank_pay && @event.organisation.gocardless_access_token && FIAT_CURRENCIES.include?(@event.currency)) %>
      <%== payment_button(method: 'opencollective', label: 'Pay with Open Collective', condition: @event.oc_slug) %>
      <% evm_label = @event.currency.in?(['BREAD', 'USD']) ? 'Pay with BREAD on Gnosis Chain' : "Pay with #{@event.chain.try(:name)}" %>
      <%== payment_button(method: 'evm', label: evm_label, condition: @event.organisation.evm_address && (EVM_CURRENCIES.include?(@event.currency) || @event.currency == 'USD')) %>


      <%= hidden_field_tag :utm_source, value: params[:utm_source] %>
      <%= hidden_field_tag :utm_medium, value: params[:utm_medium] %>
      <%= hidden_field_tag :utm_campaign, value: params[:utm_campaign] %>
    <% end %>
  </div>
</div>

<div class="card shadow-sm" id="card-error" style="display: none">
  <h3 class="card-header bg-danger text-white">There was an error processing the transaction</h3>
  <div class="card-body">
    <p>
      You have not be charged. Please refresh the page to try again.
    </p>
  </div>
</div>

<div class="card shadow-sm" id="pay-with-opencollective" style="display: none">
  <h3 class="card-header bg-primary text-white">Pay with Open Collective</h3>
  <div class="card-body">
    <p class="lead please"></p>
    <p class="lead memo text-monospace font-weight-bold text-center"></p>
    <p>Looking for your transaction... <i class="bi bi-spin bi-slash-lg"></i></p>
  </div>
</div>

<% if @event.chain %>
  <div class="card shadow-sm" id="pay-with-evm" style="display: none">
    <h3 class="card-header bg-primary text-white">
      Pay with <%= @event.chain.name %>
    </h3>
    <div class="card-body">
      <p class="lead please"></p>
      <p class="web3wallet"></p>
      <% if @event.organisation.evm_address && @event.chain.name == 'Celo' %>
        <div class="qr mb-3">
          <p class="mb-1">or use this QR code with Valora:</p>
          <div id="qrcode"></div>
          <script type="text/javascript">
            new QRCode(document.getElementById("qrcode"), "celo://wallet/pay?address=<%=@event.organisation.evm_address%>");
          </script>
        </div>
      <% end %>
      <p>Making a manual transaction? You will find pasting these details easier if you 'Expand view' first.</p>
      <p>Looking for your transaction... <i class="bi bi-spin bi-slash-lg"></i></p>
    </div>
  </div>
<% end %>

<%
  min_app_fee = nil
  if FIAT_CURRENCIES.include?(@event.currency)
    amount = Money.new(100, 'GBP').exchange_to(@event.currency).cents.to_f / 100
    power = Math.log10(amount).floor
    min_app_fee = 10 ** power
  end

  config = {
    eventId: @event.id,
    eventUrl: "#{ENV['BASE_URI']}/e/#{@event.slug}",
    placesRemaining: @event.places_remaining,
    currency: @event.currency,
    currencySymbol: money_symbol(@event.currency),
    minimumApplicationFee: min_app_fee,
    stripePk: (@event.organisation.stripe_connect_json ? ENV['STRIPE_PK'] : @event.organisation.stripe_pk),
    stripeAccount: @event.revenue_sharer_organisationship && @event.direct_charges ? @event.revenue_sharer_organisationship.stripe_user_id : @event.organisation.stripe_user_id,
    coinbase: !!@event.organisation.coinbase_api_key,
    gocardless: !!(@event.organisation.gocardless_instant_bank_pay && @event.organisation.gocardless_access_token),
    organisationOcSlug: @event.organisation.oc_slug,
    ocSlug: @event.oc_slug,
    evmAddress: @event.organisation.evm_address,
    contractAddress: (@event.currency == 'USD' ? Token.object('BREAD').contract_address : @event.token.try(:contract_address)),
    networkId: @event.chain.try(:network_id),
    networkName: @event.chain.try(:name),
    signedIn: !!current_account,
    timeAgo: (@event.past? && !@event.recording? ? time_ago_in_words(@event.start_time) : nil)
  }
%>
<script type="application/json" id="purchase-config">
  <%== config.to_json %>
</script>
<% if @event.organisation.evm_address && @event.chain %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.3.4/web3.min.js"></script>
<% end %>
<script src="/javascripts/purchase.js?<%= @cachebuster %>"></script>
