<% if @event.donations_to_dandelion? %>
  <tr>
    <td></td>
    <td></td>
    <td>
      <strong>
        Add a donation to Dandelion
      </strong>

      <div>
        <div class="btn-group mt-1" id="donation-percent-buttons">
          <button type="button" class="btn btn-outline-secondary" data-percent="1" data-percent-high="1">1%</button>
          <button type="button" class="btn btn-outline-secondary selected-percent" data-percent="5" data-percent-high="2.5">5%</button>
          <button type="button" class="btn btn-outline-secondary" data-percent="10" data-percent-high="5">10%</button>
        </div>
      </div>

      <div class="input-group" style="margin: 5px 0">
        <div class="input-group-prepend">
          <span class="input-group-text"><%= money_symbol(@event.currency) %></span>
        </div>
        <%= number_field_tag :donation_amount, id: 'donation_amount', class: 'form-control', style: 'width: 5em', value: params[:donation_amount]%>
      </div>
    </td>
  </tr>
<% elsif @event.suggested_donation %>
  <tr>
    <td colspan="2">
      <% if @event.add_a_donation_to || @event.organisation.add_a_donation_to %>
        <%== Sanitize.fragment(@event.add_a_donation_to || @event.organisation.add_a_donation_to || "Add a donation to #{@event.organisation.name}", Sanitize::Config::DANDELION) %>
        <%= "(minimum #{m @event.minimum_donation, @event.currency})" if @event.minimum_donation && @event.minimum_donation > 0 %>
      <% end %>
    </td>
    <td>
      <% if !@event.add_a_donation_to && !@event.organisation.add_a_donation_to %>
        <strong>
          Add a donation to <%=@event.organisation.name %>
          <%= "(minimum #{m @event.minimum_donation, @event.currency})" if @event.minimum_donation && @event.minimum_donation > 0 %>
        </strong>
      <% end %>
      <div class="input-group" style="margin: 5px 0">
        <div class="input-group-prepend">
          <span class="input-group-text"><%= money_symbol(@event.currency) %></span>
        </div>
        <% if @event.minimum_donation %>
          <script>
            $(function() {
              $('#donation_amount').change(function() {
                if ($(this).val() < <%=@event.minimum_donation%>)
                  $(this).val('<%=@event.minimum_donation%>')
              })
            })
          </script>
        <% end %>
        <% donation_value = params[:donation_amount] || @event.suggested_donation %>
        <% donation_value = donation_value.to_f.to_i == donation_value.to_f ? donation_value.to_i : donation_value %>
        <%= number_field_tag :donation_amount, id: 'donation_amount', class: 'form-control', style: 'width: 5em', value: donation_value, min: (@event.minimum_donation || 0) %>
      </div>
      <% donation_text = @event.donation_text || @event.organisation.donation_text %>
      <% donation_text_line_breaks = donation_text && %w[<br> <br /> <br/> <p>].any? { |pattern| donation_text.include?(pattern) } %>
      <% if donation_text && !donation_text_line_breaks %>
        <% if (Padrino.env == :development || @organisation.unsanitized_ok?) %>
          <%== @event.donation_text || @event.organisation.donation_text %>
        <% else %>
          <%== Sanitize.fragment(donation_text, Sanitize::Config::DANDELION) %>
        <% end %>
      <% end %>
    </td>
  </tr>
  <% if donation_text && donation_text_line_breaks %>
    <tr>
      <td colspan="3" style="border-top: none">
        <% if (Padrino.env == :development || @organisation.unsanitized_ok?) %>
          <%== donation_text %>
        <% else %>
          <%== Sanitize.fragment(donation_text, Sanitize::Config::DANDELION) %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>