<% unless @no_ticket_groups %>
  <% tg = ticket_type.ticket_group.try(:name) || 'Other tickets'; if tg != @previous_ticket_group %>
  <tr>
    <td colspan="3" style="text-transform: uppercase; font-size: 80%" class="bg-primary text-white text-center font-weight-bold"><%= tg %></td>
  </tr>
  <% @previous_ticket_group = ticket_type.ticket_group.try(:name) %>
<% end %>
<% end %>
<tr>
  <td style="<% if no_border_top %>border-top: 0;<% end %> padding-top: 0" colspan="3">
  </td>
</tr>
<tr>
  <td style="border-top: 0; vertical-align: middle">
    <span class="font-weight-bold" style="font-size: 1.2em">
      <%= ticket_type.name.downcase.include?('payment plan') ? ticket_type.name.gsub(/\s+\S+@\S+\.\S+\s*$/, '') : ticket_type.name %>
    </span>
    <% if ticket_type.hidden %>
      <i data-toggle="tooltip" title="Available to you as you used a secret link" class="bi bi-lock"></i>
    <% end %>
    <% if ticket_type.minimum_monthly_donation %>
      <i data-toggle="tooltip" title="Available to those donating <%=m ticket_type.minimum_monthly_donation, @event.currency%>+/month" class="bi bi-lock"></i>
    <% end %>

    <% if ticket_type.sales_ended? || @event.sales_closed_due_to_event_end? %>
    <% elsif ticket_type.number_of_tickets_available_in_single_purchase > 0 %>
      <% if !@event.organisation.hide_few_left && !@event.hide_few_left && ticket_type.wiser_remaining <= 3 %>
        <span style="position: relative; top: -2px;" class="badge badge-secondary"><%= ticket_type.wiser_remaining %> left</span>
      <% end %>
    <% end %>

  </td>
  <td style="font-size: 1.2em; border-top: 0; vertical-align: middle; white-space: nowrap;">
    <% if ticket_type.range %>
      <span><%= m ticket_type.range_min, @event.currency %> - <%= m ticket_type.range_max, @event.currency %></span>
      <%= range_field_tag :"prices[#{ticket_type.id}]",
              class: 'form-control-range',
              min: ticket_type.range_min,
              max: ticket_type.range_max,
              value: (params[:prices][ticket_type.id.to_s] if params[:prices]),
              data: { interacted: (params[:prices] && params[:prices][ticket_type.id.to_s] ? 'true' : 'false') },
              oninput: "$(this).attr('data-interacted', 'true'); $(this).prev().html('#{money_symbol(@event.currency)}' + this.value); $(this).next().find('.select-a-price-first').css('visibility','hidden'); var qty = $(this).parent().next().find('[name^=quantities]'); qty.attr('data-price',this.value); if (qty.prop('disabled')) { qty.val(1); }; qty.prop('disabled',false).change();" %>

      <% if params[:prices] && params[:prices][ticket_type.id.to_s] %>
        <script>
          $(function() {
            var $input = $('[name="prices[<%= ticket_type.id %>]"]');
            $input.attr('data-interacted', 'true');
            $input[0].oninput();
          });
        </script>
      <% end %>

      <div style="font-size: 0.8em" class="text-right">
        <em class="select-a-price-first" style="white-space: nowrap;">Drag the slider</em>
      </div>

    <% elsif ticket_type.price %>
      <% unless ticket_type.price == 0 && @event.blank_price_for_free_tickets %>
        <%= m ticket_type.price, @event.currency %>
      <% end %>
    <% else %>
      <div style="position: relative">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><%= money_symbol(@event.currency) %></span>
          </div>
          <%= number_field_tag :"prices[#{ticket_type.id}]", min: 1, class: 'form-control',
              value: (params[:prices][ticket_type.id.to_s] if params[:prices]),
              oninput: "$(this).parent().next().find('.select-a-price-first').css('visibility','hidden'); var qty = $(this).parent().parent().parent().next().find('[name^=quantities]'); qty.attr('data-price',this.value); if (qty.prop('disabled')) { qty.val(1); }; qty.prop('disabled',false).change();" %>

          <% if params[:prices] && params[:prices][ticket_type.id.to_s] %>
            <script>
              $(function() {
                $('[name="prices[<%= ticket_type.id %>]"]')[0].oninput();
              });
            </script>
          <% end %>

        </div>
        <div style="font-size: 0.8em; position: absolute; right: 0" class="text-right">
          <em class="select-a-price-first" style="white-space: nowrap;">Set a price first</em>
        </div>
      </div>
    <% end %>
  </td>
  <td style="border-top: 0; vertical-align: middle">
    <% if ticket_type.sales_ended? || @event.sales_closed_due_to_event_end? %>
      <span class="badge badge-default">Sales closed</span>
    <% elsif ticket_type.number_of_tickets_available_in_single_purchase > 0 %>
      <% if ticket_type.minimum_monthly_donation && (
                  !current_account ||
                  !(organisationship = @event.organisation.organisationships.find_by(account: current_account)) ||
                  !(organisationship.monthly_donation_amount) ||
                  !(Money.new(organisationship.monthly_donation_amount * 100, organisationship.monthly_donation_currency) >= Money.new(ticket_type.minimum_monthly_donation * 100, @event.currency))
                ) %>
      <% if current_account %>
        <% if @event.organisation.become_a_member_url %>
          <a href="<%= @event.organisation.become_a_member_url %>">Become a member</a>
        <% else %>
          Available to those donating <%=m ticket_type.minimum_monthly_donation, @event.currency%>+/month
        <% end %>
      <% else %>
        <a href="/accounts/sign_in">Sign in</a>
      <% end %>
    <% else %>
      <div>
        <%= select_tag :"quantities[#{ticket_type.id}]", 'data-ticket-type-id': ticket_type.id, 'data-price': ticket_type.price, class: 'form-control w-100', options: (0..[99,ticket_type.number_of_tickets_available_in_single_purchase].min).to_a, value: (params[:quantities][ticket_type.id.to_s] if params[:quantities]), disabled: !ticket_type.price %>
      </div>
    <% end %>
  <% else %>
    <span class="badge badge-primary">Sold out</span>
  <% end %>
</td>
</tr>

<tr>
  <td style="border: 0; padding-top: 0" class="text-muted ticket-type-description" colspan="3">
    <div class="<% if !ticket_type.price && !ticket_type.range %>mt-3<% end %>">
      <% if ticket_type.description %>
        <%== Sanitize.fragment(Rinku.auto_link(md(ticket_type.description)), Sanitize::Config::DANDELION) %>
      <% end %>
    </div>
  </td>
</tr>

<% if ticket_type.photos.exists? %>
  <tr>
    <td colspan="3" style="border: 0">
      <%= partial :'photos/photos', locals: { photoable: ticket_type, dimensions: '100x100#' } %>
    </td>
  </tr>
<% end %>
