<%= partial :'activities/nav', locals: { activity: @activity } %>

<div class="row justify-content-center">
  <div class="col-12 col-lg-8">
    <% if @activityship %>
      <script>
        $(function () {
          $('form[action$=apply] .btn-primary').prop('disabled', true)
        });
      </script>
      <div class="card mb-3">
        <div class="card-body">
          <strong>Preview of application form (you are already a member of <%= @activity.name %>)</strong>
        </div>
      </div>
    <% end %>
    <% if params[:applied] %>
      <h1>Thanks for applying to <a href="/o/<%= @activity.organisation.slug %>/a/<%= @activity.slug %>"><%= @activity.name %></a></h1>
      <% if @activity.thank_you_message %>
        <div class="wysiwyg">
          <%== Sanitize.fragment(@activity.thank_you_message, Sanitize::Config::DANDELION) %>
        </div>
      <% else %>
        <p>We'll get back to you as soon as possible!</p>
      <% end %>
    <% else %>
      <h1>Apply to <a href="/o/<%= @activity.organisation.slug %>/a/<%= @activity.slug %>"><%= @activity.name %></a></h1>
      <% if @activity.extra_info_for_application_form %>
        <%== Sanitize.fragment(@activity.extra_info_for_application_form, Sanitize::Config::DANDELION) %>
      <% end %>
      <% form_for @account, "/activities/#{@activity.id}/apply", id: 'application-form', class: 'mt-3' do |f| %>
        <%= hidden_field_tag :via, value: (session[:via] if session[:via]) %>
        <script>
          $(function () {

            if (typeof google !== 'undefined') {
              var autocomplete = new google.maps.places.Autocomplete($('#account_location')[0]);
              $('#account_location').keydown(function (e) {
                if (e.which == 13 && $('.pac-container:visible').length)
                  return false;
              });
            }
          })
        </script>
        <%= f.text_block :name %>
        <%= f.email_block :email %>
        <%= f.image_block :image %>
        <%= f.text_block :location %>
        <%= f.date_block :date_of_birth %>
        <%= f.select_block :gender %>
        <%= partial :'questions/questions', locals: { questions: @activity.application_questions } %>
        <%= f.submit_block button_text: 'Apply' %>
      <% end %>
    <% end %>
  </div>
</div>
