<div class="row">
  <div class="col-12 col-lg-auto text-center">
    <img title="<%= @account.name %>" style="width: 200px; background: white; border: 3px solid white" src="<%= u @account.image_thumb_or_gravatar_url %>">
  </div>
  <div class="col-12 col-sm">
    <div class="mb-3">
      <h1 class="my-0">
        <a class="text-dark" href="/u/<%= @account.username %>"><%= @account.name %></a>'s application to
        <a class="text-dark" href="/o/<%= @activity.organisation.slug %>/a/<%= @activity.slug %>"><%= @activity.name %></a>
      </h1>
    </div>
    <div class="mt-2">
      <%= partial :'accounts/table', locals: { account: @account } %>
      <% if @activity_application.answers %>
        <div class="mb-5">
          <%= partial :'questions/answers', locals: { answers: @activity_application.answers } %>
        </div>
      <% end %>
  </div>
</div>
