<table class="event-details">
  <tbody>
    <tr>
      <td>
        <img src="<%=ENV['BASE_URI']%>/images/icons/calendar/png/<%= event.start_time.strftime('%b').downcase %>_<%= event.start_time.strftime('%d') %>.png">
      </td>
      <td>
        <% if defined?(account) %>
          <% when_parts = event.when_details(account.try(:time_zone), with_zone: true).split(', ') %>
          <%= when_parts[0] %>
          <div class="text-muted" style="font-size: 90%;">
            <%= when_parts[1..].join(', ') %>
          </div>
        <% else %>
          %when_parts_0%
          <div class="text-muted" style="font-size: 90%;">
            %when_parts_1%
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="event-detail-separator">&nbsp;</td>
    </tr>
    <tr>
      <td>
        <a <% if event.location != 'Online' %>href="https://www.google.com/maps?q=<%=event.location%>"<% end %> target="_blank">
          <% if event.location == 'Online' %>
            <img src="<%=ENV['BASE_URI']%>/images/icons/image/image-camera-video.png">
          <% else %>
            <img src="<%=ENV['BASE_URI']%>/images/icons/image/image-geo-alt.png">
          <% end %>
        </a>
      </td>
      <td>
        <a class="text-dark" target="_blank" <% if event.location != 'Online' %>href="https://www.google.com/maps?q=<%=event.location%>"<% end %>><%=event.location%></a>
        </td>
      </tr>
    </tbody>
  </table>