<div class="main">
  <p>Hi %recipient.firstname%,</p>
  <p>
    <%= account.name %> applied to <%=activity.name%>. <a href="<%= ENV['BASE_URI'] %>/activities/<%=activity.id%>/activity_applications/<%=activity_application.id%>?sign_in_token=%recipient.token%">View the application</a>
  </p>
</div>
<div class="footer"></div>
