<div class="main">
  <p><%= booking.account.name %> (<%= booking.account.email %>) booked <%= service.name %> from <%= booking.when_details(service.account.time_zone) %>.</p>
  <% if booking.client_note %>
    <h2>Client's note</h2>
    <p><%= booking.client_note %></p>
  <% end %>
  <p>
    <%= add_to_calendar %>
  </p>
</div>
<div class="footer"></div>
