<div class="tagline">
  <%= event_feedback.rating %> star feedback
</div>
<div class="main">
  <h1 style="margin-top: 0">
    <%= event.name %>
  </h1>
  <p>
    Feedback from <% if event_feedback.anonymise? %>Anonymous<% else %><a href="<%= ENV['BASE_URI'] %>/u/<%= event_feedback.account.username %>"><%= event_feedback.account.name %></a><% end %>
  </p>
  <p style="color: #F5B042">
    <%= event_feedback.rating.times.each.map { '★' }.join if event_feedback.rating %>
  </p>
  <table style="margin-bottom: 1em">
    <% event_feedback.answers.each { |q,a| %>
    <tr>
      <th><%= q %></th>
      <td><%= a %></td>
    </tr>
    <% } %>
  </table>
  <p><a href="<%= ENV['BASE_URI'] %>/events/<%= event.id %>/feedback">See all feedback for this event</a></p>
</div>
