<div class="main">
  <p><%= event.organisation.name %> responded to your feedback on <a href="<%= ENV['BASE_URI'] %>/events/<%=event.id%>"><%= event.name %>, <%= event.when_details(nil) %></a>:</p>
  <p style="color: #F5B042">
    <%= event_feedback.rating.times.each.map { '★' }.join if event_feedback.rating %>
  </p>
  <table style="margin-bottom: 1em">
    <% event_feedback.answers.each { |q,a| %>
    <tr>
      <th><%= q %></th>
      <td><%= a %></td>
    </tr>
    <% } %>
  </table>
  <p><em><%= event.organisation.name %> replied</em></p>
  <blockquote style="margin-left: 0">
    <%= event_feedback.response %>
  </blockquote>
</div>
