<div class="main">
  <h1 style="margin-top: 0">
    <a style="text-decoration: none" href="<%= notification.circle_url %>"><%= circle.name %></a>
  </h1>
  <p><%= notification.sentence %>. <a href="<%= notification.link[1] %>"><%= notification.link[0] %></a></p>
</div>
<% if notification.circle.is_a?(Gathering) %>
  <div class="footer">
    <a href="<%= ENV['BASE_URI'] %>/g/<%= circle.slug %>/unsubscribe?sign_in_token=%recipient.token%">Unsubscribe from this gathering</a>
  </div>
<% end %>
