<div class="main">
  <p>Hi %recipient.firstname%,</p>
  <p>
    <%= account.name %> booked onto <%= order.original_description %>
  </p>
  <% if order.answers && order.answers.any? { |q, a| q && a } %>
    <% order.answers.each { |q, a| %>
    <% if q && a %>
      <p>
        <% question_text = [Order::SELECT_FIELD_REGEX, Order::MULTIPLE_CHECKBOX_FIELD_REGEX, Order::CHECKBOX_FIELD_REGEX, Order::DATE_FIELD_REGEX].inject(nil) { |r, regex| r || q.match(regex)&.[](1) } || q %>
        <strong><%= question_text %></strong><br>
      </p>
      <p>
        <% if q =~ Order::SELECT_FIELD_REGEX %>
          <%= a %>
        <% elsif q =~ Order::MULTIPLE_CHECKBOX_FIELD_REGEX %>
          <%= a.join(', ') %>
        <% elsif q =~ /\[.*\]/ %>
          ✓
        <% else %>
          <%= a.gsub("\n", '<br />') %>
        <% end %>
      </p>
    <% end %>
    <% } %>
  <% end %>
  <p><a href="<%= ENV['BASE_URI'] %>/events/<%=event.id%>/orders?sign_in_token=%recipient.token%">View all orders</a></p>
</div>
