<div class="main">
  <p>Hi %recipient.firstname%,</p>
  <p>
    <%= account.name %> booked onto <%= order.original_description %>
  </p>
  <% if order.answers && order.answers.any? { |q, a| q && a } %>
    <% order.answers.each { |q, a| %>
    <% if q && a %>
      <% question_text = Questions.extract_question_text(q).chomp('*') %>
      <p>
        <strong><%= question_text %></strong>
      </p>
      <p>
        <% if q =~ Questions::SELECT_FIELD_REGEX %>
          <%= a %>
        <% elsif q =~ Questions::MULTIPLE_CHECKBOX_FIELD_REGEX %>
          <%= a.join(', ') %>
        <% elsif q =~ Questions::CHECKBOX_FIELD_REGEX %>
          ✓
        <% else %>
          <%= a.gsub("\n", '<br />') %>
        <% end %>
      </p>
    <% end %>
    <% } %>
  <% end %>
  <p><a href="<%= ENV['BASE_URI'] %>/events/<%=event.id%>/orders?sign_in_token=%recipient.token%">View all orders</a></p>
</div>
