<div class="main">
  <p>Hi %recipient.firstname%,</p>
  <p>
    We tried to refund the order of <%= account.name %> (<%=account.email%>) for the event <a href="<%= ENV['BASE_URI'] %>/e/<%=event.slug%>"><%= event.name %></a>, but we received an error from Stripe:
  </p>
  <blockquote>
    <%= error.message %>
  </blockquote>
  <p>
    You can attempt the refund again via your Stripe dashboard.
  </p>
</div>
