<div class="main">
  <p>Hi %recipient.firstname%,</p>
  <p>
    We tried to refund the order of <%= account.name %> (<a href="mailto:<%=account.email%>"><%=account.email%></a>) for the event <a href="<%= ENV['BASE_URI'] %>/e/<%=event.slug%>"><%= event.name %></a> via <%= provider %>, but we received an error:
  </p>
  <blockquote>
    <%= Rinku.auto_link(error.message) %>
  </blockquote>
  <p>
    You can attempt the refund again via your <%= provider %> dashboard.
  </p>
</div>
