<div class="main">
  <p>Hi %recipient.firstname%,</p>
  <p>
    FYI, <%= account.name %> (<a href="mailto:<%=account.email%>"><%=account.email%></a>) updated the email address for a ticket to the event <a href="<%= ENV['BASE_URI'] %>/e/<%=event.slug%>"><%= event.name %></a>.
    The new email address is <a href="mailto:<%=ticket.email%>"><%=ticket.email%></a>.
  </p>
</div>
