<div class="main">
  <%= (event.ticket_email_greeting || (event.recording? ? event.organisation.recording_email_greeting : event.organisation.ticket_email_greeting))
        .gsub('[firstname]', order.account.firstname)
        .gsub('[lastname]', order.account.lastname || '')
        .gsub('[fullname]', order.account.name)
        .gsub('[event_name]', event.name)
        .gsub('[event_when]', event.when_details(order.account.time_zone))
        .gsub('[event_location]', event.location)
        .gsub(' [at_event_location_if_not_online]', event.online? ? '' : " at #{event.location}")
        .gsub('[tickets_are]', order.tickets.length == 1 ? 'ticket is' : 'tickets are') %>
  <% if event.recording? %>
    <% if event.extra_info_for_recording_email %>
      <hr>
      <%= event.extra_info_for_recording_email %>
    <% end %>
  <% else %>
    <% if event.extra_info_for_ticket_email %>
      <hr>
      <%= event.extra_info_for_ticket_email %>
    <% end %>
  <% end %>
  <% if !event.hide_organisation_footer %>
    <% if event.organisation.extra_info_for_ticket_email %>
      <hr>
      <%= event.organisation.extra_info_for_ticket_email %>
    <% end %>
    <% if !event.recording? && event.organisation.show_ticketholder_link_in_ticket_emails && order.tickets.length > 1 %>
      <p>
        <a href="<%=ENV['BASE_URI']%>/e/<%=event.slug%>?order_id=<%=order.id%>">Visit this page to add details of ticketholders.</a>
      </p>
    <% end %>
    <% if event.affiliate_credit_percentage %>
      <% affiliate_link = "#{ENV['BASE_URI']}/e/#{event.slug}?affiliate_type=Account&affiliate_id=#{order.account_id}" %>
      <p>
        <a href="<%= affiliate_link %>">Here's your affiliate link for this event.</a>
        For each person who buys a ticket via this link,
        you receive credit that can used to attend future events equal to <%= event.affiliate_credit_percentage %>% of the order value.
      </p>
    <% end %>
  <% end %>
  <% if event.organisation.show_sign_in_link_in_ticket_emails && !event.hide_attendees %>
    <p>
      <% if account.sign_ins_count == 0 %>
        <a href="<%= ENV['BASE_URI'] %>/accounts/edit?sign_in_token=%recipient.token%&event_id=<%= event.id %>">Click here to create a profile on Dandelion and connect with others <%= event.recording? ? 'who attended' : 'attending' %> the event.</a>
      <% else %>
        <a href="<%= ENV['BASE_URI'] %>/e/<%= event.slug %>?sign_in_token=%recipient.token%">Sign in to Dandelion to show or hide your attendance and connect with others <%= event.recording? ? 'who attended' : 'attending' %> the event.</a>
      <% end %>
    </p>
  <% end %>
</div>
<div class="footer"></div>

<% if defined?(pdf_link) %>
  <a href="/orders/<%=order.id%>.pdf" class="attachment">📎 Download tickets PDF</a>
<% end %>
