<div class="main">
  <p>Hi %recipient.firstname%,</p>

  <p>
    You previously joined the waitlist for <a href="<%= ENV['BASE_URI'] %>/e/<%= event.slug %>"><%=event.name %></a>.
    Well, good news! Tickets are now available. <a href="<%= ENV['BASE_URI'] %>/e/<%= event.slug %>">Book now before it sells out again</a>.
  </p>

  <p class="action">
    <a href="<%= ENV['BASE_URI'] %>/e/<%= event.slug %>">Get tickets</a>
  </p>
</div>
