<% if @activity.persisted? %>
  <%= partial :'activities/nav', locals: { activity: @activity } %>
<% end %>
<script>
  $(function () {
    $('#activity_privacy').change(function () {
      if ($(this).val() == 'closed') {
        $('#application-options').show()
      } else {
        $('#application-options').hide()
      }
    })
    $('#activity_privacy').change()

    $('#activity_application_questions').attr('rows', '3')
    autosize($('#activity_application_questions')[0])

    <% if @activity.persisted? %>
      initQuestionsPreview('#activity_application_questions', '/activities/<%= @activity.id %>/application_questions')
    <% end %>
  })
</script>
<% form_for @activity, @activity.new_record ? '/activities/new' : "/activities/#{@activity.id}/edit" do |f| %>
  <%= hidden_field_tag :'activity[organisation_id]', value: @activity.organisation_id %>
  <%= f.text_block :name %>
  <div class="slugify">
    <%= f.shorturl_block :slug, stem: "#{ENV['BASE_URI']}/o/#{@activity.organisation.slug}/a/" %>
  </div>
  <%= f.wysiwyg_block :intro_text %>
  <%= f.url_block :website %>
  <%= f.email_block :email %>
  <%= f.image_block :image %>
  <%= partial :'activities/tags', locals: { f: f } %>
  <%= f.check_box_block :locked %>
  <div class="mb-2">
    <%= f.select_block :privacy %>
  </div>
  <div id="application-options" style="display: none">
    <%= partial :questions_with_preview, locals: { f: f, field_name: :application_questions, help_text: 'Questions to ask applicants.', placeholder: "e.g. Why do you want to join?\n[I have read and agree to the code of conduct]" } %>
    <%= f.wysiwyg_block :extra_info_for_application_form %>
    <%= f.wysiwyg_block :thank_you_message %>
    <%= f.wysiwyg_block :extra_info_for_acceptance_email %>
  </div>
  <%= f.submit_block destroy_url: "/activities/#{@activity.id}/destroy" %>
<% end %>
