<%= partial :'activities/nav', locals: { activity: @activity } %>

<div class="mb-3">
  <div class="row">
    <div class="col">
      <% form_tag '', method: 'get', class: 'submitOnChange searchForm form-inline' do %>
        <div class="form-group">
          <label>Name</label>
          <%= text_field_tag :name, class: 'form-control', value: params[:name] %>
        </div>
        <div class="form-group">
          <label>Email</label>
          <%= text_field_tag :email, class: 'form-control', value: params[:email] %>
        </div>
        <%= checkbox 'Subscribed to mailer' %>
        <%= submit_tag 'Search', class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="col-12 col-sm-auto">
      <a class="btn btn-primary" href="javascript:;" onclick="
          alert('CSV, two columns, with headers: name, email');
          $(this).hide();
          $('#member-upload').show().find('input').click()
         ">Upload CSV</a>
      <a class="btn btn-primary" href="/activities/<%= @activity.id %>/followers.csv?<%= request.query_string %>">Download CSV</a>
    </div>
  </div>
  <% form_tag '', class: 'mt-3', style: 'display: none', id: 'member-upload', multipart: true do %>
    <%= file_field_tag :csv, onchange: '$(this.form).submit()' %>
  <% end %>
</div>

<a class="btn btn-primary mb-3" href="javascript:;" onclick="$(this).hide().next().show()"><i class="bi bi-plus"></i> Add a follower</a>
<div style="display: none" class="mb-3">
  <% form_tag "/activities/#{@activity.id}/add_follower", class: 'form-inline' do %>
    <%= email_field_tag :email, class: 'form-control mr-1', placeholder: 'Email' %>
    <%= submit_tag 'Add follower', class: 'mt-1 mt-sm-0 btn btn-primary' %>
  <% end %>
</div>

<p><%== pagination_details @activityships, model: 'Person' %></p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Subscribed</th>
      <th>Following since</th>
      <th></th>
    </tr>
  </thead>
  <% @activityships.each { |activityship| account = activityship.account %>
  <tr>
    <td>
      <%= partial :'accounts/account', locals: { account: account, show_email: organisation_admin?(@activity.organisation) } %>
    </td>
    <td>
      <div data-pagelet-url="/activities/<%= @activity.id %>/subscribed/<%= activityship.id %>">
        <%= partial :'activities/subscribed', locals: { activityship: activityship } %>
      </div>
    </td>
    <td>
      <%= activityship.created_at %>
    </td>
    <td>
      <a data-confirm="Are you sure you want to remove this person from this activity?" class="btn btn-danger btn-sm" href="/activityships/<%= activityship.id %>/destroy"><i class="bi bi-x-lg"></i></a>
    </td>
  </tr>
  <% } %>
</table>
<%= will_paginate @activityships, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
