<% attachments = @organisation.attachments %>
<% attachments = attachments.and(file_name: /#{Regexp.escape(params[:file_q])}/i) if params[:file_q] %>
<% attachments = attachments.order('created_at desc').paginate(page: params[:page], per_page: 5) %>
<table class="table">
  <% attachments.each { |attachment| %>
  <tr>
    <td>
      <% if %w{png jpg gif jpeg}.any? { |x| attachment.file.name.downcase.ends_with? ".#{x}" } %>
        <img class="w-100" src="<%= attachment.file.url %>">
      <% else %>
        <a href="<%= attachment.file.url %>"><%= attachment.file.name %></a>
      <% end %>
    </td>
    <td style="white-space: nowrap;">
      <a href="javascript:;" class="text-dark copy-url-btn" data-url="<%= u attachment.file.url %>">
        <i class="bi bi-clipboard"></i> Copy URL
      </a>
      <br />
      <a data-confirm="Are you sure?" class="text-dark pagelet-trigger" href="/pmails/<%= @organisation.id %>/attachments/<%= attachment.id %>/destroy?<%= @scope %>">
        <i class="bi bi-x-lg"></i>
        Delete
      </a>
    </td>
  </tr>
  <% } %>
</table>
<%= will_paginate attachments, page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>

<script>
  $(document).on('click', '.copy-url-btn', function() {
    const url = $(this).data('url');
    navigator.clipboard.writeText(url).then(() => {
      const originalText = $(this).html();
      $(this).html('<i class="bi bi-clipboard-check"></i> Copied!');
      setTimeout(() => {
        $(this).html(originalText);
      }, 2000);
    }).catch(err => {
      console.error('Failed to copy: ', err);
    });
  });
</script>
