<% if @pmail.persisted? %>
  <% if @pmail.sent_at %>
    <div class="row no-gutters justify-content-between">
      <div class="col">
        <p class="lead">
          Sending completed at <%= @pmail.sent_at %>
        </p>
      </div>
      <% unless @pmail.mailable.is_a?(Event) %>
        <div class="col-auto">
          <a class="btn btn-primary" target="_blank" href="https://<%= organisation.mailgun_region == 'EU' ? 'app.eu.mailgun.com' : 'app.mailgun.com' %>/mg/sending/<%= organisation.mailgun_domain %>/analytics">
            <i class="bi bi-bar-chart-line-fill"></i>
            View analytics on Mailgun
          </a>
        </div>
      <% end %>
    </div>
    <div class="mb-3">
      <a class="btn btn-primary" href="/pmails/<%=@pmail.id%>" target="_blank">View</a>
      <button type="submit" name="duplicate" value="1" class="btn btn-primary">Duplicate</button>
    </div>
  <% elsif @pmail.pmail_test && @pmail.pmail_test.winner %>
    <div class="row no-gutters justify-content-between">
      <div class="col">
        <p class="lead">
          Part of the A/B test <a href="/pmail_tests/<%= @pmail.pmail_test.id %>?<%= @scope %>"><%= @pmail.pmail_test.name %></a>.
          The email <a href="/pmails/<%= @pmail.pmail_test.winner.id %>/edit?<%= @scope %>"><%= @pmail.pmail_test.winner.subject %></a> was sent instead.
        </p>
      </div>
      <% unless @pmail.mailable.is_a?(Event) %>
        <div class="col-auto">
          <a class="btn btn-primary" target="_blank" href="https://<%= organisation.mailgun_region == 'EU' ? 'app.eu.mailgun.com' : 'app.mailgun.com' %>/mg/sending/<%= organisation.mailgun_domain %>/analytics">
            <i class="bi bi-bar-chart-line-fill"></i>
            View analytics on Mailgun
          </a>
        </div>
      <% end %>
    </div>
  <% elsif @pmail.requested_send_at %>
    <p class="lead">Queued for sending at <%= @pmail.requested_send_at %></p>
  <% else %>
    <% if @pmail.pmail_test %>
      <div class="row no-gutters justify-content-between">
        <div class="col">
          <p class="lead">
            Part of the A/B test <a href="/pmail_tests/<%= @pmail.pmail_test.id %>?<%= @scope %>"><%= @pmail.pmail_test.name %></a>
          </p>
        </div>
        <% unless @pmail.mailable.is_a?(Event) %>
          <div class="col-auto">
            <a class="btn btn-primary" target="_blank" href="https://<%= organisation.mailgun_region == 'EU' ? 'app.eu.mailgun.com' : 'app.mailgun.com' %>/mg/sending/<%= organisation.mailgun_domain %>/analytics">
              <i class="bi bi-bar-chart-line-fill"></i>
              View analytics on Mailgun
            </a>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= @hide_alert = true; partial :flash %>
    <% end %>
    <div class="mb-3">
      <button type="submit" name="default" style="overflow: visible !important; height: 0 !important; width: 0 !important; margin: 0 !important; border: 0 !important; padding: 0 !important; display: block !important;" value="1"></button>
      <button type="submit" name="preview" value="1" class="btn btn-primary">Preview</button>
      <button type="submit" name="send_test" value="1" class="btn btn-primary">Send test to <%= current_account.email %></button>
      <button type="submit" name="send" value="1" class="btn btn-primary" data-confirm="Are you sure you want to send this mail to <%= pluralize(@pmail.send_count, 'person') %>?">Send</button>
      <button type="submit" name="duplicate" value="1" class="btn btn-outline-primary">Duplicate</button>
    </div>
  <% end %>
<% end %>