<% if @pmail.persisted? %>
  <% if @pmail.sent_at %>
    <div class="row no-gutters justify-content-between">
      <div class="col">
        <p class="lead">
          Sending completed at <%= @pmail.sent_at %>.
        </p>
      </div>
      <% unless @pmail.mailable.is_a?(Event) %>
        <div class="col-auto">
          <a class="btn btn-primary mb-1" target="_blank" href="<%=@pmail.mailgun_url%>">
            <i class="bi bi-bar-chart-line-fill"></i>
            View analytics on Mailgun
          </a>
        </div>
      <% end %>
    </div>
    <% unless @pmail.mailable.is_a?(Event) %>
      <% if @pmail.metrics %>
        <table class="table">
          <% 
        tooltip_descriptions = {
          'delivered_rate' => 'Percentage of sent emails that were delivered.',
          'opened_rate' => 'Raw open events over delivered events.',
          'unique_opened_rate' => 'Percentage of delivered emails that received a unique open event.',
          'clicked_rate' => 'Raw click events over delivered events.',
          'unique_clicked_rate' => 'Percentage of delivered emails that received a unique click event.'
        }
      %>
          <% @pmail.metrics['rates'].each do |name, value| %>
            <tr>
              <td style="width: 1px; white-space: nowrap;" data-toggle="tooltip" title="<%= tooltip_descriptions[name.downcase] || name.humanize %>">
                <%= name.humanize %>
                <i class="bi bi-info-circle"></i>
              </td>
              <td><%= sprintf("%.2f", value) %>%</td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>
    <div class="mb-3">
      <a class="btn btn-primary mb-1" href="/pmails/<%=@pmail.id%>" target="_blank">View</a>
      <button type="submit" name="duplicate" value="1" class="btn btn-primary mb-1">Duplicate</button>
    </div>
  <% elsif @pmail.requested_send_at %>
    <p class="lead">Queued for sending at <%= @pmail.requested_send_at %></p>
  <% else %>
    <%= @hide_alert = true; partial :flash %>
    <% if @pmail.will_send_at %>
      <p class="lead">Will be sent at <%= @pmail.delayed_job.run_at %></p>
    <% end %>
    <div class="mb-3">
      <div>
        <button type="submit" name="default" style="overflow: visible !important; height: 0 !important; width: 0 !important; margin: 0 !important; border: 0 !important; padding: 0 !important; display: block !important;" value="1"></button>
        <button type="submit" name="preview" value="1" class="btn btn-primary mb-1">Preview</button>
        <button type="submit" name="send_test" value="1" class="btn btn-primary mb-1">Send test to <%= current_account.email %></button>
        <button type="submit" name="send" value="1" class="btn btn-primary mb-1" data-confirm="Are you sure you want to send this mail to <%= pluralize(@pmail.send_count, 'person') %>?">Send</button>
        <a href="javascript:;" onclick="$(this).parent().hide(); $('#send_later').show().find('input').attr('required', true); " class="btn btn-primary mb-1">Send later</a>
        <button type="submit" name="duplicate" value="1" class="btn btn-outline-primary mb-1">Duplicate</button>
      </div>

      <div id="send_later" style="display: none">
        <%= datetime_local_field_tag :'pmail[will_send_at]', value: @pmail.will_send_at, class: 'form-control d-inline-block', style: 'width: auto' %>
        <button type="submit" name="send_later" value="1" class="btn btn-primary mb-1" data-confirm="Are you sure you want to send this mail to <%= pluralize(@pmail.send_count, 'person') %>?">Send</button>
      </div>
    </div>
  <% end %>
<% end %>