<% if pmail.everyone %>
  Everyone in <%= pmail.organisation.name %>
<% elsif pmail.monthly_donors %>
  Monthly donors
<% elsif pmail.not_monthly_donors %>
  People who aren't monthly donors
<% elsif pmail.facilitators %>
  Facilitators
<% elsif pmail.mailable %>
  <% if pmail.mailable.is_a?(Activity) %>
    Activity: <a href="/o/<%= pmail.mailable.organisation.slug %>/a/<%= pmail.mailable.slug %>"><%= pmail.mailable.name %></a>
  <% elsif pmail.mailable.is_a?(ActivityTag) %>
    Activity tag:
    <span class="text-white label label-primary d-inline-block mb-1"><%= pmail.mailable.name %></span>
  <% elsif pmail.mailable.is_a?(LocalGroup) %>
    Local group: <a href="/o/<%= pmail.mailable.organisation.slug %>/lg/<%= pmail.mailable.slug %>"><%= pmail.mailable.name %></a>
  <% elsif pmail.mailable.is_a?(Event) %>
    <% if pmail.waitlist %>
      Waitlist: <a href="/e/<%= pmail.mailable.slug %>"><%= pmail.mailable.name %></a>
    <% else %>
      Event: <a href="/e/<%= pmail.mailable.slug %>"><%= pmail.mailable.name %></a>
    <% end %>
    <br />
    <small><%= concise_when_details(pmail.mailable) %></small>
  <% end %>
<% end %>
