<% if @organisation %>
  <%= partial :'organisations/nav', locals: { organisation: @organisation } %>
<% elsif @activity %>
  <%= partial :'activities/nav', locals: { activity: @activity } %>
<% elsif @local_group %>
  <%= partial :'local_groups/nav', locals: { local_group: @local_group } %>
<% elsif @event %>
  <%= partial :'events/nav', locals: { event: @event } %>
<% end %>
<% if Padrino.env == :test || @event || @_organisation.mailgun_api_key || (@_organisation.free_mailgun?) %>
  <a href="/pmails/new?<%= @scope %>" class="btn btn-primary"><i class="bi bi-pencil-fill"></i> New message</a>
<% else %>
  <a href="/o/<%=@_organisation.slug%>/edit">Link a Mailgun account to get started</a>
<% end %>

<% if @organisation %>
  <div class="search well mt-3">
    <% form_tag '', method: 'get', class: 'submitOnChange searchForm mb-3' do %>
      <%= hidden_field_tag :order, value: params[:order] %>
      <div class="form-row align-items-end">
        <div class="form-group col-12 col-sm-auto">
          <label>To</label>
          <%= select_tag :to, class: 'form-control', selected: params[:to], options: [
            [],
            ["Everyone in #{@organisation.name}", 'everyone'],
            ['Monthly donors', 'monthly_donors'],
            ["People who aren't monthly donors", 'not_monthly_donors'],
            ['Facilitators', 'facilitators'],
            ['Activities', 'activity'],
            ['Activity tags', 'activity_tag'],
            ['Local groups', 'local_group'],
            ['Events', 'event'],
            ['Waitlists', 'waitlist']            
          ] %>
        </div>
        <div class="form-group col-12 col-sm-auto">
          <label>Subject</label>
          <%= text_field_tag :q, class: 'form-control', value: params[:q] %>
        </div>
        <div class="form-group col-12 col-sm-auto">
          <%= submit_tag 'Search', class: 'btn btn-primary mb-0' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if @pmails.exists? %>
  <table class="table table-hover table-striped mt-3">
    <thead>
      <tr>
        <th>To</th>
        <th>Subject</th>
        <th>From</th>
        <th>Created by</th>
        <th style="width: 33%">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @pmails.each { |pmail| %>
      <% edit_url = "/pmails/#{pmail.id}/edit?#{@scope}" %>
      <tr>
        <td>
          <%= partial :'pmails/to', locals: { pmail: pmail } %>
        </td>
        <td>
          <a href="<%= edit_url %>"><%= pmail.subject %></a>
        </td>
        <td>
          <%= pmail.from %>
        </td>
        <td>
          <% if pmail.account %>
            <a href="/u/<%= pmail.account.username %>"><%= pmail.account.name %></a>
          <% end %>
        </td>
        <td>
          <% if pmail.sent_at %>
            <a class="btn btn-primary mr-1 mb-1" href="<%= edit_url %>">
              <i class="bi bi-check-lg"></i> Sent
            </a>
            <div class="mt-1">
              Created at <%= pmail.created_at %><br>
              Last saved at <%= pmail.updated_at %><br>
              Queued for sending at <%= pmail.requested_send_at %> <br>
              Sent at <%= pmail.sent_at %>
            </div>
          <% elsif pmail.requested_send_at %>
            <a class="btn btn-secondary mr-1 mb-1" href="<%= edit_url %>">
              <i class="bi bi-spin bi-slash-lg"></i> Sending
            </a>
            <div class="mt-1">
              Created at <%= pmail.created_at %><br>
              Last saved at <%= pmail.updated_at %><br>
              Queued for sending at <%= pmail.requested_send_at %>
            </div>
          <% elsif pmail.will_send_at %>
            Created at <%= pmail.created_at %><br>
            Last saved at <%= pmail.updated_at %><br>
            Will be sent at <%= pmail.delayed_job.run_at %>
          <% else %>
            <a class="btn btn-secondary" href="<%= edit_url %>">
              <i class="bi bi-pencil-fill"></i> Edit
            </a>
            <div class="mt-1">
              Created at <%= pmail.created_at %><br>
              Last saved at <%= pmail.updated_at %>
            </div>
          <% end %>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
<% end %>
<%= will_paginate @pmails, page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
