<script>
  $(function () {

    $('#sidebar ul.nav li a[data-toggle]').tooltip($('#page-container').hasClass('page-sidebar-minified') ? 'enable' : 'disable')

    if ($(window).width() < 992)
      $('#sidebar ul.nav li a[data-toggle]').tooltip('disable')

  <% if @gathering %>
      $('.sub-menu a[href="/g/<%= @gathering.slug %>"]').parent().addClass('active')
  <% end %>
  })
</script>
<ul class="nav">
  <li style="height: 0.5rem"></li>
  <% if current_account %>
    <li class="d-md-none has-sub">
      <a href="javascript:;">
        <b class="caret caret-right pull-right"></b>
        <i class="fa fa-user"></i>
        <span><%= current_account.name %></span>
      </a>
      <%= partial :nav_profile, locals: { ul_class: 'sub-menu' } %>
    </li>
  <% end %>
  <li class="<%= 'active' if request.path == '/' %>">
    <a href="/" data-toggle="tooltip" title="<%= current_account ? 'Newsfeed' : 'Home' %>" data-placement="right">
      <% if current_account %>
        <i class="fa fa-fw fa-newspaper-o"></i>
        <span class="nav-link-text">Newsfeed</span>
      <% else %>
        <i class="ti-home"></i>
        <span class="nav-link-text">Home</span>
      <% end %>
    </a>
  </li>
  <% if !current_account %>
    <li class="d-lg-none">
      <a href="/accounts/new" data-toggle="tooltip" title="Sign up" data-placement="right">
        <i class="fa fa-fw fa-user-plus"></i>
        <span class="nav-link-text">Sign up</span>
      </a>
    </li>
    <li class="d-lg-none">
      <a href="/accounts/sign_in" data-toggle="tooltip" title="Sign in" data-placement="right">
        <i class="fa fa-fw fa-sign-in"></i>
        <span class="nav-link-text">Sign in</span>
      </a>
    </li>
  <% end %>
  <li class="<%= 'active' if request.path == '/events' %>">
    <a href="/events" data-toggle="tooltip" title="Events" data-placement="right">
      <i class="fa fa-calendar-o"></i>
      <span class="nav-link-text">Events</span>
    </a>
  </li>
  <% if !current_account || current_account.organisationships.count > 20 %>
    <li class="<%= 'active' if request.path == '/organisations' %>">
      <a href="/organisations" data-toggle="tooltip" title="Organisations" data-placement="right">
        <i class="fa fa-flag"></i>
        <span class="nav-link-text">Organisations</span>
      </a>
    </li>
  <% else %>
    <li class="has-sub <%= 'active' if @organisation %>">
      <a href="javascript:;">
        <b class="caret caret-right pull-right"></b>
        <i class="fa fa-flag"></i>
        <span>Organisations</span>
      </a>
      <%= ul_nav ([
            ['Create an organisation', '/o/new'],
            ['All organisations', '/organisations']
          ] +
        Organisation.and(:id.in => current_account.organisationships.pluck(:organisation_id) + (@organisation && @organisation.persisted? ? [@organisation.id] : [])).sort_by(&:name).map { |organisation| [organisation.name, "/o/#{organisation.slug}"] }
                 ),
                 ul_class: 'sub-menu',
                 li_class: '',
                 li_active_class: 'active',
                 a_class: '',
                 a_active_class: '' %>
    </li>
  <% end %>
  <% if !current_account %>
    <li class="<%= 'active' if request.path == '/gatherings' %>">
      <a href="/gatherings" data-toggle="tooltip" title="Gatherings" data-placement="right">
        <i class="fa fa-moon-o"></i>
        <span class="nav-link-text">Gatherings</span>
      </a>
    </li>
  <% else %>
    <li class="has-sub <%= 'active' if @gathering %>">
      <a href="javascript:;">
        <b class="caret caret-right pull-right"></b>
        <i class="fa fa-moon-o"></i>
        <span>Gatherings</span>
      </a>
      <%= ul_nav ([
            ['Create a gathering', '/g/new'],
            ['All gatherings', '/gatherings']
          ] +
        current_account.memberships.select { |membership| membership.gathering == @gathering or !membership.hide_from_sidebar }.sort_by { |membership| membership.gathering.name }.map { |membership| [membership.gathering.name, "/g/#{membership.gathering.slug}"] }),
                 ul_class: 'sub-menu',
                 li_class: '',
                 li_active_class: 'active',
                 a_class: '',
                 a_active_class: '' %>
    </li>
  <% end %>
  <li class="<%= 'active' if request.path == '/map' %>">
    <a href="/map" data-toggle="tooltip" title="Map" data-placement="right">
      <i class="fa fa-map"></i>
      <span class="nav-link-text">Map</span>
    </a>
  </li>
  <li>
    <a href="/donate" data-toggle="tooltip" title="Donate" data-placement="right">
      <i class="fa fa-fw fa-money"></i>
      <span class="nav-link-text">Donate</span>
    </a>
  </li>
  <li>
    <a href="/code" data-toggle="tooltip" title="Code" data-placement="right">
      <i class="fa fa-fw fa-github"></i>
      <span class="nav-link-text">Code</span>
    </a>
  </li>
  <li>
    <a
      href="/contact" data-toggle="tooltip" title="Contact us" data-placement="right">
      <i class="fa fa-envelope"></i>
      <span class="nav-link-text">Contact us</span>
    </a>
  </li>
  <li>
    <a data-nolt="modal" href="https://dandelion.nolt.io" data-toggle="tooltip" title="Feedback?" data-placement="right">
      <i class="fa fa-fw fa-comment-o"></i>
      <span class="nav-link-text">Feedback?</span>
    </a>
  </li>
  <li>
    <a href="/docs" data-toggle="tooltip" title="How to use Dandelion" data-placement="right">
      <i class="fa fa-fw fa-question-circle-o"></i>
      <span class="nav-link-text">How to use Dandelion</span>
    </a>
  </li>
  <% if admin? %>
    <li class="nav-divider"></li>
    <li class="nav-header">Stats</li>
    <li>
      <a href="/stats/orders" data-toggle="tooltip" title="Orders" data-placement="right">
        <i class="fa fa-fw fa-shopping-cart"></i>
        <span class="nav-link-text">Orders</span>
      </a>
    </li>
    <li>
      <a href="/stats/feedback" data-toggle="tooltip" title="Feedback" data-placement="right">
        <i class="fa fa-fw fa-comment"></i>
        <span class="nav-link-text">Feedback</span>
      </a>
    </li>
    <li>
      <a href="/stats/comments" data-toggle="tooltip" title="Comments" data-placement="right">
        <i class="fa fa-fw fa-comments"></i>
        <span class="nav-link-text">Comments</span>
      </a>
    </li>
    <li>
      <a href="/stats/messages" data-toggle="tooltip" title="Messages" data-placement="right">
        <i class="fa fa-fw fa-envelope"></i>
        <span class="nav-link-text">Messages</span>
      </a>
    </li>
    <li>
      <a href="/stats/accounts" data-toggle="tooltip" title="Accounts" data-placement="right">
        <i class="fa fa-fw fa-user"></i>
        <span class="nav-link-text">Accounts</span>
      </a>
    </li>
    <li>
      <a href="/stats/organisations" data-toggle="tooltip" title="Organisations" data-placement="right">
        <i class="fa fa-fw fa-flag"></i>
        <span class="nav-link-text">Organisations</span>
      </a>
    </li>
    <li>
      <a href="/stats/places" data-toggle="tooltip" title="Places" data-placement="right">
        <i class="fa fa-fw fa-map-marker"></i>
        <span class="nav-link-text">Places</span>
      </a>
    </li>
  <% end %>
</ul>
