<script>
  $(function () {

    $('#sidebar ul.nav li a[data-toggle]').tooltip($('#page-container').hasClass('page-sidebar-minified') ? 'enable' : 'disable')

    if ($(window).width() < 992)
      $('#sidebar ul.nav li a[data-toggle]').tooltip('disable')

  <% if @gathering %>
      $('.sub-menu a[href="/g/<%= @gathering.slug %>"]').parent().addClass('active')
  <% end %>
  })
</script>
<ul class="nav">
  <% if current_account %>
    <li class="d-md-none has-sub">
      <a href="javascript:;">
        <b class="caret caret-right pull-right"></b>
        <i class="bi bi-person-fill"></i>
        <span><%= current_account.name %></span>
      </a>
      <%= partial :nav_profile, locals: { ul_class: 'sub-menu' } %>
    </li>
  <% end %>
  <li class="<%= 'active' if request.path == '/' %>">
    <a href="/" data-toggle="tooltip" title="Home" data-placement="right">
      <i class="bi bi-house"></i>
      <span class="nav-link-text">Home</span>
    </a>
  </li>
  <li class="<%= 'active' if request.path == '/daily' %>">
    <a href="/daily" data-toggle="tooltip" title="Dandelion Daily" data-placement="right">
      <i class="bi bi-newspaper"></i>
      <span class="nav-link-text">Dandelion Daily</span>
    </a>
  </li>
  <% if !current_account %>
    <li class="d-lg-none">
      <a href="/accounts/new" data-toggle="tooltip" title="Sign up" data-placement="right">
        <i class="bi bi-person-fill-add"></i>
        <span class="nav-link-text">Sign up</span>
      </a>
    </li>
    <li class="d-lg-none">
      <a href="/accounts/sign_in" data-toggle="tooltip" title="Sign in" data-placement="right">
        <i class="bi bi-box-arrow-in-right"></i>
        <span class="nav-link-text">Sign in</span>
      </a>
    </li>
  <% end %>
  <li class="<%= 'active' if request.path == '/events' %>">
    <a href="/events" data-toggle="tooltip" title="Events" data-placement="right">
      <i class="bi bi-calendar-event"></i>
      <span class="nav-link-text">Events</span>
    </a>
  </li>
  <% if !current_account || current_account.organisationships.count > 20 %>
    <li class="<%= 'active' if request.path == '/organisations' %>">
      <a href="/organisations" data-toggle="tooltip" title="Organisations" data-placement="right">
        <i class="bi bi-flag-fill"></i>
        <span class="nav-link-text">Organisations</span>
      </a>
    </li>
  <% else %>
    <li class="has-sub <%= 'active' if @organisation %>">
      <a href="javascript:;">
        <b class="caret caret-right pull-right"></b>
        <i class="bi bi-flag-fill"></i>
        <span>Organisations</span>
      </a>
      <%= ul_nav ([
            ['Create an organisation', '/o/new'],
            ['All organisations', '/organisations']
          ] +
        Organisation.and(:id.in => current_account.organisationships.pluck(:organisation_id) + (@organisation && @organisation.persisted? ? [@organisation.id] : [])).sort_by(&:name).map { |organisation| [organisation.name, "/o/#{organisation.slug}"] }
                 ),
                 ul_class: 'sub-menu',
                 li_class: '',
                 li_active_class: 'active',
                 a_class: '',
                 a_active_class: '' %>
    </li>
  <% end %>
  <li class="<%= 'active' if request.path == '/facilitators' %>">
    <a href="/facilitators" data-toggle="tooltip" title="Facilitators" data-placement="right">
      <i class="bi bi-person-circle"></i>
      <span class="nav-link-text">Facilitators</span>
    </a>
  </li>
  <% if !current_account %>
    <li class="<%= 'active' if request.path == '/gatherings' %>">
      <a href="/gatherings" data-toggle="tooltip" title="Gatherings" data-placement="right">
        <i class="bi bi-moon-fill"></i>
        <span class="nav-link-text">Gatherings</span>
      </a>
    </li>
  <% else %>
    <li class="has-sub <%= 'active' if @gathering %>">
      <a href="javascript:;">
        <b class="caret caret-right pull-right"></b>
        <i class="bi bi-moon-fill"></i>
        <span>Gatherings</span>
      </a>
      <%= ul_nav ([
            ['Create a gathering', '/g/new'],
            ['All gatherings', '/gatherings']
          ] +
        current_account.memberships.select { |membership| membership.gathering == @gathering or !membership.hide_from_sidebar }.sort_by { |membership| membership.gathering.name }.map { |membership| [membership.gathering.name, "/g/#{membership.gathering.slug}"] }),
                 ul_class: 'sub-menu',
                 li_class: '',
                 li_active_class: 'active',
                 a_class: '',
                 a_active_class: '' %>
    </li>
  <% end %>
  <li class="<%= 'active' if request.path.starts_with?('/docs') %>">
    <a href="/docs" data-toggle="tooltip" title="How to use Dandelion" data-placement="right">
      <i class="bi bi-question-circle-fill"></i>
      <span class="nav-link-text">How to use Dandelion</span>
    </a>
  </li>
  <li class="<%= 'active' if request.path == '/books' || request.path == '/films' %>">
    <a href="/books" data-toggle="tooltip" title="Library" data-placement="right">
      <i class="bi bi-book"></i>
      <span class="nav-link-text">Library</span>
    </a>
  </li>
  <li class="<%= 'active' if request.path == '/contact' %>">
    <a
      href="/contact" data-toggle="tooltip" title="Contact us" data-placement="right">
      <i class="bi bi-envelope-fill"></i>
      <span class="nav-link-text">Contact us</span>
    </a>
  </li>
  <li class="<%= 'active' if request.path == '/code' %>">
    <a
      href="/code" data-toggle="tooltip" title="Updates" data-placement="right">
      <i class="bi bi-code-slash"></i>
      <span class="nav-link-text">Updates</span>
    </a>
  </li>
  <li class="<%= 'active' if request.path == '/donate' %>">
    <a href="/donate" data-toggle="tooltip" title="Donate" data-placement="right">
      <i class="bi bi-cash-coin"></i>
      <span class="nav-link-text">Donate</span>
    </a>
  </li>
  <% if admin? %>
    <li class="nav-divider"></li>
    <li id="git-badge">
      <a target="_blank" href="https://github.com/symbiota-coop/dandelion/actions">
        <img src="https://github.com/symbiota-coop/dandelion/actions/workflows/ruby.yml/badge.svg">
      </a>
    </li>
    <li>
      <a href="/stats/orders" data-toggle="tooltip" title="Orders" data-placement="right">
        <i class="bi bi-cart-fill"></i>
        <span class="nav-link-text">Orders</span>
      </a>
    </li>
    <li>
      <a href="/stats/feedback" data-toggle="tooltip" title="Feedback" data-placement="right">
        <i class="bi bi-chat-left-quote"></i>
        <span class="nav-link-text">Feedback</span>
      </a>
    </li>
    <li>
      <a href="/stats/comments" data-toggle="tooltip" title="Comments" data-placement="right">
        <i class="bi bi-chat-left-text"></i>
        <span class="nav-link-text">Comments</span>
      </a>
    </li>
    <li>
      <a href="/stats/messages" data-toggle="tooltip" title="Messages" data-placement="right">
        <i class="bi bi-chat-left"></i>
        <span class="nav-link-text">Messages</span>
      </a>
    </li>
    <li>
      <a href="/stats/accounts" data-toggle="tooltip" title="Accounts" data-placement="right">
        <i class="bi bi-person-fill"></i>
        <span class="nav-link-text">Accounts</span>
      </a>
    </li>
    <li>
      <a href="/stats/organisations" data-toggle="tooltip" title="Organisations" data-placement="right">
        <i class="bi bi-flag-fill"></i>
        <span class="nav-link-text">Organisations</span>
      </a>
    </li>
    <li>
      <a href="https://cloud.mongodb.com/v2/5f06d9c45cb05e7a12eeefdd#/metrics/replicaSet/65c6919dfe99a4313345176b/queryInsights/profiler?fromCta=queryInsightsPage&metric=Operation+Execution+Time" target="_blank" data-toggle="tooltip" title="MongoDB" data-placement="right">
        <i class="bi bi-database"></i>
        <span class="nav-link-text">MongoDB</span>
      </a>
    </li>
    <li>
      <a href="https://dash.cloudflare.com/4380fac59eaeff9144315acb831e7540/dandelion.events/analytics/traffic" target="_blank" data-toggle="tooltip" title="Cloudflare" data-placement="right">
        <i class="bi bi-cloud"></i>
        <span class="nav-link-text">Cloudflare</span>
      </a>
    </li>
    <li>
      <a href="https://app.eu.mailgun.com/mg/sending/domains" target="_blank" data-toggle="tooltip" title="Mailgun" data-placement="right">
        <i class="bi bi-envelope-fill"></i>
        <span class="nav-link-text">Mailgun</span>
      </a>
    </li>
    <li>
      <a href="https://telemetry.betterstack.com/team/380288/tail" target="_blank" data-toggle="tooltip" title="Logs" data-placement="right">
        <i class="bi bi-terminal"></i>
        <span class="nav-link-text">Logs</span>
      </a>
    </li>
    <li>
      <a href="/stats/charts" data-toggle="tooltip" title="Charts" data-placement="right">
        <i class="bi bi-bar-chart-line-fill"></i>
        <span class="nav-link-text">Charts</span>
      </a>
    </li>
    <li>
      <a href="/stats/icons" data-toggle="tooltip" title="Icons" data-placement="right">
        <i class="bi bi-back"></i>
        <span class="nav-link-text">Icons</span>
      </a>
    </li>
  <% end %>
</ul>
