<% if notifications.empty? %>
  <p class="text-center lead mb-3">Your newsfeed is empty.</p>
<% else %>
  <ul class="list-unstyled">
    <% notifications.each_with_index { |notification,i| %>
    <li>
      <div class="media">
        <span class="newsfeed-icon text-center"><i class="bi <%= notification.icon %>"></i></span>
        <div class="media-body ml-2">
          <p class="my-0 mb-1">
            <a class="text-dark" href="<%= notification.link[1] %>">
              <%= notification.sentence %>
              <% if include_circle_name %>
                <% if notification.circle.is_a?(Gathering) %>
                  in <strong><%= notification.circle.name %></strong>
                <% end %>
              <% end %>
            </a>
            <% if notification.type.to_sym == :applied; mapplication = notification.notifiable %>
              <span class="float-right label label-<%= mapplication.label %>"><%= mapplication.status.capitalize %></span>
            <% end %>
            <% if notification.type.to_sym == :left_feedback; event_feedback = notification.notifiable %>
              <% if event_feedback.event %>
                <a href="/e/<%= event_feedback.event.slug %>" class="float-right">
                  <% if event_feedback.rating %>
                    <% event_feedback.rating.times do %><i class="bi bi-star-fill"></i><% end %>
                  <% end %>
                </a>
              <% end %>
            <% end %>
            <span style="font-size: 11px" class="text-muted"><%= timeago(notification.created_at) %></span>
          </p>
          <% if notification.type == 'commented'; comment = notification.notifiable %>
            <div class="media ml-2 my-2">
              <%= partial :'accounts/square', locals: { account: notification.notifiable.account, style: 'display: block; width: 32px' } %>
              <div class="media-body ml-2">
                <%= partial :'comments/body', locals: { comment: comment } %>
                <div data-pagelet-url="/comments/<%= comment.id %>/reactions" class="mt-3">
                  <%= partial :'comments/comment_reactions', locals: { comment: comment } %>
                </div>
              </div>
            </div>
          <% elsif notification.type == 'left_feedback'; event_feedback = notification.notifiable %>
            <%= partial :'event_feedbacks/event_feedback', locals: { event_feedback: event_feedback, mt_class: 'mt-3', mb_class: 'mb-0' } %>
          <% end %>
        </div>
      </div>
      <hr class="my-3" style="border-top-color: rgba(0,0,0,0.1)">
    </li>
    <% } %>
  </ul>
  <%= will_paginate notifications, page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
<% end %>

<% if params[:tour] || (!ENV['SKIP_TOURS'] && request.path == '/' && !current_account.seen_intro_tour) %>
  <%= partial :intro_tour %>
  <% current_account.set(seen_intro_tour: true) %>
<% end %>
