<% model_name = object.class.name.underscore %>
<div class="form-group">
  <label for="<%= model_name %>_tag_names">
    Tags
  </label>
  <% if defined?(update_flag) && update_flag %>
    <%= hidden_field_tag :"#{model_name}[update_tag_names]", value: true %>
  <% end %>
  <%= select_tag :"#{model_name}[tag_names]", options: object.tag_names_for_form.map { |t| [t, t, { selected: true }] }, id: "#{model_name}_tag_names", multiple: true, size: 1, class: 'form-control' %>
  <small class="form-text text-muted">Press comma to add a tag or enter to accept a suggestion. No need for #</small>
</div>
<script>
  $(function () {
    var $select = $("#<%= model_name %>_tag_names");
    $select.select2({
      tags: true,
      data: <%== tag_class.for_select.map { |t| { id: t, text: t } }.to_json %>,
      tokenSeparators: [',', '#'],
      createTag: function(params) {
        var term = params.term.replace(/^#/, '').trim();
        if (term === '') return null;
        return { id: term, text: term };
      }
    }).on('select2:select', function(e) {
      // Move newly selected item to the end
      var $option = $(this).find('option[value="' + e.params.data.id + '"]');
      $option.detach().appendTo($(this));
      $(this).trigger('change.select2');
    });
  })
</script>
