<style>
  #banner { padding-left: 0.9375rem; padding-right: 0.9375rem; margin-top: -0.9375rem; margin-left: -0.9375rem; margin-right: -0.9375rem; }
  @media(min-width: 768px) { #banner { padding-left: 1.5625rem; padding-right: 1.5625rem; margin-top: -1.5625rem; margin-left: -1.5625rem; margin-right: -1.5625rem; } }
</style>
<div id="banner" style="padding-top: 2.5vw; padding-bottom: 2.5vw; background: url('/images/dandelion.jpg'); background-position: 50% 62.5%; background-size: cover">

  <style>
    .strapline { font-size: 1.25rem; }
    .strapline > span { padding: 0.05rem }
    @media(min-width: 768px) {
      .strapline { font-size: 1.55rem; line-height: 130% }
      .strapline > span { padding: 0.25rem }
    }
  </style>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-10">
      <p class="strapline mb-0" style="text-align: center;">
        <span class="d-inline-block" style="background: rgba(255,255,255,0.75)">
          Use Dandelion to find and host
          <span class="d-sm-none"><br />
          </span>
          <strong>regenerative events</strong> and
          <span class="d-sm-none"><br />
          </span>
          <strong>co-created gatherings</strong>
        </span>
      </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4 col-sm-3 col-md-2">
      <div class="m-3 p-2 rounded-circle" style="background: rgba(255,255,255,0.75);">
        <a target="_blank" href="https://www.uk.coop/start-new-co-op/support/start-worker-co-op"><img src="/images/coop.png" class="w-100"></a>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-10">
      <p class="strapline mb-0" style="font-size: 0.85rem; text-align: center;">
        <span class="d-inline-block" style="background: rgba(255,255,255,0.75)">
          Proudly made by a <a href="https://dandelion.coop/">not-for-profit worker co-operative</a>
          <span class="d-none d-sm-inline">and <a target="_blank" href="https://github.com/dandelion-collective/dandelion">open-source</a>.</span>
        </span>
      </p>
    </div>
  </div>

</div>

<style>
  #just-pay { line-height: 1 }
  #just-pay > span { font-size: 0.6em; }
  @media(min-width: 768px) {
    #just-pay { line-height: 1.2 }
    #just-pay > span { font-size: 0.75em }
  }
</style>

<p class="lead text-center mt-3 mb-1">
  <mark>Unlike our competitors, we operate on a donation/gift economy basis.</mark><br />
</p>
<p class="lead text-center mb-4" id="just-pay">
  <span>
    Hosts just pay processing fees via
    <a target="_blank" href="https://stripe.com/gb/pricing">Stripe</a> or
    <a target="_blank" href="https://help.coinbase.com/en/commerce/getting-started/fees">Coinbase Commerce</a>
    <br />
    (or choose fee-free crypto payments via <a href="https://celo.org/">Celo</a> and <a href="https://www.gnosischain.com/evm">Gnosis Chain</a>).
  </span>
</p>

<p class="text-center mb-1">
  <a class="btn btn-primary btn-lg" href="/events/new">List an event</a>
</p>
<p class="text-center">
  <a href="/docs/events">Watch the 1-minute how-to video</a>
</p>

<h2 class="text-center mt-4 mb-3">
  <%= cp :tickets_count %>
  <div class="d-none d-sm-block">
    <br />
    <%= cp :events_count %>
  </div>
</h2>
<%= partial :'events/search_form' %>
<%= partial :'events/view_options', locals: {path: '/events'} %>

<div data-pagelet-url="/events"></div>
<div class="my-3" data-pagelet-url="/map?places=1">
  <%= partial :'maps/map', locals: { dynamic: true, trigger_bounds_changed: true } %>
</div>
<h2 style="font-size: 1.7rem" class="mt-4 mb-3 text-center">Some of the places that are important to our community</h2>
<p class="mt-3 lead text-center" style="font-size: 18px">
  <%== Place.order('name_transliterated asc').each.map { |place| %(<a href="/places/#{place.id}">#{Sanitize.fragment(place.name)}</a>) }.join(' &middot; ') %>
</p>
