<style>
  #content { padding-left: 0; padding-right: 0; padding-top: 0; }
  #strapline { font-size: 1.3rem; }
  @media(min-width: 992px) {
    #strapline { font-size: 3.1vw; line-height: 130% }
  }

  #tickets-sold { font-size: 1.3rem; }
  @media(min-width: 992px) {
    #tickets-sold { font-size: 1.73rem; }
  }

  .typewriter {
    background-size: 7.5em 100%;
    background-repeat: no-repeat;
  }
</style>

<div class="gradient content-padding-x">
  <div class="row justify-content-center mx-0 py-5">
    <script>
      $(function () {
        <% if ENV['CREATE_VIDEO'] %>
          $('.typewriter').text('regenerative')
        <% else %>
          var typed = new Typed('.typewriter', {
            strings: <%== ADJECTIVES.to_json %>,
            typeSpeed: 50,
            loop: true
          });
        <% end %>
      })
    </script>
    <div class="col-12 col-lg-7">
      <p id="strapline" class="mb-3 header-font">
        Find and host 
        <strong class="gradient-text typewriter"></strong>
        <br />
        events and co-created gatherings
      </p>
      <p class="text-lg-center readable">
        <a href="/docs/events#creating-an-event">Watch the 1-minute how-to video</a> or <a href="/docs/gatherings">learn more about Gatherings</a>
      </p>
      <p class="text-lg-center">
        <a class="btn btn-primary btn-lg" href="/events/new">List an event</a>
        <a class="btn btn-outline-primary btn-lg ml-1" href="/features">Features</a>
      </p>
    </div>
  </div>

  <div class="row justify-content-center mb-5 mx-0">
    <div class="col-lg-7">

      <h2 class="regular text-center mt-3 mb-5 my-lg-3 mb-lg-4" id="tickets-sold">
        <%= cp :tickets_count %>
      </h2>

      <div id="payment-methods" class="row align-items-center mb-5 px-0 px-lg-3 mb-lg-3">
        <%= partial :payment_methods %>
      </div>

      <div class="row justify-content-center py-5">
        <div class="col-lg-10">
          <%= partial :badges %>
        </div>
      </div>

    </div>
  </div>
</div>

<div style="padding-left: 1.5625rem; padding-right: 1.5625rem;">
  <div class="mt-lg-5">
    <%= partial :'events/search_form', locals: { path: '/events' } %>

    <div data-with-placeholder data-pagelet-url="/events?home=1&images=1&order=trending">
      <%= partial :'events/blocks_placeholder' %>
    </div>
  </div>

  <%= cp(:'event_feedbacks/home', expires: 1.day.from_now) %>

  <div id="homepage-map" data-lazy-map="/map/home">
    <div style="height: 50vh"></div>
  </div>
  <script>
    $(function () {
      var $mapContainer = $('#homepage-map');
      var mapLoaded = false;

      if (typeof google === 'undefined') {
        $mapContainer.hide();
        return;
      }

      var observer = new IntersectionObserver(function (entries) {
        if (entries[0].isIntersecting && !mapLoaded) {
          mapLoaded = true;
          observer.disconnect();
          $mapContainer.load($mapContainer.data('lazy-map'));
        }
      }, { rootMargin: '200px' });

      observer.observe($mapContainer[0]);
    });
  </script>
</div>
