<% if request.user_agent =~ /android/i %>
  <div id="a2hs" class="card mb-3 d-lg-none">
    <div class="card-body text-center">
      <a id="a2hs-btn" class="btn btn-primary" href="javascript:;">Add Dandelion to your home screen</a>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-8">
    <%= cp(:'organisations/carousel', key: "/organisations/carousel/#{current_account.id}") %>
    <% if params[:thanks] %>
      <div class="px-4 mb-5 pt-3">
        <p class="lead mb-1">
          <mark class="px-0">Thank you so much for donating!</mark> 🎉
        </p>
        <p class="lead mb-0">
          <small>
            You're welcome to <a target="_blank" href="https://dandelion.nolt.io/">make suggestions of how we can improve Dandelion on our Nolt board</a>.</p>
        </small>
      </p>
    </div>
  <% else %>
    <%= partial :'accounts/pay', locals: {div_class: 'px-4 mb-5 pt-3', account: current_account } %>
  <% end %>
  <div data-with-placeholder id="newsfeed" data-pagelet-url="/" data-pagelet-refresh="60" class="mt-1 mb-3">
    <% 10.times do %>
      <style>
        @keyframes flickerAnimation {
          0%   { opacity:1; }
          50%  { opacity:0.5; }
          100% { opacity:1; }
        }
        .flicker {
            animation: flickerAnimation 2s infinite;
        }
      </style>
      <div class="flicker" style="width: 75%; background: rgba(0,0,0,0.1)">&nbsp;</div>
      <hr class="my-3" style="border-top-color: rgba(0,0,0,0.1)">
    <% end %>
  </div>
</div>
<div class="col-lg-4">
  <div style="position: sticky; top: 3.75rem">
    <div class="mb-3">
      <%= partial :"sponsors/#{Dir['app/views/sponsors/*'].map { |f| f.split('/_').last.gsub('.erb','') }.sample}", locals: {border: true, sponsored: :bottom} %>
    </div>
    <div class="card">
      <div id="upcoming-events">
        <h3 class="card-header bg-primary text-white">Your upcoming events</h3>
        <div class="card-body">
          <% if current_account.upcoming_events.count > 0 %>
            <table class="table">
              <% current_account.upcoming_events.each { |event| %>
              <tr class="block">
                <td style="width: 1px">
                  <a href="/events/<%= event.id %>" class="calendar-date" data-toggle="tooltip" title="in <%=distance_of_time_in_words event.start_time - Time.now %>">
                    <span class="day"><%= event.start_time.day %></span>
                    <br>
                    <span class="month"><%= event.start_time.strftime('%b') %></span>
                  </a>
                </td>
                <td>
                  <h4>
                    <a href="/events/<%= event.id %>"><%= event.name %></a>
                    <div data-with-placeholder class="d-inline event-star" data-pagelet-url="/events/<%=event.id%>/star?block_edit=1"><i class="fa fa-star-o" style="opacity: 0.3"></i></div>
                  </h4>
                  <% if event_admin?(event) %>
                    <%= partial :'events/progress', locals: { event: event, full_width: true, link: true } %>
                  <% end %>
                </td>
              </tr>
              <% } %>
            </table>
            <p class="mb-0"><a href="/events/my">See all your events &rarr;</a></p>
          <% else %>
            <p class="mb-0">
              Nothing upcoming. <a id="browse-events" href="/events">Browse events</a>
              <% if current_account.previous_events.count > 0 %>
                or <a href="/events/my">see your past events &rarr;</a>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
      <% if current_account.recommended_events_cache && current_account.recommended_events_cache.count > 0 %>
        <h3 class="card-header bg-primary text-white">Recommended for you</h3>
        <div class="card-body">
          <%= cp(:'events/recommended', key: "/events/recommended?account_id=#{current_account.id}", expires: 12.hours.from_now) %>
          <p class="mt-3 mb-0"><a href="/recommendations/events">More recommendations &rarr;</a></p>
        </div>
      <% end %>
      <h3 class="card-header bg-primary text-white">Trending</h3>
      <div class="card-body">
        <%= cp(:'events/trending', key: '/events/trending', expires: 12.hours.from_now) %>
      </div>
    </div>
    <% unless (provider_link = current_account.provider_links.find_by(provider: 'Ethereum')) %>
      <div class="card mt-3">
        <h3 class="card-header bg-primary text-white">Connect wallet</h3>
        <div class="card-body">
          <p>Connect your <a target="_blank" href="https://metamask.io/">wallet</a> to sign in with Ethereum</p>
          <a class="btn btn-primary" href="/auth/ethereum">Connect <i class="fab fa-ethereum"></i></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
