<% if request.user_agent =~ /android/i %>
  <div id="a2hs" class="card shadow-sm mb-3" style="display: none">
    <div class="card-body text-center">
      <a id="a2hs-btn" class="btn btn-primary" href="javascript:;">Add Dandelion to your home screen</a>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-8">
    <%= cp(:'organisations/carousel', key: "/organisations/carousel/#{current_account.id}") %>

    <%= partial :feedback %>

    <div class="card shadow-sm mb-3 d-lg-none">
      <h3 class="card-header chill">Your upcoming events</h3>
      <div class="card-body">
        <%= partial :'events/my_upcoming' %>
      </div>
    </div>

    <div data-with-placeholder id="newsfeed" data-pagelet-url="<%= params[:tour] ? '/?tour=1' : '/'%>" data-pagelet-refresh="60" class="p-3 border rounded shadow-sm bg-white">
      <% 15.times do %>
        <div class="flicker" style="width: 75%; background: rgba(0,0,0,0.1)">&nbsp;</div>
        <hr class="my-3" style="border-top-color: rgba(0,0,0,0.1)">
      <% end %>
    </div>
  </div>
  <div class="col-lg-4">
    <div style="position: sticky; top: 3.75rem">
      <%= partial :'events/awesome' %>
      <% if current_account.following.and(:hidden => false, :date_of_birth.ne => nil).exists? %>
        <div class="card shadow-sm mt-3">
          <h3 class="card-header chill">Upcoming birthdays</h3>
          <div class="card-body">
            <div class="mb-3">
              <% current_account.following.ids_by_next_birthday.first(5).each { |account_id| account = Account.find(account_id) %>
              <%= partial :'accounts/birthday', locals: {account: account} %>
              <% } %>
            </div>
            <div class="row justify-content-between">
              <div class="col-auto">
                <a href="/birthdays">All birthdays &rarr;</a>
              </div>
              <div class="col-auto">
                <a data-toggle="tooltip" title="iCal feed" style="font-size: 1rem" class="text-primary" id="ical" target="_blank" href="/birthdays.ics?api_key=<%=current_account.api_key%>">
                  <i class="bi bi-rss-fill"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
