<h2 class="mb-3">Referrals</h2>

<% if !current_account.organisations_as_referrer.exists? %>

  <p>
    We'll reward you for getting new organisations to use Dandelion!
  </p>
  <p>
    New organisations can list you as their referrer (the reason they joined Dandelion) in organisation settings under 'Everything else'.
    Once an organisation has generated &euro;100 in donation revenue, you can claim a &euro;100 reward.    
  </p>

  <p>
    You'll see organisations that have listed you as their referrer below, along with a progress bar towards the &euro;100 reward.
  </p>

<% else %>

  <p>
    Organisations that have listed you as their referrer. 
    Once an organisation has generated &euro;100 in donation revenue, you can claim a &euro;100 reward.
  </p>

  <% @organisations.each do |organisation| %>
    <%
    revenue_eur = organisation.referral_revenue_eur
    percentage = [revenue_eur, 100].min
  %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><a href="/o/<%= organisation.slug %>"><%= organisation.name %></a></h5>
        <div class="progress mb-2" style="height: 20px;">
          <div class="progress-bar <% if percentage >= 100 %>bg-success<% end %>" role="progressbar" style="width: <%= percentage %>%"></div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <span><%= [revenue_eur, 100].min.round %> / 100 max</span>
          <% if organisation.reward_claimer_id.present? %>
            <button class="btn btn-primary btn-sm" disabled>Claimed</button>
          <% elsif revenue_eur >= 100 %>
            <a href="/referrals/<%= organisation.id %>/claim" class="btn btn-primary btn-sm">Claim reward</a>
          <% else %>
            <button class="btn btn-primary btn-sm" disabled>Claim reward</button>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

<% end %>