<h2 class="mb-3">Referral rewards</h2>

<div class="readable">
  <p>
    We'll reward you for getting new organisations to use Dandelion!
  </p>
  <p>
    New organisations can list you as their referrer (the reason they joined Dandelion) in organisation settings under 'Everything else'.
    Once an organisation has generated <%= m(Organisation::REFERRAL_REWARD_THRESHOLD, 'EUR') %> in donations to Dandelion, you can claim a <%= m(Organisation::REFERRAL_REWARD_THRESHOLD, 'EUR') %> reward.    
  </p>
  <p>
    You'll see organisations that have listed you as their referrer below, along with a progress bar towards the <%= m(Organisation::REFERRAL_REWARD_THRESHOLD, 'EUR') %> reward.
  </p>
</div>

<% if @organisations.empty? %>
  <%
    threshold = Organisation::REFERRAL_REWARD_THRESHOLD
    example_revenue = Money.new(threshold.cents * 88 / 100, threshold.currency)
    example_percentage = [example_revenue.cents.to_f / threshold.cents * 100, 100].min
  %>
  <%= partial :'referrals/referral_card', locals: {
    example: true,
    revenue: example_revenue,
    percentage: example_percentage
  } %>
<% end %>

<% @organisations.each do |organisation| %>
  <%
    revenue = organisation.referral_revenue
    percentage = [revenue.cents.to_f / Organisation::REFERRAL_REWARD_THRESHOLD.cents * 100, 100].min
  %>
  <%= partial :'referrals/referral_card', locals: {
    example: false,
    organisation: organisation,
    revenue: revenue,
    percentage: percentage
  } %>
<% end %>
