<form action="/search" id="search-form">
  <div class="search-input <% if %w[ai events].include?(@type) %>mb-1<% end %>">
    <a href="javascript:;" onclick="$(this).next().val('').focus()" class="search-close">×</a>
    <input name="q" type="text" class="form-control input-lg" value="<%= @q %>">
  </div>
  <% if @type == 'ai' %>
    <p class="mb-3">
      AI search for events. <br class="d-sm-none" />
      <a href="/events?q=<%=@q%>&search=1">See full search options &rarr;</a>
    </p>
  <% elsif @type == 'events' %>
    <p class="mb-3">
      Fuzzy search for recent and future events. <br class="d-sm-none" />
      <a href="/events?q=<%=@q%>&search=1">See full search options &rarr;</a>
    </p>
  <% end %>
  <input type="hidden" name="type" id="type" value="<%= @type %>">
</form>

<ul class="search-tab">
  <% { 'AI Mode' => 'ai', 'Events' => 'events', 'People' => 'accounts', 'Organisations' => 'organisations', 'Gatherings' => 'gatherings' }.each { |k,v| %>
  <li <% if @type == v %> class="active" <% end %>><a href="javascript:;" onclick="$('#type').val('<%= v %>');
          $('#search-form').submit()"><%= k %></a></li>
  <% } %>
</ul>

<% if @q %>
  <% case @type; when 'ai'; %>
    <div data-pagelet-url="/search?type=<%= @type %>&q=<%= CGI.escape(@q) %>" data-with-placeholder class="mt-4">
      <div class="container">
        <%= partial :placeholder %>
      </div>
    </div>
  <% when 'accounts' %>
    <ul class="search-result-list mb-3">
      <% @accounts.each { |account| %>
      <li>
        <%= partial 'accounts/search_result', locals: { account: account } %>
      </li>
      <% } %>
    </ul>
    <%= will_paginate @accounts, page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
  <% when 'events' %>
    <div class="mt-4">
      <%= partial 'events/blocks', locals: { events: @events } %>
    </div>
    <%= will_paginate @events, page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
  <% when 'organisations' %>
    <style>
      @media(min-width: 768px) {
      .search-result-media div {
        height: 10rem !important;
      }
      }
    </style>
    <ul class="search-result-list mb-3">
      <% @organisations.each { |organisation| %>
      <li>
        <div class="search-result-media" style="height: auto">
          <% if organisation.image %>
            <a href="/o/<%= organisation.slug %>"><img src="<%= u organisation.image.thumb('400x400').url %>"<% if organisation.image_width_unmagic && organisation.image_height_unmagic %> style="aspect-ratio: <%= organisation.image_width_unmagic %> / <%= organisation.image_height_unmagic %>"<% end %>></a>
          <% else %>
            <a href="/o/<%= organisation.slug %>">
              <div style="border: 2px solid #212529; height: 5.625rem"></div>
            </a>
          <% end %>
        </div>
        <div class="search-result-content">
          <h2>
            <a class="text-dark" href="/o/<%= organisation.slug %>"><%= organisation.name %></a>
          </h2>
        </div>
      </li>
      <% } %>
    </ul>
    <%= will_paginate @organisations, page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
  <% when 'gatherings' %>
    <ul class="search-result-list mb-3">
      <% @gatherings.each { |gathering| %>
      <li>
        <% if gathering.image %>
          <div class="search-result-media" style="height: auto">
            <a href="/g/<%= gathering.slug %>"><img src="<%= u gathering.image.thumb('400x400').url %>"<% if gathering.image_width_unmagic && gathering.image_height_unmagic %> style="aspect-ratio: <%= gathering.image_width_unmagic %> / <%= gathering.image_height_unmagic %>"<% end %>></a>
          </div>
        <% end %>
        <div class="search-result-content">
          <h2>
            <a class="text-dark" href="/g/<%= gathering.slug %>"><%= gathering.name %></a>
          </h2>
        </div>
      </li>
      <% } %>
    </ul>
    <%= will_paginate @gatherings, page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
  <% end %>
<% end %>
