<%
t1 = Account.sum(:tokens) + Organisation.sum(:tokens)
team_fraction = 0.1
t2 = t1/(1-team_fraction)
team_tokens = team_fraction * t2

n = 20
spin = 45 / ((n*2 + 2) + 1)
spins = { :@accounts => 0, :@organisations => 210}
team_spin = 120
@accounts = Account.and(:tokens.ne => nil, :tokens.gt => 0).order('tokens desc').limit(n)
accounts_remaining = Account.sum(:tokens) - @accounts.sum(:tokens)
@organisations = Organisation.and(:tokens.ne => nil, :tokens.gt => 0).order('tokens desc').limit(n)
organisations_remaining = Organisation.sum(:tokens) - @organisations.sum(:tokens)
%>
<script>
  $(function () {
    var ctx = document.getElementById('chart-area').getContext('2d');
    var config = {
      type: 'doughnut',
      data: {
        datasets: [{
            data: <%== (@accounts.pluck(:tokens) + [accounts_remaining] + @organisations.pluck(:tokens) + [organisations_remaining] + [team_tokens]).to_json %>,
            backgroundColor: <%== (spins.map do |k, v|
                                   0.upto(n).map { |i| (k == 'Unknown' ? '#666' : '#2DB963'.paint.spin(v + i * spin)).to_s }
                                 end.sum + ['#2DB963'.paint.spin(team_spin).to_s]).to_json %>
          }],
          labels: <%== (@accounts.pluck(:name) + ['Other accounts'] + @organisations.pluck(:name) + ['Other organisations'] + ['Dandelion team']).to_json %>,
      },
      options: {
        responsive: true,
        // onClick: function (e, item) {
        //   console.log(item[0].index);
        // },
        plugins: {
          legend: {
            display: false
          },
          tooltip: {
            callbacks: {
              label: function (tooltipItem) {
                try {
                  let label = ' ' + tooltipItem.label || '';
                  if (label) {
                    label += ': ';
                  }

                  const sum = tooltipItem.dataset.data.reduce((accumulator, curValue) => {
                    return accumulator + curValue;
                  });
                  const value = tooltipItem.raw;
                  label += Number((value / sum) * 100).toFixed(1) + '%';
                  return label;
                } catch (error) {
                  console.log(error);
                }
              }
            }
          }
        }
      }
    };
    window.myPie = new Chart(ctx, config);
  })
</script>

<h1>DNDLN token: &Dstrok;</h1>

<p class="lead">
  Here you can view the proposed initial distribution of the DNDLN token.</p>

<p class="lead mb-1">
  The proposed distribution formula for individuals is:
</p>
<pre class="mb-0">
<code>your_orders.sum { sqrt(order_value) } + orders_of_events_where_you_are_the_revenue_sharer.sum { 0.25 * sqrt(order_value) } + gathering_payments.sum { 2 * sqrt(payment_value) } + donations_you_made_to_dandelion.sum { sqrt(donation_value) }</code>
</pre>

<p class="lead mb-1">
  The proposed distribution formula for organisations is:
</p>
<pre class="mb-0">
<code>organisation_orders.sum { sqrt(order_value) } + donations_organisation_made_to_dandelion.sum { sqrt(donation_value) }</code>
</pre>
<p class="lead" style="margin-top: -0.75em">
with the top-placed organisation to receive no more than 4x the number of tokens of the second-placed organisation.
</p>

<% if current_account && current_account.tokens %>
<p class="lead">
    You are in line to receive
    <%= "#{(100*current_account.tokens/t2).round(2)}%"%>
    of the total supply, putting you #<%=Account.and(:tokens.ne => nil, :tokens.gt => 0).order('tokens desc').pluck(:id).index(current_account.id) + 1 %> across all individual tokenholders.
</p>
<% end %>

<div class="row justify-content-center">

  <% spins.each { |k,v| %>
  <div class="col-12 col-md-6 mb-5">
    <h2>Top
      <% if k == :@accounts %>
        individuals
      <% elsif k == :@organisations %>
        organisations
      <% end %>
    </h2>
    <% instance_variable_get(k).each_with_index { |x, i| %>
    <div class="text-white text-center" style="display: inline-block; width: 5em;  background: <%= (k == 'Unknown' ? '#666' : '#2DB963'.paint.spin(v + i * spin)).to_s %>"><%= "#{(100*x.tokens/t2).round(2)}%"%></div>
    <% if x.is_a?(Account) %>
      <a href="/u/<%=x.username%>"><%= x.name %></a>
    <% elsif x.is_a?(Organisation) %>
      <a href="/o/<%=x.slug%>"><%= x.name %></a>
    <% end %>
    &Dstrok;<%=number_with_delimiter x.tokens.round%><br>
    <% } %>
  </div>
  <% } %>
  <div class="col-12 col-md-8">
    <canvas style="width: 100%" id="chart-area"></canvas>
  </div>
</div>
