<h2>Events</h2>
<%= cp(:chart, locals: { countable: Event.all, months_ago: 24, make_projection: true }, key: "/stats/charts/events", expires: 3.hours.from_now) %>

<h2>Active organisations</h2>
<%= cp(:'stats/active_organisations_chart', key: "/stats/charts/organisations", expires: 3.hours.from_now) %>

<h2>Contributions</h2>
<%= cp(:'stats/contributions_chart', key: "/stats/charts/contributions", expires: 3.hours.from_now) %>

<h2>Orders</h2>
<%= cp(:chart, locals: { countable: Order.all, months_ago: 24, make_projection: true }, key: "/stats/charts/orders", expires: 3.hours.from_now) %>

<h2>Tickets</h2>
<%= cp(:chart, locals: { countable: Ticket.all, months_ago: 24, make_projection: true }, key: "/stats/charts/tickets", expires: 3.hours.from_now  ) %>

<h2>Accounts</h2>
<%= cp(:chart, locals: { countable: Account.all, months_ago: 24, make_projection: true }, key: "/stats/charts/accounts", expires: 3.hours.from_now) %>

<h2>Dominance of leading organisation</h2>
<%= cp(:'stats/dominance_chart', key: "/stats/charts/dominance", expires: 3.hours.from_now) %>