<h2>Comments</h2>
<table class="table">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Account</th>
      <th>Comment</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each { |comment|
      c = comment.commentable.respond_to?(:gathering) ? "Gathering#{comment.commentable.gathering_id}" : "#{comment.commentable_type}#{comment.commentable_id}" %>
    <tr>
      <td class="subject">
        <a href="<%= comment.post.url %>">
          <span class="label" style="background-color: #<%= Digest::MD5.hexdigest(c)[0..5] %>"><%= comment.first_in_post.email_subject.split(']').first.split('[').last %></span>
          <%= comment.first_in_post.email_subject.split(']').last %>
        </a>
      </td>
      <td>
        <a href="/u/<%= comment.account.username %>"><%= comment.account.name %></a>
      </td>
      <td>
        <div class="comment-body compact-urls linkify nl2br tagify"><%= comment.body %></div>
      </td>
      <td>
        <%= comment.created_at %>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
<%= will_paginate @comments, page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
