<% form_tag '/stats/delivery', method: 'get', class: 'form-inline justify-content-start mb-3' do %>
  <%= select_tag :period,
        options: {
          'Last 24 hours' => '24',
          'Last 7 days' => '7',
          'Last 30 days' => '30',
          'Last 90 days' => '90'
        },
        selected: @period,
        class: 'form-control form-control-sm',
        onchange: 'this.form.submit()' %>
<% end %>

<% if @stats[:error] %>
  <div class="alert alert-danger text-center" role="alert">
    <%= @stats[:error] %>
  </div>
<% else %>
  <div class="table-responsive">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Provider</th>
          <th class="text-right">Delivered</th>
          <th class="text-right">Bounce</th>
          <th class="text-right">Delivered %</th>
        </tr>
      </thead>
      <tbody>
        <% @stats[:by_provider].each do |row| %>
          <tr class="<%= 'table-warning' if row[:delivered_rate_f] && row[:delivered_rate_f] < MailgunDeliveryStats::ALERT_THRESHOLD %>">
            <td><code><%= row[:label] %></code></td>
            <td class="text-right"><%= row[:delivered_count] %></td>
            <td class="text-right"><%= row[:bounced_count] %></td>
            <td class="text-right"><%= MailgunDeliveryStats.format_pct(row[:delivered_rate_f]) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
