<div class="table-responsive">
  <table id="frontend-deps-table" class="table table-hover">
    <thead>
      <tr>
        <th>Package</th>
        <th>Version</th>
        <th>Release date</th>
        <th>Latest</th>
        <th>Size</th>
        <th>Description</th>
        <th>Links</th>
      </tr>
    </thead>
    <tbody>
      <% @dependencies.each do |dep| %>
        <tr data-file-urls="<%= dep[:file_urls]&.to_json %>">
          <td>
            <% if dep[:source] == 'cdnjs' %>
              <a href="https://cdnjs.com/libraries/<%= dep[:name] %>" target="_blank"><%= dep[:name] %></a>
            <% elsif dep[:homepage] %>
              <a href="<%= dep[:homepage] %>" target="_blank"><%= dep[:name] %></a>
            <% else %>
              <%= dep[:name] %>
            <% end %>
          </td>
          <td><code><%= dep[:version] %></code></td>
          <% date = dep[:release_date] || dep[:commit_date] %>
          <td data-order="<%= date&.to_i || 0 %>">
            <% if date %>
              <span title="<%= date.strftime('%Y-%m-%d %H:%M:%S UTC') %>">
                <%= date.strftime('%Y-%m-%d') %>
              </span>
            <% end %>
          </td>
          <td>
            <% if dep[:latest_version] %>
              <% if dep[:version] != dep[:latest_version] %>
                <code>
                  <%= dep[:latest_version] %>
                </code>
              <% else %>
                <i class="bi bi-check-lg" />
              <% end %>
            <% else %>
              <i class="bi bi-question-lg" />
            <% end %>
          </td>
          <td class="file-size" data-order="0">
            <small class="text-muted">...</small>
          </td>
          <td>
            <small><%= dep[:description] %></small>
          </td>
          <td>
            <% if dep[:homepage] %>
              <a href="<%= dep[:homepage] %>" target="_blank" title="Homepage" class="mr-1"><i class="bi bi-house"></i></a>
            <% end %>
            <% if dep[:repository] %>
              <a href="<%= dep[:repository].sub(/^git\+/, '') %>" target="_blank" title="Github"><i class="bi bi-github"></i></a>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(function() {
    var table = $('#frontend-deps-table').DataTable({
      paging: false,
      searching: false,
      bInfo: false,
      order: [[2, 'asc']],
    });

    function formatBytes(bytes) {
      if (bytes === 0) return '0 B';
      var k = 1024;
      var sizes = ['B', 'KB', 'MB'];
      var i = Math.floor(Math.log(bytes) / Math.log(k));
      return parseFloat((bytes / Math.pow(k, i)).toFixed(1)) + ' ' + sizes[i];
    }

    $('#frontend-deps-table tbody tr').each(function() {
      var $row = $(this);
      var $sizeCell = $row.find('.file-size');
      var fileUrls = $row.data('file-urls');

      if (!fileUrls || !fileUrls.length) {
        $sizeCell.html('<small>-</small>');
        return;
      }

      var sizePromises = fileUrls.map(function(url) {
        return fetch(url, { method: 'HEAD', cache: 'force-cache' })
          .then(function(response) {
            var contentLength = response.headers.get('content-length');
            return contentLength ? parseInt(contentLength, 10) : 0;
          })
          .catch(function() { return 0; });
      });

      Promise.all(sizePromises).then(function(sizes) {
        var totalSize = sizes.reduce(function(a, b) { return a + b; }, 0);
        $sizeCell.attr('data-order', totalSize);
        $sizeCell.html('<small>' + formatBytes(totalSize) + '</small>');
        table.row($row).invalidate();
      });
    });
  });
</script>
