<h2>Messages</h2>
<table class="table">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Message</th>
      <th>Sent at</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each { |message| %>
    <tr>
      <td>
        <a href="/u/<%= message.messenger.username %>"><%= message.messenger.name %></a>
      </td>
      <td>
        <a href="/u/<%= message.messengee.username %>"><%= message.messengee.name %></a>
      </td>
      <td>
        <%= message.body %>
      </td>
      <td>
        <%= message.created_at %>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
<%= will_paginate @messages, page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
