<%=

d = [Date.new(24.months.ago.year, 24.months.ago.month, 1)]
d << (d.last + 1.month) while d.last < Date.new(Date.today.year, Date.today.month, 1)

partial :chart, locals: {
  label: 'Active organisations',
  data: d.map { |x|
    orders = Order.and(:created_at.gte => x, :created_at.lt => x + 1.month, :value.ne => nil)
    organisations = Organisation.and(:id.in => Event.and(:id.in => orders.pluck(:event_id)).pluck(:organisation_id))
    ["#{Date::MONTHNAMES[x.month]} #{x.year}", organisations.count]
  }.to_h   
} %>

<%
  from = Date.new(3.months.ago.year, 3.months.ago.month, 1)
  to = Date.new(Date.today.year, Date.today.month, 1)
  orders = Order.and(:created_at.gte => from, :created_at.lt => to, :value.ne => nil, :currency.in => MAJOR_CURRENCIES)  
  organisations = Organisation.and(:id.in => Event.and(:id.in => orders.pluck(:event_id)).pluck(:organisation_id))  
  tickets = Ticket.and(:created_at.gte => from, :created_at.lt => to, :price.gt => 0)
%>
<p class="lead mt-3">
  In the last quarter,
  <%= pluralize(organisations.count, 'organisation') %> sold
  <%= pluralize(tickets.count, 'ticket') %>
  worth
  <%= orders.sum { |o| Money.new(o.value*100, o.currency) }.exchange_to('GBP').format(no_cents: true) %>
</p>

<div class="mt-3">

  <script>
    $(function () {
      var colIndex = $("#summary th").toArray().indexOf($("th[data-col-name='created_at']")[0])
      $('#summary').dataTable({bInfo: false, paging: false, searching: false, order: [[colIndex, "desc"]]});
    })
  </script>
  <table class="table" id="summary">
    <thead>
      <tr>
        <th>Organisation</th>
        <th data-col-name="tickets">Tickets</th>
        <th data-col-name="value">Value</th>
        <th data-col-name="created_at">Created at</th>
      </tr>
    </thead>
    <% organisations = Organisation.and(:id.in => Event.and(:id.in => Order.and(:created_at.gte => from, :created_at.lt => to, :value.ne => nil).pluck(:event_id)).pluck(:organisation_id)) %>
    <% organisations.each { |organisation|

    tickets = Ticket.and(:event_id.in => organisation.events.pluck(:id), :created_at.gte => from, :created_at.lt => to, :price.gt => 0)
    orders = Order.and(:event_id.in => organisation.events.pluck(:id), :created_at.gte => from, :created_at.lt => to, :value.ne => nil, :currency.in => MAJOR_CURRENCIES)
    orders_sum = orders.sum { |o| Money.new(o.value*100, o.currency) }.exchange_to('GBP')

    next unless tickets.count >= 10 || orders_sum >= Money.new(1000*100, 'GBP')

    %>
    <tr>
      <td>
        <a href="/o/<%=organisation.slug%>"><%=organisation.name%></a>
      </td>
      <td>
        <%=tickets.count%>
      </td>
      <td>
        <%= orders_sum.format(no_cents: true) %>
      </td>
      <td data-sort="<%=organisation.created_at.to_fs(:db)%>"><%=organisation.created_at%></td>
    </tr>
    <% } %>
  </table>

</div>
