
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Website</th>
      <th>Created by</th>
      <th>Created at</th>
    </tr>
  </thead>
<% @places.each { |place| %>
  <tr>
    <td>
      <a href="/places/<%=place.id%>"><%=place.name%></a>
    </td>
    <td><%=place.location%></td>
    <td><%=place.website%></td>
    <td>
      <% if place.account %>
        <a href="/u/<%=place.account.username%>"><%=place.account.name%></a>
      <% end %>
    </td>
    <td>
      <%= place.created_at %>
    </td>
</tr>
<% } %>
</table>

<%= will_paginate @places, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
