<% @date ||= (params[:date] ? Date.parse(params[:date]) : Date.current) %>
<h3 class="my-3">
  <a href="?date=<%= (@date - 1).to_s(:db) %>#habits"><i class="fa fa-chevron-left"></i></a>
  <%= @date %>
  <% unless @date == Date.current %>
    <a href="?date=<%= (@date + 1).to_s(:db) %>#habits"><i class="fa fa-chevron-right"></i></a>
  <% end %>
</h3>
<div class="row mt-3" id="habits">
  <% habits.sort_by { |habit| [habit.o.to_i, habit.archived ? 1 : 0] }.each { |habit| %>
  <div data-pagelet-url="/habits/<%= habit.id %>/block?date=<%= @date.to_s(:db) %>" class="col-6 col-sm-3 mb-3 <%= block_class if defined?(block_class) %>" id="<%= habit.id %>">
    <%= partial :'habits/block', locals: { habit: habit, date: @date } %>
  </div>
  <% } %>
</div>
<% if !@account %>
  <script>
    $(function () {
      if ($(window).width() > 768) {
        $("div#habits").sortable({
          helper: 'clone',
          update: function (event, ui) {
            $.post('/habits/order', {habit_ids: $(event.target).sortable("toArray")})
          }
        });
      }
    })
  </script>
<% end %>
