<% completed = habit.habit_completions.find_by(date: date) %>
<div
<% if current_account and current_account.id == habit.account_id %>
    onclick="
    <% if completed %>
          if (confirm('Really uncomplete this habit?')) {
            $(this).next().find('input').click()
          }
    <% else %>
          $(this).next().find('input').click()
    <% end %>
    "
  <% end %>
  class="p-2 d-block block"
  style="
  <% if completed %>opacity: 0.25;<% end %>
  height: 180px; overflow: hidden;
  <% if current_account and current_account.id == habit.account_id %>cursor: pointer; <% end %>
  <% if !habit.image %>border: 2px solid #343a40;<% end %>
  <% if habit.image %>background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('<%= u habit.image.thumb('400x400').url %>'); background-size: cover; background-position: center center;<% end %>
  ">
  <table style="width: 100%; height: 100%">
    <tr>
      <td style="vertical-align: top">
        <div class="row justify-content-between">
          <div class="col">
            <h4 class="block-title">
              <a class="<% if habit.image %>text-white<% else %>text-dark<% end %>" target="_parent" href="/habits/<%= habit.id %>" onclick="event.stopPropagation();">
                <%= habit.name %>
              </a>
              <% if completed %>
                <i class="fa fa-check <% if habit.image %>text-white<% else %>text-dark<% end %>"></i>
              <% end %>
              <% if current_account and current_account.id == habit.account_id %>
                <a class="<% if habit.image %>text-white<% else %>text-dark<% end %> block-edit" style="display: none" href="/habits/<%= habit.id %>/edit" onclick="event.stopPropagation();">
                  <i class="fa fa-pencil"></i>
                </a>
              <% end %>
            </h4>
            <% if completed and completed.comment %>
              <p style="font-size: 0.9rem" class="<% if habit.image %>text-white<% else %>text-dark<% end %>"><em><%= completed.comment %></em></p>
            <% end %>
          </div>
          <div class="col-auto">
            <% if current_account and current_account.id == habit.account_id %>
              <% if habit.archived %>
                <i class="fa fa-eye-slash <% if habit.image %>text-white<% else %>text-dark<% end %> "></i>
              <% end %>
              <% if habit.public %>
                <i class="fa fa-globe  <% if habit.image %>text-white<% else %>text-dark<% end %>"></i>
              <% else %>
                <i class="fa fa-lock <% if habit.image %>text-white<% else %>text-dark<% end %> "></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: bottom; text-align: right" class="<% if habit.image %>text-white<% else %>text-dark<% end %>">
        <% if current_account && current_account.id == habit.account_id && habit.habit_completions.count > 0;

          latest_habit_completion = habit.habit_completions.order('date desc').first
          if latest_habit_completion.date == Date.current
            last_completed = 'Today'
            else
            last_completed = "#{time_ago_in_words latest_habit_completion.date} ago"
            end %>
        <span title="Last completed <%= last_completed.downcase %>">
          <i class="fa fa-clock-o"></i> <%= last_completed %>
        </span>
      <% end %>
    </td>
  </tr>
</table>
</div>
<% if current_account and current_account.id == habit.account_id %>
  <% form_tag "/habits/#{habit.id}/completed", style: 'display: none' do %>
    <%= hidden_field_tag :date, value: date %>
    <%= hidden_field_tag :comment %>
    <%= check_box_tag :completed, value: true, checked: completed, onclick: "if ($(this).is(':checked')) { var comment = prompt('Add a comment'); $(this.form).find('input[name=comment]').val(comment); } $(this.form).submit()" %>
  <% end %>
<% end %>
