<% form_for @habit, @habit.new_record? ? '/habits/new' : "/habits/#{@habit.id}/edit" do  |f| %>
  <%= f.text_block :name %>
  <%= f.image_block :image %>
  <%= f.text_area_block :notes %>
  <%= f.check_box_block :public %>
  <% if @habit.persisted? %>
    <%= f.check_box_block :archived %>
  <% end %>
  <div class="my-3">
    <%= f.submit_block destroy_url: "/habits/#{@habit.id}/destroy" %>
  </div>
<% end %>
