<script>
  $(function () {
    $('.habits-list').each(function () {
      if ($(this).find('li').length > 3) {
        $(this).find('li:gt(2)').hide()
        var showMore = $('<li><i class="fa fa-li fa-angle-double-down"></i><span style="cursor: pointer; border-bottom: 1px dotted">Show more</span></li>')
        showMore.insertAfter($(this).find('li:eq(2)'))
        showMore.find('span').click(function () {
          $(this).closest('li').hide().closest('ul').find('li:gt(3)').show()
        })
      }
    })
  })
</script>
<% habits = Habit.and(:account_id.in => accounts.pluck(:id)).and(public: true).order('o asc') %>
<% @dates.each { |date| %>
<h3 class="mt-3"><%= date.to_fs(:no_year) %></h3>
<table class="table">
  <% people_completing_habits_on_this_date = accounts.and(:id.in => HabitCompletion.and(:habit_id.in => habits.pluck(:id)).and(date: date).pluck(:account_id)) %>
  <% if people_completing_habits_on_this_date.count > 0 %>
    <% people_completing_habits_on_this_date.each { |account| %>
    <tr>
      <td style="width: 1px"><%= partial :'accounts/square', locals: { account: account, width: '50px' } %></td>
      <td>
        <ul class="fa-ul habits-list">
          <% account.habits.and(public: true).order('o asc').each { |habit| %>
          <% if (completed = habit.habit_completions.find_by(:date => date)) %>
            <li>
              <i class="fa fa-li fa-check"></i>
              <a href="/habits/<%= habit.id %>"><%= habit.name %></a><% if completed.comment %>: <%= completed.comment %><% end %>
              <div class="habit-completion-likes" data-pagelet-url="/habit_completions/<%= completed.id %>/likes" style="font-size: 12px; display: inline"></div>
            </li>
          <% end %>
          <% } %>
        </ul>
      </td>
    </tr>
    <% } %>
  <% else %>
    <tr colspan="2">
      <td>
        <em>No habits completed on this day</em>
      </td>
    </tr>
  <% end %>
</table>
<% } %>
