<script>
  $(function () {
    $(document).ajaxComplete(function (event, xhr, settings) {
      if (settings.url.endsWith('/completed')) {
        $('#network-habits').load('/habits/network')
        $('#my-habits').load('/habits/me')
      }
    });
  })
</script>
<a id="add-habit" class="btn btn-primary" href="javascript:;" onclick="$(this).hide().next().show().find('input').focus()"><i class="fa fa-plus-circle"></i> Add habit</a>
<div style="display: none">
  <%= partial :'habits/build' %>
</div>
<% if params[:add] %>
  <script>
    $(function () {
      $('#add-habit').click().next().find('input').first().focus()
    })
  </script>
<% end %>
<ul class="mt-3 nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#habit-tiles" role="tab">Your habits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="my-habits-tab" data-toggle="tab" href="#my-habits" role="tab">Log</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="network-habits-tab" data-toggle="tab" href="#network-habits" role="tab">Others</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="habit-tiles" role="tabpanel">
    <% form_tag '', class: 'form-inline mb-3', method: 'get' do %>
      <% { archived: 'Include archived', public: 'Public', private: 'Private' }.each { |k,t| %>
      <div class="checkbox-inline ml-3 mb-2">
        <%= check_box_tag k, value: true, checked: params[k], onclick: 'this.form.submit()', id: k %>
        <label for="<%= k %>">
          <%= t %>
        </label>
      </div>
      <% } %>
    <% end %>
    <% if !@habits.empty? %>
      <%= partial :'habits/blocks', locals: { habits: @habits, block_class: 'col-sm-4' } %>
    <% end %>
  </div>
  <div class="tab-pane fade" id="my-habits" role="tabpanel">
    <%= partial :'habits/me' %>
  </div>
  <div class="tab-pane fade" id="network-habits" role="tabpanel">
    <%= partial :'habits/log', locals: { accounts: current_account.network } %>
  </div>
</div>
