<div class="row">
  <div class="col-12 col-sm-auto text-center">
    <% if @habit.image %>
      <img src="<%= u @habit.image.thumb('200x200').url %>">
    <% end %>
  </div>
  <div class="col-12 col-sm">
    <div class="text-center text-sm-left">
      <h1>
        <%= @habit.name %>
        <% if !@habit.public? %>
          <i data-toggle="tooltip" title="Visible only to you" class="fa fa-lock"></i>
        <% end %>
        <% if @habit.public? %>
          <small class="text-muted">A habit of <a href="/u/<%= @habit.account.username %>"><%= @habit.account.name %></a></small>
        <% end %>
      </h1>
      <div class="mb-2">
        <% if @habit.account_id == current_account.id %>
          <a class="btn btn-primary" href="/habits/<%= @habit.id %>/edit"><i class="fa fa-pencil"></i> Edit habit</a>
        <% end %>
      </div>
    </div>
    <dl class="row my-3">
      <% habit_completions = @habit.habit_completions.order('date desc').paginate(page: params[:page], per_page: 10); habit_completions.each { |habit_completion| %>
      <dt class="col-6 font-weight-normal">
        <i class="fa fa-check"></i>
        <strong><%= habit_completion.date %><% unless habit_completion.date == Date.current %> (<%= time_ago_in_words habit_completion.date %> ago)<% end %></strong><% if habit_completion.comment %>: <%= habit_completion.comment %><% end %>
      </dt>
      <dd class="col-6">
        <td>
          <div class="habit-completion-likes" data-pagelet-url="/habit_completions/<%= habit_completion.id %>/likes" style="font-size: 12px; display: inline"></div>
        </dd>
        <% } %>
      </dl>
      <%= will_paginate habit_completions, inner_window: 0, outer_window: 0, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
    </div>
  </div>
  <div class="mt-3" data-pagelet-url="/commentable?commentable_type=Habit&commentable_id=<%= @habit.id %>">
    <%= partial :'comments/commentable', locals: { commentable: @habit } %>
  </div>
