<%= cp :'locations/header', key: "/locations/#{@location.name}/header", locals: { location: @location, events: @events } %>

<% fragment = Fragment.find_by(key: "/locations/#{@location.name}") %>
<div data-toggle="tooltip" title="AI-generated summary ✨" <% unless fragment %>data-with-placeholder<% end %> class="readable" data-pagelet-url="/locations/<%=@location.name%>">
  <% if fragment %>
    <%== fragment.value %>
  <% else %>
    <%= partial :placeholder, locals: { count: 1 } %>
  <% end %>
</div>

<% if @location.signal_group_link %>
  <a href="<%= @location.signal_group_link %>" target="_blank" class="btn btn-signal mb-3"><i class="bi bi-signal"></i> Join the Signal group</a>
<% end %>

<%= partial :'events/search_form', locals: { path: '/events' } %>

<div data-with-placeholder data-pagelet-url="/events?near=<%=CGI.escape(@location.query)%>">
  <%= partial :'events/blocks_placeholder' %>
</div>