<ul style="margin-left: 1.4em" class="fa-ul <% if place.image %>text-white<% else %>text-dark<% end %>">
  <li><i class="fa fa-li fa-map-marker"></i> <%= place.location.gsub(/#{place.name}[\w ]*,/i, '') %></li>
  <% if place.website %>
    <li><i class="fa fa-li fa-globe"></i><a target="_blank" class="<% if place.image %>text-white<% else %>text-dark<% end %>" href="<%= place.website %>"><%= URI(place.website).host.gsub('www.', '') %></a></li>
  <% end %>
  <% if !@account && place.account %>
    <li><i class="fa fa-li fa-user"></i> Listed by <a class="<% if place.image %>text-white<% else %>text-dark<% end %>" href="/u/<%= place.account.username %>"><%= place.account.name %></a></li>
  <% end %>
  <% if (c = place.comments.count) > 0 %>
    <li><i class="fa fa-li fa-comment-o"></i> <a class="<% if place.image %>text-white<% else %>text-dark<% end %>" href="/places/<%= place.id %>#comments"><%= pluralize(c, 'comment') %></a></li>
  <% end %>
</ul>
