<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <link rel="manifest" href="/manifest.json">

  <% if !params[:minimal] && Padrino.env == :production %>
    <script
      type="text/javascript"
      src="https://app.termly.io/embed.min.js"
      data-auto-block="on"
      data-website-uuid="e3781b47-56e6-4a03-987b-1ce448a36930"
      ></script>
  <% end %>

  <%= partial :'layouts/ga' %>
  <%= partial :'layouts/pixel' %>
  <link rel="preload" href="/fonts/circular/stylesheet.css" as="style">
  <link href="/fonts/circular/stylesheet.css" rel="stylesheet">
  <script src="//kit.fontawesome.com/13bb83cfaf.js"></script>

  <link href="/infinite_admin/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
  <link href="/infinite_admin/plugins/bootstrap/bootstrap4/css/bootstrap.css" rel="stylesheet">
  <link href="/infinite_admin/plugins/icon/themify-icons/themify-icons.css" rel="stylesheet">
  <link href="/infinite_admin/plugins/animate/animate.min.css" rel="stylesheet">
  <script src="/infinite_admin/plugins/loader/pace/pace.min.js"></script>
  <script src="/infinite_admin/plugins/jquery/jquery-3.2.1.min.js"></script>
  <script src="/infinite_admin/plugins/jquery-ui/jquery-ui.min.js"></script>
  <script src="/infinite_admin/plugins/cookie/js/js.cookie.js"></script>
  <script src="/infinite_admin/plugins/tooltip/popper/popper.min.js"></script>
  <script src="/infinite_admin/plugins/bootstrap/bootstrap4/js/bootstrap.js"></script>
  <script src="/infinite_admin/plugins/scrollbar/slimscroll/jquery.slimscroll.min.js"></script>
  <script src="/infinite_admin/js/apps.js?<%= @cachebuster %>"></script>

  <script>
    $(function () {
      App.init();
    });
  </script>

  <% if Padrino.env == :production %>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
    <script>
      if(typeof Pusher != 'undefined') {
        <% if Padrino.env == :development %>
          Pusher.logToConsole = true;
        <% end %>
        pusher = new Pusher('<%= ENV['PUSHER_KEY'] %>', { cluster: '<%= ENV['PUSHER_CLUSTER'] %>', encrypted: true });
      }
    </script>
  <% end %>

  <% if current_account && ENV['NOLT_SSO_SECRET'] %>
    <script async src="https://cdn.nolt.io/widgets.js"></script>
    <script>
      window.noltQueue=window.noltQueue||[];function nolt(){noltQueue.push(arguments)}
    </script>
    <script>
      nolt('identify', { jwt: '<%= generate_nolt_token %>' });
    </script>
  <% end %>

  <% {
       'jquery-timeago/1.4.3' => 'jquery.timeago.min.js',
       'moment.js/2.17.1' => 'moment.min.js locale/en-gb.js',
       'flatpickr/4.5.2' => 'flatpickr.min.js flatpickr.min.css',
       'datatables/1.10.16' => 'js/jquery.dataTables.min.js js/dataTables.bootstrap4.min.js css/dataTables.bootstrap4.min.css',
       'tributejs/3.5.3' => 'tribute.min.js tribute.min.css',
       'select2/3.5.2' => 'select2.min.js select2.min.css',
       'sticky-table-headers/0.1.24' => 'js/jquery.stickytableheaders.min.js',
       'iframe-resizer/4.2.10' => 'iframeResizer.contentWindow.min.js',
       'slick-carousel/1.8.1' => 'slick.min.js slick.min.css slick-theme.min.css',
       'Chart.js/2.7.0' => 'Chart.bundle.min.js',
       'web3/1.3.4' => 'web3.min.js',
       'highlight.js/11.6.0' => 'highlight.min.js styles/atom-one-dark.min.css',
       'intro.js/6.0.0' => 'intro.min.js introjs.min.css'
     }.each { |k,v| %>
  <% v.split(' ').each { |f| u = "https://cdnjs.cloudflare.com/ajax/libs/#{k}/#{f}" %>
  <% case f.split('.').last.to_sym; when :js %>
  <script src="<%= u %>"></script>
  <% when :css %>
  <link rel="stylesheet" href="<%= u %>">
<% end %>
<% } %>
<% } %>

<% [
     '//rawcdn.githack.com/scottdejonge/map-icons/dbf6fd7caedd60d11b5bfb5f267a114a6847d012/dist/css/map-icons.min.css',
     '//cdn.jsdelivr.net/npm/easymde@2.10.1/dist/easymde.min.css',
     '/stylesheets/share.css',
     "/stylesheets/app.css?#{@cachebuster}"
   ].each { |f| %>
<link rel="stylesheet" href="<%= f %>">
<% } %>

<% [
     '//www.google.com/recaptcha/api.js',
     '//js.stripe.com/v3/',
     "//cdn.iframe.ly/embed.js?api_key=#{ENV['IFRAMELY_API_KEY']}",
     "//maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=places",
     '//rawcdn.githack.com/bassjobsen/Bootstrap-3-Typeahead/067bd296184a4dda8c669923417124065b4ebced/bootstrap3-typeahead.min.js',
     '//rawcdn.githack.com/jackmoore/autosize/6ae70cd3d28888eb858eef1167e6ed75d25dff7f/dist/autosize.min.js',
     '//rawcdn.githack.com/mahnunchik/markerclustererplus/736b0e3a7d916fbeb2ee5007494f17a5329b11a8/src/markerclusterer.js',
     '//rawcdn.githack.com/scottdejonge/map-icons/dbf6fd7caedd60d11b5bfb5f267a114a6847d012/dist/js/map-icons.js',
     '//rawcdn.githack.com/euangoddard/clipboard2markdown/2d46aadd373f8b5cdb5fa0763090135ac31def13/to-markdown.js',
     '//cdn.jsdelivr.net/npm/easymde@2.10.1/dist/easymde.min.js',
     '/javascripts/linkify.min.js',
     '/javascripts/linkify-jquery.min.js',
     '/javascripts/jquery-deparam.js',
     '/javascripts/countUp.umd.js',
     "/javascripts/pagelets.js?#{@cachebuster}",
     "/javascripts/jquery.lookup.js?#{@cachebuster}",
     "/javascripts/ckeditor5/build/ckeditor.js?#{@cachebuster}",
     "/javascripts/app.js?#{@cachebuster}"
   ].each { |f| %>
<script src="<%= f %>"></script>
<% } %>

<%= favicon_tag 'black-on-transparent-sq.png' %>
<title>
  <% if @fulltitle %><%= @fulltitle %>
  <% else %><%= "#{@title} · " if @title %>
    <%= Padrino.env == :development ? 'DEV' : 'Dandelion' %>
  <% end %>
</title>
<meta name="description" content="<%= @og_desc %>">
<meta property="og:title" content="<%= @title %>">
<meta property="og:image" content="<%= @og_image %>?<%= @cachebuster %>">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= @title %>">
<meta name="twitter:description" content="<%= @og_desc %>">
<meta name="twitter:image" content="<%= @og_image %>?<%= @cachebuster %>">
<%= partial :'layouts/a2hs' %>
<% if !current_account && @hide_right_nav %>
  <style>
    @media (max-width: 767px) {
      ul.nav.navbar-nav.navbar-right {
        display: none;
      }
      #page-container {
        padding-top: 2.75rem;
      }
    }
  </style>
<% end %>

  <% if @event && @event.persisted? %>
    <link rel="canonical" href="<%=ENV['BASE_URI']%>/events/<%=@event.id%>" />
    <script type="application/ld+json">
    <%==
    JSON.pretty_generate({
      "@context": 'https://schema.org',
      "@type": 'Event',
      "eventStatus": "https://schema.org/EventScheduled",
      "name": @event.name,
      "startDate": @event.start_time.try(:iso8601),
      "endDate": @event.end_time.try(:iso8601),
      "eventAttendanceMode": @event.online? ? 'https://schema.org/OnlineEventAttendanceMode' : 'https://schema.org/OfflineEventAttendanceMode',
      "location": (unless @event.online?
                     {
                       "@type": 'Place',
                       "name": @event.location.split(', ').first,
                       "address": {
                           "@type": "PostalAddress",
                           "name": @event.location.split(', ')[1..-1].join(', ')
                          }
                     }
                   end),
      "image": @event_image.try(:url),
      "description": (if @event.description
                        Nokogiri::HTML(@event.description).search('h1,h2,h3,h4,h5,h6,p').first.try(:text).try(:strip)
                      end),
      "organizer": {
        "@type": 'Organization',
        "name": @event.organisation.name,
        "url": @event.organisation.website
      },
      "offers": (@event.ticket_types.map { |ticket_type|
        {
          "@type": "Offer",
          "url": "#{ENV['BASE_URI']}/events/#{@event.id}",
          "price": ticket_type.price,
          "priceCurrency": @event.currency,
          "availability": ticket_type.number_of_tickets_available_in_single_purchase > 0 ? "https://schema.org/InStock" : "https://schema.org/SoldOut",
        }
      })
    })
    %>
    </script>

  <% end %>
</head>
