<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <link rel="manifest" href="/manifest.json">

  <% if !params[:minimal] %>
    <script
      type="text/javascript"
      src="https://app.termly.io/resource-blocker/<%=ENV["TERMLY_WEBSITE_UUID"]%>?autoBlock=on"
      ></script>
  <% end %>

  <%= partial :'layouts/ga' %>
  <%= partial :'layouts/pixel' %>
  <%= partial :'layouts/simple_analytics' %>
  <%= partial :'layouts/hotjar' %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

  <link href="/infinite_admin/plugins/icon/themify-icons/themify-icons.css" rel="stylesheet">
  <link href="/infinite_admin/plugins/bootstrap/bootstrap4/css/bootstrap.css" rel="stylesheet">
  <link href="/infinite_admin/plugins/animate/animate.min.css" rel="stylesheet">

  <% if current_account && ENV['NOLT_SSO_SECRET'] %>
    <script async src="https://cdn.nolt.io/widgets.js"></script>
    <script>
      window.noltQueue=window.noltQueue||[];function nolt(){noltQueue.push(arguments)}
    </script>
    <script>
      nolt('identify', { jwt: '<%= generate_nolt_token %>' });
    </script>
  <% end %>

  <link rel="preconnect" href="https://cdnjs.cloudflare.com">
  <% {
      'jquery/3.7.1' => 'jquery.min.js',
      'jqueryui/1.13.2' => 'jquery-ui.min.js themes/base/jquery-ui.min.css',
      'jquery-timeago/1.4.3' => 'jquery.timeago.min.js',
      'moment.js/2.17.1' => 'moment.min.js locale/en-gb.js',
      'flatpickr/4.6.13' => 'flatpickr.min.js flatpickr.min.css',
      'datatables/1.10.16' => 'js/jquery.dataTables.min.js js/dataTables.bootstrap4.min.js css/dataTables.bootstrap4.min.css',       
      'tributejs/3.5.3' => 'tribute.min.js tribute.min.css',
      'select2/3.5.2' => 'select2.min.js select2.min.css',
      'sticky-table-headers/0.1.24' => 'js/jquery.stickytableheaders.min.js',
      'iframe-resizer/4.2.10' => 'iframeResizer.contentWindow.min.js',
      'slick-carousel/1.8.1' => 'slick.min.js slick.min.css slick-theme.min.css',
      'Chart.js/3.5.1' => 'chart.js',
      'web3/1.3.4' => 'web3.min.js',
      'highlight.js/11.6.0' => 'highlight.min.js styles/atom-one-dark.min.css',
      'intro.js/6.0.0' => 'intro.min.js introjs.min.css',
      'qrcodejs/1.0.0' => 'qrcode.min.js',
      'masonry/4.0.0' => 'masonry.pkgd.min.js',
      'TypeWatch/3.0.2' => 'jquery.typewatch.min.js',
      'bootstrap-icons/1.11.3' => 'font/bootstrap-icons.min.css',
      'typed.js/2.0.10' => 'typed.min.js'
     }.each { |k,v| %>
  <% v.split(' ').each { |f| u = "https://cdnjs.cloudflare.com/ajax/libs/#{k}/#{f}" %>
  <% case f.split('.').last.to_sym; when :js %>
    <script src="<%= u %>"></script>
  <% when :css %>
    <link rel="stylesheet" href="<%= u %>">
  <% end %>
  <% } %>
  <% } %>

  <% [
     '//rawcdn.githack.com/scottdejonge/map-icons/dbf6fd7caedd60d11b5bfb5f267a114a6847d012/dist/css/map-icons.min.css',
     "/stylesheets/app.css?#{@cachebuster}"
   ].each { |f| %>
  <link rel="stylesheet" href="<%= f %>">
  <% } %>

  <% [
     '//www.google.com/recaptcha/api.js',
     '//js.stripe.com/v3/',
     "//cdn.iframe.ly/embed.js?key=#{ENV['IFRAMELY_KEY']}",
     "//maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_PUBLIC_API_KEY']}&libraries=places",
     '//rawcdn.githack.com/bassjobsen/Bootstrap-3-Typeahead/067bd296184a4dda8c669923417124065b4ebced/bootstrap3-typeahead.min.js',
     '//rawcdn.githack.com/mahnunchik/markerclustererplus/736b0e3a7d916fbeb2ee5007494f17a5329b11a8/src/markerclusterer.js',
     '//rawcdn.githack.com/scottdejonge/map-icons/dbf6fd7caedd60d11b5bfb5f267a114a6847d012/dist/js/map-icons.js',
     '//rawcdn.githack.com/scottgonzalez/jquery-ui-extensions/fb7fd7df3d70e0288394f07bfe78262b548c30d6/src/autocomplete/jquery.ui.autocomplete.html.js',
     '//cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0',
     "/javascripts/ext/ckeditor.js?#{@cachebuster}",     
     '/javascripts/ext/autosize.js',     
     '/javascripts/ext/countUp.umd.js',     
     '/javascripts/ext/jquery-deparam.js',     
     '/javascripts/ext/linkify.min.js',     
     '/javascripts/ext/linkify-jquery.min.js',     
     "/javascripts/pagelets.js?#{@cachebuster}",
     "/javascripts/jquery.lookup.js?#{@cachebuster}",
     "/javascripts/app.js?#{@cachebuster}"
   ].each { |f| %>
  <script src="<%= f %>"></script>
  <% } %>

  <script src="/infinite_admin/plugins/loader/pace/pace.min.js"></script>
  <script src="/infinite_admin/plugins/cookie/js/js.cookie.js"></script>
  <script src="/infinite_admin/plugins/tooltip/popper/popper.min.js"></script>
  <script src="/infinite_admin/plugins/bootstrap/bootstrap4/js/bootstrap.js"></script>
  <script src="/infinite_admin/plugins/scrollbar/slimscroll/jquery.slimscroll.min.js"></script>
  <script src="/infinite_admin/js/apps.js?<%= @cachebuster %>"></script>

  <script>
    $(function () {
      App.init();
    });
  </script>

  <%= favicon_tag 'black-on-transparent-sq.png' %>
  <title><% if @fulltitle %><%= @fulltitle %><% else %><%= "#{@title} · " if @title %><%= Padrino.env == :development ? 'DEV' : 'Dandelion' %><% end %></title>
  <meta name="description" content="<%= @og_desc %>">
  <meta property="og:title" content="<%= @title %>">
  <meta property="og:image" content="<%= @og_image %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= @title %>">
  <meta name="twitter:description" content="<%= @og_desc %>">
  <meta name="twitter:image" content="<%= @og_image %>">
  <%= partial :'layouts/a2hs' %>
  <% if !current_account && @hide_right_nav %>
    <style>
      @media (max-width: 991px) {
        ul.nav.navbar-nav.navbar-right {
          display: none;
        }
        #page-container {
          padding-top: 2.75rem;
        }
      }
    </style>
  <% end %>

  <% if @event && @event.persisted? %>
    <% if params[:cohost] %>
      <link rel="canonical" href="<%=ENV['BASE_URI']%>/e/<%=@event.slug%>?cohost=<%=params[:cohost]%>" />
    <% else %>
      <link rel="canonical" href="<%=ENV['BASE_URI']%>/e/<%=@event.slug%>" />
    <% end %>
    <script type="application/ld+json">
      <%==
      JSON.pretty_generate({
        "@context": 'https://schema.org',
        "@type": 'Event',
        "eventStatus": "https://schema.org/EventScheduled",
        "name": @event.name,
        "startDate": @event.start_time.try(:iso8601),
        "endDate": @event.end_time.try(:iso8601),
        "eventAttendanceMode": @event.online? ? 'https://schema.org/OnlineEventAttendanceMode' : 'https://schema.org/OfflineEventAttendanceMode',
        "location": (unless @event.online?
                       {
                         "@type": 'Place',
                         "name": @event.location.split(', ').first,
                         "address": {
                             "@type": "PostalAddress",
                             "name": @event.location.split(', ')[1..-1].join(', ')
                            }
                       }
                     end),
        "image": @event_image.try(:url),
        "description": (if @event.description
                          Nokogiri::HTML(@event.description).search('h1,h2,h3,h4,h5,h6,p').first.try(:text).try(:strip)
                        end),
        "organizer": ({
          "@type": 'Organization',
          "name": @event.organisation.name,
          "url": @event.organisation.website
        } if @event.organisation),
        "offers": (@event.ticket_types.map { |ticket_type|
          {
            "@type": "Offer",
            "url": "#{ENV['BASE_URI']}/events/#{@event.id}",
            "price": (ticket_type.price || ticket_type.range_min),
            "priceCurrency": @event.currency,
            "availability": ticket_type.number_of_tickets_available_in_single_purchase > 0 ? "https://schema.org/InStock" : "https://schema.org/SoldOut",
          }
        })
      })
      %>
    </script>

  <% end %>
</head>
