<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <link rel="manifest" href="/manifest.json">

  <% if Padrino.env == :production %>
    <% if !params[:minimal] && !params[:ticket_form_only] %>
      <script
      type="text/javascript"
      src="https://app.termly.io/resource-blocker/<%=ENV["TERMLY_WEBSITE_UUID"]%>?autoBlock=on"
      ></script>
    <% end %>

    <%= partial :'layouts/ga' %>
    <%= partial :'layouts/pixel' %>

    <% if current_account && ENV['NOLT_SSO_SECRET'] %>
      <script async src="https://cdn.nolt.io/widgets.js"></script>
      <script>
        window.noltQueue=window.noltQueue||[];function nolt(){noltQueue.push(arguments)}
      </script>
      <script>
        nolt('identify', { jwt: '<%= generate_nolt_token %>' });
      </script>
    <% end %>
  <% end %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
  <% if request.path == '/daily' %>
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
  <% end %>

  <%= partial :'layouts/dependencies' %>

  <%= favicon_tag 'black-on-transparent-sq.png' %>
  <title><% if @fulltitle %><%= @fulltitle %><% else %><%= "#{@title} · " if @title %><%= Padrino.env == :development ? 'DEV' : 'Dandelion' %><% end %></title>
  <meta name="description" content="<%= @og_desc %>">
  <meta property="og:title" content="<%= @title %>">
  <meta property="og:image" content="<%= @og_image %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= @title %>">
  <meta name="twitter:description" content="<%= @og_desc %>">
  <meta name="twitter:image" content="<%= @og_image %>">
  <%= partial :'layouts/a2hs' %>
  <% if !current_account && @hide_right_nav %>
    <style>
      @media (max-width: 991px) {
        ul.nav.navbar-nav.navbar-right {
          display: none;
        }
        #page-container {
          padding-top: 2.75rem;
        }
      }
    </style>
  <% end %>

  <% if @event && @event.persisted? %>
    <% if params[:cohost] %>
      <link rel="canonical" href="<%=ENV['BASE_URI']%>/e/<%=@event.slug%>?cohost=<%=params[:cohost]%>" />
    <% else %>
      <link rel="canonical" href="<%=ENV['BASE_URI']%>/e/<%=@event.slug%>" />
    <% end %>
    <script type="application/ld+json">
      <%==
      JSON.pretty_generate({
        "@context": 'https://schema.org',
        "@type": 'Event',
        "eventStatus": "https://schema.org/EventScheduled",
        "name": @event.name,
        "startDate": @event.start_time.try(:iso8601),
        "endDate": @event.end_time.try(:iso8601),
        "eventAttendanceMode": @event.online? ? 'https://schema.org/OnlineEventAttendanceMode' : 'https://schema.org/OfflineEventAttendanceMode',
        "location": (unless @event.online?
                       {
                         "@type": 'Place',
                         "name": @event.location.split(', ').first,
                         "address": {
                             "@type": "PostalAddress",
                             "name": @event.location.split(', ')[1..-1].join(', ')
                            }
                       }
                     end),
        "image": @event_image.try(:url),
        "description": (if @event.description
                          Nokogiri::HTML(@event.description).search('h1,h2,h3,h4,h5,h6,p').first.try(:text).try(:strip)
                        end),
        "organizer": ({
          "@type": 'Organization',
          "name": @event.organisation.name,
          "url": @event.organisation.website
        } if @event.organisation),
        "offers": (@event.ticket_types.map { |ticket_type|
          {
            "@type": "Offer",
            "url": "#{ENV['BASE_URI']}/events/#{@event.id}",
            "price": (ticket_type.price || ticket_type.range_min),
            "priceCurrency": @event.currency,
            "availability": ticket_type.number_of_tickets_available_in_single_purchase > 0 ? "https://schema.org/InStock" : "https://schema.org/SoldOut",
          }
        })
      })
      %>
    </script>

  <% end %>
</head>
