<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <% if @title %>
      <title><%= @title %></title>
    <% end %>
    <style>
      <% if !defined?(header_image_url) %>
        body { padding-top: 1em }
      <% end %>
      <%= File.read(Padrino.root('app/assets/stylesheets/email.css')) %>

      <% email_theme_color = (defined?(event) && event.theme_color_or_organisation_theme_color) || '#00B963' %>
      <%= EmailHelper.theme_css(email_theme_color) %>
    </style>
  </head>
  <body>
    <% if defined?(header_image_url) && header_image_url %>
      <div class="header-image-container">
        <img src="<%= header_image_url %>">
      </div>
    <% end %>
    <div class="container">
      <%= content %>
    </div>
  </body>
</html>
