<!doctype html>
<html lang="en">
  <%= partial :'layouts/head' %>
  <body>
    <% if @organisation && @organisation.verified? && @organisation.minimal_head %>
      <%== @organisation.minimal_head %>
    <% end %>
    <% if @account && @account.admin? && @account.minimal_head %>
      <%== @account.minimal_head %>
    <% end %>
    <style>
      html, body, #map-container, #map-canvas { height: 100% !important }
    </style>
    <script>
      $(function () {
        $(document).on('click', 'a[target]', function(event) {
          var a = this
          $(a).attr('target', '_blank')
        });
      })
    </script>
    <% if @minimal_container %>
      <%== '<div class="container-fluid">' %>
    <% end %>
    <%= yield %>
    <% if @minimal_container %>
      <%== '</div>' %>
    <% end %>
    <a data-iframe-height></a>
  </body>
</html>
