<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="width=700, maximum-scale=1.0" name="viewport">
    <title><%= pmail.subject %></title>
    <style data-premailer="ignore">
      .d-none { display: none }
      th, td { width: 50% }
      td p { padding-left: 10px; padding-right: 10px }
      @media(max-width: 700px) {
        th, td { width: 100%; display: inline-block;  }
        td p { padding-left: 0; padding-right: 0 }
      }
    </style>
    <style>
      <%= File.read(Padrino.root('app/assets/stylesheets/email.css')) %>
      em > a { color: #222; text-decoration: none !important }
      table { width: 100% }
      th { text-align: left }
      td { line-height: 1px }
      td p { line-height: normal; }
    </style>
  </head>
  <body>
    <div class="tagline">
      <%= pmail.preview_text %>
    </div>
    <div style="text-align: center">
      <% if pmail.organisation.image %>
        <a href="<%= pmail.organisation.website || "#{ENV['BASE_URI']}/o/#{pmail.organisation.slug}" %>">
          <img src="<%= pmail.organisation.image.thumb('200x200').url %>" style="max-width: 100px; padding-top: 16px">
        </a>
      <% else %>
        <h1 style="margin: 0; padding-top: 16px; padding-bottom: 0">
          <a style="color: #222; text-decoration: none" href="<%= pmail.organisation.website || "#{ENV['BASE_URI']}/o/#{pmail.organisation.slug}" %>">
            <%= pmail.organisation.name %>
          </a>
        </h1>
      <% end %>
    </div>
    <div class="preview">
      <% if defined?(share_buttons) && share_buttons %>
        %share_buttons%
        <div style="text-align: center; margin-top: 16px">
          <small><a href="<%= ENV['BASE_URI'] %>/o/<%= pmail.organisation.slug %>">Subscribe to <%= pmail.organisation.name %></a></small>
        </div>
      <% else %>
        <small>
          <a href="<%= ENV['BASE_URI'] %>/pmails/<%= pmail.id %>">Read and share this email in your browser</a>
        </small>
      <% end %>
    </div>
    <div class="container">
      <div class="main">
        <% if pmail.wysiwyg? %>
          <%= pmail.body.gsub(/<oembed url="https:\/\/www\.youtube\.com\/watch\?v=(\w+)"><\/oembed>/) do |match|
            video_id = match.match(/<oembed url="https:\/\/www\.youtube\.com\/watch\?v=(\w+)"><\/oembed>/)[1]
            title = Faraday.get("https://www.youtube.com/watch?v=#{video_id}").body.match(/<title>(.*)<\/title>/)[1]
            "<figure><a href=\"https://www.youtube.com/watch?v=#{video_id}\"><img src=\"#{ENV['BASE_URI']}/youtube_thumb/#{video_id}\"></a><figcaption>#{title.gsub('- YouTube','')}</figcaption></figure>"
          end %>
        <% else %>
          <%= markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML.new(hard_wrap: true), autolink: true, tables: true)
            markdown.render(pmail.body) %>
        <% end %>
      </div>
    </div>
    <div class="footer">
      <a href="<%= ENV['BASE_URI'] %>">Sent with Dandelion</a>
      <span class="%recipient.footer_class%">
        &middot;
        <a href="<%= ENV['BASE_URI'] %>/accounts/edit?sign_in_token=%recipient.token%">%recipient.view_or_activate%</a>
      </span>
      <br>
      You're receiving this email because you're <%= pmail.reason %>
      <span class="%recipient.footer_class%">
        <br>
        <a href="<%= ENV['BASE_URI'] %>/accounts/subscriptions?sign_in_token=%recipient.token%">Manage your subscriptions</a>
        &middot;
        <a href="<%= ENV['BASE_URI'] %>/o/<%= pmail.organisation.slug %>/unsubscribe?sign_in_token=%recipient.token%">Unsubscribe from <%= pmail.organisation.name %></a>
      </span>
    </div>
  </body>
</html>
