<% content_for :content do %>
  <%= partial :'gatherings/nav', locals: { gathering: @gathering, membership: @membership } %>
  <div class="row">
    <div class="col-lg-9 order-lg-0">
      <% if @team and @team.persisted? %>
        <h2># <%= @team.name %></h2>
      <% end %>
      <%= yield %>
    </div>
    <div class="col-lg-3 order-lg-1">
      <% if @team and @team.persisted? %>
        <h2 class="mt-3 mt-lg-0">Team members</h2>
        <div class="image-wall">
          <% (@members = @team.members.order('last_active desc').paginate(page: params[:members_page], per_page: 21)).each { |account| %>
          <%= partial :'accounts/square', locals: { account: account, content: ("Active #{time_ago_in_words account.last_active} ago" if account.last_active), width: '75px' } %>
          <% } %>
        </div>
        <style>
          #member-pagination ul.pagination { justify-content: left }
        </style>
        <div id="member-pagination">
          <%= will_paginate @members, param_name: 'members_page', page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
        </div>
        <div class="mt-3">
          <% if (teamship = @team.teamships.find_by(account: current_account)) %>
            <div class="d-inline-block" data-pagelet-url="/teamships/<%= teamship.id %>/subscribe">
              <%= partial :'teams/subscribe', locals: { teamship: teamship } %>
            </div>
            <a class="btn btn-primary mb-1" href="/teamships/<%= teamship.id %>/destroy?team_id=<%= @team.id %>">Leave team</a>
          <% else %>
            <a class="btn btn-primary mb-1" href="/teamships/create?team_id=<%= @team.id %>">Join</a>
          <% end %>
          <a class="btn btn-primary mb-1" href="/g/<%= @gathering.slug %>/teams/<%= @team.id %>/edit">Edit team</a>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<%= render 'layouts/application' %>
