<div class="image-wall mb-1">
  <% accounts.each { |account| %>
  <%= partial :'accounts/square', locals: { account: account, width: '50px' } %>
  <% } %>
</div>
<% if add_and_remove %>
  <div>
    <a id="add-role" href="javascript:;" onclick="$(this).hide().next().show();
        $('#remove-role').hide()"><i class="fa fa-plus-square"></i></a>
    <div style="display: none">
      <% form_for new_object, new_url do |f| %>
        <%= f.lookup_block :account_id, lookup_url: '/accounts.json', placeholder: 'Search accounts' %>
        <%= f.submit_block button_text: "Add #{role}" %>
      <% end %>
    </div>
    <% if accounts.count > 0 %>
      <a id="remove-role" href="javascript:;" onclick="$(this).hide().next().show();
        $('#add-role').hide()"><i class="fa fa-minus-square"></i></a>
      <div style="display: none">
        <% form_tag destroy_url do |f| %>
          <%= select_tag :account_id, options: accounts.map { |account| ["#{account.name} (#{account.username})", account.id] }, class: 'form-control mb-1' %>
          <%= submit_tag "Remove #{role}", class: 'btn btn-danger' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
