<% d = account.days_until_next_birthday %>
<div class="row mb-2">
  <div class="col-auto">
    <%= partial :'accounts/square', locals: { account: account, width: '32px', klass: 'media-object' } %>
  </div>
  <div class="col">
    <a href="/u/<%=account.username%>"><%= account.name %></a>
    <% viewer_in_network = current_account && account.network.find(current_account.id) %>
    <% if viewable?(account, :date_of_birth, viewer_in_network: viewer_in_network) %>
      <br />
      <span class="<%='highlight' if d == 0%>"><%=account.next_birthday.to_fs(:birthday)%>, <%= d == 0 ? 'today!' : pluralize(d,'day') %></span>
    <% end %>
  </div>
</div>
