<% fragment = Fragment.find_by(key: 'monthly_contributions') %>

<% if fragment && fragment.value %>
  <% monthly_data = JSON.parse(fragment.value)
       current_month = "#{Date::MONTHNAMES[Date.today.month]} #{Date.today.year}"
       current_month_data = monthly_data.find { |d| d[0] == current_month } %>

  <% if current_month_data %>
    <% monthly_contributions = Money.new(current_month_data[1]*100, 'GBP')
         monthly_contributions = monthly_contributions.exchange_to(currency)

         base_target = Money.new(500*100, 'GBP')
         target = base_target
         while monthly_contributions >= (target * 0.8)
           target += base_target
         end %>

    <% if monthly_contributions > 0 %>
      <div class="progress" style="height: 30px">
        <div class="progress-bar" role="progressbar" style="width: <%= "#{w = 100*monthly_contributions/target}%" %>;">
          <% if w > 0 %><%= w.to_f.round %>%<% end %>
        </div>
      </div>
      <p class="mt-1 text-center">
        <%= monthly_contributions.format(no_cents: true) %> raised of <%= m target, currency %> monthly target
        <% if admin? %>
          <% 
              current_month_value = monthly_contributions.to_i
              days_in_month = Date.new(Date.today.year, Date.today.month, -1).day
              days_passed = Date.today.day
              projected_value = (current_month_value.to_f / days_passed * days_in_month).round
              projection = [projected_value - current_month_value, 0].max    
            %>
          (projected <%= m (projection + current_month_value), currency %>)
        <% end %>
      </p>
    <% end %>
  <% end %>
<% end %>
