<% last_completed_contribution = account.account_contributions.and(payment_completed: true).order('created_at desc').first %>
<% if (defined?(force) && force) || !last_completed_contribution || last_completed_contribution.created_at < 1.month.ago %>
  <div class="<%=div_class if defined?(div_class)%>">
    <p class="lead mb-1">
      <mark class="px-0">
        Dandelion operates on a donation/gift economy basis.
      </mark>
    </p>
    <% if last_completed_contribution %>
      <p class="lead">
        <small>
          Thanks for contributing <%= time_ago_in_words last_completed_contribution.created_at %> ago.
          Will you chip in again so we can remain free? 
          <small>
            (and we won't ask again for a month)
          </small>
        </small>
      </p>
    <% else %>
      <p class="lead mb-1">
        <small>
          Please chip in so we can remain free<% if !current_account || (defined?(force) && force) %>.<% else %>
            <small>
              (and we won't ask again for a month).
            </small>
          <% end %>
        </small>
      </p>
    <% end %>

    <%
    monthly_contributions = Money.new(0,'GBP') +
      AccountContribution.where(:payment_completed => true, :created_at.gte => Date.new(Date.today.year, Date.today.month, 1)).sum { |ac| Money.new(ac.amount*100, ac.currency) } +
      OrganisationContribution.where(:payment_completed => true, :created_at.gte => Date.new(Date.today.year, Date.today.month, 1)).sum { |oc| Money.new(oc.amount*100, oc.currency) }    
    monthly_contributions = monthly_contributions.exchange_to(account.default_currency || 'GBP') 

    target = Money.new(500*100,'GBP')
    if monthly_contributions >= Money.new(500*100,'GBP')
      target = Money.new(1000*100,'GBP') * (monthly_contributions.exchange_to('GBP').to_f / 500).floor
    end    
    %>

    <% if monthly_contributions > 0 %>
      <div class="progress" style="height: 30px">
        <div class="progress-bar" role="progressbar" style="width: <%= "#{w = 100*monthly_contributions/target}%" %>;">
          <% if w > 0 %><%= w.to_f.round %>%<% end %>
        </div>
      </div>
      <p class="mt-1 text-center"><%= monthly_contributions.format(no_cents: true) %> raised of <%=m target, account.default_currency || 'GBP'%> monthly target</p>
    <% end %>

    <% form_tag '', class: 'form-inline', id: 'pay-form' do %>
      <div class="form-group mb-1 mr-1">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><%= Money.new(0, account.default_currency || 'GBP').symbol %></span>
          </div>
          <%= hidden_field_tag :currency, value: account.default_currency || 'GBP' %>
          <%= number_field_tag :amount, value: 10, style: 'width: 5em;', required: 'required', class: 'form-control', id: 'amount' %>
        </div>
      </div>
      <button data-payment-method="stripe" type="submit" class="btn btn-primary mb-1 ml-0 mr-1" style="height: 2.125rem">
        Contribute via card
        <i class="fa fa-spin fa-circle-o-notch" style="display: none"></i>
      </button>
      <%= hidden_field_tag :payment_method, value: 'stripe', disabled: true %>
      <div class="d-none d-lg-block">
        <button data-payment-method="coinbase" type="submit" class="btn btn-primary mb-1" style="height: 2.125rem">
          Contribute with crypto
          <i class="fa fa-spin fa-circle-o-notch" style="display: none"></i>
        </button>
        <%= hidden_field_tag :payment_method, value: 'coinbase', disabled: true %>
      </div>
    <% end %>
    <div class="d-none d-lg-block">
      <p class="lead mb-0">
        <small>
          <small>
            Other crypto options:
            <a target="_blank" href="https://gitcoin.co/grants/564/dandelion">Gitcoin</a>
            &middot;
            <a target="_blank" href="https://giveth.io/project/dandelion">Giveth</a>
          </small>
        </small>
      </p>
    </div>
    <div class="d-lg-none">
      <p class="lead mb-0">
        <small>
          <small>
            Crypto options:
            <a target="_blank" href="https://gitcoin.co/grants/564/dandelion">Gitcoin</a>
            &middot;
            <a target="_blank" href="https://giveth.io/project/dandelion">Giveth</a>
          </small>
        </small>
      </p>
    </div>

    <p class="mt-3 mb-2">
      No spare cash, but got spare time?
      <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScLmDyBmYiGCL0lNqcPlznxw9ILo2wT2kymwXBw9Yf1c06Mkg/viewform">
        Fund Dandelion by learning about Logos DAO
      </a> 👾
    </p>

    <% if !@event || @event.organisation.psychedelic? %>
      <p class="mb-0">
        <a target="_blank" href="https://www.martianmushrooms.co.uk/?ref=9">
          Receive 10% off supplies at Martian Mushrooms with the code DANDELION
        </a> 🍄 🚀
      </p>
    <% end %>


    <script>
      $(function () {

        $('#pay-form button[data-payment-method]').click(function () {
          $('input[type=hidden][name=payment_method]').attr('disabled', true)
          $('input[type=hidden][name=payment_method][value=' + $(this).attr('data-payment-method') + ']').removeAttr('disabled')
          $(this).attr('data-payment-method-clicked', true)
        })

        $('#pay-form').submit(function () {
          $('#pay-form button[data-payment-method-clicked] i').show()
          $.post('/accounts/<%= account.id %>/pay', $(this).serializeObject(), function (data) {
            if (data['session_id']) {
              var stripe = Stripe('<%= ENV['STRIPE_PK'] %>');
              stripe.redirectToCheckout({sessionId: data['session_id']})
            } else if (data['checkout_id']) {
              window.location = 'https://commerce.coinbase.com/checkout/' + data['checkout_id']
            }
          }).fail(function () {
            $('#pay-form').hide()
          }).always(function () {
            $('#pay-form').css('opacity', 1)
          })

          return false

        })
        console.log('paying')
      })
    </script>
  </div>
<% end %>
