<% contribution_data = monthly_contribution_data(currency) %>

<% if contribution_data %>
  <% monthly_contributions = contribution_data[:current]
     
     base_target = Money.new(500*100, 'GBP')
     target = base_target
     while monthly_contributions >= (target * 0.8)
       target += base_target
     end %>

  <div class="progress" style="height: 30px">
    <div class="progress-bar" role="progressbar" style="width: <%= "#{w = 100*monthly_contributions/target}%" %>;">
      <% if w > 0 %><%= w.to_f.round %>%<% end %>
    </div>
  </div>
  <p class="mt-1 mb-0 text-center">
    <%= monthly_contributions.format(no_cents: true) %> raised of <%= m target, currency %> monthly target
    <% if admin? %>
      <br class="d-lg-none" />
      (projected <%= m contribution_data[:projected], currency %>)
    <% end %>
  </p>
<% end %>
