<% currency = MAJOR_CURRENCIES.include?(account.default_currency) ? account.default_currency : ENV['DEFAULT_CURRENCY'] %>

<% if !account.stripe_subscription_id %>

  <% last_completed_contribution = account.account_contributions.and(payment_completed: true).order('created_at desc').first %>
  <% if (defined?(force) && force) || !last_completed_contribution || last_completed_contribution.created_at < 1.month.ago %>
    <div class="<%=div_class if defined?(div_class)%>">

      <div class="row justify-content-center">
        <div class="d-sm-none col-9">
          <img class="w-100" style="aspect-ratio: 1" src="/images/dandelions/<%= Dir["#{Padrino.root}/app/assets/images/dandelions/*"].sample.split('/').last %>">
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-9">
          <p class="lead mb-1">
            Dandelion operates on a donation/gift economy basis.
            <br />
            <span class="highlight">We rely on your generosity.</span>
          </p>
          <% if last_completed_contribution %>
            <p class="lead">
              <small>
                Thanks for contributing <%= time_ago_in_words last_completed_contribution.created_at %> ago.
                <br />
                Will you chip in again so we can remain ad-free?
              </small>
            </p>
          <% else %>
            <p class="lead mb-1">
              <small>
                Will you chip in so we can remain ad-free?
              </small>
            </p>
          <% end %>

          <%= partial :'accounts/pay_progress', locals: {currency: currency} %>

          <div class="text-sm-left text-center mt-3">
            <% if currency == 'GBP' %>
              <p class="mb-2">Make a monthly contribution:</p>
              <script>
                $(function() {
                  $('.oc-tier').hover(function() { $(this).children().addClass('bg-primary-hover text-white border-white') }, function() { $(this).children().removeClass('bg-primary-hover text-white border-white') })
                });
              </script>
              <% [['Seed ðŸŒ±', 5, 'https://buy.stripe.com/fZedUhdmW1jC3VCaEG'], ['Butterfly ðŸ¦‹', 10, 'https://buy.stripe.com/3cs8zXaaKd2k63K147'], ['Bee ðŸ', 20, 'https://buy.stripe.com/fZe17vdmWgew4ZGcMQ']].each { |name,amount,url| %>
              <div class="btn-group oc-tier mb-1" role="group">
                <a target="_blank" class="btn btn-outline-primary" href="<%=url%>"><%=name%></a>
                <a target="_blank" class="btn btn-outline-primary" href="<%=url%>">Â£<%=amount%></a>
              </div>
              <% } %>
              <p class="mb-2 mt-1">or make a one-off donation:</p>
            <% else %>
              <p class="mb-2 mt-1">Make a one-off donation:</p>
            <% end %>

            <style>
              @media(max-width: 575px) {
                #pay-form { justify-content: center }
              }
            </style>
            <% form_tag '', class: "form-inline mt-2", id: 'pay-form' do %>
              <%= hidden_field_tag :source, value: source %>
              <div class="form-group mb-1 mr-1">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><%= money_symbol(currency) %></span>
                  </div>
                  <%= hidden_field_tag :currency, value: currency %>
                  <%= number_field_tag :amount, value: 10, style: 'width: 5em;', required: 'required', class: 'form-control', id: 'amount' %>
                </div>
              </div>
              <% if FIAT_CURRENCIES.include?(currency) %>
                <button data-payment-method="stripe" type="submit" class="btn btn-primary mb-1 ml-0 mr-1" style="height: 2.125rem">
                  Contribute via card
                  <i class="bi bi-spin bi-slash-lg" style="display: none"></i>
                </button>
                <%= hidden_field_tag :payment_method, value: 'stripe', disabled: true %>
              <% end %>
              <% if MAJOR_CURRENCIES.include?(currency) %>
                <div class="d-none d-lg-block">
                  <button data-payment-method="coinbase" type="submit" class="btn mb-1 <% if FIAT_CURRENCIES.include?(currency) %> btn-outline-primary border-0  <% else %> btn-primary <% end %> " style="height: 2.125rem">
                    via crypto
                    <i class="bi bi-spin bi-slash-lg" style="display: none"></i>
                  </button>
                  <%= hidden_field_tag :payment_method, value: 'coinbase', disabled: true %>
                </div>
              <% end %>
            <% end %>
          </div>

          <script>
            $(function () {

              $('#pay-form button[data-payment-method]').click(function () {
                $('input[type=hidden][name=payment_method]').attr('disabled', true)
                $('input[type=hidden][name=payment_method][value=' + $(this).attr('data-payment-method') + ']').removeAttr('disabled')
                $(this).attr('data-payment-method-clicked', true)
              })

              $('#pay-form').submit(function () {
                $('#pay-form button[data-payment-method-clicked] i').show()
                $.post('/accounts/<%= account.id %>/pay', $(this).serializeObject(), function (data) {
                  if (data['session_id']) {
                    var stripe = Stripe('<%= ENV['STRIPE_PK'] %>');
                    stripe.redirectToCheckout({sessionId: data['session_id']})
                  } else if (data['checkout_id']) {
                    window.location = 'https://commerce.coinbase.com/checkout/' + data['checkout_id']
                  }
                }).fail(function () {
                  $('#pay-form').hide()
                }).always(function () {
                  $('#pay-form').css('opacity', 1)
                })

                return false

              })
            })
          </script>
        </div>
        <div class="d-none d-sm-block col-sm-3">
          <img class="w-100" style="aspect-ratio: 1" src="/images/dandelions/<%= Dir["#{Padrino.root}/app/assets/images/dandelions/*"].sample.split('/').last %>">
        </div>
      </div>
    </div>
  <% end %>

<% end %>
