<div class="search-result-media" style="height: auto">
  <%= partial :'accounts/square', locals: { account: account, style: 'display: block;' } %>
</div>
<div class="search-result-content">
  <h2>
    <a class="text-dark" href="/u/<%= account.username %>"><%= account.name %></a>
  </h2>
  <%= partial :'accounts/buttons', locals: { account: account } %>
  <div class="mt-2">
    <% if defined?(facilitator_info) && facilitator_info %>
      <%= cp(:'accounts/facilitator_info', key: "/facilitator_info?account_id=#{account.id}", locals: { account: account }) %>
    <% else %>
      <%= partial :'accounts/table', locals: { account: account } %>
    <% end %>
  </div>
</div>
