<div class="search-result-media" style="height: auto">
  <%= partial :'accounts/square', locals: { account: account, style: 'display: block;' } %>
</div>
<div class="search-result-content">

  <div>
    <h2 class="d-inline my-0">
      <a class="text-dark" href="/u/<%= account.username %>"><%= account.name %></a>
    </h2>
    <% if defined?(facilitator_info) && facilitator_info %>
      <% if (e = (events = Event.past.and(:id.in => account.event_facilitations.pluck(:event_id))).count) > 0 %>
        <small style="position: relative; top: -3px" class="d-inline-block mt-1 mt-lg-0 label label-primary">Facilitated <%= pluralize(e,'event') %></small>
      <% end %>
    <% end %>
  </div>
  <%= partial :'accounts/buttons', locals: { account: account } %>
  <div class="mt-2">
    <% if defined?(facilitator_info) && facilitator_info %>
      <%= cp(:'accounts/facilitator_info', key: "/facilitator_info?account_id=#{account.id}", locals: { account: account }) %>
    <% else %>
      <%= partial :'accounts/table', locals: { account: account, birthday: defined?(birthday) } %>
    <% end %>
  </div>

  <% if defined?(facilitator_info) && facilitator_info && account.feedback_summary %>
    <div class="mt-2">
      <div class="mb-1">
        <big>
          <%= account.feedback_summary %>
        </big>
      </div>
    </div>
  <% end %>
</div>
