<a style="text-decoration: none" href="javascript:;" data-account-username="<%= account.username %>">
  <img class="<%= klass if defined?(klass) %>  <%= 'private' if account.private? %>" data-toggle="tooltip" title="<%== Sanitize.fragment(account.name) %><% if defined?(content) && content %>: <%= CGI.escapeHTML(content) if content %><% end %>" style="<%= defined?(style) ? style : "width: #{width}" %>; aspect-ratio: 1/1;" src="<%= u account.image_thumb_or_gravatar_url %>">
</a>
