<div class="row">
  <div class="col-12 col-lg-auto text-center">
    <% if account.image %>
      <%= blurred_image_tag(account.image, full_size: '400x400#', css_class: 'mb-3', fixed_width: 200) %>
    <% else %>
      <img title="<%= account.name %>" style="width: 200px; background: white; border: 3px solid white" src="<%= u account.image_thumb_or_gravatar_url %>">
    <% end %>
  </div>
  <div class="col-12 col-sm">
    <% if defined?(modal) %>
    <% else %>
      <div class="mb-2 text-center text-lg-left">
        <h1 class="my-0 d-inline">
          <a class="text-dark" href="/u/<%= account.username %>"><%= account.name %></a>
          <br class="d-block d-lg-none" />
          <small class="text-muted">@<%= account.username %></small>
        </h1>
      </div>
    <% end %>
    <%= partial :'accounts/buttons', locals: { account: account, modal: (true if defined?(modal)) } %>
    <% if !defined?(modal) || (defined?(modal) && !modal) %>
      <% if current_account && (current_account.admin? || current_account.can_reset_passwords?) %>
        <a onclick="
  $.post('/accounts/<%=account.id%>/reset_password', function(data) {
var temp = $('<input>');
          $('body').append(temp);
          temp.val(data.password).select();
          document.execCommand('copy');
          temp.remove();
          alert('Password copied to clipboard');
          })
          " href="javascript:;" class="d-block d-lg-inline-block mb-1 <%= btn_class if defined?(btn_class) %> btn btn-outline-primary">Reset password</a>
      <% end %>
    <% end %>
    <%= partial :'accounts/unhide', locals: { account: account } %>
    <div class="mt-1">
      <%= partial :'accounts/info_tags', locals: {account: account} %>
    </div>
    <div class="mt-2">
      <%= partial :'accounts/table', locals: { account: account } %>
    </div>
    <% if defined?(modal) %>
    <% else %>
      <% if account.bio %>
        <div class="row justify-content-between no-gutters">
          <div class="col wysiwyg links-blank readable">
            <%== Sanitize.fragment(Rinku.auto_link(account.bio), Sanitize::Config::DANDELION) %>
          </div>
          <% if current_account && current_account.id == account.id %>
            <div class="col-auto">
              <div data-pagelet-url="/accounts/privacyable/bio"></div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
