<div class="row">
  <div class="col-12 col-sm-auto text-center">
    <img title="<%= account.name %>" style="width: 200px; background: white; border: 3px solid white" src="<%= u account.picture_thumb_or_gravatar_url %>">
  </div>
  <div class="col-12 col-sm">
    <% if defined?(modal) %>
    <% else %>
      <div class="mb-2 text-center text-sm-left">
        <h1 class="my-0 d-inline">
          <a class="text-dark" href="/u/<%= account.username %>"><%= account.name %></a>
          <small class="text-muted">@<%= account.username %></small>
        </h1>
        <% if current_account && (follow = Follow.find_by(follower: account, followee: current_account)) %>
          <small class="d-inline-block mt-1 mt-sm-0 label label-default"><%= follow.unsubscribed ? 'Follows you' : 'Follows and subscribes to you' %></small>
        <% end %>
      </div>
    <% end %>
    <%= partial :'accounts/buttons', locals: { account: account, modal: (true if defined?(modal)) } %>
    <%= partial :'accounts/unhide', locals: { account: account } %>
    <div class="mt-2">
      <%= partial :'accounts/table', locals: { account: account } %>
    </div>
    <% if defined?(modal) %>
    <% else %>
      <% if account.bio %>
        <div class="row justify-content-between no-gutters">
          <div class="col links-blank">
            <big>
              <%== Sanitize.fragment(Rinku.auto_link(account.bio), Sanitize::Config::DANDELION) %>
            </big>
          </div>
          <% if current_account && current_account.id == account.id %>
            <div class="col-auto">
              <div data-pagelet-url="/accounts/privacyable/bio"></div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
