<% viewer_in_network = current_account && @account.network.find(current_account.id) %>
<%= partial :'accounts/top', locals: { account: @account } %>

<%= cp(:'accounts/farcaster', key: "/accounts/#{@account.id}/farcaster", locals: { account: @account }) %>

<% if (events = Event.and(:id.in => EventFacilitation.and(:account_id.in => [@account.id] + @account.following_starred.pluck(:id)).pluck(:event_id)).live.public.future_and_current).exists? %>
  <h2 class="mt-5">Upcoming events <% if @account.following_starred.exists? %>featuring <%=@account.firstname%> and <%=@account.pronoun%> stars<% end %></h2>
  <%= partial :'events/blocks', locals: { events: events } %>
<% end %>
<% if @account.unscoped_event_feedbacks_as_facilitator.exists? %>
  <h2 id="feedback" class="mt-5">Feedback on <%=@account.firstname%>'s events</h2>
  <div class="mt-3" data-pagelet-url="/accounts/<%= @account.id %>/show_feedback"></div>
<% end %>

<% if (organisations = Organisation.and(:id.in => @account.organisationships.and(:hide_membership.in => [nil, false]).pluck(:organisation_id))).exists? %>
  <% if viewable?(@account, :organisations, viewer_in_network: viewer_in_network) %>
    <div class="mt-5 row justify-content-between no-gutters">
      <div class="col">
        <h2>Organisations</h2>
      </div>
      <% if current_account && current_account.id == @account.id %>
        <div class="col-auto">
          <div data-pagelet-url="/accounts/privacyable/organisations"></div>
        </div>
      <% end %>
    </div>
    <div data-pagelet-url="/accounts/<%= @account.id %>/organisations"></div>
  <% end %>
<% end %>

<% if (local_groups = LocalGroup.and(:id.in => @account.local_groupships.and(:hide_membership.in => [nil, false]).pluck(:local_group_id))).exists? %>
  <% if viewable?(@account, :local_groups, viewer_in_network: viewer_in_network) %>
    <div class="mt-5 row justify-content-between no-gutters">
      <div class="col">
        <h2>Local groups</h2>
      </div>
      <% if current_account && current_account.id == @account.id %>
        <div class="col-auto">
          <div data-pagelet-url="/accounts/privacyable/local_groups"></div>
        </div>
      <% end %>
    </div>
    <div data-pagelet-url="/accounts/<%= @account.id %>/local_groups"></div>
  <% end %>
<% end %>

<% if (activities = Activity.and(:id.in => @account.activityships.and(:hide_membership.in => [nil, false]).pluck(:activity_id))).exists? %>
  <% if viewable?(@account, :activities, viewer_in_network: viewer_in_network) %>
    <div class="mt-5 row justify-content-between no-gutters">
      <div class="col">
        <h2>Activities</h2>
      </div>
      <% if current_account && current_account.id == @account.id %>
        <div class="col-auto">
          <div data-pagelet-url="/accounts/privacyable/activities"></div>
        </div>
      <% end %>
    </div>
    <div data-pagelet-url="/accounts/<%= @account.id %>/activities"></div>
  <% end %>
<% end %>

<% if (gatherings = Gathering.and(:id.in => @account.memberships.pluck(:gathering_id)).and(listed: true).and(:privacy.ne => 'secret')).exists? %>
  <% if viewable?(@account, :gatherings, viewer_in_network: viewer_in_network) %>
    <div class="mt-5 row justify-content-between no-gutters">
      <div class="col">
        <h2>Gatherings</h2>
      </div>
      <% if current_account && current_account.id == @account.id %>
        <div class="col-auto">
          <div data-pagelet-url="/accounts/privacyable/gatherings"></div>
        </div>
      <% end %>
    </div>
    <div data-pagelet-url="/accounts/<%= @account.id %>/gatherings"></div>
  <% end %>
<% end %>

<% if @account.follows_as_follower.exists? %>
  <% if viewable?(@account, :following, viewer_in_network: viewer_in_network) %>
    <div class="mt-5 row justify-content-between no-gutters">
      <div class="col">
        <h2>Following</h2>
      </div>
      <% if current_account && current_account.id == @account.id %>
        <div class="col-auto">
          <div data-pagelet-url="/accounts/privacyable/following"></div>
        </div>
      <% end %>
    </div>
    <div data-pagelet-url="/accounts/<%= @account.id %>/following"></div>
  <% end %>
<% end %>

<% if @account.follows_as_followee.exists? %>
  <% if viewable?(@account, :followers, viewer_in_network: viewer_in_network) %>
    <div class="mt-5 row justify-content-between no-gutters">
      <div class="col">
        <h2>Followers</h2>
      </div>
      <% if current_account && current_account.id == @account.id %>
        <div class="col-auto">
          <div data-pagelet-url="/accounts/privacyable/followers"></div>
        </div>
      <% end %>
    </div>
    <div data-pagelet-url="/accounts/<%= @account.id %>/followers"></div>
  <% end %>
<% end %>
