<div class="row justify-content-center">
  <div class="col col-sm-4">
    <%= @hide_alert = true; partial :flash %>
    <div class="card" id="sign_in">
      <div class="hw card-header text-white bg-primary">
        <h2 class="text-center my-0">Sign in</h2>
      </div>
      <div class="card-body">
        <div id="t1" <% if true or Padrino.env == :production %> class="text-center" <% end %>>
          <% if true or Padrino.env == :production %>
            <div class="mb-1">
              We've gone <a target="_blank" href="https://magic.link/docs/introduction/what-is-magic#why-passwordless">passwordless</a>!
            </div>
            <a href="javascript:;" onclick="$('#t1').hide();$('#t2').show().find('input').focus()" class="btn btn-primary">Get a sign in link</a>
          <% else %>
            <% form_tag '/auth/account/callback' do %>
              <div class="form-group mb-1">
                <label class="sr-only">Email</label>
                <%= email_field_tag :email, id: 'email', class: 'form-control', placeholder: 'Email' %>
              </div>
              <div class="form-group mb-1">
                <label class="sr-only">Password</label>
                <%= password_field_tag :password, id: 'password', class: 'form-control', placeholder: 'Password' %>
              </div>
              <button class="btn btn-primary" type="submit">Sign in</button>
            <% end %>
          <% end %>
          <% if !Provider.all.empty? %>
            <p class="mt-3">
              <% Provider.all.each { |provider| %>
              <a class="btn btn-primary mb-1" href="/auth/<%= provider.omniauth_name %>"><i class="<%= provider.icon %>"></i> Sign in with <%= provider.display_name %></a>
              <% } %>
            </p>
          <% end %>
          <a href="/accounts/new" class="btn btn-outline-primary">
            Not yet registered? Sign up here
          </a>
        </div>
        <div id="t2" style="display: none">
          <% form_tag '/accounts/sign_in_link' do %>
            <div class="form-group mb-1">
              <label class="sr-only">Email</label>
              <%= email_field_tag :email, class: 'form-control mr-sm-2', placeholder: 'Email' %>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
