<div class="row justify-content-center">
  <div class="col col-lg-6">
    <%= @hide_alert = true; partial :flash %>
    <div class="card shadow-sm" id="sign_in">
      <div class="card-header text-white bg-primary">
        <h2 class="text-center my-0">Sign in</h2>
      </div>
      <div class="card-body">
        <div id="t1">
          <% form_tag '/auth/account/callback', class: 'mb-3' do %>

            <div class="text-center mb-3">
              <% if !Provider.all.empty? %>
                <% Provider.all.each { |provider| %>
                <a class="btn btn-primary mb-1" href="/auth/<%= provider.omniauth_name %>"><i class="<%= provider.icon %>"></i> Sign in with <%= provider.display_name %></a>
                <% } %>
              <% end %>
            </div>

            <div class="form-group mb-1">
              <label class="sr-only">Email</label>
              <%= email_field_tag :email, id: 'email', class: 'form-control', placeholder: 'Email' %>
            </div>
            <div class="form-group mb-1">
              <label class="sr-only">Password</label>
              <%= password_field_tag :password, id: 'password', class: 'form-control', placeholder: 'Password' %>
            </div>
            <button class="btn btn-primary" type="submit">Sign in</button>
          <% end %>

          <p class="mb-0">
            Forgot your password, or no password?
            <br class="d-block d-lg-none" />
            <a href="javascript:;" onclick="$('#t1').hide();$('#t2').show().find('input').focus()">Get a sign in code to your email</a>
            <br class="d-block d-lg-none" />
            <br />
            <a href="/accounts/new">
              Not yet registered? Sign up here
            </a>
          </p>

        </div>
        <div id="t2" style="display: none">
          <% form_tag '/accounts/sign_in_code' do %>
            <div class="form-group mb-1">
              <label class="sr-only">Email</label>
              <%= email_field_tag :email, class: 'form-control', placeholder: 'Email' %>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
